<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政采贷>活动中心</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/plist/a.css" rel="stylesheet">
<link href="css/mine.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.IBorrowerService?json"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.IActivityService?json"></script>
<script src="js/tool.js"></script>
<script src="js/getuser.js"></script>
</head>
<body>
<div class="container">

<div class="row" id="header" style="margin-left:0px; margin-right:0px;">
      
</div>

<div class="row" style="margin-top:5px; margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;">


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:20px; margin-top:10px; padding-left:0px; padding-right:0px;">
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="showdetail" style="margin-right:0px; padding-left:0px; padding-right:2px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:0px; padding-right:0px;">
	<img src="img/activity.png" class="img-responsive"></img>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:15px;">


</div>

</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-left:2px; padding-right:0px;">

<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
<img src="img/actlogo.jpg" style="width:100%;"></img>
</div>
<div class="col-md-2">
<img src="img/actintro.jpg" class="img-responsive" style="min-width:50px;"></img>
</div>
<div class="col-md-10" style="padding-top:15px; padding-bottom:10px; margin-bottom:5px; border-bottom: dotted 1px grey">
春蕾活动由春蕾资产管理公司主办，旨在干什么什么什么什么什么事是<br><br>
联系方式：<br>
客服电话：13811111111<br>
QQ号：11111111111<br>
邮箱地址：wangd@calis.eud.cn
</div>




<div class="col-md-12" style="padding-left:0px; padding-right:0px; padding-top:5px;">
<div class="col-md-2">
<img src="img/actrule.png" class="img-responsive" style="min-width:50px;"></img>
</div>
<div class="col-md-10" style="padding-top:15px; padding-bottom:10px; margin-bottom:5px; border-bottom: dotted 1px grey">
春蕾活动由春蕾资产管理公司主办，旨在干什么什么什么什么什么事是<br><br>
联系方式：<br>
客服电话：13811111111<br>
QQ号：11111111111<br>
邮箱地址：wangd@calis.eud.cn
</div>
</div>



<div class="col-md-12" style="padding-left:0px; padding-right:0px; padding-top:5px;">
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
<img src="img/phone.png" class="img-responsive" style="min-width:30px;"></img>
</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-top:5px; padding-bottom:10px; margin-bottom:5px;">
13811179462
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
<img src="img/qq.png" class="img-responsive" style="min-width:30px;"></img>
</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-top:5px; padding-bottom:10px; margin-bottom:5px;">
271747568
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
<img src="img/email.png" class="img-responsive" style="min-width:30px;"></img>
</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-top:5px; padding-bottom:10px; margin-bottom:5px;">
<a href="mailto:wangd@calis.edu.cn">wangd@calis.edu.cn</a>
</div>
</div>








<div class="col-md-12" style="margin-bottom:10px; margin-top:20px; padding-bottom:5px; padding-left:0px; padding-right:0px;">
<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
<img src="img/zanzhu.jpg" style="width:100%;"></img>
</div>
<div class="col-md-12" style="padding-left:15px; padding-right:15px; text-align:center;">
春蕾活动如何赞助，旨在干什么什么什么什么什么事是<br><br>
赞助规则什么的<br>
冠名规则什么的<br>
等等等等<br>
<div style="clear:both;"></div>
</div>
</div>





</div>


</div>
</div>

<div class="row foot" id="footer" style="border: #eee solid 1px; background:#eee; min-height:120px; font-size:13px; margin-top:5px; margin-left: 0px; margin-right:0px;">

	</div>

</div>

<script src="js/head.js"></script>
<script src="js/foot.js"></script>
<script>
$(document).ready(function() {
	header('activity');
	var actService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IActivityService");
	var res = actService.findByState(-1,0,3);
	var items = res.get('result');
	if(items){
		for(var i=0; i<items.size(); i++){
			var data = items.get(i);
			
			var item=actService.findMimeItem(data.id);
			
			var url='img/top.jpg';
			
			if(item!=null)
			url = "/download/activity/"+data.id+"/1/"+item.id;
			
			var temp = '<div style="padding:5px 5px 5px 5px; margin: 5px 10px 5px 10px; border-bottom: dotted 1px;">';
			temp += '<div style="font-size:14px;margin:0 0 5px 0; font-weight:600;">';
			
			if(data.state==1)
				temp += '<a href="'+data.url+'?id='+data.id+'" target="_blank"><span class="grey" style="font-size:18px;">'+data.name+'</span> </a><span style="float:right;" class="orange">'+formatDateToDay(data.applystarttime)+'-'+formatDateToDay(data.applyendtime)+'火热报名中<img src="img/join.png"></img></span>';
			else if(data.state==2)
				temp += '<a href="'+data.url+'?id='+data.id+'" target="_blank"><span class="grey" style="font-size:18px;">'+data.name+'</span> </a><span style="float:right;" class="orange">活动进行中，开始时间：'+formatDateToDay(data.starttime)+'</span>';
			else{
				temp += '<a href="'+data.url+'?id='+data.id+'" target="_blank"><span class="grey" style="font-size:18px;">'+data.name+'</span> </a><span style="float:right;" class="grey">活动结束</span>';
			}
			temp += '<div class="clear"></div>';
			temp += '</div>';
			temp += '<div style="color:#777777; font-size:12px;">';
			temp += '<img src="'+url+'" width="150" height="200" style="float:left;margin-right:8px;"/>';
			temp += data.description;
		    temp += '<div class="clear"></div></div></div>';
		    
		    
			$('#showdetail').append(temp);
		
		}
	}
})
</script>
</body>
</html>