<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="css/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.IActivityService?json"></script>
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
<![endif]-->

</head>
<body>
	<div class="container-fluid" style="width:600px;">
	
	<div class="row" style="margin-bottom:20px; margin-top:40px;padding-left:20px;">
	<div class="form-horizontal" role="form" style="width:600px;">
	
  		<div style="width:100%" id="message"></div>
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">活动名称</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="title">
			</div>
		</div>
		
		
			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">申请截止时间</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="applyendtime"></input>
			</div>
			</div>
			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">活动开始时间</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="starttime">
			</div>
			</div>
			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">宣传页url</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="url">
			</div>
			</div>

			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-12" for="inputSuccess3">活动简介</label>
			<div class="col-sm-12">
				<textarea style="width:99%; height:300px;" id="description"></textarea>
			</div>
			</div>
			
			
			
			<button id="create" class="btn btn-lg btn-success btn-block">创建活动</button>
			

		</div>
		
		</div>
		
	</div>

</body>
 <script>
 
 var ok = '<span class="glyphicon glyphicon-ok form-control-feedback"></span>';
 var error = '<span class="glyphicon glyphicon-remove form-control-feedback"></span>';
 
 function addMessage(title){
		$('#message').html('');
		var div = $('<div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:2px;"></div>');
		div.append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
		div.append(title);
		$('#message').append(div);
}

function removeMessage(){
	  $('#message').html('');
}



 
$(document).ready(function() {
	
	$.datepicker.regional['zh-CN'] = {
			showButtonPanel : true,
			clearText : '清除',
			clearStatus : '清除已选日期',
			closeText : '清除',
			closeStatus : '不改变当前选择',
			onClose : function(dateText, inst) {
				if (inst.selected == false) {
					inst.input.val("");
				}
				inst.selected = false;
			},
			onSelect : function(dateText, inst) {
				inst.selected = true;
			},
			prevText : '&lt;上月',
			prevStatus : '显示上月',
			nextText : '下月&gt;',
			nextStatus : '显示下月',
			currentText : '今天',
			currentStatus : '显示本月',
			monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月' ],
			monthNamesShort : [ '一', '二', '三', '四', '五', '六', '七', '八', '九', '十', '十一', '十二' ],
			monthStatus : '选择月份',
			yearStatus : '选择年份',
			weekHeader : '周',
			weekStatus : '年内周次',
			dayNames : [ '星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六' ],
			dayNamesShort : [ '周日', '周一', '周二', '周三', '周四', '周五', '周六' ],
			dayNamesMin : [ '日', '一', '二', '三', '四', '五', '六' ],
			dayStatus : '设置 DD 为一周起始',
			dateStatus : '选择 m月 d日, DD',
			dateFormat : 'yy-mm-dd',
			firstDay : 1,
			initStatus : '请选择日期',
			isRTL : false

		};
		$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
		
		
		$('#applyendtime').datepicker();
		$('#starttime').datepicker();
	
	
	
	var service = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IActivityService");
	
	$('#title').focus();
    $('#create').click(function(e){
			var title = $('input#title').val();
			var applyendtime = new Date(Date.parse($('#applyendtime').val())).getTime();
			var starttime = new Date(Date.parse($('#starttime').val())).getTime();
			var url = $('input#url').val();
			
			var description = $('#description').val();
			
			
			
			if(title==null||title==''){
					$('input#title').parent().find('span').remove();
					$('input#title').parent().append(error);
					$('input#title').parent().parent().removeClass('has-success').addClass('has-error');
					addMessage('*请输入标题');
					return;
					}else{
						$('input#title').parent().find('span').remove();
						$('input#title').parent().append(ok);
						$('input#title').parent().parent().removeClass('has-error').addClass('has-success');
						removeMessage();
					}
			
			if(url==null||url==''){
				$('input#url').parent().find('span').remove();
				$('input#url').parent().append(error);
				$('input#url').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*请输入宣传页面URL');
				return;
				}else{
					$('input#url').parent().find('span').remove();
					$('input#url').parent().append(ok);
					$('input#url').parent().parent().removeClass('has-error').addClass('has-success');
					removeMessage();
				}
			
			if(description==null||description==''){
				$('input#description').parent().find('span').remove();
				$('input#description').parent().append(error);
				$('input#description').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*请输入活动简介');
				return;
				}else{
					$('input#description').parent().find('span').remove();
					$('input#description').parent().append(ok);
					$('input#description').parent().parent().removeClass('has-error').addClass('has-success');
					removeMessage();
				}


			try{
				var act = {"_t_":"gpps.model.Activity", "name":title, "applystarttime" : (new Date()).getTime(), "createtime" : (new Date()).getTime(), "applyendtime" : parseInt(applyendtime), "starttime" : parseInt(starttime), "state" : 1, "url" : url, "description" : description};
				service.create(act);
				window.location.href="opadmin.html?fid=other&sid=activity";
			}catch(ee){
				alert(ee.message);
			}
			
			
			
        });
	
})
</script>
</html>