<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1 user-scalable=no">
<title>政采贷>我的帐户</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/gpps/lufax-main.css">
    <link rel="stylesheet" type="text/css" href="css/gpps/new-lufax.css">
    <link rel="stylesheet" type="text/css" href="css/gpps/productlist.css">


<link href="css/mine.css" rel="stylesheet">
<link href="css/plugins/dataTables/jquery.dataTables.css" rel="stylesheet">

<link href="css/plist/a.css" rel="stylesheet">
<link href="css/myaccount/myaccount.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	
	
	<script src="js/jquery.dataTables.js"></script>
	<script src="js/tool.js"></script>
	<script src="js/data.js"></script>
	
	<script type="text/javascript"
		src="/resources/EasyServiceClientFullZ.js"></script>
	<script type="text/javascript"
		src="/easyservice/gpps.service.ILenderService?json"></script>
	
	<script type="text/javascript"
				src="/easyservice/gpps.service.IBorrowerService?json"></script>
	<script type="text/javascript"
		src="/easyservice/gpps.service.IAccountService?json"></script>
	<script type="text/javascript"
        src="/easyservice/gpps.service.ISubmitService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IPayBackService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IGovermentOrderService?json"></script>
    
    <script type="text/javascript"
        src="/easyservice/gpps.service.IProductService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IHelpService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.ILetterService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.INoticeService?json"></script>
	<script type="text/javascript"
        src="/easyservice/gpps.service.thirdpay.IThirdPaySupportService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IMyAccountService?json"></script>
	<script src="js/baccount.js"></script>
	<script src="js/getuser.js"></script>
	
	<script>
	var name = "";
	if (usertype!='lender' && usertype!='borrower') {
		window.location.href = "login.html";
	}else if(usertype=='lender'){
		window.location.href="myaccount.html";
	}
	else {
		name = user.loginId;
	}
	</script>


<style type="text/css">
a.accordion-toggle {
	text-decoration: none;
	cursor: pointer;
}

.panel-heading a {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

#path {
	font-size: 14px;
	font-weight: bold;
	color: red;
}
</style>


</head>
<body>
	
	<div id="whole" class="container-fluid">
	
	<div class="row" id="header" style="padding-left:15px; padding-right:15px;">
      
      </div>
	
		<div class="row" style="margin-top:5px;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="account_total" class="col-xs-12 col-sm-12 col-md-9"
							style="padding-top: 10px; padding-left:0px; padding-right:0px;">
							
							<div class="col-xs-12 col-md-12" style="padding-top:5px; padding-left:0px; padding-right:0px; background-color: #CCFFFF; height:30px;">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left:0px; padding-right:0px;">
									<span id="welcome" style="padding-left:15px;"></span>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left:0px; padding-right:15px; text-align:right">
									<a href="resetbpsw.html" style="color:#999;">修改密码</a> 
									<a style="margin-left: 20px; color:#999;" href="quit.html">退出</a>
								</div>
							</div>
							
							
							<div class="col-xs-12 col-md-7" style="padding-left:15px; padding-right:0px;">
								
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px; padding-left:0px; padding-right:0px;">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left:5px; padding-right:0px;">
									<span class="grey">企业名称： </span>
									</div>
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="border:solid 1px white; padding-right:5px;">
									<span class="grey" id="companyname"></span>
									</div>
								</div>
								
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px; padding-left:0px; padding-right:0px;">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left:5px; padding-right:0px;">
									<span class="grey">营业执照：</span>
									</div>
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="border:solid 1px white; padding-right:5px;">
									<span class="grey" id="license"></span>
									</div>
								</div>
								
								
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px; padding-left:0px; padding-right:0px;">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left:5px; padding-right:0px;">
									<span class="grey">总资产 ： </span>
									</div>
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="border:solid 1px white; padding-right:5px;">
									<span class="orange" id="total"></span>元
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px; padding-left:0px; padding-right:0px;">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left:5px; padding-right:0px;">
									<span class="grey">可用金额：</span>
									</div>
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="border:solid 1px white; padding-right:5px;">
									<span class="orange" id="usable"></span>元
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px; padding-left:0px; padding-right:0px;">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left:5px; padding-right:0px;">
									<span class="grey">冻结金额：</span>
									</div>
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="border:solid 1px white; padding-right:5px;">
									<span class="orange" id="freeze"></span>元
									</div>
								</div>
							</div>
							
							
							<div class="col-xs-12 col-md-5" style="padding-left:15px; padding-right:0px;">
								
								<div class="col-xs-12 col-sm-12 hidden-md hidden-lg" style="margin-top:5px; padding-left:0px; padding-right:0px; vertical-align : center;">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:5px; padding-right:0px;">
									<span class="grey">尽调状态：</span>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border:solid 1px white; padding-left:2px; padding-right:2px;">
									<div class="grey" id="checkstate" style="margin-bottom:0px;">未实地考察</div>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:0px; padding-right:0px;">
									<button id="reqcheck" class="btn btn-default" style="padding-top:3px; padding-bottom:3px; width:100%; padding-left:0px; padding-right:0px;">申请尽调</button>
									</div>
								</div>
								
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px; padding-left:0px; padding-right:0px; vertical-align : center;">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:5px; padding-right:0px;">
									<span class="grey">开户银行：</span>
									</div>
									<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="border:solid 1px white; padding-left:2px; padding-right:2px;">
									<div class="grey" id="bankname" style="margin-bottom:0px;"></div>
									</div>
								</div>
								
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px; padding-left:0px; padding-right:0px; vertical-align : center;">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:5px; padding-right:0px;">
									<span class="grey">开户卡号：</span>
									</div>
									<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="border:solid 1px white; padding-left:2px; padding-right:2px;">
									<div class="grey" id="bankcard" style="margin-bottom:0px;"></div>
									</div>
								</div>
								
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px; padding-left:0px; padding-right:0px;">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:5px; padding-right:0px;">
									<span class="grey">钱多多号</span>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border:solid 1px white; padding-left:2px; padding-right:2px;">
									<span class="grey" id="tpaccount"></span>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:0px; padding-right:0px;">
									<button id="loginmmm" class="btn btn-default" style="padding-top:3px; padding-bottom:3px; width:100%; padding-left:0px; padding-right:0px;">登录</button>
									</div>
								</div>
								
								
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px; padding-left:0px; padding-right:0px;">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:5px; padding-right:0px;">
									<span class="grey">授权还款</span>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border:solid 1px white; padding-left:2px; padding-right:2px;">
									<span class="grey" id="giveauth"></span>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:0px; padding-right:0px;">
									<button id="togive" class="btn btn-default" style="padding-top:3px; padding-bottom:3px; width:100%; padding-left:0px; padding-right:0px;">授权</button>
									</div>
								</div>
								
							</div>
							
							
							<div class="col-xs-12 col-md-12">
								<div class="btn-group btn-group-lg  btn-group-justified"
									style="padding-bottom: 5px; margin-top: 10px;">
									<div class="btn-group">
										<a class="btn btn-warning btn-lg" href="recharge.html" target="_blank" id="recharge">充值</a>
									</div>
									<div class="btn-group">
										<a class="btn btn-default btn-lg" href="cashout.html" target="_blank" id="cashout">提现</a>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden-xs hidden-sm col-md-3 col-lg-3" style="padding-left:0px; padding-right:0px;">
							<div class="col-xs-12 col-md-12" style="padding-top: 10px; text-align:center; font-size:20px; font-weight:bold; color:#999;">
								融资前准备
							</div>
							
							<div class="col-xs-4 col-md-4" style="padding-top: 10px;">
								<img src="img/people.png" style="width: 40px; height: 40px;"></img>
								<div
									style="color: green; font-size: 12px; font-weight: bold; margin-top: 5px; z-index: 1000">
									 平台注册
								</div>
							</div>
							
							<div class="col-xs-4 col-md-4" style="padding-top: 10px;">
								<a id="identity" title="点击申请尽调" href="#"><img
									id="identity" src="img/identity.jpg"
									style="width: 40px; height: 40px;"></img></a>
								<div id="identity"
									style="color: red; font-size: 12px; font-weight: bold; margin-top: 5px;">
									
								</div>
							</div>
							
							
							<div class="col-xs-4 col-md-4" style="padding-top: 10px;">
								<a id="spsw" title="点击开通第三方账户" href="#" data-sk='none'><img
									id="spsw" src="img/qdd.jpg"
									style="width: 40px; height: 40px;"></img></a>
								<div id="spsw"
									style="color: red; font-size: 12px; font-weight: bold; margin-top: 5px;">
									 开通第三方
								</div>
								<div id="spswformdiv" style="display:none">
								</div>
							</div>
							
							<div class="col-xs-12 col-md-12" style="padding-top: 35px; text-align:center;">
								<a class="btn btn-warning btn-lg" href="loan.html" id="loan" style="width:80%">马上融资</a>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>
				</div>

				<div class="row" id="messagearea" style="margin-top:20px;">
					
				</div>







			</div>
		</div>
		
		
		<div class="row foot" id="footer" style="border: #eee solid 1px; background:#eee; min-height:120px; font-size:13px; margin-top:5px; margin-left: 0px; margin-right:0px;">

	</div>
		
		
	</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">还款</h4>
      </div>
      <div class="modal-body">
      			还款完成前请不要关闭该对话框，在支付完毕后点击相应的操作以完成还款。
      </div>
      <div class="modal-footer">
        <button id="paysuccess" type="button" class="btn btn-primary" data-dismiss="modal">还款成功</button>
        <button id="payfail" type="button" class="btn btn-default">还款失败</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="repaydetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">回款详情</h4>
      </div>
      <div class="modal-body" id="rdetail">
      			
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="noticedetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="nlabel"></h4>
      </div>
      <div class="modal-body" id="ndetail">
      			
      </div>
      <div class="modal-footer">
        <button id="nclose" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="letterdetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">站内信</h4>
      </div>
      <div class="modal-body" id="ldetail">
      			
      </div>
      <div class="modal-footer">
        <button id="lclose" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="authorize-div" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">还款授权</h4>
      </div>
      <div class="modal-body">
      			在执行还款之前，您需要到第三方平台【钱多多】进行还款转账授权，授权后，春蕾投资才可以在第三方平台审核并执行您的还款申请。
      </div>
      <div class="modal-footer">
      	<button id="authorize" type="button" class="btn btn-primary" data-dismiss="modal">授权</button>
        <button id="lclose" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>



<div id="cardBindingformdiv" style="display:none;"></div>
<div id="spswformdiv" style="display:none;"></div>
<div id="authformdiv" style="display:none;"></div>



<textarea id="messagearea_template" style="display:none;">
			<div class="col-xs-12 col-md-4">
						<div class="news-notice sidebar-panels"
				style="margin-left: 15px; margin-right: 15px;">
							<a href="baccountdetail.html?fid=mycenter" target="_blank"
					class="news-notice-head clearfix"> <span class="info">企业中心</span>
								<span class="more">&gt;</span>
							</a>

							<div class="news-notice-body">
								<ul class="news-notice-list faq-list" id="cjquestion">
									<li><b></b>您好，+-message.get('companyname')-+</li>
									<li><b></b><a href="baccountdetail.html?fid=mycenter&sid=my-score" target="_blank">积分+-message.get('score')-+分，等级level+-message.get('level')-+</a></li>
									<li><b></b><a href="baccountdetail.html?fid=mycenter&sid=notice-view" target="_blank">查看系统公告</a></li>
									<li><b></b><a href="baccountdetail.html?fid=mycenter&sid=letter-unread-mycenter" target="_blank">站内信<span style="color:red; font-size:18px;">+-message.get('letters')-+</span>条未读</a></li>
									<li><b></b><a href="baccountdetail.html?fid=mycenter&sid=question-view" target="_blank">我的问题+-message.get('helps')-+条</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 col-md-4">
						<div class="news-notice sidebar-panels"
				style="margin-left: 15px; margin-right: 15px;">
							<a href="baccountdetail.html?fid=order" target="_blank"
					class="news-notice-head clearfix"> <span class="info">我的订单</span>
								<span class="more">&gt;</span>
							</a>

							<div class="news-notice-body">
								<ul class="news-notice-list faq-list" id="cjquestion" style="padding-right: 10px;">
									<li><b></b><a href="baccountdetail.html?fid=order&sid=order-preview" target="_blank">预览中+-message.get('orders_prepublish')-+条</a></li>
									<li><b></b><a href="baccountdetail.html?fid=order&sid=order-financing" target="_blank">融资中+-message.get('orders_financing')-+条</a></li>
									<li><b></b><a href="baccountdetail.html?fid=order&sid=order-paying" target="_blank">还款中+-message.get('orders_repaying')-+条</a></li>
									<li><b></b><a href="baccountdetail.html?fid=order&sid=order-toclose" target="_blank">待关闭+-message.get('orders_waitingclose')-+条</a></li>
									<li><b></b><a href="baccountdetail.html?fid=order&sid=order-closed" target="_blank">已关闭+-message.get('orders_close')-+条</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="news-notice sidebar-panels"
				style="margin-left: 15px; margin-right: 15px;">
							<a href="baccountdetail.html?fid=payback" target="_blank"
					class="news-notice-head clearfix"> <span class="info">还款查看</span>
								<span class="more">&gt;</span>
							</a>

							<div class="news-notice-body">
								<ul class="news-notice-list faq-list" id="cjquestion" style="padding-right: 10px;">
									<li><b></b><a href="baccountdetail.html?fid=payback&sid=payback-to" target="_blank">待还款笔数+-message.get('pbs_waitforrepay')-+笔</a></li>
									<li><b></b><a href="baccountdetail.html?fid=payback&sid=payback-have" target="_blank">已还款笔数+-message.get('pbs_finishrepay')-+笔</a></li>
									<li><b></b><a href="baccountdetail.html?fid=payback&sid=payback-toaudit" target="_blank">审核中还款+-message.get('pbs_waitforcheck')-+笔</a></li>
									<li><b></b><a href="baccountdetail.html?fid=payback&sid=payback-canpay" target="_blank">可执行还款<span style="color:red; font-size:18px;">+-message.get('pbs_canberepayed')-+</span>笔</a></li>
									<li><b></b><a href="baccountdetail.html?fid=payback&sid=payback-canapply" target="_blank">可申请提前<span style="color:red; font-size:18px;">+-message.get('pbs_canberepayedinadvance')-+</span>笔</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="news-notice sidebar-panels"
				style="margin-left: 15px; margin-right: 15px;">
							<a href="baccountdetail.html?fid=request" target="_blank"
					class="news-notice-head clearfix"> <span class="info">融资申请</span>
								<span class="more">&gt;</span>
							</a>

							<div class="news-notice-body">
								<ul class="news-notice-list faq-list" id="cjquestion">
									<li><b></b><a href="baccountdetail.html?fid=request&sid=request-all" target="_blank">全部申请+-message.get('request_all')-+条</a></li>
									<li><b></b><a href="baccountdetail.html?fid=request&sid=request-tohandle" target="_blank">待审核中+-message.get('request_init')-+条</a></li>
									<li><b></b><a href="baccountdetail.html?fid=request&sid=request-pass" target="_blank">审核通过+-message.get('request_processed')-+条</a></li>
									<li><b></b><a href="baccountdetail.html?fid=request&sid=request-refuse" target="_blank">审核拒绝+-message.get('request_refused')-+条</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="news-notice sidebar-panels"
									style="margin-left: 15px; margin-right: 15px;">
							<a href="baccountdetail.html?fid=cash" target="_blank"
					class="news-notice-head clearfix"> <span class="info">资金查看</span>
								<span class="more">&gt;</span>
							</a>

							<div class="news-notice-body">
								<ul class="news-notice-list faq-list" id="cjquestion" style="padding-right: 10px;">
									<li><b></b><a href="baccountdetail.html?fid=cash&sid=cash-recharge" target="_blank">充值+-message.get('cash_recharge')-+笔</a></li>
									<li><b></b><a href="baccountdetail.html?fid=cash&sid=cash-withdraw" target="_blank">提现+-message.get('cash_withdraw')-+笔</a></li>
									<li><b></b><a href="baccountdetail.html?fid=cash&sid=cash-financing" target="_blank">融资+-message.get('cash_financing')-+笔</a></li>
									<li><b></b><a href="baccountdetail.html?fid=cash&sid=cash-payback" target="_blank">还款+-message.get('cash_payback')-+笔</a></li>
								</ul>
							</div>
						</div>
					</div>
</textarea>



	
        <script src="js/head.js"></script>
		<script src="js/foot.js"></script>
	<script>
		$(document).ready(function() {
							
							header('myaccount');
							
							var fid = getQueryString('fid');
							var sid = getQueryString('sid');
							
							var myaccountService = EasyServiceClient
							.getRemoteProxy("/easyservice/gpps.service.IMyAccountService");
							
							try{
							var message = myaccountService.getBAccountMessage();
							}catch(e){
								alert(e.message);
							}
							
							
							var ctx = new EasyServiceClient.newContext();
							ctx.message = message;
							ejs.renderComplexNode("#messagearea_template", "#messagearea", ctx);
							
							
							$('#welcome').html(greet() + message.get('name'));

							$('#total').html(message.get('total').value);

							$('#usable').html(message.get('usable').value);

							$('#freeze').html(message.get('freeze').value);

							$('#companyname').html(message.get('companyname'))
							
							$('#license').html(message.get('license'));
							
							
							var bankcode = message.get('bankcode');
							if(bankcode != null){
								$('#bankname').html(message.get('bankname'));
								$('#bankcard').html(bankcode);
								
							}else{
								$('#bankname').html('暂未绑定');
								$('#bankcard').html('暂未绑定');
								
							}
							

							var privilege = message.get('privilege');
							if (privilege == 10) {
								$('img#identity').attr('src', 'img/people.png').attr('title', '点击申请').attr('disabled', 'disabled');
								$('a#identity').attr('href', '#');
								$('div#identity').css('color', 'red')
										.html('未申请实地考察')
								$('#checkstate').html('未申请实地考察');
								$('a#identity, #reqcheck').click(function(e){
									if(confirm('马上申请实地考察?')){
									bservice.applyForFunding();
									$('div#identity').css('color', 'red')
									.html('待实地考察');
									$('#checkstate').html('待实地考察');
									}
								})
							}else if(privilege==14){

								$('img#identity').attr('src', 'img/people.png').attr('title', '点击申请').attr('disabled', 'disabled');
								$('a#identity').attr('href', '#');
								$('div#identity').css('color', 'red')
										.html('审核未通过');
								$('#checkstate').html('审核未通过');
								$('a#identity, #reqcheck').click(function(e){
									if(confirm('马上申请实地考察?')){
									bservice.applyForFunding();
									$('div#identity').css('color', 'red')
									.html('待实地考察');
									$('#checkstate').html('待实地考察');
									}
								})
							}
							else if(privilege==11){
								$('img#identity').attr('src', 'img/people.png').attr('title', '待实地考察').attr('disabled', 'disabled');
								$('a#identity, #reqcheck').attr('href', '#');
								$('div#identity').css('color', 'red')
										.html('待实地考察');
								$('#checkstate').html('待实地考察');
							}else if(privilege==12){
								$('img#identity').attr('src', 'img/people.jpg').attr('title', '实地考察已完成').attr('disabled', 'disabled');
								$('a#identity, #reqcheck').attr('href', '#');
								$('div#identity').css('color', 'green')
										.html('实地考察已完成');
								$('#checkstate').html('实地考察已完成');
							}

							
							
							var spsw = message.get('qdd');
							if (spsw != null && spsw != "") {
								$('#tpaccount').html(spsw);
								$('#loginmmm').click(function(e){
									window.open('http://www.moneymoremore.com?accountname='+spsw);
								})
								
								
								$('img#spsw').attr('src', 'img/sanfang.jpg').attr('title', '第三方账户已开通').attr('disabled', 'disabled');
								$('a#spsw').attr('href', '#').attr('data-sk',
										'done');
								$('div#spsw').css('color', 'green')
										.html('第三方账户已开通')
							}else{
								$('#tpaccount').html("暂未开通");
								$('#loginmmm').html('马上注册');
								
								if(privilege==12)
								{
								$('#loginmmm').click(function(e){
									$('#spswformdiv').empty();
									var service = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.thirdpay.IThirdPaySupportService");
                                    var registAccount=service.getRegistAccount();
                                    var content="<form id='spswform' action='"+registAccount.baseUrl+"'method='post'>";
                                    for(var o in registAccount)
                                   	{
                                        if(o=="baseUrl")
                                       	{
                                        	continue;
                                       	}
                                        var len = o.length;
                                        var name=o.substring(0,1).toUpperCase() + o.substring(1,len); 
                                        content+="<input id='"+name+"' name='"+name+"' value='"+registAccount[o]+"'/> ";
                                   	}
                                    content+="</form>";
                                    $('#spswformdiv').html(content);
                                    $('#spswform').submit();
								});
								}else{
									$('#loginmmm').click(function(e){
										alert('企业尚未尽调成功，请申请尽调。如已申请，请耐心等待！');
									});
								}
							}
							
							
							
							var authorizeTypeOpen = message.get('authorize');
							if(spsw != null && spsw != '')
								{
							if(authorizeTypeOpen!=2){
								$('#giveauth').html('未授权');
								
								
								$('#togive').click(function(e){
									$('#authorize-div').modal({
										  keyboard: false,
										  backdrop: true
									});	
								})
								
								$('#authorize').click(function(e){
								
								//$('#togive').click(function(e){
									$('#authformdiv').empty();
									var service = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.thirdpay.IThirdPaySupportService");
                                    var auth=service.getAuthorize();
                                    var content="<form id='authform' action='"+auth.baseUrl+"'method='post' target='_blank'>";
                                    for(var o in auth)
                                   	{
                                        if(o=="baseUrl"||o=="_i_"||o=="_t_")
                                       	{
                                        	continue;
                                       	}
                                        var len = o.length;
                                        var name=o.substring(0,1).toUpperCase() + o.substring(1,len); 
                                        content+="<input id='"+name+"' name='"+name+"' value='"+auth[o]+"'/> ";
                                   	}
                                    content+="</form>";
                                    $('#authformdiv').html(content);
                                    $('#authform').submit();
								});
							}else{
								$('#giveauth').html('已授权');
								$('#togive').attr('disabled', 'disabled');
							}
								}else{
									$('#giveauth').html('未授权');
									$('#togive').click(function(e){
										alert('尚未注册第三方账户，请先注册再授权还款！');
									})
								}
							
							

							
							if(privilege==12)
							{
							$('a#spsw').click(
											function(e) {
												if ($(this).attr('data-sk') == 'done') {
													return;
												}
												//window.location.href = "/account/thirdPartyRegist/request";
												var service = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.thirdpay.IThirdPaySupportService");
                                                var registAccount=service.getRegistAccount();
                                                var content="<form id='spswform' action='"+registAccount.baseUrl+"'method='post' target='_blank'>";
                                                for(var o in registAccount)
                                               	{
                                                    if(o=="baseUrl")
                                                   	{
                                                    	continue;
                                                   	}
                                                    var len = o.length;
                                                    var name=o.substring(0,1).toUpperCase() + o.substring(1,len); 
                                                    content+="<input id='"+name+"' name='"+name+"' value='"+registAccount[o]+"'/> ";
                                               	}
                                                content+="</form>";
                                                $('#spswformdiv').html(content);
                                                $('#spswform').submit();
											});
							}else{
								$('a#spsw').click(function(e){
								alert('企业尚未尽调成功，请申请尽调。如已申请，请耐心等待！');
								});
							}
							

							$('button.nav-first').click(function(e) {
												$('button.nav-first').removeClass(
														'active');
												$(this).addClass('active');
												var content = createBorrowerNavLevel2($(
														this).attr('id'));
												content.css('float', 'right');
												content.css('margin-right',
														'-15px');
												$('#nav_level2').html('');
												$('#nav_level2')
														.append(content);
												$('#nav_level2')
														.append(
																'<div style="clear:both;"></div>');

												$('ul.nav-second li a').on('click',function(e) {
																	$('ul.nav-second li')
																			.removeClass(
																					'active');
																	$(this)
																			.parent()
																			.addClass('active');

																	var ff = bnav2funtion[$(this).attr('data-sk')];

																	if (ff == null) {
																		$('div#content').html($(this).attr('data-sk'));
																	} else if (typeof (ff) == "function") {
																		$('div#content').html('');
																		ff($('div#content'));
																	}
																	
																	
																});
													$('ul.nav-second li a').first().trigger('click');
											});
							if(fid!=null){
								$('#'+fid).trigger('click');
								if(sid!=null)
									$('ul.nav-second li a[data-sk="'+sid+'"]').trigger('click');
								else
									$('ul.nav-second li a').first().trigger('click');
								
							}else{
								$('#mycenter').trigger('click');
							}
							
							$('#paysuccess').click(function(e){
									window.location.href = "baccount.html?fid=payback&sid=payback-have";
							});
							
							$('#payfail').click(function(e){
									window.location.href = "baccount.html?fid=payback&sid=payback-canpay";
							});
						});
	</script>
</body>
</html>