<!DOCTYPE html>
<html lang="zh-cn">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1 user-scalable=no">
<title>上传测试</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="js/uploadify2/uploadify.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" id="spi-render-css-css"
	href="css/image/render.css" type="text/css" media="all" />
<link rel="stylesheet" type="text/css"
	href="css/image/default.include.b2676e.css" media="all" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container-fluid" style="width:800px;">
		<div class="row" style="margin-bottom:20px; margin-top:20px;padding-left:20px;">
		<div class="row" style="margin-bottom:20px;">
		<div class="col-md-10" style="text-align:center;">
			<span style="font-size:24px; font-weight:bold;">企业用户资料编辑
		</div>
		<div class="col-md-2"><button id="save">保存</button></div>
		</div>
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">企业名称</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="companyname" disabled="disabled"></input>
			</div>
		</div>
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">营业执照</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="license" disabled="disabled"></input>
			</div>
		</div>
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">联系电话</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="tel" disabled="disabled"></input>
			</div>
		</div>
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">注册地址</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="addr">
			</div>
		</div>
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">法人姓名</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="frname">
			</div>
		</div>
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">经营范围</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="range">
			</div>
		</div>
		</div>
		<div class="row" style="border: #eee solid 1px;">
			<div class="col-md-12">
				请选择上传附件类型：<select id="category">
					<option value=0>营业执照</option>
					<option value=1>政采资质</option>
					<option value=2>法人证件</option>
					<option value=3>办公环境</option>
				</select>
				</div>
			
			<div id="fileQueue" class="col-md-12">
				<input type="file" name="uploadify" id="uploadify" /> 
				<button id="upload">上传</button><button id="clearall">清空列表</button>
			</div>
		</div>
		<div class="row" id="category_0" data-desk="0" style="border: #eee solid 1px; min-height:50px;">
		</div>
		<div class="row" id="category_1" data-desk="1" style="border: #eee solid 1px; min-height:50px;">
		</div>
		<div class="row" id="category_2" data-desk="2" style="border: #eee solid 1px; min-height:50px;">
		</div>
		<div class="row" id="category_3" data-desk="3" style="border: #eee solid 1px; min-height:50px;">
		</div>
	</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/tool.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/uploadify2/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="js/image/default.include.c78d4e.js"></script>
<script type="text/javascript" src="js/image/async-share.js"></script>
<script type="text/javascript"
	src="js/image/default.include-footer.304291.js"></script>
<script type="text/javascript"
	src="/resources/EasyServiceClientFullZ.js"></script>
<script type="text/javascript"
	src="/easyservice/gpps.service.IBorrowerService?json"></script>
<script>
var id = parseInt(getQueryString('id'));
var categoryname = {0:'营业执照',1:'政采资质',2:'法人证件',3:'办公环境'};
var borrowerService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IBorrowerService");
var borrower = null;



function refreshInfo(){
	borrower = borrowerService.find(id);
	$('#companyname').val(borrower.companyName);
	$('#license').val(borrower.license);
	$('#tel').val(borrower.tel);
	$('#addr').val(borrower.corporationAddr==null?"":borrower.corporationAddr);
	$('#frname').val(borrower.corporationName==null?"":borrower.corporationName);
	$('#range').val(borrower.brange==null?"":borrower.brange);
}


function refreshBorrowerAccessory(){
    var borrowerId=id;
    
    
    for(var t=0; t<=3; t++){
    
    
    var items=borrowerService.findMimeItems(id,t);
    
    if(items)
    {
    	$("#category_"+t).empty();
    	$("#category_"+t).append('<div class="col-md-12">'+categoryname[t]+':</div>');
        for(var i=0;i<items.size();i++)
        {
              var item=items.get(i);
              var url="/download/borrower/"+id+"/"+t+"/"+item.id;
              
              var single = $("<div class='col-md-4'></div>");
              single.append("<div><a class='sit-preview' href='"+url+"'><img src='"+url+"' data-preview-url='"+url+"' style='width:200px; height:150px;'/></a></div>");
              var div = $('<div></div>');
              var a = $("<a class='btn btn-warning btn-lg' href='#' style='width:200px;' id='"+item.id+"' data-desk='"+t+"'>删除</a>");
              a.click(function(e){
            	  deleteBorrowerAccessory(id,parseInt($(this).attr('data-desk')),$(this).attr('id'));
              })
              div.append(a);
              single.append(div);
              
              $("#category_"+t).append(single);
        }
    }
    
    }
}
function deleteBorrowerAccessory(borrowerId,category,itemId){
	borrowerService.delAccessory(borrowerId,category,itemId);
	refreshBorrowerAccessory();
}
$(document).ready(function () {
	
	refreshInfo();
	
$('#upload').click(function(e){
	$('#uploadify').uploadify('settings','uploader','/upload/borrower/'+id+'/'+$('select#category').val());
	$('#uploadify').uploadify('upload','*')
});
$('#clearall').click(function(e){
	$('#uploadify').uploadify('cancel', '*');
});

$('#save').click(function(e){
	var addr = $('#addr').val();
	var frname = $('#frname').val();
	var brange = $('#range').val();
	borrowerService.update(id,frname,addr,brange)
	alert('保存完成！');
});

	
	
refreshBorrowerAccessory();
$("#uploadify").uploadify({
        'swf'       : 'js/uploadify2/uploadify.swf',   
        'uploader'         : '',//servlet的路径或者.jsp 这是访问servlet 'scripts/uploadif' 
        'auto'     : false,
        'removeCompleted' : true,
        'progressData' : 'percentage',
        'buttonText' : '选择上传文件',
        'fileSizeLimit' : '1GB',
        'fileTypeExts' : '*.*',
        'multi'    : true,
        'requeueErrors' : true,
        'cancelImg'      : 'js/uploadify2/uploadify-cancel.png',   
        'queueID'        : 'fileQueue',
        'onUploadComplete'  :function(event,queueId,fileObj,response,data){
        	refreshBorrowerAccessory();
        }
    }); 
});
</script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".sit-preview").smartImageTooltip({previewTemplate: "simple", imageWidth: "600px"});
        jQuery(".adminbar-quick-backup-run a").click(function(e) {
            e.preventDefault();
            var code = jQuery(this).attr("href").substr(11);
            jQuery.ajax({
                type: 'post', success: function(json) { alert(json.message); },
                dataType: 'json', data: { runquick: {id: id, type: code, control: 0} },
                url: gdpt_ajax_url + '?action=presstools_backup_quick&_ajax_nonce=376ffa5105'
            });
    });
});
</script>
</html>