<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>政采贷>登陆</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
		<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IMyAccountService?json"></script>
		<script src="js/tool.js"></script>
		<script src="js/getuser.js"></script>
  </head>

  <body>

    <div class="container">
		
		<div class="row" id="header" style="padding-left:0px; padding-right:0px;">
      
      	</div>
		
		<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size:20px; color:#999; text-align:center;">
		产品购买成功！
		</div>
      	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center; margin-top:20px;">
      		<button class="btn btn-lg btn-success" id="continue">继续购买</button>
      		<button class="btn btn-lg btn-warning" id="return">我的账户</button>
      	</div>
      	</div>
      
      
      
      
      

    </div> <!-- /container -->


    
  </body>
  
  
  <script src="js/head.js"></script>
  
  <script>

$(document).ready(function() {
	
	header('buyresponse');
	
	var pid = getQueryString('pid');
	
	$('#continue').click(function(e){
		window.location.href="productdetail.html?pid="+pid;
	});
	
	$('#return').click(function(e){
		window.location.href="myaccountdetail.html?fid=submit&sid=submit-all";
	});
	
})
</script>
  
</html>
