<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>政采贷>登陆</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
	<link href="css/plist/a.css" rel="stylesheet">
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
		<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IBorrowerService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IMyAccountService?json"></script>
		<script src="js/tool.js"></script>
		<script src="js/getuser.js"></script>
  </head>

  <body>

    <div class="container">
		
		<div class="row" id="header" style="padding-left:0px; padding-right:0px;">
      
      	</div>
		
		<div class="row" style="padding-left:15px; padding-right:15px;">
		<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
		政采贷>关于我们>系统公告
		</div>
		<div class="col-md-12" style="border:solid 1px #999; margin-top:15px;">
			<div class="col-md-12" style="margin-top:15px;">
			<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
			<span style="font-size:18px; color:#999">平台公告</span><a style="float:right;" class="btn btn-success">返回列表</a>
			<div style="clear:both;"></div>
			</div>
			
			<div class="col-md-12" style="border-top:solid gold 1px; margin-top:2px;">
			</div>
			</div>
			<div class="col-md-12" style="margin-top:15px; padding-left:0px; padding-right:0px;">
			<div class="col-md-12">
				<span style="font-size:16px; font-weight:bold; color:#999;">[政采贷全国客服变更公告]</span>
			</div>
			<div class="col-md-12">
				<span style="font-size:12px; color:#999;">2014-10-22 公告</span>
			</div>
			<div class="col-md-12" style="margin-top:20px;">
				<p>尊敬的政采贷用户:</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢您长期以来的信任，啊的说法是地方萨芬萨芬撒发生法萨芬撒反对啊沙发大水电费撒放大声贩毒阿萨德发暗室逢灯暗室逢灯撒飞洒地方撒爱上范德萨法萨芬撒反对啊撒范德萨。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢您长期以来的信任，啊的说法是地方萨芬萨芬撒发生法萨芬撒反对啊沙发大水电费撒放大声贩毒阿萨德发暗室逢灯暗室逢灯撒飞洒地方撒爱上范德萨法萨芬撒反对啊撒范德萨。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢您长期以来的信任，啊的说法是地方萨芬萨芬撒发生法萨芬撒反对啊沙发大水电费撒放大声贩毒阿萨德发暗室逢灯暗室逢灯撒飞洒地方撒爱上范德萨法萨芬撒反对啊撒范德萨。</p>
				<p>给您带来的不便，敬请谅解！</p>
				<div  style="text-align:right;">北京春蕾投资管理有限责任公司</div>
				<div style="text-align:right;">2014-10-22</div>
				<div style = "clear:both;"></div>
			</div>
			</div>
		</div>

      	</div>
      
      
      <div class="row foot" id="footer" style="border: #eee solid 1px; background:#eee; font-size:13px; margin-top:25px; padding-left:0px; padding-right:0px; padding-bottom:0px;">

	</div>
      
      

    </div> <!-- /container -->


    
  </body>
  
  
  <script src="js/head.js"></script>
  <script src="js/foot.js"></script>
  <script>

	$(document).ready(function() {
	
	header('detail');
	
})
</script>
  
</html>
