<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="css/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />

<link href="js/uploadify2/uploadify.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" id="spi-render-css-css"
	href="css/image/render.css" type="text/css" media="all" />
<link rel="stylesheet" type="text/css"
	href="css/image/default.include.b2676e.css" media="all" />

<script src="js/jquery.min.js"></script>
<script src="js/tool.js"></script>
<script src="js/jquery.dataTables.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/uploadify2/jquery.uploadify.min.js"></script>


<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.IActivityService?json"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.IActivityRefService?json"></script>
<script src="js/opadmin.js"></script>
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
<![endif]-->

</head>
<body>
	<div class="container-fluid" style="width:800px;">
	<div class="row" style="margin-bottom:20px; margin-top:20px;padding-left:20px;">
	
  		<div style="width:100%" id="message"></div>
  		
  		<div class="row" style="margin-bottom:20px;">
		<div class="col-md-10" style="text-align:center;">
			<span style="font-size:24px; font-weight:bold;">活动基本信息编辑
		</div>
		<div class="col-md-2"><button id="save">保存</button></div>
		</div>
  		
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">活动名称</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="title">
			</div>
		</div>
		
		
			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">申请截止时间</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="applyendtime"></input>
			</div>
			</div>
			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">活动开始时间</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="starttime">
			</div>
			</div>
			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">宣传页url</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="url">
			</div>
			</div>
			
			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">状态</label>
			<div class="col-sm-9">
				<select class="form-control" id="state">
  					<option value=1>报名中</option>
					<option value=2>进行中</option>
  					<option value=3>已结束</option>
				</select>

			</div>
		</div>
		
		
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-12" for="inputSuccess3">活动简介</label>
			<div class="col-sm-12">
				<textarea style="width:99%; height:300px;" id="description"></textarea>
			</div>
			</div>
		
		
		</div>
		
		
		<div class="row" style="border: #eee solid 1px;">
			<div id="fileQueue" class="col-md-12">
				<input type="file" name="uploadify" id="uploadify" /> 
				<button id="upload">上传</button><button id="clearall">清空列表</button>
			</div>
		</div>
		<div class="row" id="category_0" data-desk="0" style="border: #eee solid 1px; min-height:50px;">
		</div>
		
		
		<div class="row" style="margin-bottom:20px; margin-top:20px;padding-left:20px;">
		
		<div class="row" style="margin-bottom:20px;">
		<div class="col-md-10" style="text-align:center;">
			<span style="font-size:24px; font-weight:bold;">活动参与者查看
		</div>
		</div>
		
		<div class="row" style="margin-bottom:20px;">
		
		<table class="table table-striped table-hover" id="attendpeople" style="min-width:300px;">
		
		</table>
		
		</div>
		
		</div>
		
	</div>

</body>
 <script>
 
 var id = parseInt(getQueryString('id'));
 var service = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IActivityService");
 var refservice = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IActivityRefService");
 var act = null;

 
 function refreshInfo(){
		act = service.find(id);
		$('#title').val(act.name);
		$('#applyendtime').val(formatDateToDay(act.applyendtime));
		$('#starttime').val(formatDateToDay(act.starttime));
		$('#url').val(act.url);
		$('#state').val(act.state);
		$('#description').val(act.description);
	}

 
 
 function refreshActAccessory(){
	    var actId=id;
	    
	    
	    var item=service.findMimeItem(id);
	    
	    $("#category_0").empty();
	    
	    if(item)
	    {
	    	
	    	$("#category_0").append('<div class="col-md-12">活动展示图片:</div>');
	              var url="/download/activity/"+id+"/1/"+item.id;
	              var viewurl="/imageview/activity/"+id+"/1/"+item.id;
	              
	              var single = $("<div class='col-md-4'></div>");
	              single.append("<div><a class='sit-preview' href='"+viewurl+"' target='_blank'><img src='"+url+"' data-preview-url='"+url+"' style='width:200px; height:150px;'/></a></div>");
	              var div = $('<div></div>');
	              var a = $("<a class='btn btn-warning btn-lg' href='#' style='width:200px;' id='"+item.id+"' data-desk='1'>删除</a>");
	              a.click(function(e){
	            	  deleteActivityAccessory(id,$(this).attr('id'));
	              })
	              div.append(a);
	              single.append(div);
	              
	              $("#category_0").append(single);
	    }
	    
	}
	function deleteActivityAccessory(actId,itemId){
		service.delAccessory(actId,itemId);
		refreshActAccessory();
	}
 
 
 
 
 
 
 var ok = '<span class="glyphicon glyphicon-ok form-control-feedback"></span>';
 var error = '<span class="glyphicon glyphicon-remove form-control-feedback"></span>';
 
 function addMessage(title){
		$('#message').html('');
		var div = $('<div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:2px;"></div>');
		div.append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
		div.append(title);
		$('#message').append(div);
}

function removeMessage(){
	  $('#message').html('');
}




var activity = function(){
	var columns = [ {
		"sTitle" : "参与者姓名",
			"code" : "name"
	},{
		"sTitle" : "手机号",
		"code" : "phone"
	},{
		"sTitle" : "邮箱",
		"code" : "email"
	},{
		"sTitle" : "申请时间",
		"code" : "time"
	}, {
		"sTitle" : "参加状态",
		"code" : "state"
	}];
	
	var parti = {0 : '已参加', 1 : '已报名'};
	
	var fnServerData = function(sSource, aoData, fnCallback, oSettings) {
		var sEcho = "";
		var iDisplayStart = 0;
		var iDisplayLength = 0;
		for ( var i = 0; i < aoData.length; i++) {
			var data = aoData[i];
			if (data.name == "sEcho")
				sEcho = data.value;
			if (data.name == "iDisplayStart")
				iDisplayStart = data.value;
			if (data.name == "iDisplayLength")
				iDisplayLength = data.value;
		}
		var res = null;
		res = refservice.findByActivity(id, iDisplayStart, iDisplayLength);
		var result = {};
		result.iTotalRecords = res.get('total');
		result.iTotalDisplayRecords = res.get('total');
		result.aaData = new Array();
		var items = res.get('result');
		if(items)
		{
			for(var i=0; i<items.size(); i++){
				var data=items.get(i);
				result.aaData.push([data.lender.name==null?"":data.lender.name,
							data.lender.tel,
							data.lender.email,
				             formatDate(data.applyTime),
				             parti[data.participate]]);
			}
		}
		result.sEcho = sEcho;
		fnCallback(result);
		
		return res;
	}
	var mySettings = $.extend({}, defaultSettings, {
		"aoColumns" : columns,
		"fnServerData" : fnServerData
	});
	
	$('#attendpeople').dataTable(mySettings);
}



 
$(document).ready(function() {
	
	$.datepicker.regional['zh-CN'] = {
			showButtonPanel : true,
			clearText : '清除',
			clearStatus : '清除已选日期',
			closeText : '清除',
			closeStatus : '不改变当前选择',
			onClose : function(dateText, inst) {
				if (inst.selected == false) {
					inst.input.val("");
				}
				inst.selected = false;
			},
			onSelect : function(dateText, inst) {
				inst.selected = true;
			},
			prevText : '&lt;上月',
			prevStatus : '显示上月',
			nextText : '下月&gt;',
			nextStatus : '显示下月',
			currentText : '今天',
			currentStatus : '显示本月',
			monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月' ],
			monthNamesShort : [ '一', '二', '三', '四', '五', '六', '七', '八', '九', '十', '十一', '十二' ],
			monthStatus : '选择月份',
			yearStatus : '选择年份',
			weekHeader : '周',
			weekStatus : '年内周次',
			dayNames : [ '星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六' ],
			dayNamesShort : [ '周日', '周一', '周二', '周三', '周四', '周五', '周六' ],
			dayNamesMin : [ '日', '一', '二', '三', '四', '五', '六' ],
			dayStatus : '设置 DD 为一周起始',
			dateStatus : '选择 m月 d日, DD',
			dateFormat : 'yy-mm-dd',
			firstDay : 1,
			initStatus : '请选择日期',
			isRTL : false

		};
		$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
		
		
		$('#applyendtime').datepicker();
		$('#starttime').datepicker();
	
	
		
		refreshInfo();
		activity();
		
		
		$('#upload').click(function(e){
			$('#uploadify').uploadify('settings','uploader','/upload/activity/'+id+'/1');
			$('#uploadify').uploadify('upload','*')
		});
		$('#clearall').click(function(e){
			$('#uploadify').uploadify('cancel', '*');
		});
	
	
    $('#save').click(function(e){
			var title = $('input#title').val();
			var applyendtime = new Date(Date.parse($('#applyendtime').val())).getTime();
			var starttime = new Date(Date.parse($('#starttime').val())).getTime();
			var state = $('#state').val();
			var url = $('input#url').val();
			var description = $('#description').val();
			
			
			
			if(title==null||title==''){
					$('input#title').parent().find('span').remove();
					$('input#title').parent().append(error);
					$('input#title').parent().parent().removeClass('has-success').addClass('has-error');
					addMessage('*请输入标题');
					return;
					}else{
						$('input#title').parent().find('span').remove();
						$('input#title').parent().append(ok);
						$('input#title').parent().parent().removeClass('has-error').addClass('has-success');
						removeMessage();
					}
			
			if(url==null||url==''){
				$('input#url').parent().find('span').remove();
				$('input#url').parent().append(error);
				$('input#url').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*请输入宣传页面URL');
				return;
				}else{
					$('input#url').parent().find('span').remove();
					$('input#url').parent().append(ok);
					$('input#url').parent().parent().removeClass('has-error').addClass('has-success');
					removeMessage();
				}
			
			
			if(description==null||description==''){
				$('input#description').parent().find('span').remove();
				$('input#description').parent().append(error);
				$('input#description').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*请输入活动简介');
				return;
				}else{
					$('input#description').parent().find('span').remove();
					$('input#description').parent().append(ok);
					$('input#description').parent().parent().removeClass('has-error').addClass('has-success');
					removeMessage();
				}

			
			

			try{
				service.update(id,title, applyendtime,starttime,url,parseInt(state),description);
				alert('活动详情保存成功！');
			}catch(ee){
				alert(ee.message);
			}
			
			
			
        });
    
    
    
    refreshActAccessory();
    $("#uploadify").uploadify({
            'swf'       : 'js/uploadify2/uploadify.swf',   
            'uploader'         : '',//servlet的路径或者.jsp 这是访问servlet 'scripts/uploadif' 
            'auto'     : false,
            'removeCompleted' : true,
            'progressData' : 'percentage',
            'buttonText' : '选择上传文件',
            'fileSizeLimit' : '1GB',
            'fileTypeExts' : '*.*',
            'multi'    : true,
            'requeueErrors' : true,
            'cancelImg'      : 'js/uploadify2/uploadify-cancel.png',   
            'queueID'        : 'fileQueue',
            'onUploadComplete'  :function(event,queueId,fileObj,response,data){
            	refreshActAccessory();
            }
        }); 
	
})
</script>
</html>