<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">

    <title>政采贷>帮助中心</title>



	<!-- Bootstrap -->
	
   <link rel="stylesheet" type="text/css" href="dttest/test/site.css">
	<link rel="stylesheet" type="text/css" href="dttest/test/dataTables.css">

	<link href="css/bootstrap.min.css" rel="stylesheet">

	<link href="css/mine.css" rel="stylesheet">

	<link href="css/plist/a.css" rel="stylesheet">
	<link href="css/myaccount/myaccount.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
    
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    
    <!-- 
	<script type="text/javascript" src="dttest/test/site.js"></script>
	<script type="text/javascript" language="javascript" src="dttest/test/dataTables.js"></script>
	 -->
		 
	<script type="text/javascript" language="javascript" src="dttest/test/jquery.dataTables.min.js"></script>
    
    
    
		<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IMyAccountService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.INoticeService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.INewsService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IHelpService?json"></script>
		<script src="js/tool.js"></script>
		<script src="js/getuser.js"></script>
  </head>

  <body>

    <div class="container">
		
		<div class="row" id="header" style="padding-left:0px; padding-right:0px;">
      
      	</div>
		
		<div class="row" id="content" style="padding-left:15px; padding-right:15px;">
		
      	</div>
      	<div class="row" style="padding-left:15px; padding-right:15px;">
      	
      		<div class="form-horizontal" id="askquestion" role="form" style="max-width:400px; text-align:center; margin: 0 auto;" id="askquestion">

  			<div style="width:100%" id="message"></div>
  		
			<div class="form-group has-success has-feedback" style="margin-top:10px;">
			<label class="control-label col-sm-12" for="inputSuccess3" style="text-align:left;">我要提问：</label>
			<div class="col-sm-12">
				<textarea id="question" style="width:99%; height:200px;"></textarea>
			</div>
			</div>
			<button id="ask" class="btn btn-lg btn-success btn-block">提问</button>
			

			</div>
      	
      	</div>
      
      
      <div class="row foot" id="footer" style="border: #eee solid 1px; background:#eee; font-size:13px; margin-top:25px; padding-left:0px; padding-right:0px; padding-bottom:0px;">

		</div>
      
      

    </div> <!-- /container -->

	<textarea id="content_template" style="display:none;">
		<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
		政采贷>帮助中心
		</div>
		<div class="col-md-12" style="border:solid 2px #f5f5f5; margin-top:15px; padding-left:0px; padding-right:0px;">
			<div class="col-md-12" style="padding-bottom : 20px;">
				<div class="col-md-12" style="margin-top:15px;">
			<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
			<span style="font-size:18px; color:#999" id="category">全部</span>
			
			
			<select id="help" style="float:right;">
			<option value="-1">全部</option>
			<option value="0">新手帮助</option>
			<option value="1">常见问题</option>
			<option value="2">交易管理</option>
			<option value="3">投资融资</option>
			<option value="4">免责声明</option>
			</select>
			
			
			<div style="clear:both;"></div>
			</div>
			
			<div class="col-md-12" style="border-top:solid gold 1px; margin-top:2px;">
			</div>
			</div>
			<div class="col-md-12 table-responsive" id="table_content" style="margin-top:15px; padding-left:0px; padding-right:0px;">
				<table role="grid" id="example" class="display nowrap dataTable dtr-inline" width="95%" cellspacing="0">
				<thead>
				<tr role="row">
				<th style="width: 200px;">标题</th>
				<th style="width: 100px;">时间</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
			</div>
			
			</div>
		</div>
	</textarea>
    
  </body>
  
  
  <script src="js/head.js"></script>
  <script src="js/foot.js"></script>
  <script>
  _defaultDataTableOLanguage = {
			"sProcessing" : "<img src ='images/waiting.gif' height = 18/>正在查询中，请稍后......",
			"sLengthMenu" : "每页 _MENU_ 条记录",
			"sZeroRecords" : "无数据",
			"sInfo" : "当前第 _START_ 到  _END_ 条记录 共_TOTAL_条记录",
			"sInfoEmpty" : " ",
			"sSearch" : "查找： ",
			"oPaginate" : {
				"sFirst" : "首页",
				"sLast" : "末页",
				"sNext" : "下一页",
				"sPrevious" : "上一页"
			},
			"sInfoFiltered" : "(在 _MAX_ 条记录中查找)"
		};
  var helpService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IHelpService");
 
  var table;
  var publicType=-1;
  
  
  var typename = {
		  	0:"新手帮助",
			1:"常见问题",
			2:"交易管理",
			3:"投资融资",
			4:"免责声明",
			5:"我要提问"
  }
  
  
  function addMessage(title){
		$('#message').html('');
		var div = $('<div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:2px;"></div>');
		div.append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
		div.append(title);
		$('#message').append(div);
}

function removeMessage(){
	  $('#message').html('');
}


var questionerType = -1;
  
  
	$(document).ready(function() {
	
	header('help');
	
	var type = getQueryString('type');
	  if(type!=null){
		  try{
		  publicType=parseInt(type);
		  }catch(e){
			  alert('参数错误！！');
			  return;
		  }
	  }
	
	var ctx = new EasyServiceClient.newContext();
	
	
	//ctx.letter = letter;
	ejs.renderComplexNode("#content_template", "#content", ctx);
	
	
	
	if(usertype=='lender'){
		questionerType=0;
	}else if(usertype=='borrower'){
		questionerType=1;
	}else{
		$('#askquestion').html('<br><br>登录后才可提问,<a href="javascript:void(0);" id="login">马上登陆</a>');
		var rb = window.location.href;
		$('#login').click(function(e){
			window.parent.location.href="login.html?rb="+rb;
		});
	}
	
	
	$('#ask').click(function(e){
		var question = $('#question').val();
		if(question==null || question==''){
			addMessage('请输入问题！');
			return;
		}else{
			removeMessage();
			var help = {'_t_':'gpps.model.Help', 'type':1, 'questionerType':questionerType, 'questionerId': user.id, 'question':question, 'createtime': (new Date()).getTime()};
			try{
			helpService.createPrivate(help);
			if(questionerType==0)
				window.location.href="myaccount.html?fid=mycenter&sid=question-view";
			else if(questionerType==1)
				window.location.href="baccount.html?fid=mycenter&sid=question-view";
			}catch(e){
				alert(e.message);
			}
		}
	});
	
	
	
	$('#help').change(function(e){
		
		publicType = parseInt($(this).val());
		
		if(publicType==-1){
			$('#category').html('全部');
		}else{
			$('#category').html(typename[publicType]);
		}
		
		
		table.fnDraw();
	})
	
	
	
	
	var fnServerData = function(sSource, aoData, fnCallback, oSettings) {
		
		var sEcho = "";
		var iDisplayStart = 0;
		var iDisplayLength = 0;
		
		for ( var i = 0; i < aoData.length; i++) {
			var data = aoData[i];
			if (data.name == "sEcho")
				sEcho = data.value;
			if (data.name == "start")
				iDisplayStart = data.value;
			if (data.name == "length")
				iDisplayLength = data.value;
		}
		var res = null;
		res = helpService.findPublicHelps(publicType,iDisplayStart, iDisplayLength);
		var result = {};
		result.iTotalRecords = res.get('total');
		result.iTotalDisplayRecords = res.get('total');
		result.aaData = new Array();
		var items = res.get('result');
		if(items)
		{
			for(var i=0; i<items.size(); i++){
				var item=items.get(i);
				result.aaData.push(['<a href="detail.html?type=help&stype='+item.publicType+'&id='+item.id+'" target="_blank">'+item.question+'</a>',
				                    formatDate(item.createtime)]);
			}
		}
		result.sEcho = sEcho;
		fnCallback(result);
		
		return res;
	}
	
	if(publicType!=-1)
		{
			$('#category').html(typename[publicType]);
		}else{
			$('#category').html('全部');
		}
	$('#help').val(type);
	
	table = $('#example')
	.addClass( 'nowrap' )
	.dataTable( {
		bServerSide : true,
		responsive: true,
		fnServerData : fnServerData,
		bFilter : false, //是否使用搜索 
		oLanguage : _defaultDataTableOLanguage,
		pagingType: "full"
	} );
	
})
</script>
  
</html>