<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    

    <title>政采贷</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="css/index/justified-nav.css" rel="stylesheet">
    
    <link href="css/index/carousel.css" rel="stylesheet">
    
    <link href="css/index/sidebar.css" rel="stylesheet">
    
    <link href="css/plist/a.css" rel="stylesheet">
    <link href="css/plist/creditlevel.css" rel="stylesheet">
    <link href="css/plist/progressbar.css" rel="stylesheet">
    
    <link href="css/mine.css" rel="stylesheet">
    
    
    
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/ie-emulation-modes-warning.js"></script>
    
    <script src="js/tool.js"></script>
	
	<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IBorrowerService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IProductSeriesService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IGovermentOrderService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IProductService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.dao.ILenderAccountDao?json"></script>
        <script type="text/javascript"
        		src="/easyservice/gpps.service.INoticeService?json"></script>
        <script type="text/javascript"
        		src="/easyservice/gpps.dao.ILetterDao?json"></script>
        <script type="text/javascript"
        		src="/easyservice/gpps.service.INewsService?json"></script>
        		
        		
        


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     	<script src="js/cdn/html5shiv.min.js"></script>
        <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
    	<script src="js/getuser.js"></script>
    	<script src="js/data.js"></script>
  </head>

  <body>

    <div class="container">


	

      <div class="row" id="header" style="padding-left:0px; padding-right:0px;">
      
      </div>


	<div class="row" style="margin-top:5px; padding-bottom:0px; padding-left:0px; padding-right:0px;">


	<div class="hidden-xs hidden-sm col-md-9" style="padding-right:5px; padding-left:0px;">

          <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
         	  <h3>春蕾晨跑会</h3><br>
              <p>跑啊跑啊跑啊跑，跑跑更健康</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">我要参加</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h3>信用创造价值</h3>
              <p>严格以企业中标的政府订单为抵押，用第一还款来源偿还本息，您的信用就是您拥有的最大的价值。</p>
              <p><a class="btn btn-lg btn-warning" href="#" role="button">马上体验</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="image/sw.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h3>创新的结构化产品设计</h3>
              <p>对于同一个政府订单融资项目，设计出风格不同的融资产品，总有适合您的生钱之道</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">我要投资</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    </div>
    
    <div class="col-lg-3 col-md-3" style="padding-left:0px; padding-right:0px;">
    <div id="sider-content" class="sidebar-module sidebar-module-inset" style="height:250px;">
            
          </div>
    </div>
    
    </div>

      <div class="row" style="margin-top:5px; margin-left:0px; margin-right:0px; padding-top:0px;">
        

  		<div class="col-sm-4 col-md-4" id="projectList1" style="margin-top:0px;">
  		</div>
 		 <div class="col-sm-4 col-md-4" id="projectList2" style="margin-top:0px;">
 		 </div>
  		<div class="col-sm-4 col-md-4" id="projectList3" style="margin-top:0px;">
  		</div>
  
        
      </div><!-- /.row -->
      
      
      <div class="row" style="margin-top:5px;">
      <div class="col-md-12">
      
      
      
      
      <div class="panel panel-default" style="margin-bottom:5px;">
<div class="panel-heading">
<span class="glyphicon glyphicon-pencil"></span>产品列表
	<div style="clear:both;"></div>
</div>
	<div class="panel-body" style="width:100%; height:80%;">
      
      
      
   <div class="table-responsive">
   <table class="ui-list-invest" id="products" style="width:100%">
		
	<tr id="header" style="padding-left:0px; padding-right:0px;">
      <td class="color-gray-text text-center" style="min-width:120px;"></td>
      <td class="color-gray-text text-center" style="min-width:50px;">类型</td>
      <td class="color-gray-text text-center" style="min-width:50px;">年利率</td>
      <td class="color-gray-text text-center" style="min-width:100px;">金额</td>
      <td class="color-gray-text text-center" style="min-width:100px;">期限</td>
      <td class="color-gray-text text-center" style="min-width:100px;">进度</td>
      <td class="color-gray-text text-center" style="min-width:100px;"></td>
    </tr>

</table>
</div>
      
      </div>
      </div>
      
      
      
      
      </div>
      
		
		<div class="col-md-6">
		<div class="col-md-12" style="padding-bottom:5px; border-bottom: 3px solid grey;"><a class="announce" data-sk="platform" href="javascript:void(0);"><span style="font-size:18px; font-weight:bold;">平台公告</span></a>
		</div>
      	<div class="col-md-12" style="padding-left:0px; padding-right:0px;" id="notice">
		</div>
		</div>
		
		
		<div class="col-md-6">
      	<div class="col-md-12" style="padding-bottom:5px; border-bottom: 3px solid grey;"><a class="news" data-sk="platform" href="javascript:void(0);"><span style="font-size:18px; font-weight:bold;">新闻资讯</span></a>
		</div>
      	<div class="col-md-12" style="padding-left:0px; padding-right:0px;" id="news">
		</div>
		</div>
		
		
		
		
		
      </div>
      
      
      
      
	<div class="row foot" id="footer" style="border: #eee solid 1px; background:#eee; min-height:120px; font-size:13px; margin-top:25px; padding-left:0px; padding-right:0px;">

	</div>
	
	
	
	
	

    </div> <!-- /container -->

<script src="js/head.js"></script>
<script src="js/foot.js"></script>
    <script>
var seriesname = {};
$(document).ready(function () {
	
	header('index');
	
	var orderService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IGovermentOrderService");
	var productService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IProductService");
	var seriesService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IProductSeriesService");
	var accountDao = EasyServiceClient.getRemoteProxy("/easyservice/gpps.dao.ILenderAccountDao");
	var noticeService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.INoticeService");
	var newsService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.INewsService");
	
	
	
	if(cuser==null){
		$('#sider-content').html('<h4>数据中心</h4>');
		var str = '<p>';
		str += '<div><span class="glyphicon glyphicon-pencil"></span>总募集资金50,000,000元</div>';
		str += '<div><span class="glyphicon glyphicon-pencil" style="margin-top:10px;"></span>投资人次25,471次</div>';
		str += '<div><span class="glyphicon glyphicon-pencil" style="margin-top:10px;"></span>获得收益6,000,000元</div>';
		str += '<div><span class="glyphicon glyphicon-pencil" style="margin-top:10px;"></span>已注册人数10548人</div>';
		str += '</p>';
		$('#sider-content').append(str);
		var usercontent = $('<div id="user_content" style="width:100%; margin-top:30px;"></div>');
		usercontent.html('<a href="register.html" class="btn btn-warning" style="width:100%;">立刻注册</a>');
		$('#sider-content').append(usercontent);
	}else{
		$('#sider-content').css('background-color','#fef9f1');
		var name = cuser.name==null?cuser.loginId:cuser.name;
		
		var account = accountDao.find(cuser.accountId);
		var total = account.total;
		tot = (parseFloat(total.value)+0.09).toFixed(0);

		var usable = account.usable;
		usa = (parseFloat(usable.value)+0.09).toFixed(0);

		var freeze = account.freeze;
		fre = (parseFloat(freeze.value)+0.09).toFixed(0);

		var used = account.used;
		uu = (parseFloat(used.value)+0.09).toFixed(0);
		
		var freeze = account.freeze;
		fre = (parseFloat(freeze.value)+0.09).toFixed(0);

		var totalincome = account.totalincome;
		income = (parseFloat(totalincome.value)+0.09).toFixed(0);
		
		$('#sider-content').html('<h4>您好:'+name+'</h4>');
		var str = '<p>';
		str += '<div><span class="glyphicon glyphicon-play"></span>总资产<span class="green">'+tot+'</span>元</div>';
		str += '<div style="margin-top:7px;"><span class="glyphicon glyphicon-play"></span>可用资金<span class="green">'+usa+'</span>元</div>';
		str += '<div style="margin-top:7px;"><span class="glyphicon glyphicon-play"></span>冻结资金<span class="freeze">'+fre+'</span>元</div>';
		str += '<div style="margin-top:7px;"><span class="glyphicon glyphicon-play"></span>已投金额<span class="orange">'+uu+'</span>元</div>';
		str += '<div style="margin-top:7px;"><span class="glyphicon glyphicon-play"></span>已获利息<span class="orange">'+income+'</span>元</div>';
		str += '</p>';
		$('#sider-content').append(str);
		var usercontent = $('<div id="user_content" style="width:100%; margin-top:20px;"></div>');
		usercontent.html('<a href="recharge.html" class="btn btn-warning" style="width:100%;" target="_blank">充值</a>');
		$('#sider-content').append(usercontent);
	}
	
	
		var series = seriesService.findAll();
					var id1 = series.get(0).id;
					
					var orders1 = orderService.findGovermentOrderByProductSeries(id1,3,0,100);
					var total1 = orders1.get('total');
					
					var title1 = series.get(0).title+'('+total1+')';
					
					
					var tagCol1 = series.get(0).tagCol;
					var label11 = tagCol1.items.get(0).title;
					var des11 = tagCol1.items.get(0).description;
					var label12 = tagCol1.items.get(1).title;
					var des12 = tagCol1.items.get(1).description;
					var description1 = series.get(0).description;
					var menkan1 = '100元';
					var qixian1 = '3-6个月';
					var rate1 = '6％-10%';
					var style1 = '每月均摊本息';
					var pl = createProductLine('#projectList1', id1, title1, label11, des11, label12, des12, description1, menkan1, qixian1, rate1, style1);
					
					
					
					
					var id2 = series.get(1).id;
					
					var orders2 = orderService.findGovermentOrderByProductSeries(id2,3,0,100);
					var total2 = orders2.get('total');
					var title2 =  series.get(1).title+'('+total2+')';
					
					var tagCol2 = series.get(1).tagCol;
					var label21 = tagCol2.items.get(0).title;
					var des21 = tagCol2.items.get(0).description;
					var label22 = tagCol2.items.get(1).title;
					var des22 = tagCol2.items.get(1).description;
					var description2 = series.get(1).description;
					var menkan2 = '1000元';
					var qixian2 = '3-9个月';
					var rate2 = '8％-12%';
					var style2 = '每月还息到期还本';
					var p2 = createProductLine('#projectList2', id2, title2, label21, des21, label22, des22, description2, menkan2, qixian2, rate2, style2);
					
					
					
					var id3 = series.get(2).id;
					
					var orders3 = orderService.findGovermentOrderByProductSeries(id3,3,0,100);
					var total3 = orders3.get('total');
					var title3 =  series.get(2).title+'('+total3+')';
					
					var tagCol3 = series.get(2).tagCol;
					var label31 = tagCol3.items.get(0).title;
					var des31 = tagCol3.items.get(0).description;
					var label32 = tagCol3.items.get(1).title;
					var des32 = tagCol3.items.get(1).description;
					var description3 = series.get(2).description;
					var menkan3 = '10000元';
					var qixian3 = '6-12个月';
					var rate3 = '12％-18%';
					var style3 = '每月还息到期还本';
					var p3 = createProductLine('#projectList3', id3, title3, label31, des31, label32, des32, description3, menkan3, qixian3, rate3, style3);
					
					
					for(var i=0; i<series.size(); i++){
					var id = series.get(i).id;
	        		 seriesname[id] = series.get(i).title;
					}
					
					
					
					
					

             
                   $(".newProjectTitleRightBtnList p.BtnNormal").hover(function () {
                             $(this).next(".promptQX").css("display", "block");
                       }, function () {
                               $(this).next(".promptQX").css("display", "none");
                          });
                   $('.spanPro').hover(function () {
                       $(this).next(".promptQX").css("display", "block");
                   }, function () {
                           $(this).next(".promptQX").css("display", "none");
                      });

                   $('#viewMore').click(function(e){
                	   window.location.href="projectlist.html";
                       });
                   
                   
                   
                   
                   
                   {

            		   $('div#notice').html('');
            		   
            		   var res = null;
            			res = noticeService.findAll(-1, 0, 6);
            			var total = res.get('total');
            			var items = res.get('result');
                       
                       var listgroup = $('<div class="row" style="margin-bottom:0px; color:#999;"></div>');
                       
                       if(items)
                    {
                       for(var i=0; i<items.size(); i++){
                    	  
                    	   listgroup.append('<div class="col-md-12" style="font-size:14px; margin-top:15px;"><span class="glyphicon glyphicon-play"></span> <a href="intro/announce.html?nid='+items.get(i).id+'" target="_blank" title="察看详情"><span style="color:grey; font-size:16px;">'+items.get(i).title+'</span></a><span class="publish-time">'+formatDateToDay(items.get(i).publishtime)+'</span></div>'); 
                       }
                    }
                       
                       $('div#notice').append(listgroup);
                   }
                   
                   
                   {

						$('div#news').html('');
                      
						var res = null;
						res = newsService.findAll(-1, 0, 6);
						var total = res.get('total');
						var items = res.get('result');
						
                      var listgroup = $('<div class="row" style="margin-bottom:0px; color:#999;"></div>');
                      
                      if(items){
                   	   for(var i=0; i<items.size(); i++){
                   		listgroup.append('<div class="col-md-12" style="font-size:14px; margin-top:15px;"><span class="glyphicon glyphicon-play"></span> <a href="intro/news.html?nid='+items.get(i).id+'" target="_blank" title="察看详情"><span style="color:grey; font-size:16px;">'+items.get(i).title+'</span></a><span class="publish-time">'+formatDateToDay(items.get(i).publishtime)+'</span></div>'); 
                   	   }
                      }
                      
                      $('div#news').append(listgroup);
                   }
                   
                   
                   
                   
                   
                   
                   
               	   var products = productService.findByStates(-1, 0, 5);
               	   
               	   
               	   for(var i=0; i<products.size(); i++){
               		   var product = products.get(i);
               		   $('table#products').append(createSingleProduct(product));
               	   }
               	   
               	   var strmore = '<tr class="ui-list-more">';
               	   strmore+='<td colspan=7><a class="darkgray" href="productlist.html" target="_blank">查看更多投资理财项目</a></td>';
               	   strmore+='</tr>';
               		$('table#products').append(strmore);
          		
        	
               		
               		
               		
               		if (window.PIE) {
                        $('.ui-creditlevel').each(function() {
                            PIE.attach(this);
                        });
                    }
                   
                   
                   
                   });
 </script>
  </body>
</html>
