<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>政采贷>登陆</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="css/signin/signin.css" rel="stylesheet">
	<link href="css/plist/a.css" rel="stylesheet">
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
		<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IBorrowerService?json"></script>
		<script src="js/tool.js"></script>
		<script src="js/getuser.js"></script>
  </head>

  <body>

    <div class="container">
		
		<div class="row" id="header" style="padding-left:15px; padding-right:15px;">
      
      </div>
		
		
      <div class="form-signin row">
      	<div class="row">
      	<div style="width:100%" id="message"></div>
        <input type="text" id="J-input-user" class="form-control" placeholder="请输入用户名或手机号" required autofocus>
        <input type="password" id="password_input" class="form-control" placeholder="请输入密码" required>
        </div>
        <div class="row">
          <label>
            <input type="checkbox" id="iscompany" value="remember-me"> 企业用户
          </label>
          <a href="resetpsw.html" style="float:right;">忘记密码?</a>
          <span style="float:right;">&nbsp;|&nbsp;</span>
          <a href="register.html" style="float:right;">立即注册</a>
        </div>
        <div class="row">
        <div class="col-md-5" style="padding-left:0px; padding-right:0px;">
        <input class="form-control col-md-5" id="J-input-checkcode" type="text" style="height:50px;"></input>
        </div>
        <div class="col-md-7" style="padding-left:0px; padding-right:0px;">
        <img class="form-control col-md-7" style="height:50px;" id="J-checkcode-img" src="../../login/graphValidateCode?t=100" title="点击图片刷新验证码" alt="点击图片刷新验证码"></img>
        </div>
        </div>
        <div class="row">
        <button id="J-login-btn" class="btn btn-lg btn-success btn-block">登陆</button>
        </div>
      </div>
      
      
      
      
      
      
      

    </div> <!-- /container -->


    
  </body>
  
  
  <script src="js/head.js"></script>
  
  <script>

  function addMessage(title){
		$('#message').html('');
		var div = $('<div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:2px;"></div>');
		div.append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
		div.append(title);
		$('#message').append(div);
  }
  
  function removeMessage(){
	  $('#message').html('');
  }

  
$(document).ready(function() {
	
	header('login');
	
	var rb = getQueryString('rb');
	
	
	var src="../../login/graphValidateCode?t="+Math.random();
	
	$('img#J-checkcode-img').click(function(e){
		var srcn="../../login/graphValidateCode?t="+Math.random();
		$(this).attr('src', srcn);
	});
	
	$('#J-input-user').focus();
       $('#J-login-btn').click(function(e){
			var username = $('input#J-input-user').val();
			var password = $('input#password_input').val();
			var validate = $('input#J-input-checkcode').val();
			
			var iscompany = document.getElementById("iscompany").checked;
			
			if(username==null||username==''){
				addMessage('*请输入用户名');
					return;
				}

			if(password==null||password==''){
				addMessage('*请输入密码');
				return;
			}


			if(validate==null||validate==''){
				addMessage('*验证码错误！');
				return; 
			}
			
			
			if(iscompany==false)
			{
			try{
			service.login(username, password, validate);
			if(rb!=null)
				window.location.href=rb;
			else
				window.location.href="myaccount.html";
			}catch(e){
				alert(e.message);
				$('input#password_input').val('');
				$('input#J-input-checkcode').val('');
				$('img#J-checkcode-img').trigger('click');
			}
			}else{
				try{
					bservice.login(username, password, validate);
					if(rb!=null)
						window.location.href=rb;
					else
					window.location.href="baccount.html";
				}catch(e){
					alert(e.message);
					$('input#password_input').val('');
					$('input#J-input-checkcode').val('');
					$('img#J-checkcode-img').trigger('click');
				}
			
			}
			
           });


       $('input#J-input-checkcode').on('keyup', function(e) {

			var key = e.keyCode;
			if (key === 13) { // 表示按的是enter键
				$('#J-login-btn').click();
			}
       });
})
</script>
  
</html>
