<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1 user-scalable=no">
<title>政采贷>我的帐户</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="dttest/test/site.css">
<link rel="stylesheet" type="text/css" href="dttest/test/dataTables.css">

<link href="css/mine.css" rel="stylesheet">

<link href="css/plist/a.css" rel="stylesheet">
<link href="css/myaccount/myaccount.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	
	<!-- 
	<script type="text/javascript" src="dttest/test/site.js"></script>
	<script type="text/javascript" language="javascript" src="dttest/test/dataTables.js"></script>
	 -->
		 
	<script type="text/javascript" language="javascript" src="dttest/test/jquery.dataTables.min.js"></script>
		
	<script src="js/tool.js"></script>
	<script src="js/data.js"></script>
	
	<script type="text/javascript"
		src="/resources/EasyServiceClientFullZ.js"></script>
	<script type="text/javascript"
		src="/easyservice/gpps.service.ILenderService?json"></script>
	<script type="text/javascript"
				src="/easyservice/gpps.service.IBorrowerService?json"></script>
	<script type="text/javascript"
		src="/easyservice/gpps.service.IAccountService?json"></script>
	<script type="text/javascript"
        src="/easyservice/gpps.service.ISubmitService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IPayBackService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IGovermentOrderService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IProductService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IHelpService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.ILetterService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.INoticeService?json"></script>
	<script type="text/javascript"
        src="/easyservice/gpps.service.thirdpay.IThirdPaySupportService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IMyAccountService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IActivityRefService?json"></script>
    <script type="text/javascript"
        src="/easyservice/gpps.service.IContractService?json"></script>
	
	<script src="js/getuser.js"></script>
	<script src="js/myaccount.js"></script>
	
	<script>
	
	var name = "";
	
	var fid = getQueryString('fid');
	var sid = getQueryString('sid');

	
	if(fid==null || fid==''){
		alert('非法参数！！');
		fid='';
	}
	
	if (usertype!='lender' && usertype!='borrower') {
		window.location.href = "login.html";
	}else if(usertype=='borrower'){
		var hf="baccountdetail.html?fid="+fid;
		if(sid!=null && sid!=''){
			hf+="&sid="+sid;
		}
		window.location.href=hf;
	}
	else {
		name = (user.name==null?user.loginId:user.name);
	}
	</script>


<style type="text/css">
a.accordion-toggle {
	text-decoration: none;
	cursor: pointer;
}

.panel-heading a {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

#path {
	font-size: 14px;
	font-weight: bold;
	color: red;
}
</style>


</head>
<body>
	
	<div id="whole" class="container-fluid">
	
	<div class="row" id="header" style="padding-left:15px; padding-right:15px;">
      
      </div>
	<div class="row" style="margin-top:15px;">
					
					<div class="col-xs-12 col-md-12">
						<div class="col-xs-12 col-md-12" id="nav_level2" style="padding-left:0px; padding-right:0px;">
							<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
									<span class="sr-only">Toggle navigation</span> 
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span>
								</button>
								<span class="navbar-brand" id="snav_title"></span>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
								
							</div>
						</div>
					</nav>
						</div>

						<div class="col-xs-12 col-md-12 table-responsive" id="content"
							style="min-height: 400px; padding-left:0px; padding-right:0px;">
							
							</div>

					</div>
				</div>
		
		
		<div class="row foot" id="footer" style="border: #eee solid 1px; background:#eee; min-height:120px; font-size:13px; margin-top:5px; margin-left: 0px; margin-right:0px;">

	</div>
		
		
	</div>

	<div id="buyformdiv" style="display:none;"></div>
	
	<!-- Modal -->
<div class="modal fade" id="repaydetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">回款详情</h4>
      </div>
      <div class="modal-body table-responsive" id="rdetail">
      			
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="letterdetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">站内信</h4>
      </div>
      <div class="modal-body" id="ldetail">
      			
      </div>
      <div class="modal-footer">
        <button id="lclose" type="button" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
	
        <script src="js/head.js"></script>
		<script src="js/foot.js"></script>
	<script>
		$(document).ready(function() {
							
							header('myaccountdetail');
							
							if(fid==null || fid==''){
								return;
							}
							
							var firstnav = {
									'mycenter' : '会员中心',
									'submit' : '投资查看',
									'letter' : '站内信',
									'payback' : '回款查看',
									'cash' : '资金查看'
							}
							
							
												var content = createNavLevel2(fid);
							
							
								$('#bs-example-navbar-collapse-2').html('');
								$('#bs-example-navbar-collapse-2').append(content);
								$('#snav_title').html(firstnav[fid]);

												$('ul.nav-second li a').on('click',function(e) {
																	$('ul.nav-second li')
																			.removeClass(
																					'active');
																	$(this).parent().addClass('active');

																	
																	var ff = nav2funtion[$(this).attr('data-sk')];

																	if (ff == null) {
																		$('div#content').html($(this).attr('data-sk'));
																	} else if (typeof (ff) == "function") {
																		$('div#content').html('');
																		ff($('div#content'));
																	}
																	
																	
																});
					
					
								if(sid!=null)
									$('ul.nav-second li a[data-sk="'+sid+'"]').trigger('click');
								else
									$('ul.nav-second li a').first().trigger('click');
								
								
								
								$('#lclose').click(function(e){
									window.location.href="myaccountdetail.html?fid=mycenter&sid=letter-unread-mycenter";
								})
						});
	</script>
</body>
</html>