<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">

    <title>政采贷>新闻中心</title>



	<!-- Bootstrap -->
	
   <link rel="stylesheet" type="text/css" href="dttest/test/site.css">
	<link rel="stylesheet" type="text/css" href="dttest/test/dataTables.css">

	<link href="css/bootstrap.min.css" rel="stylesheet">

	<link href="css/mine.css" rel="stylesheet">

	<link href="css/plist/a.css" rel="stylesheet">
	<link href="css/myaccount/myaccount.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
    
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    
    <!-- 
	<script type="text/javascript" src="dttest/test/site.js"></script>
	<script type="text/javascript" language="javascript" src="dttest/test/dataTables.js"></script>
	 -->
		 
	<script type="text/javascript" language="javascript" src="dttest/test/jquery.dataTables.min.js"></script>
    
    
    
		<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IMyAccountService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.INoticeService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.INewsService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IHelpService?json"></script>
		<script src="js/tool.js"></script>
		<script src="js/getuser.js"></script>
  </head>

  <body>

    <div class="container">
		
		<div class="row" id="header" style="padding-left:0px; padding-right:0px;">
      
      	</div>
		
		<div class="row" id="content" style="padding-left:15px; padding-right:15px;">
		
      	</div>
      
      
      <div class="row foot" id="footer" style="border: #eee solid 1px; background:#eee; font-size:13px; margin-top:25px; padding-left:0px; padding-right:0px; padding-bottom:0px;">

	</div>
      
      

    </div> <!-- /container -->

	<textarea id="content_template" style="display:none;">
		<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
		政采贷>新闻中心
		</div>
		<div class="col-md-12" style="border:solid 2px #f5f5f5; margin-top:15px; padding-left:0px; padding-right:0px;">
			<div class="col-md-12" style="min-height:400px;">
				<div class="col-md-12" style="margin-top:15px;">
			<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
			
			<span style="font-size:18px; color:#999" id="category">全部</span>
			
			<select id="news" style="float:right;">
			<option value="-1">全部</option>
			<option value="0">行业资讯</option>
			<option value="1">财经新闻</option>
			</select>
			
			<div style="clear:both;"></div>
			
			</div>
			
			<div class="col-md-12" style="border-top:solid gold 1px; margin-top:2px;">
			</div>
			</div>
			<div class="col-md-12 table-responsive" id="table_content" style="margin-top:15px; padding-left:0px; padding-right:0px;">
				<table role="grid" id="example" class="display nowrap dataTable dtr-inline" width="95%" cellspacing="0">
				<thead>
				<tr role="row">
				<th style="width: 200px;">标题</th>
				<th style="width: 100px;">时间</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
			</div>
			</div>
		</div>
	</textarea>
    
  </body>
  
  
  
  <script src="js/head.js"></script>
  <script src="js/foot.js"></script>
  <script>
  _defaultDataTableOLanguage = {
			"sProcessing" : "<img src ='images/waiting.gif' height = 18/>正在查询中，请稍后......",
			"sLengthMenu" : "每页 _MENU_ 条记录",
			"sZeroRecords" : "无数据",
			"sInfo" : "当前第 _START_ 到  _END_ 条记录 共_TOTAL_条记录",
			"sInfoEmpty" : " ",
			"sSearch" : "查找： ",
			"oPaginate" : {
				"sFirst" : "首页",
				"sLast" : "末页",
				"sNext" : "下一页",
				"sPrevious" : "上一页"
			},
			"sInfoFiltered" : "(在 _MAX_ 条记录中查找)"
		};
  var newsService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.INewsService");
 
  var table;
  var publicType=-1;
  
  
  var typename = {
		  0 : '行业资讯',
		  1 : '财经新闻'
  }
  
  
	$(document).ready(function() {
	
	header('news');
	
	
	var type = getQueryString('type');
	  if(type!=null){
		  try{
		  publicType=parseInt(type);
		  }catch(e){
			  alert('参数错误！！');
			  return;
		  }
	  }
	
	var ctx = new EasyServiceClient.newContext();
	
	
	//ctx.letter = letter;
	ejs.renderComplexNode("#content_template", "#content", ctx);
	
	
	$('#news').change(function(e){
		
		publicType = parseInt($(this).val());
		
		if(publicType==-1){
			$('#category').html('全部');
		}else{
			$('#category').html(typename[publicType]);
		}
		
		
		table.fnDraw();
	})
	
	
	
	
	var fnServerData = function(sSource, aoData, fnCallback, oSettings) {
		
		var sEcho = "";
		var iDisplayStart = 0;
		var iDisplayLength = 0;
		
		for ( var i = 0; i < aoData.length; i++) {
			var data = aoData[i];
			if (data.name == "sEcho")
				sEcho = data.value;
			if (data.name == "start")
				iDisplayStart = data.value;
			if (data.name == "length")
				iDisplayLength = data.value;
		}
		var res = null;
		res = newsService.findAll(publicType,iDisplayStart, iDisplayLength);
		var result = {};
		result.iTotalRecords = res.get('total');
		result.iTotalDisplayRecords = res.get('total');
		result.aaData = new Array();
		var items = res.get('result');
		if(items)
		{
			for(var i=0; i<items.size(); i++){
				var item=items.get(i);
				result.aaData.push(['<a href="detail.html?type=news&stype='+item.publicType+'&id='+item.id+'" target="_blank">'+item.title+'</a>',
				                    formatDate(item.publishtime)]);
			}
		}
		result.sEcho = sEcho;
		fnCallback(result);
		
		$('button.test').on('click', function(e){
			alert(123);
		});
		
		return res;
	}
	
	if(publicType!=-1)
		{
			$('#category').html(typename[publicType]);
		}else{
			$('#category').html('全部');
		}
	
	
	$('#news').val(type);
	
	table = $('#example')
	.addClass( 'nowrap' )
	.dataTable( {
		bServerSide : true,
		responsive: true,
		fnServerData : fnServerData,
		bFilter : false, //是否使用搜索 
		oLanguage : _defaultDataTableOLanguage,
		pagingType: "full"
	} );
	
})
</script>
  
</html>