<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">

    <title>政采贷>产品介绍</title>



	<!-- Bootstrap -->
	
   <link rel="stylesheet" type="text/css" href="dttest/test/site.css">
	<link rel="stylesheet" type="text/css" href="dttest/test/dataTables.css">

	<link href="css/bootstrap.min.css" rel="stylesheet">

	<link href="css/mine.css" rel="stylesheet">

	<link href="css/plist/a.css" rel="stylesheet">
	<link href="css/myaccount/myaccount.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
    
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    
    <!-- 
	<script type="text/javascript" src="dttest/test/site.js"></script>
	<script type="text/javascript" language="javascript" src="dttest/test/dataTables.js"></script>
	 -->
		 
	<script type="text/javascript" language="javascript" src="dttest/test/jquery.dataTables.min.js"></script>
    
    
    
		<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IMyAccountService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IProductSeriesService?json"></script>
		<script src="js/tool.js"></script>
		<script src="js/getuser.js"></script>
  </head>

  <body>

    <div class="container">
		
		<div class="row" id="header" style="padding-left:0px; padding-right:0px;">
      
      	</div>
		
		<div class="row" id="content" style="padding-left:15px; padding-right:15px;">
		
      	</div>
      
      
      <div class="row foot" id="footer" style="border: #eee solid 1px; background:#eee; font-size:13px; margin-top:25px; padding-left:0px; padding-right:0px; padding-bottom:0px;">

	</div>
      
      

    </div> <!-- /container -->

	<textarea id="content_template" style="display:none;">
		<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
		政采贷>产品介绍
		</div>
		<div class="col-md-12" style="border:solid 2px #f5f5f5; margin-top:15px; padding-left:0px; padding-right:0px;">
			<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
			<img src="img/jgh.jpg" style="width:100%;"></img>
			</div>
			<div class="col-md-12" style="min-height:400px;">
				<div class="col-md-12" style="margin-top:15px;">
			<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
			
			<span style="font-size:18px; color:red">[</span>
			<span style="font-size:18px; color:#999" id="category">稳健型</span>
			<span style="font-size:18px; color:#999;">产品介绍</span>
			<span style="font-size:18px; color:red">]</span>
			
			<select id="pseries" style="float:right;">
			<option value="0">稳健型</option>
			<option value="1">均衡型</option>
			<option value="2">进取型</option>
			</select>
			
			<div style="clear:both;"></div>
			
			</div>
			
			<div class="col-md-12" style="border-top:solid gold 1px; margin-top:2px;">
			</div>
			</div>
			<div class="col-md-12" id="table_content" style="margin-top:60px;">
				<table class="table">
				<tr><td style="width:150px;">投资门槛</td><td>123</td></tr>
				<tr><td>投资期限</td><td>3-6个月</td></tr>
				<tr><td>年华收益</td><td>3%-20%</td></tr>
				<tr><td>还款方式</td><td id="typedetail">等额本息</td></tr>
				<tr><td>产品简介</td><td id="description"></td></tr>
				</table>
			</div>
			</div>
		</div>
	</textarea>
    
  </body>
  
  
  
  <script src="js/head.js"></script>
  <script src="js/foot.js"></script>
  <script>
 var type = 0;
  var typename = {
		  0 : '稳健型',
		  1 : '均衡型',
		  2 : '进取型'
  }
  
  var seriesService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IProductSeriesService");
  
  
	$(document).ready(function() {
	
	header('pseries');
	
	
	var typepara = getQueryString('type');
	  if(type!=null){
		  try{
		  type=parseInt(typepara);
		  }catch(e){
			  type=0;
		  }
	  }
	  var series = seriesService.findByType(type);
	  
	var ctx = new EasyServiceClient.newContext();
	
	//ctx.series = series;
	//ctx.letter = letter;
	ejs.renderComplexNode("#content_template", "#content", ctx);
	
	
	$('#category').html(typename[type]);
	  $('#pseries').val(type);
	$('#seriesname').html(typename[type]);
	$('#description').html(series.description);
	$('#typedetail').html(series.typeDetail);
	
	$('#pseries').change(function(e){
		
		type = parseInt($(this).val());
		$('#category').html(typename[type]);
		series = seriesService.findByType(type);
		$('#seriesname').html(typename[type]);
		$('#description').html(series.description);
		$('#typedetail').html(series.typeDetail);
		
	})
	
})
</script>
  
</html>