<html>
<body>
<script src="js/jquery.min.js"></script>
<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
<script>
$(document).ready(function() {
	var where =document.referrer;
	var service = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.ILenderService");
	service.loginOut();
    window.location.href = where;
});
</script>
</body>
</html>