<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>政采贷</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/index/justified-nav.css" rel="stylesheet">
<link href="css/plist/a.css" rel="stylesheet">
<link href="css/rtd_files/css2.css" rel="stylesheet">
<link href="css/mine.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.IBorrowerService?json"></script>
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
<![endif]-->

<script src="js/getuser.js"></script>
</head>
<body>
	<div class="container">
	
	<div class="row" id="header" style="padding-left:15px; padding-right:15px;">
      
      </div>
	<div class="row" style="margin-bottom:40px; text-align:center; margin-top:20px;">
	<span class="orange">1:平台注册</span>&nbsp;>>&nbsp;<span class="grey">2:实名认证</span>&nbsp;>>&nbsp;<span class="grey">3:第三方注册</span>&nbsp;>>&nbsp;<span class="grey">4:完成</span>
	<div style="clear:both;"></div>
	</div>
	<div class="form-horizontal" role="form" style="width:400px; margin: 0 auto;">
		<div class="form-group">
    		<label class="col-sm-3 control-label">第一步</label>
    		<div class="col-sm-6">
      			<p class="form-control-static">平台注册</p>
    		</div>
    		<div class="col-sm-3">
      			<p class="form-control-static"><a href="login.html">登录</a>&nbsp;|&nbsp;<a href="index.html">取消</a></p>
    		</div>
  		</div>
  		<div style="width:100%" id="message"></div>
		
	
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">用户名</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="username">
			</div>
		</div>
		
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">密码</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="password">
			</div>
		</div>
		
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">确认密码</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="password_r">
			</div>
		</div>
		
		
		<div class="form-group has-success">
			<label class="control-label col-sm-3" for="addr"></label>
			<div class="col-sm-9">
			<label class="radio-inline">
  				<input type="radio" name="usertype"  checked="checked" value="1"> 我要投资
			</label>
			<label class="radio-inline">
  				<input type="radio" name="usertype" value="0"> 我要融资
			</label>
			</div>
			</div>
			
			
			<div class="form-group has-success has-feedback" id="cname" style="display:none;">
			<label class="control-label col-sm-3" for="inputSuccess3">企业名称</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="companyname">
			</div>
			</div>
			
			<div class="form-group has-success has-feedback" id="lice" style="display:none;">
			<label class="control-label col-sm-3" for="inputSuccess3">营业执照</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="license">
			</div>
			</div>
			
			
			<div class="form-group has-success has-feedback" id="email">
			<label class="control-label col-sm-3" for="inputSuccess3">邮箱</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="email">
			</div>
			</div>

			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputError2">手机</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="phone">
			</div>
			<button type="submit" class="btn btn-default" id="sendValCode" style="width:90px;">发送验证码</button>
			<a href="/messageValidateCode" target="_blank">察看验证码</a>
			</div>
			
			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">验证码</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="validate">
			</div>
			</div>
			
			<button id="login" class="btn btn-lg btn-success btn-block">注册</button>
			

		</div>
		
	</div>

</body>
<script src="js/head.js"></script>
 <script>
 
 var ok = '<span class="glyphicon glyphicon-ok form-control-feedback"></span>';
 var error = '<span class="glyphicon glyphicon-remove form-control-feedback"></span>';
 
 function addMessage(title){
		$('#message').html('');
		var div = $('<div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:2px;"></div>');
		div.append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
		div.append(title);
		$('#message').append(div);
}

function removeMessage(){
	  $('#message').html('');
}



 
$(document).ready(function() {
	
	header('login');
	
	
	var usertype = '1';
	
	$('#username').focus();
    $('#login').click(function(e){
			var username = $('input#username').val();
			var email = $('input#email').val();
			var password = $('input#password').val();
			var password_r = $('input#password_r').val();
			var phone = $('input#phone').val();
			var validate = $('input#validate').val();
			
			
			
			if(username==null||username==''){
					$('input#username').parent().find('span').remove();
					$('input#username').parent().append(error);
					$('input#username').parent().parent().removeClass('has-success').addClass('has-error');
					addMessage('*请输入用户名');
					return;
					}else if(usertype=='1' && service.isLoginIdExist(username)){
			        	$('input#username').parent().find('span').remove();
						$('input#username').parent().append(error);
						$('input#username').parent().parent().removeClass('has-success').addClass('has-error');
						addMessage('*用户名已被注册');
						return;
					}else if(usertype=='0' && bservice.isLoginIdExist(username)){
						$('input#username').parent().find('span').remove();
						$('input#username').parent().append(error);
						$('input#username').parent().parent().removeClass('has-success').addClass('has-error');
						addMessage('*企业用户名已被注册');
						return;
					}else if(/^[0-9]*$/.test(username)){
						$('input#username').parent().find('span').remove();
						$('input#username').parent().append(error);
						$('input#username').parent().parent().removeClass('has-success').addClass('has-error');
						addMessage('*用户名不能是纯数字');
						return;
					}else{
						$('input#username').parent().find('span').remove();
						$('input#username').parent().append(ok);
						$('input#username').parent().parent().removeClass('has-error').addClass('has-success');
						removeMessage();
					}

			if(password==null||password==''){
				$('input#password').parent().find('span').remove();
				$('input#password').parent().append(error);
				$('input#password').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*请输入密码');
				return;
				}else if(password_r!=password){
					$('input#password_r').parent().find('span').remove();
					$('input#password_r').parent().append(error);
					$('input#password_r').parent().parent().removeClass('has-success').addClass('has-error');
					addMessage('*密码不一致');
				return;
				}
			else{
				$('input#password').parent().find('span').remove();
				$('input#password').parent().append(ok);
				$('input#password_r').parent().find('span').remove();
				$('input#password_r').parent().append(ok);
				$('input#password').parent().parent().removeClass('has-error').addClass('has-success');
				$('input#password_r').parent().parent().removeClass('has-error').addClass('has-success');
				removeMessage();
				}
			
			
			var emailreg = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
			
			if(email==null||email==''){
				$('input#email').parent().find('span').remove();
				$('input#email').parent().append(error);
				$('input#email').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*请输入邮箱地址');
				return;
	        }else if(usertype=='1'&&service.isEmailExist(email)){
	        	$('input#email').parent().find('span').remove();
				$('input#email').parent().append(error);
				$('input#email').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*邮箱已被注册');
				return;
			}else if(usertype=='0'&&bservice.isEmailExist(email)){
				$('input#email').parent().find('span').remove();
				$('input#email').parent().append(error);
				$('input#email').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*邮箱已被注册');
				return;
			}
	        else if(!emailreg.test(email)){
					$('input#email').parent().find('span').remove();
					$('input#email').parent().append(error);
					$('input#email').parent().parent().removeClass('has-success').addClass('has-error');
					addMessage('*邮箱格式不正确');
					return;
				}
	        else{
	        	$('input#email').parent().find('span').remove();
				$('input#email').parent().append(ok);
				$('input#email').parent().parent().removeClass('has-error').addClass('has-success');
				removeMessage();
	        	}


			if(validate==null||validate==''){
				$('input#validate').parent().find('span').remove();
				$('input#validate').parent().append(error);
				$('input#validate').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*请填写验证码');
				return;
				}
				else{
					$('input#validate').parent().find('span').remove();
					$('input#validate').parent().append(ok);
					$('input#validate').parent().parent().removeClass('has-error').addClass('has-success');
					removeMessage();
				}

			if(usertype=='1')
			{
			try{
				var lender = {"_t_":"gpps.model.Lender", "loginId":username, "password" : password, "tel" : phone, "email" : email};
				service.register(lender, validate);
				window.location.href="register2.html";
			}catch(ee){
				alert(ee.message);
				$('input#password').val('');
				$('input#password_r').val('');
				$('input#validate').val('');
			}
			}else{
				var companyname = $('input#companyname').val();
				var license = $('input#license').val();
				
				if(companyname==null||companyname==''){
					$('input#companyname').parent().find('span').remove();
					$('input#companyname').parent().append(error);
					$('input#companyname').parent().parent().removeClass('has-success').addClass('has-error');
					addMessage('*请输入企业名称');
					return;
					}else{
						$('input#companyname').parent().find('span').remove();
						$('input#companyname').parent().append(ok);
						$('input#companyname').parent().parent().removeClass('has-error').addClass('has-success');
						removeMessage();
					}
				
				
				if(license==null||license==''){
					$('input#license').parent().find('span').remove();
					$('input#license').parent().append(error);
					$('input#license').parent().parent().removeClass('has-success').addClass('has-error');
					addMessage('*请输入企业营业执照号');
					return;
					}else{
						$('input#license').parent().find('span').remove();
						$('input#license').parent().append(ok);
						$('input#license').parent().parent().removeClass('has-error').addClass('has-success');
						removeMessage();
					}
				
				
				try{
					var borrower = {"_t_":"gpps.model.Borrower", "loginId":username, "password" : password, "tel" : phone, "companyName" : companyname, "license" : license, "email" : email};
					bservice.register(borrower, validate);
					window.location.href="baccount.html";
				}catch(ee){
					alert(ee.message);
					$('input#password').val('');
					$('input#password_r').val('');
					$('input#validate').val('');
				}
				
			}
			
			
        });
    
    
    $('input#email').blur(function(e){
    	var email = $(this).val();
    	var emailreg = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
        	if(email==null||email==''){
        }else if(usertype=='1'&&service.isEmailExist(email)){
        	$('input#email').parent().find('span').remove();
			$('input#email').parent().append(error);
			$('input#email').parent().parent().removeClass('has-success').addClass('has-error');
			addMessage('*邮箱已被注册');
			return;
		}else if(usertype=='0'&&bservice.isEmailExist(email)){
			$('input#email').parent().find('span').remove();
			$('input#email').parent().append(error);
			$('input#email').parent().parent().removeClass('has-success').addClass('has-error');
			addMessage('*邮箱已被注册');
			return;
		}
        else if(!emailreg.test(email)){
				$('input#email').parent().find('span').remove();
				$('input#email').parent().append(error);
				$('input#email').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*邮箱格式不正确');
			}
        else{
        	$('input#email').parent().find('span').remove();
			$('input#email').parent().append(ok);
			$('input#email').parent().parent().removeClass('has-error').addClass('has-success');
			removeMessage();
        		}
    });

    $('input#username').blur(function(e){
        var username = $(this).val();
        if(username==null||username==''){
        	//$('input#username').parent().find('span').remove();
			//$('input#username').parent().append(error);
			//$('input#username').parent().parent().removeClass('has-success').addClass('has-error');
			//addMessage('*请输入用户名');
        }else if(usertype=='1' && service.isLoginIdExist(username)){
        	$('input#username').parent().find('span').remove();
			$('input#username').parent().append(error);
			$('input#username').parent().parent().removeClass('has-success').addClass('has-error');
			addMessage('*用户名已被注册');
		}else if(usertype=='0' && bservice.isLoginIdExist(username)){
			$('input#username').parent().find('span').remove();
			$('input#username').parent().append(error);
			$('input#username').parent().parent().removeClass('has-success').addClass('has-error');
			addMessage('*企业用户名已被注册');
		}
        else if(/^[0-9]*$/.test(username)){
				$('input#username').parent().find('span').remove();
				$('input#username').parent().append(error);
				$('input#username').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*用户名不能是纯数字');
			}
        else{
        	$('input#username').parent().find('span').remove();
			$('input#username').parent().append(ok);
			$('input#username').parent().parent().removeClass('has-error').addClass('has-success');
			removeMessage();
        		}
        });
    
    
    
  
    
    
    
    $('button#sendValCode').click(function(e){
    	
    	
 	  var phone = $('input#phone').val();
 	  
 	  var reg=/^1[3-8]+\d{9}$/;
 	  
 	  if(phone==null || phone==''){
 		 $('input#phone').parent().find('span').remove();
			$('input#phone').parent().append(error);
			$('input#phone').parent().parent().removeClass('has-success').addClass('has-error');
			addMessage('*请输入手机号码');
			return;
 	  }else if(!reg.test(phone)){
 		 $('input#phone').parent().find('span').remove();
			$('input#phone').parent().append(error);
			$('input#phone').parent().parent().removeClass('has-success').addClass('has-error');
			addMessage('*手机号码格式不对');
			return;
 	  }
 	  else if(service.isPhoneNumberExist(phone)){
 		 $('input#phone').parent().find('span').remove();
			$('input#phone').parent().append(error);
			$('input#phone').parent().parent().removeClass('has-success').addClass('has-error');
			addMessage('*该手机号码已被注册');
			return;
 	  }else{
 		 
			try{
 		  	service.sendMessageValidateCode();
 		  	$('input#phone').parent().find('span').remove();
			$('input#phone').parent().append(ok);
			$('input#phone').parent().parent().removeClass('has-error').addClass('has-success');
 		 	removeMessage();
 		 	
 		 	
 		 	var t = 60;
 	    	$('button#sendValCode').attr('disabled', true);
 			
 			//显示当前的秒数
 		    function count(){
 		    	t --;
 		    	//秒数自减 
 		    	if(t >= 0){
 		    		$('button#sendValCode').html(t+'秒后重发');
 		    		//刷新当前的秒数，重新显示秒数
 		    		}else{
 		    			$('button#sendValCode').html('发送验证码');
 		    			$('button#sendValCode').attr('disabled', false);
 		    			clearInterval();
 		    			}
 		    }
 			
 		   setInterval(count,1000);  
			}catch(e){
				alert(e.message);
			}
 	  }
    });
    
    $('input#password').blur(function(e){
 	   var password = $(this).val();
 	   if(password==null||password==''){
 		 // $('input#password').parent().find('span').remove();
		//	$('input#password').parent().append(error);
		//	$('input#password').parent().parent().removeClass('has-success').addClass('has-error');
		//	addMessage('*请输入密码');
			}else{
				$('input#password').parent().find('span').remove();
				$('input#password').parent().append(ok);
				$('input#password').parent().parent().removeClass('has-error').addClass('has-success');
				removeMessage();
				}
        });

    $('input#password_r').blur(function(e){
 	   var password_r = $(this).val();
 	   var password = $('input#password').val();
 	   if(password_r==null||password_r==''){
 		  //$('input#password_r').parent().find('span').remove();
		//	$('input#password_r').parent().append(error);
			//$('input#password_r').parent().parent().removeClass('has-success').addClass('has-error');
			//addMessage('*请再次输入密码');
			}else if(password_r!=password){
				$('input#password_r').parent().find('span').remove();
				$('input#password_r').parent().append(error);
				$('input#password_r').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*密码不一致');
				}
			else{
				$('input#password_r').parent().find('span').remove();
				$('input#password_r').parent().append(ok);
				$('input#password_r').parent().parent().removeClass('has-error').addClass('has-success');
				removeMessage();
				}
        });

    $('input#validate').on('keyup', function(e) {

			var key = e.keyCode;
			if (key === 13) { // 表示按的是enter键
				$('#login').click();
			}
    });
    
    
    $("input[name=usertype]").click(function(){ 
			usertype = $("input[name=usertype]:checked").attr("value");
			
			if(usertype=='0')
				{
					$('#cname').css('display', 'block');
					$('#lice').css('display', 'block');
				}else{
					$('#cname').css('display', 'none');
					$('#lice').css('display', 'none');
				}
    	 });
	
})
</script>
</html>