<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>政采贷</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/index/justified-nav.css" rel="stylesheet">
<link href="css/plist/a.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
<![endif]-->
</head>
<body>
	<div class="container">
	
	<div class="row" id="header" style="padding-left:15px; padding-right:15px;">
      
      </div>
	
	<div class="form-horizontal" role="form" style="width:400px; margin: 0 auto;">
		<div class="form-group">
    		<label class="col-sm-3 control-label">第一步</label>
    		<div class="col-sm-7">
      			<p class="form-control-static">平台注册</p>
    		</div>
    		<div class="col-sm-2">
      			<p class="form-control-static"><a href="index.html">取消</a></p>
    		</div>
  		</div>
  		<div style="width:100%" id="message"></div>
		
	
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">用户名</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="username">
			</div>
		</div>
		
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">密码</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="password">
			</div>
		</div>
		
		<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">确认密码</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="password_r">
			</div>
		</div>

			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputError2">手机</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="phone">
			</div>
			<button type="submit" class="btn btn-default" id="sendValCode">发送验证码</button>
			</div>
			
			
			<div class="form-group has-success has-feedback">
			<label class="control-label col-sm-3" for="inputSuccess3">验证码</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="validate">
			</div>
			</div>
			
			<button id="login" class="btn btn-lg btn-success btn-block">注册</button>
			

		</div>
		
	</div>

</body>
<script src="js/head.js"></script>
 <script>
 
 var ok = '<span class="glyphicon glyphicon-ok form-control-feedback"></span>';
 var error = '<span class="glyphicon glyphicon-remove form-control-feedback"></span>';
 
 function addMessage(title){
		$('#message').html('');
		var div = $('<div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:2px;"></div>');
		div.append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
		div.append(title);
		$('#message').append(div);
}

function removeMessage(){
	  $('#message').html('');
}
 
$(document).ready(function() {
	
	header('login');
	
	
	$('#username').focus();
    $('#login').click(function(e){
			var username = $('input#username').val();
			var password = $('input#password').val();
			var password_r = $('input#password_r').val();
			var phone = $('input#phone').val();
			var validate = $('input#validate').val();
			
			if(username==null||username==''){
					$('input#username').parent().find('span').remove();
					$('input#username').parent().append(error);
					addMessage('*请输入用户名');
					return;
					}else if(service.isLoginIdExist(username)){
						$('input#username').parent().find('span').remove();
						$('input#username').parent().append(error);
						addMessage('*用户名已被注册');
						return;
					}else{
						$('input#username').parent().find('span').remove();
						$('input#username').parent().append(ok);
						removeMessage();
					}

			if(password==null||password==''){
				$('input#password').parent().find('span').remove();
				$('input#password').parent().append(error);
				addMessage('*请输入密码');
				return;
				}else if(password_r!=password){
					$('input#password_r').parent().find('span').remove();
					$('input#password_r').parent().append(error);
					addMessage('*密码不一致');
				return;
				}
			else{
				$('input#password').parent().find('span').remove();
				$('input#password').parent().append(ok);
				$('input#password_r').parent().find('span').remove();
				$('input#password_r').parent().append(ok);
				removeMessage();
				}


			if(validate==null||validate==''){
				$('input#validate').parent().find('span').remove();
				$('input#validate').parent().append(error);
				addMessage('*请填写验证码');
				return;
				}
				else{
					$('input#validate').parent().find('span').remove();
					$('input#validate').parent().append(ok);
					removeMessage();
				}


			try{
				var lender = {"_t_":"gpps.model.Lender", "loginId":username, "password" : password, "tel" : phone};
				service.register(lender, validate);
				window.location.href="register2.html";
			}catch(e){
				alert(e.message);
				$('input#password').val('');
				$('input#password_r').val('');
				$('input#validate').val('');
			}
			
			
        });

    $('input#username').blur(function(e){
        var username = $(this).val();
        if(username==null||username==''){
        	$('input#username').parent().find('span').remove();
			$('input#username').parent().append(error);
			addMessage('*请输入用户名');
        }else if(service.isLoginIdExist(username)){
        	$('input#username').parent().find('span').remove();
			$('input#username').parent().append(error);
			addMessage('*用户名已被注册');
			}
        else{
        	$('input#username').parent().find('span').remove();
			$('input#username').parent().append(ok);
			removeMessage();
        		}
        });
    
    $('button#sendValCode').click(function(e){
 	  var phone = $('input#phone').val();
 	  
 	  var reg=/^1\d{10}$/;
 	  
 	  if(phone==null || phone==''){
 		 $('input#phone').parent().find('span').remove();
			$('input#phone').parent().append(error);
			addMessage('*请输入手机号码');
 	  }else if(!reg.test(phone)){
 		 $('input#phone').parent().find('span').remove();
			$('input#phone').parent().append(error);
			addMessage('*手机号码格式不对');
 	  }
 	  else if(service.isPhoneNumberExist(phone)){
 		 $('input#phone').parent().find('span').remove();
			$('input#phone').parent().append(error);
			addMessage('*该手机号码已被注册');
 	  }else{
 		 $('input#phone').parent().find('span').remove();
			$('input#phone').parent().append(ok);
 		  service.sendMessageValidateCode();
 		 removeMessage();
 	  }
    });
    
    $('input#password').blur(function(e){
 	   var password = $(this).val();
 	   if(password==null||password==''){
 		  $('input#password').parent().find('span').remove();
			$('input#password').parent().append(error);
			addMessage('*请输入密码');
			}else{
				$('input#password').parent().find('span').remove();
				$('input#password').parent().append(ok);
				removeMessage();
				}
        });

    $('input#password_r').blur(function(e){
 	   var password_r = $(this).val();
 	   var password = $('input#password').val();
 	   if(password_r==null||password_r==''){
 		  $('input#password_r').parent().find('span').remove();
			$('input#password_r').parent().append(error);
			addMessage('*请再次输入密码');
			}else if(password_r!=password){
				$('input#password_r').parent().find('span').remove();
				$('input#password_r').parent().append(error);
				addMessage('*密码不一致');
				}
			else{
				$('input#password_r').parent().find('span').remove();
				$('input#password_r').parent().append(ok);
				removeMessage();
				}
        });

    $('input#validate').on('keyup', function(e) {

			var key = e.keyCode;
			if (key === 13) { // 表示按的是enter键
				$('#login').click();
			}
    });
	
})
</script>
</html>