<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>政采贷</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/plist/a.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IBorrowerService?json"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.IMyAccountService?json"></script>
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
<![endif]-->
<script src="js/tool.js"></script>
<script src="js/getuser.js"></script>
</head>
<body>
	<div class="container">
	
	<div class="row" id="header" style="padding-left:15px; padding-right:15px;">
      
      </div>
	
	<div class="row" style="max-width:500px; margin: 0 auto; background-color : #eee;">
		
		<div class="col-md-12" id="change" style="padding-left:0px; padding-right:0px;">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    		<h4>企业用户密码找回</h4>
    		</div>
    		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align:right; padding-top:10px;">
      			<a href="resetpsw.html">个人用户?</a>
    		</div>
    		<div style="clear:both;"></div>
  		</div>
		
		<div class="col-md-12" id="message"></div>
		<div class="form-group has-success has-feedback col-md-12" style="padding-left:0px; padding-right:0px;">
			<div class="hidden-xs hidden-sm col-md-3 col-lg-3" style="padding-right:0px;">
			<label class="control-label" for="loginId">用户名</label>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" id="loginIdContent">
				<input type="text" class="form-control" id="loginId" style="padding-left:1px; padding-right:1px;" placeholder="请输入用户名" required/>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="form-group has-success has-feedback col-md-12" style="padding-left:0px; padding-right:0px;">
			<div class="hidden-xs hidden-sm col-md-3 col-lg-3" style="padding-right:0px;">
			<label class="control-label" for="password">新密码</label>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<input type="password" class="form-control" id="password" style="padding-left:1px; padding-right:1px;" placeholder="请输入新密码" required/>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		
		<div class="form-group has-success has-feedback col-md-12" style="padding-left:0px; padding-right:0px;">
			<div class="hidden-xs hidden-sm col-md-3 col-lg-3" style="padding-right:0px;">
			<label class="control-label">确认密码</label>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<input type="password" class="form-control" id="password_r" style="padding-left:1px; padding-right:1px;" placeholder="请再次输入新密码" required>
			</div>
			<div style="clear:both;"></div>
			</div>
			
			
			<div class="form-group has-success has-feedback col-md-12" style="padding-left:0px; padding-right:0px;">
			<div class="hidden-xs hidden-sm col-md-3 col-lg-3" style="padding-right:0px;">
			<label class="control-label" for="validate">验证码</label>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
				<input type="text" class="form-control" id="validate" style="padding-left:1px; padding-right:1px;" placeholder="请输入验证码" required>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<button type="submit" class="form-control btn-warning" id="sendValCode">发送验证码</button>
			</div>
			<div style="clear:both;"></div>
			</div>
		
		

			
			
			<button id="confirm" class="btn btn-lg btn-success btn-block">确认修改</button>
			

		</div>
		
	</div>
	
</body>

<script src="js/head.js"></script>
 <script>
 var borrowerService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IBorrowerService");
 var ok = '<span class="glyphicon glyphicon-ok form-control-feedback"></span>';
 var error = '<span class="glyphicon glyphicon-remove form-control-feedback"></span>';
 
 function addMessage(title){
		$('#message').html('');
		var div = $('<div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:2px;"></div>');
		div.append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
		div.append(title);
		$('#message').append(div);
}

function removeMessage(){
	  $('#message').html('');
}
 
$(document).ready(function() {
	
	header('resetpsw');
	
	$('#loginId').focus();
	
	
	var loginId = null;
	var phone = null;
	
		if(usertype=='borrower'){
			$('#change').css("display", "none");
			$('#loginIdContent').html('<label class="control-label">'+user.loginId+'</label>');
			loginId = user.loginId;
			phone = user.tel;
		}
	
       $('#confirm').click(function(e){
    	   loginId = loginId==null?$('#loginId').val():loginId;
			var validate = $('input#validate').val();
			var password = $('input#password').val();
			var password_r = $('input#password_r').val();

			
			if(loginId==null||loginId==''){
				$('input#loginId').parent().find('span').remove();
				$('input#loginId').parent().append(error);
				$('input#loginId').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*请输入登陆名');
				return;
			}else{
				$('input#loginId').parent().find('span').remove();
				$('input#loginId').parent().append(ok);
				$('input#loginId').parent().parent().removeClass('has-error').addClass('has-success');
				removeMessage();
			}
			
			if(password==null||password==''){
				$('input#password').parent().find('span').remove();
				$('input#password').parent().append(error);
				$('input#password').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*请输入密码');
				return;
				}else if(password_r!=password){
					$('input#password_r').parent().find('span').remove();
					$('input#password_r').parent().append(error);
					$('input#password_r').parent().parent().removeClass('has-success').addClass('has-error');
					addMessage('*输入密码不一致');
				return;
				}
			else{
				$('input#password').parent().find('span').remove();
				$('input#password').parent().append(ok);
				$('input#password').parent().parent().removeClass('has-error').addClass('has-success');
				$('input#password_r').parent().find('span').remove();
				$('input#password_r').parent().append(ok);
				$('input#password_r').parent().parent().removeClass('has-error').addClass('has-success');
				removeMessage();
				}


			if(validate==null||validate==''){
				$('input#validate').parent().find('span').remove();
				$('input#validate').parent().append(error);
				$('input#validate').parent().parent().removeClass('has-success').addClass('has-error');
				addMessage('*验证码错误');
				return;
				}
				else{
					$('input#validate').parent().find('span').remove();
					$('input#validate').parent().append(ok);
					$('input#validate').parent().parent().removeClass('has-error').addClass('has-success');
					removeMessage();
				}


			try{
				
				bservice.changePassword(loginId, password, validate);
				if(usertype=='lender')
					window.location.href="baccount.html";
				else
					window.location.href="login.html";
			}catch(e){
				alert(e.message);
				$('input#password').val('');
				$('input#password_r').val('');
				$('input#validate').val('');
			}
           });
       
       
       $('button#sendValCode').click(function(e){
    	   if(phone==null)
    		{
    	   	loginId = loginId==null?$('#loginId').val():loginId;
    	   	if(loginId==null || loginId==''){
    	   		alert('用户名不能为空！');
    	   		return;
    	   	}
    	   	var borrower = borrowerService.findByLoginId(loginId);
    	   	if(borrower==null){
    	   		alert('用户不存在！');
    	   		return;
    	   	}
    	   	phone = borrower.tel;
    		}
    	   		
    	   try{
      		  service.sendMessageValidateCode(phone);
     	   	}catch(e){
     	   		alert(e.message);
     	   		return;
     	   	}
     		 	var t = 60;
  	    		$('button#sendValCode').attr('disabled', true);
  				setInterval(count,1000);  
  				//显示当前的秒数
  		    	function count(){
  		    	t --;
  		    	//秒数自减 
  		    	if(t >= 0){
  		    		$('button#sendValCode').html(t+'秒后重发');
  		    		//刷新当前的秒数，重新显示秒数
  		    		}else{
  		    			$('button#sendValCode').html('发送验证码');
  		    			$('button#sendValCode').attr('disabled', false);
  		    			clearInterval();
  		    			}
  		    	}
        });
	
})
</script>
</html>