<!DOCTYPE html>
<html lang="zh-cn">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1 user-scalable=no">
<title>上传测试</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="js/uploadify2/uploadify.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" id="spi-render-css-css"
	href="css/image/render.css?ver=3.5.2" type="text/css" media="all" />
<link rel="stylesheet" type="text/css"
	href="css/image/default.include.b2676e.css" media="all" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container-fluid">
		<div class="row" style="border: #eee solid 1px;">
			上传附件:<br>
			<div>
				<select id="typ">
					<!-- <option value="order">订单</option> -->
					<option value="borrower">借款人</option>
				</select> <input id="oid" type="text" size=10></input> <select id="category">
					<option value=0>营业执照(img)</option>
					<option value=1>政采资质(pdf)</option>
				</select>
			</div>
			<div id="fileQueue">
				<input type="file" name="uploadify" id="uploadify" /> <a
					href="javascript:$('#uploadify').uploadify('settings','uploader','/upload/'+$('select#typ').val()+'/1/'+$('select#category').val());
				$('#uploadify').uploadify('upload','*')">上传</a>|
				<a href="javascript:$('#uploadify').uploadify('cancel', '*');">
					清空列表</a>
			</div>
		</div>
		<div class="row" style="border: #eee solid 1px;">
			营业执照:<br>
			<div id="category_0"></div>
			政采资质:<br>
			<div id="category_1"></div>
		</div>
	</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/uploadify2/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="js/image/default.include.c78d4e.js"></script>
<script type="text/javascript" src="js/image/async-share.js?ver=3.5.2"></script>
<script type="text/javascript"
	src="js/image/default.include-footer.304291.js"></script>
<script type="text/javascript"
	src="/resources/EasyServiceClientFullZ.js"></script>
<script type="text/javascript"
	src="/easyservice/gpps.service.IBorrowerService?json"></script>
<script>
var borrowerService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IBorrowerService");
function refreshBorrowerAccessory(){
    var borrowerId=1;
    var items=borrowerService.findMimeItems(borrowerId,0);
    if(items)
    {
    	$("#category_0").empty();
        for(var i=0;i<items.size();i++)
        {
              var item=items.get(i);
              var url="/download/borrower/1/0/"+item.id;
              var aUrl="/imageview/borrower/1/0/"+item.id;
              $("#category_0").append("<div style='width:200px; float:left;'>");
              $("#category_0").append("<div><a class='sit-preview' href='"+aUrl+"'><img src='"+url+"' data-preview-url='"+url+"' style='width:200px; height:150px;'/></a></div>");
              $("#category_0").append("<div><input type='button' style='width:200px;' value='删除' onClick='deleteBorrowerAccessory(1,0,\""+item.id+"\");'/></div>");
              $("#category_0").append("</div>");
        }
    }
    items=borrowerService.findMimeItems(borrowerId,1);
    if(items)
    {
    	$("#category_1").empty();
        for(var i=0;i<items.size();i++)
        {
              var item=items.get(i);
              $("#category_1").append("<a href='/download/borrower/1/1/"+item.id+"'>"+item.fileName+"</a><br/>");
        }
    }
}
function deleteBorrowerAccessory(borrowerId,category,itemId){
	borrowerService.delAccessory(borrowerId,category,itemId);
	refreshBorrowerAccessory();
}
$(document).ready(function () {
refreshBorrowerAccessory();
$("#uploadify").uploadify({   
        'swf'       : 'js/uploadify2/uploadify.swf',   
        'uploader'         : '',//servlet的路径或者.jsp 这是访问servlet 'scripts/uploadif' 
        'auto'     : false,
        'removeCompleted' : true,
        'progressData' : 'percentage',
        'buttonText' : '选择上传文件',
        'fileSizeLimit' : '1GB',
        'fileTypeExts' : '*.*',
        'multi'    : true,
        'requeueErrors' : true,
        'cancelImg'      : 'js/uploadify2/uploadify-cancel.png',   
        'queueID'        : 'fileQueue',
        'fileTypeDesc' : '格式：图片',
        'fileTypeExts' : '*.gif; *.jpg; *.png', 
        'onUploadComplete'  :function(event,queueId,fileObj,response,data){
        	refreshBorrowerAccessory();
        }
    }); 
var type_category = {
	order : ["中标文件"],
	borrower : ["营业执照","政采资质", "法人证件", "办公环境"]
};

$('select#typ').change(function(e){
	var type = $(this).val();
	var cats = type_category[type];
	$('select#category').find('option').remove();
	for(var i=0; i<cats.length; i++){
		$('select#category').append('<option value='+i+'>'+cats[i]+'</option>');
	}
});
$('select#category').change(function(e){
    var value = $(this).val();
    if(value=="0")
   	{
    	$('#uploadify').uploadify('settings','fileTypeDesc','格式：图片');
    	$('#uploadify').uploadify('settings','fileTypeExts','*.gif; *.jpg; *.png');
   	}else if(value=="1")
	{
   		$('#uploadify').uploadify('settings','fileTypeDesc','格式：文档');
        $('#uploadify').uploadify('settings','fileTypeExts','*.doc; *.docx; *.pdf;*.ppt;*.pptx');
	}
    
    
});

});
</script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".sit-preview").smartImageTooltip({previewTemplate: "simple", imageWidth: "600px"});
        jQuery(".adminbar-quick-backup-run a").click(function(e) {
            e.preventDefault();
            var code = jQuery(this).attr("href").substr(11);
            jQuery.ajax({
                type: 'post', success: function(json) { alert(json.message); },
                dataType: 'json', data: { runquick: {id: 1, type: code, control: 0} },
                url: gdpt_ajax_url + '?action=presstools_backup_quick&_ajax_nonce=376ffa5105'
            });
    });
});
</script>
</html>