<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政X融X网</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="css/plugins/timeline/timeline.css" rel="stylesheet">
    
<link href="css/mine.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/cdn/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
  
<div class="container-fluid">
<div class="row" style="padding-left:5px; padding-right:5px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<img src="img/move.jpg" style="width:100%; height:300px;"></img>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:20px; margin-top:10px;">
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
<div style="padding:5px 0 5px 0; border-bottom: dotted 1px;">
    <div style="font-size:14px;margin:0 0 5px 0; font-weight:600;">
	<a href="../activity/index.html" target="_blank">春蕾行动：张家界自驾游 </a><span style="float:right;" class="orange">2014.9.15-2014.9.31火热报名中</span>
    </div>
    <div style="color:#777777; font-size:12px;">
	<img src="../activity/img/zjj.jpg" width="150" height="100" style="float:left;margin-right:8px;"/>
	<p>张家界是湖南一个地级市，位于湖南西北部，属武陵山脉腹地，为中国最重要的旅游城市之一。</p>

	<p>张家界景区共分为四大块：张家界国家森林公园，杨家界自然保护区，天子山自然保护区，索溪峪自然保护区四大景区，统称为武陵源风景名胜区。张家界国家森林公园是中国第一个国家森林公园，景区集神奇、钟秀、雄浑、原始、清新于一体，以岩称奇。园内连绵重叠着数以千计的石峰，奇峰陡峭嵯峨，千姿百态，或孤峰独秀，或群峰相依，造型完美，形神兼备。</p>

	<p>除武陵源核心景区外，武陵源区有“中华最佳洞府”“地下龙宫”黄龙洞、“人间瑶池”宝峰湖、“江南名刹”普光禅寺、土家人的“圣地”土家风情园等等旅游景点。</p>
<div class="clear"></div>
    </div>
</div>



<div style="padding:5px 0 5px 0; border-bottom: dotted 1px;">
    <div style="font-size:14px;margin:0 0 5px 0;font-weight:600">
	<a href="../activity/index.html" target="_blank">春蕾行动：奥森跑步节</a><span style="float:right;" class="orange">2014/10/1-2014/10/1火热报名中</span>
    </div>
    <div style="color:#777777; font-size:12px;">
    <img src="../activity/img/run10.jpg" width="150" height="100" style="float:left;margin-right:8px;"/>
	<p>占地680公顷的奥林匹克森林公园是亚洲最大的城市绿化景观。2008年7月3日落成，紧邻地铁8号线，交通极为便利，出了地铁口就到了。奥森公园分为南园和北园，南园一圈5公里，北园一圈5.7公里，与南园通过一条生态走廊跨越北五环相接，南北园合计10.7公里，南北俯瞰成“8”字形。或者，你也可以东西方向看地图，就成了更有哲学味道的无限符号“∞”，让人们永不止步。</p>
	<p>对爱跑步的人来说，奥森绝对是个理想之所，因为它足够大，好多马拉松爱好者都会在这里进行LSD(长跑训练术语：长距离慢跑)训练，跑个二三十公里，在南北园绕上个两三圈。现在这里可是京城跑友们最喜欢的跑步活动集散地，多个跑步组织，或者说你能想到的全部的北京跑步组织，都会定期来这里跑步，哪个跑步组织要是没在奥森里组织过活动，都不好意思跟人家打招呼。</p>
	<div class="clear"></div>
    </div>
</div>



<div style="padding:5px 0 5px 0; border-bottom: dotted 1px;">
    <div style="font-size:14px;margin:0 0 5px 0;font-weight:600">
	<a href="http://money.163.com/14/0812/13/A3EUS3G400253B0H.html" target="_blank">春蕾行动：徒步穿越阿尔金无人区</a><span style="float:right;" class="orange">2015/4/1-2015/6/1火热报名中</span>
    </div>
    <div style="color:#777777; font-size:12px;">
    <img src="../activity/img/aej.jpg" width="150" height="100" style="float:left;margin-right:8px;"/>
	<p>阿尔金山——中国四大无人区之一，座落在新疆、青海、西藏、甘肃四省交界处,它是青藏高原上被人遗忘的一片净土，它是野生动物的快乐家园，是我国最大的野生动物自然保护区，那里几乎囊括了新疆所有的地形：沙漠、沼泽、草甸、湖泊、戈壁、雪山。</p>

 
	<p>2010年10月跟随深圳企业家摄影协会成功穿越罗布泊无人区，2011年10月协会再次组织穿越阿尔金山无人区，毋庸置疑我即刻报名，因为无论是领队李老师的丰富野外探险经验、还是车辆以及后勤的保障，都给予了我很大的安全感，穿越中国四大无人区原来只是我的一个梦想，而这个梦想正成为现实。</p>
 
	<p>整个行程：乌鲁木齐——若羌——芒崖——石绵——骆驼峰——沙河——祁曼塔格乡——库木库里——卡尔敦——大九坝河——卡尔丘克——库木库里沙漠东段——铜矿——格尔木市</p>
<div class="clear"></div>
    </div>
</div>

<div style="padding:5px 0 5px 0; border-bottom: dotted 1px;">
<a href="#" style="float:right;">更多>>>>></a>
<div style="clear:both;"></div>
</div>

</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

<div class="panel panel-success" style="height:200px; margin-right:-15px;">
<div class="panel-body">
春蕾活动简介: <br>
春蕾活动由春蕾资产管理公司主办，旨在干什么什么什么什么什么事是<br><br>
联系方式：<br>
客服电话：13811111111<br>
QQ号：11111111111<br>
邮箱地址：wangd@calis.eud.cn
</div>

</div>



<div class="panel panel-success" style="height:360px; margin-right:-15px;">
<div class="panel-body">
活动规则: <br>
春蕾活动由春蕾资产管理公司主办，旨在干什么什么什么什么什么事是<br><br>
联系方式：<br>
客服电话：13811111111<br>
QQ号：11111111111<br>
邮箱地址：wangd@calis.eud.cn
</div>

</div>

<div class="panel panel-success" style="height:100px; margin-right:-15px;">
<div class="panel-body">
我要赞助: <br>
春蕾活动由春蕾资产管理公司主办，旨在干什么什么什么什么什么事是<br>
</div>

</div>





</div>


</div>
</div>
</div>
<script src="js/cookies.js"></script>
<script>
$(document).ready(function() {
	window.parent.justify(document.body.scrollHeight);
})
</script>
</body>
</html>