<!DOCTYPE html>
<html lang="zh-cn">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政采贷</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/mine.css" rel="stylesheet">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/cdn/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="container-fluid">
<div class="row" style="padding-left:5px; padding-right:5px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="row" style="margin-top:5px;">
<div class="col-xs-12 col-sm-2 col-md-2">
<img src="img/logo.jpg" style="width:100%;height:auto;"></img>
</div>




<div class="hidden-xs col-sm-10 col-md-10">
<div class="btn-group btn-group-lg  btn-group-justified" style="background-color:#fff; width:100%;">

<div class="btn-group">
<a class="btn btn-default action btn-lg" data-sk="index">首页</a>
</div>
<div class="btn-group">
<a class="btn btn-default action btn-lg" data-sk="productlist">我要理财</a>
</div>
<div class="btn-group">
<a class="btn btn-default action btn-lg" data-sk="loan">我要融资</a>
</div>
<div class="btn-group">
<a class="btn btn-default action btn-lg" data-sk="myaccount">我的账户</a>
</div>
<div class="btn-group">
<a class="btn btn-default action btn-lg" data-sk="activity">活动中心</a>
</div>
<div class="btn-group" id="login_button">

</div>

</div>
</div>




</div>




<div class="row" style="margin-top:5px;">

	<iframe id="container_content" src="#" style="width:100%;" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>

</div>










<div class="row foot" style="border: #eee solid 1px; background:#eee; height:120px; font-size:12px;">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-bottom : #999 dotted 1px; padding : 10px 10px 10px 10px;">
<strong>友情链接:</strong><a href="#">网贷天眼</a><a href="#">网贷之家</a><a href="#">融投贷</a><a href="#">陆金所</a><a href="#">人人贷</a>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding : 10px 10px 10px 10px;">
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:center; color:#999">
政采贷  Copyright © 2013-2014. All rights reserved<br>
地址：北京XXXXXXXXXXX国际大厦<br>
京ICP备14001357号-3
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
<img src="img/cx.jpg"></img>
<img src="img/hftxlogo.jpg"></img>
<img src="img/wxrz.jpg"></img>
</div>
</div>

</div>


</div>
</div>
</div>





<script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>
    <script src="js/mine.js"></script>
<script src="js/cookies.js"></script>
<script src="js/gpps/data.js"></script>
<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
		<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
<script>
var service = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.ILenderService");



var index = {};
index['url'] = 'index.html';
index['height'] = '1380px';

var productlist = {};
productlist['url'] = 'productlist.html';
productlist['height'] = '800px';

var login = {};
login['url'] = 'login.html';
login['height'] = '400px';


var register = {};
register['url'] = "register.html";
register['height'] = '800px;'


var myaccount = {};
myaccount['url'] = 'temp.html';
myaccount['height'] = '700px';


var activity = {};
activity['url'] = 'activity.html';
activity['height'] = '800px';


var loan = {};
loan['url'] = 'loan.html';
loan['height'] = '460px';


var logined = {};
logined['url'] = 'myaccount.html';
logined['height'] = '700px';


var quit = {};
quit['url'] = 'quit.html';
quit['height'] = '200px;'

var recharge = {};
recharge['url'] = 'recharge.html';


var nav = {};
nav['index'] = index;
nav['productlist'] = productlist;
nav['login'] = login;
nav['register'] = register;
nav['myaccount'] = myaccount;
nav['loan'] = loan;
nav['logined'] = logined;
nav['quit'] = quit;
nav['activity'] = activity;
nav['recharge'] = recharge;



function refreshNav(){
	var cuser = service.getCurrentUser();
	if(cuser==null){
		var a_login = $('<a class="btn btn-default action btn-lg" data-sk="login">登录</a>');
		$('#login_button').find('a').remove();
		$('#login_button').find('ul').removeClass().remove();
		$('#login_button').html('');
		$('#login_button').append(a_login);
		a_login.bind('click', function(e){
			toward($(this).attr('data-sk'));
		});
		
		}else{
			
			$('#login_button').find('a').remove();
			$('#login_button').find('ul').removeClass().remove();
			$('#login_button').html('');
			
			var a = $('<a></a>').addClass("btn btn-default btn-lg").attr('data-toggle', 'dropdown').html(' 个人中心<span class="caret"></span>');
			var u = $('<ul></ul>').addClass("dropdown-menu").attr('role', 'menu');
			u.append($('<li><font size=4 weight=bold>下午好：'+cuser.loginId+'</font></li>'));
			u.append('<li class="divider"></li>');
			var recharge = $('<a href="#" data-sk="recharge">我要充值</a>');
			u.append($('<li></li>').append(recharge));
			recharge.click(function(e){
				towardWithoutRefresh('recharge');
			});
			
			
			u.append('<li><a href="#">我要提现</a></li>');
			
			
			
			var a_quit = $('<a href="#">退出</a>');
			a_quit.click(function(e){
				towardWithoutRefresh('quit');
			})
			
			u.append($('<li></li>').append(a_quit));
		
			$('#login_button').append(a);
			$('#login_button').append(u);
		}
		}

		function towardWithoutRefresh(name){
			$('a.action').removeClass('active');
			
			
			var title = name;
			if(title=='logined'){
				title='myaccount';
			}
			
			$('a.action[data-sk='+title+']').addClass('active');
			var url = nav[name]['url'];
			//var height = nav[name]['height'];
			$('#container_content').attr('src', url);
			//.css('height', height);
		}

		function justify(height){
			$('iframe#container_content').css('height', height+'px');
		}

		function toward(name){
			
			
			refreshNav();
			
			
			$('a.action').removeClass('active');
			
			
			var title = name;
			if(title=='logined'){
				title='myaccount';
			}
			
			$('a.action[data-sk='+title+']').addClass('active');
			var url = nav[name]['url'];
			//var height = nav[name]['height'];
			$('#container_content').attr('src', url);
			//.css('height', height);
		}
		
		
		
		
		
		
         $(document).ready(function () {
        	 
        	 
        	 
        	 
        	 		toward('index');
					
					
					
					$('a.action').click(function(e){
						toward($(this).attr('data-sk'));
					})
					
					

                     })
 </script>


</body>
</html>