<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>政采贷</title>
    <link rel="stylesheet" type="text/css" href="css/new-lufax-main.css">
    <link rel="stylesheet" type="text/css" href="css/new-lufax.css">
    <link rel="stylesheet" type="text/css" href="css/detail/productDetail.css">
    <script src="js/cdn/jquery.min.js"></script>
    </head>
 
<body>
 
 
    
 
 
 
<div class="main-wrap">
 
<div class="content-head clearfix">
    <ul class="breadcrumb">
        <li><a href="index.html">政采贷首页</a> <span class="divider">&gt;</span></li>
        <li id="productseries"></li>
        <li class="active">项目详情</li>
    </ul>
</div>
 
<div class="product-detail">
    <div class="product-detail-head">
        <div class="product-name-info">
            <span id="product-title" style="font-size:16px; font-weight:bold; color:orange;"></span>
            <span id="product-code" class="product-code" style="margin-left:20px;"></span>
                                                <span class="detail-promotion"></span>
        </div>
        <p id="product-published-date" class="product-published-date">
            			发布时间：2014-09-01 14:17:00
        </p>
    </div>
 
    <div class="product-detail-body clearfix">
        <div class="product-detail-info">
            <ul class="clearfix detail-info-list">
                <li>
                    <p>项目本金</p>
 
                    <p><strong id="totalAmount">177,000.00 元</strong></p>
                </li>
                <li>
                    <p>预期年化利率</p>
 
                    <p><strong id="rate" class="tips-title" title="按照中国人民银行同期贷款基准利率上浮40%">12%</strong>
                    </p>
                </li>
                <li>
                    <p>最长期限</p>
 
                    <p>
                        <strong id="duration">36个月</strong>
                    </p>
                </li>
                <li class="last-col">
                    <p>产品类型</p>
                                                                        <td class="descriptData raise-data">
                                <a class="tips-title" href="plIntroduction.html" target="_blank" title="查看稳健型产品的详细说明">
                                    <strong id="pseriestitle">稳健型</strong></a>
                            </td>
                                            
                </li>
            </ul>
            <div class="income-count clearfix">
                <p id="productdescription">本产品由XXX担保公司进行本息担保，项目设置最迟还款期限，但是根据政府订单的回款情况可能提前还款。</p>
 
            </div>
            <div class="other-detail-info clearfix">
                                    <div class="progress-wrap clearfix">
                        <p class="progress-label">项目进度：</p>
 
                        <div class="progress">
                            <div class="bar" id="progressBar" style="width:22px;"></div>
                        </div>
                        <span id="progressTxt" class="progressTxt">15%</span>
                    </div>
                                            </div>
                        <div class="invest-reward-wrap clearfix">
                <p class="reward-label">还款模式：</p>
                  <div class="invest-reward-body">
                              <span id="reward-info" class="reward-info clearfix">
        按月还息，到期一次性还本
     </span>
    
 
 
 
                  </div>
            </div>
            
        </div>
        
        
        
        
        <div class="product-detail-status">
            <div class="product-detail-status-inner">
 
                 <div class="raise-status-wrap">
            <div class="raise-status-online">
                <p id="remainamount" class="remaining-amount">
                                                                              剩余可投金额：<strong>177,000.00元</strong>
                </p>
                <label id="stateMessage">请填写投资金额：</label>
                    <div class="raise-operate operate clearfix">
                        <div id="inputAmount" class="inputs-gather clearfix">
                            <a class="reduce-btn disabled" disabled="disabled"></a>
                            <input type="text" class="raise-input" id="raiseAmount"
                                   value="1000">
                            <a class="plus-btn disabled" disabled="disabled"></a>
                        </div>
 
                        <a class="btns btn_xlarge investBtn" href="javascript:void(0);" id="invest">立即投资</a>
                    </div>
            <div class="showStatus">

            <div class="balanceAmount">
            <p id="loginstatus" class="balanceAmountCon clearfix">
            <a href="recharge.html" style="margin-right:20px;">充值</a>
                		账户可用余额：<span class="amountFormat">19000</span> 元
            </p>
</div>    

                    </div>
 
                    <div id="init-add" class="markUpInfo">
                        <p class="mark-up-info">
                            <span id="initAmount">起投金额：1,000.00元</span>
                            <span id="addAmount">递增金额：100元</span>
                        </p>
                    </div>
                                
            </div>
    
</div>                            </div>
        </div>
        
        
        
    </div>
</div>
 
 
<div class="detail-content-wrap clearfix">
    <div class="detail-content">
        <div class="detail-content-head clearfix">
            
            
            
            <ul class="list-detail-wrap clearfix">
    			<li class="selected"><a href="javascript: void(0);" data-sk="basic"><span class="min-price">项目详情</span></a></li>
    			<li class=""><a href="javascript: void(0);" data-sk="payback"><span class="min-price">还款计划</span></a></li>
    			<li class=""><a href="javascript: void(0);" data-sk="resource"><span class="min-price">相关资料</span></a></li>
    			<li class=""><a href="javascript: void(0);" data-sk="action"><span class="min-price">项目进程</span></a></li>
    			<li class=""><a href="javascript: void(0);" data-sk="video"><span class="min-price">签约视频</span></a></li>
			</ul>
            
            
            
            
        </div>
        <div class="detail-content-body">
                                               
                            
            
            
            
 
        </div>
    </div>
 
    <div class="detail-sidebar">
                    <div class="invest-record">
                                    <div class="invest-record-title">投资记录</div>
                    <table class="invest-record-list">
                        <tbody id="invest-record">
                        <tr>
                            <th>投资人</th>
                            <th>金额（元）</th>
                            <th>时间</th>
                            </tr>
                            
                        </tbody>
                    </table>
                
                <div id="invest-record-history">
 
                </div>
            </div>
        
                    <div class="noticeQuestion">
    <div class="clearfix head">
        <h3 class="title">常见问题</h3>
        <span class="more">
            <a href="help.html" target="_blank">更多</a><span>&gt;</span>
        </span>
    </div>
    <ul class="contentList">
                    <li>
                <b></b><a href="#" title="投资人是否要支付费用？" target="_blank">投资人是否要支付费用？</a>
            </li>
                    <li>
                <b></b><a href="#" title="我通过稳盈-安e达成的交易有什么风险吗？" target="_blank">我通过稳盈-安e达成的交易有什么风险吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="我可以投资吗？ " target="_blank">我可以投资吗？ </a>
            </li>
                    <li>
                <b></b><a href="#" title="债权出让人向陆金所提交转让申请的规则是什么？" target="_blank">债权出让人向陆金所提交转让申请的规则是什么？</a>
            </li>
                    <li>
                <b></b><a href="#" title="转让需要支付什么费用吗？" target="_blank">转让需要支付什么费用吗？</a>
            </li>
            </ul>
</div>        
    </div>
</div>
 
 
</div>


 
 <script src="js/cdn/jquery.min.js"></script>
 <script src="js/gpps/tool.js"></script>
 <script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
 <script type="text/javascript"
				src="/easyservice/gpps.service.IGovermentOrderService?json"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.IProductSeriesService?json"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.IProductService?json"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.ILenderService?json"></script>
<script type="text/javascript"
		src="/easyservice/gpps.dao.ILenderAccountDao?json"></script>
<script type="text/javascript"
		src="/easyservice/gpps.service.ISubmitService?json"></script>
<script type="text/javascript"
		src="/easyservice/gpps.service.IPayBackService?json"></script>
<script type="text/javascript"
		src="/easyservice/gpps.service.IBorrowerService?json"></script>	
<script type="text/javascript"
		src="/easyservice/gpps.service.IProductActionService?json"></script>				
 <script>
 
 var paybackState={0: '待还款', 1 : '正在还款', 2: '已还款', 3: '延期'};
 
 
  $(document).ready(function () {
	  
	  var seriesService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IProductSeriesService");
 	 var orderService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IGovermentOrderService");
 	var productService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IProductService");
 	var lenderService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.ILenderService");
 	var accountDao = EasyServiceClient.getRemoteProxy("/easyservice/gpps.dao.ILenderAccountDao");
 	var submitService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.ISubmitService");
 	var paybackService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IPayBackService");
 	var borrowerService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IBorrowerService");
 	var productActionService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IProductActionService");
 	var pid = getQueryString('pid');
 	
 	var order = null;
 	var borrower = null;
 	var series = null;
 	var product = null;
 	var paybacks = null;
 	var submits = null;
 	var seriesname = {};
 	
 	try{
 	
 	order = orderService.findGovermentOrderByProduct(parseInt(pid));
 	for(var i=0; i<order.products.size(); i++){
 		if(order.products.get(i).id==parseInt(pid)){
 			product = order.products.get(i);
 			break;
 		}
 	}
 	borrower = borrowerService.find(order.borrowerId);
 	series = seriesService.find(product.productseriesId);
 	
 	submits = submitService.findPayedSubmitsByProduct(product.id, 0, 10);
 	
 	var allseries = seriesService.findAll();
 	for(var i=0; i<allseries.size(); i++){
 		seriesname[allseries.get(i).id] = allseries.get(i);
 	}
 	
	paybacks = paybackService.findAll(product.id);
 	
 	}catch(e){
 		alert(e);
 		$('body').html('获取产品信息出错！');
 		return;
 	}
 	
 	$('li#productseries').html('<a href="productlist.html?sid='+product.productseriesId+'">'+seriesname[product.productseriesId].title+'</a> <span class="divider">&gt;</span>');
 	$('span#product-title').html(order.title+'['+seriesname[product.productseriesId].title+']');
 	
 	var str = "";
 	for(var i=0; i<order.products.size(); i++){
 		if(order.products.get(i).id!=parseInt(pid)){
 			var pro = order.products.get(i);
 			str += '&nbsp;&nbsp;<a style="color:#999;" href="productdetail.html?pid='+pro.id+'">'+seriesname[pro.productseriesId].title+'</a>';
 		}
 	}
 	
 	$('span#product-code').html(str);
 	$('p#product-published-date').html('发布时间： '+formatDateToDay(order.createtime));
 	
 	$('#totalAmount').html(product.expectAmount.value+"元");
 	
 	$('#raiseAmount').val(product.minimum);
 	$('#initAmount').html('起投金额：'+product.minimum+'元');
 	$('#addAmount').html('递增金额：'+product.miniAdd+'元');
 	$('#rate').html(parseInt(parseFloat(product.rate.value)*100)+"%");
 	$('#duration').html(parseInt((product.incomeEndtime-order.incomeStarttime+23*3600*1000)/(24*3600*1000))+'天');
 	$('#pseriestitle').html(series.title);
 	$('#remainamount').html( '剩余可投金额：<strong>'+(parseInt(product.expectAmount.value)-parseInt(product.realAmount.value))+'元</strong>');
 	
 	$('#productdescription').html(seriesname[product.productseriesId].description);
 	$('#progressTxt').html((parseInt(product.realAmount.value)*100/parseInt(product.expectAmount.value)).toFixed(2)+"%");
 	$('#progressBar').css('width', parseInt(product.realAmount.value)*145/parseInt(product.expectAmount.value)+'px');
 	$('#reward-info').html(seriesname[product.productseriesId].typeDetail);
 	
 	
 	if(order.state==2){
 		$('#remainamount').html('开始融资时间：'+formatDateToDay(order.financingStarttime));
 		$('#stateMessage').html('剩余可投金额：'+parseInt(product.expectAmount.value)+'元');
 		$('a#invest').addClass('disabled').attr('disabled',"disabled").text('预发布');
 		$('#inputAmount').css('display', 'none');
 	}
 	else if(product.state==1 && (parseInt(product.expectAmount.value)-parseInt(product.realAmount.value))==0){
 		$('#remainamount').html('产品已售罄');
 		$('a#invest').addClass('disabled').attr('disabled',"disabled");
 	}else if(product.state==2){
 		$('#remainamount').html('融资完成，正在还款');
 		$('#stateMessage').html('共融资金'+product.realAmount.value+'元');
 		$('a#invest').addClass('disabled').attr('disabled',"disabled").text('还款中');
 		$('#inputAmount').css('display', 'none');
 		$('#init-add').css('display', 'none');
 	}else if(product.state==4){
 		$('#remainamount').html('融资失败，流标');
 		$('#stateMessage').html('实际融资额不足');
 		$('a#invest').addClass('disabled').attr('disabled',"disabled").text('流标');
 		$('#inputAmount').css('display', 'none');
 		$('#init-add').css('display', 'none');
 	}else if(product.state==8){
 		$('#remainamount').html('还款完成');
 		$('#stateMessage').html('共融资金'+product.realAmount.value+'元');
 		$('a#invest').addClass('disabled').attr('disabled',"disabled").text('还款完成');
 		$('#inputAmount').css('display', 'none');
 		$('#init-add').css('display', 'none');
 	}
 	
 	var subs = submits.get('result');
 	if(subs!=null)
 		{
 	for(var i=0; i<subs.size(); i++){
 		$('#invest-record').append('<tr><td>'+subs.get(i).lenderName+'</td><td>'+subs.get(i).amount.value+'</td><td>'+formatDateToDay(subs.get(i).createtime)+'</td></tr>');
 	}
 		}
 	
 	
 	$('a#invest').click(function(e){
 		var cuser = lenderService.getCurrentUser();  
 		if(cuser==null){
 			if(confirm('登录后才能购买产品，现在登录？')){
 				window.parent.toward("login");
 			}
 			return;
 		}
 		
 		try{
 		var oid = submitService.buy(parseInt(pid), parseInt($('#raiseAmount').val()));
 		window.open("/account/buy/request?submitId="+oid, "", "toolbar=yes, menubar=yes, scrollbars=yes, resizable=yes, fullscreen = yes");
 		if(confirm('购买是否成功？')){
				window.parent.toward("myaccount");
			}else{
				window.parent.toward("myaccount");
			}
 		}catch(e){
 			alert(e.message);
 		}
 	});
 	
	  window.parent.justify(document.body.scrollHeight);
	  
        	 $('ul.list-detail-wrap li a').click(function(e){
        		 $('ul.list-detail-wrap').find('li').removeClass('selected');
        		 $(this).parent().addClass('selected');
        		if($(this).attr('data-sk')=='payback'){
        			$('.detail-content-body').html('<p>收益如下所示：</p>');
        			$('.detail-content-body').append('<br>');
        			$('.detail-content-body').append('<br>');
        			var table = $('<table border=1 width=100%></table>');
        			table.append('<tr><td>序号</td><td>本金</td><td>利息</td><td>预计还款时间</td><td>实际还款时间</td><td>状态</td></tr>');
        			for(var t=0; t<paybacks.size(); t++){
        				var paybackTime = (paybacks.get(t).state==2)?formatDateToDay(paybacks.get(t).realtime) : '-';
        				table.append('<tr style="height:50px;"><td>'+(t+1)+'</td><td>'+paybacks.get(t).chiefAmount.value+'</td><td>'+paybacks.get(t).interest.value+'</td><td>'+formatDateToDay(paybacks.get(t).deadline)+'</td><td>'+paybackTime+'</td><td>'+paybackState[paybacks.get(t).state]+'</td></tr>');
        			}
        			$('.detail-content-body').append(table);
        			$('.detail-content-body').append('<br>');
        			$('.detail-content-body').append('<br>');
        			$('.detail-content-body').append('<div class="comments"><p class="asterisk">说明：</p><p class="item">每期实际收款日期、金额以最终到账为准，本项目最终解释权归春蕾投资管理有限公司所有。</p></div>');
        		}else if($(this).attr('data-sk')=='basic'){
        			var table = $('<table class="product-description"></table>');
        			table.append('<tr><td>收益方式：</td><td><span class="tips-title">每月还息，到期还本</span></td></tr>');
        			table.append('<tr><td>担 保：</td><td><span class="tips-title">X担保</span></td></tr>');
        			table.append('<tr><td>收益起始日期：</td><td>'+formatDateToDay(order.incomeStarttime)+'</td></tr>');
        			table.append('<tr><td>最晚还款日期：</td><td>'+formatDateToDay(product.incomeEndtime)+'</td></tr>');
        			table.append('<tr><td>项目简介：</td><td>'+order.description+'</td></tr>');
        			table.append('<tr><td>融资方：</td><td>'+borrower.companyName+'</td></tr>');
        			$('.detail-content-body').html('');
        			$('.detail-content-body').append(table);
        		}else if($(this).attr('data-sk')=='action'){
        			actions = productActionService.findAllByProduct(product.id);
        			var table = $('<table border=1 width=100%></table>');
        			table.append('<tr><td>序号</td><td>时间</td><td>名称</td><td>详细信息</td><td>状态</td></tr>');
        			for(var t=0; t<actions.size(); t++){
        				table.append('<tr style="height:50px;"><td>'+(t+1)+'</td><td>'+formatDateToDay(actions.get(t).createtime)+'</td><td>'+actions.get(t).title+'</td><td>'+actions.get(t).detail+'</td><td>'+actions.get(t).type+'</td></tr>');
        			}
        			$('.detail-content-body').html('');
        			$('.detail-content-body').append(table);
        		}else if($(this).attr('data-sk')=='resource'){
        			$('.detail-content-body').html('相关资料展示');
        		}else if($(this).attr('data-sk')=='video'){
        			$('.detail-content-body').html('视频展示');
        		}
        		
        		window.parent.justify(document.body.scrollHeight);
        	 });
        	 
        	 $('ul.list-detail-wrap li.selected a').trigger('click');
        	 
        	 
     var cuser = lenderService.getCurrentUser();  
     if(cuser==null){
    	 $('p#loginstatus').html('<a href="login.html" style="margin-right:20px;">登录</a>您尚未登录');
     }else{
    	 var account = accountDao.find(cuser.accountId);
    	 $('p#loginstatus').html('<a href="recharge.html" style="margin-right:20px;">充值</a>账户可用余额：<span class="amountFormat">'+account.usable.value+'</span> 元');
     }
        	 
        	 
         });
 </script>
    </body>
</html>