<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>投资超市</title>
    <meta name="keywords" content="政采贷">
    <link rel="shortcut icon" href="index/images/favicon.ico">
 
    <link rel="stylesheet" type="text/css" href="css/new-lufax-main.css">
                <link rel="stylesheet" type="text/css" href="css/new-lufax.css">
                <link rel="stylesheet" type="text/css" href="css/gpps/productlist.css">
</head>
 
<body>
 
    
<div class="main-wrap">
    <ul class="breadcrumb">
        <li><a href="javascript:void(0);" onclick="window.location.reload(true)">投资频道</a> <span class="divider">&gt;</span></li>
        <li id="nav_name" class="active">稳健型</li>
    </ul>
    <ul id="plnav" class="plnav list-nav-wrap clearfix">
    
	</ul>
<div class="service-intro clearfix">
    <p class="service-intro-title">
        服务介绍
        <b></b>
    </p>
    <div class="service-intro-con">
                    <p>
	预期年化利率 ：<span style="color:#ff0000;">6.0%~7.0% </span>&nbsp; &nbsp; &nbsp; &nbsp;投资金额： 1000 元起 &nbsp; &nbsp; &nbsp; &nbsp;投资期限： 3-12个月 &nbsp; &nbsp; &nbsp; &nbsp;收益方式：一次性还本付息 &nbsp; &nbsp; &nbsp;<a href="plIntroduction.html" target="_blank">了解详情</a></p>
                                            </div>
</div>
    <div class="list-wrap clearfix">
        <div class="list-content">
            <div class="table-title-wrap clearfix">
                <span class="table-title">项目列表</span>
                <div class="table-product-event">
                                    </div>
            </div>
            <div class="list-table-wrap" id="list-table-wrap">
                <ul class="list-table">
                </ul>
 
			
                <div class="cpagination ui_complex_pagination">
                <span class="btns disabled btn_page btn_small first">首页</span>
                <span class="btns disabled btn_page btn_small prev"><span class="caret">&lt;</span> 上一页</span>
 
                <p class="pageNum">第1页/共1页</p>
                <a class="btns disabled btn_page btn_small next" href="javascript:void(0)" id="nextPage">下一页<span
                        class="caret">&gt;</span></a>
                <a class="btns disabled btn_page btn_small last" href="javascript:void(0)" id="lastPage">尾页</a>
            </div>
                
 
            </div>
            
 
        </div>
        <div class="list-sidebar">
 
            <div class="news-notice sidebar-panels">
                <a href="help.html" target="_blank"
                   class="news-notice-head clearfix">
                    <span class="info">常见问题</span>
                    <span class="more">&gt;</span>
                </a>
 
                <div class="news-notice-body">
                    <ul class="news-notice-list faq-list" data-sk="稳健型-FAQ">
                                     <li>
                <b></b><a href="#" title="平安养老险发行的“富盈人生养老保障管理产品”介绍" target="_blank">稳健型产品XXXXXXXXXX介绍</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目本金和预期收益率有保证吗？" target="_blank">“稳健型”项目本金和预期收益率有保证吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目投资本息如何返还？" target="_blank">“稳健型”项目投资本息如何返还？</a>
            </li>
                    <li>
                <b></b><a href="#" title="投资人可以提前收回投资或提前解约吗？" target="_blank">投资人可以提前收回投资或提前解约吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="如何计算我的预期收益？" target="_blank">如何计算我的预期收益？</a>
            </li>
            <li>
                <b></b><a href="#" title="平安养老险发行的“富盈人生养老保障管理产品”介绍" target="_blank">稳健型产品XXXXXXXXXX介绍</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目本金和预期收益率有保证吗？" target="_blank">“稳健型”项目本金和预期收益率有保证吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目投资本息如何返还？" target="_blank">“稳健型”项目投资本息如何返还？</a>
            </li>
                    <li>
                <b></b><a href="#" title="投资人可以提前收回投资或提前解约吗？" target="_blank">投资人可以提前收回投资或提前解约吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="如何计算我的预期收益？" target="_blank">如何计算我的预期收益？</a>
            </li>
                            </ul>
                </div>
            </div>
            
            
            
             <div class="news-notice sidebar-panels">
                <a href="help.html" target="_blank"
                   class="news-notice-head clearfix">
                    <span class="info">新手帮助</span>
                    <span class="more">&gt;</span>
                </a>
 
                <div class="news-notice-body">
                    <ul class="news-notice-list faq-list" data-sk="稳健型-FAQ">
                                     <li>
                <b></b><a href="#" title="平安养老险发行的“富盈人生养老保障管理产品”介绍" target="_blank">稳健型产品XXXXXXXXXX介绍</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目本金和预期收益率有保证吗？" target="_blank">“稳健型”项目本金和预期收益率有保证吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目投资本息如何返还？" target="_blank">“稳健型”项目投资本息如何返还？</a>
            </li>
                    <li>
                <b></b><a href="#" title="投资人可以提前收回投资或提前解约吗？" target="_blank">投资人可以提前收回投资或提前解约吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="如何计算我的预期收益？" target="_blank">如何计算我的预期收益？</a>
            </li>
            <li>
                <b></b><a href="#" title="平安养老险发行的“富盈人生养老保障管理产品”介绍" target="_blank">稳健型产品XXXXXXXXXX介绍</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目本金和预期收益率有保证吗？" target="_blank">“稳健型”项目本金和预期收益率有保证吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目投资本息如何返还？" target="_blank">“稳健型”项目投资本息如何返还？</a>
            </li>
                    <li>
                <b></b><a href="#" title="投资人可以提前收回投资或提前解约吗？" target="_blank">投资人可以提前收回投资或提前解约吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="如何计算我的预期收益？" target="_blank">如何计算我的预期收益？</a>
            </li>
                            </ul>
                </div>
            </div>
        </div>
    </div>
 
</div>
<script src="js/cdn/jquery.min.js"></script>
<script src="js/gpps/tool.js"></script>
<script src="js/gpps/data.js"></script>
<script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
<script type="text/javascript"
				src="/easyservice/gpps.service.IGovermentOrderService?json"></script>
<script type="text/javascript"
				src="/easyservice/gpps.dao.IProductSeriesDao?json"></script>
 	<script>
 	var seriesname = {};
 	function refreshList(orders){
 		var total = orders.get('total');
    	var rst = orders.get('result');
    	
    	$('ul.list-table li').remove();
    	for(var i=0; i<rst.size(); i++){
    	
    	$('ul.list-table').append(createProduct2(rst.get(i)));
    	
    	}
 	}
 	
         $(document).ready(function () {
        	 
        	 var sid = getQueryString('sid');
        	 
        	 var seriesDao = EasyServiceClient.getRemoteProxy("/easyservice/gpps.dao.IProductSeriesDao");
        	 var orderService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IGovermentOrderService");
        	 var series = seriesDao.findAll();
        	 var li1 = $('<li class="selected"></li>');
        	 var a1 = $('<a href="#" data-sk="all"><span class="min-price">全部</span></a>');
        	 $('li#nav_name').html('全部');
        	 li1.append(a1);
        	 a1.click(function(e){
        		 $(this).parent().parent().find('li').removeClass('selected');
        		 $(this).parent().addClass('selected');
        		 $('li#nav_name').html('全部');
        		 var orders = orderService.findByStatesByPage(-1,0,10);
        		 refreshList(orders);
        		 $('a.constructure').on('click', function(e){
                	   var info = $(this).parents('li').find('div.productinfo');
                	  	if(info.css('display')=='block'){
                	  		info.css('display', 'none');
                	  		var stat = $(this).parents('li').find('div.stat');
                	  		if(stat.text()=='投资中'){
                	  			stat.removeClass('stategrey').addClass('state');
                	  		}else if(stat.text()=='预发布'){
                	  			stat.removeClass('stategrey').addClass('stategreen');
                	  		}
                	  	}else{
                	  		//$('ul#productlist li').find('div.productinfo').css('display', 'none');
                	  		info.css('display', 'block');
                	  		var stat = $(this).parents('li').find('div.stat');
                	  		stat.removeClass('state').removeClass('stategreen').addClass('stategrey');
                	  	}
                	  	window.parent.justify(document.body.scrollHeight);
                   });
        	 });
        	 $('ul.plnav').append(li1);
        	 for(var i=0; i<series.size(); i++){
        		 var id = series.get(i).id;
        		 seriesname[id] = series.get(i).title;
        		 var lis = $('<li></li>');
        		 var ass = $('<a id="'+id+'" href="#" data-sk='+series.get(i).id+'><span class="min-price">'+series.get(i).title+'</span></a>');
        		 lis.append(ass);
        		 $('ul.plnav').append(lis);
        		 ass.click(function(e){
        			 $(this).parent().parent().find('li').removeClass('selected');
            		 $(this).parent().addClass('selected');
            		 $('li#nav_name').html($(this).text());
        			 var orders = orderService.findGovermentOrderByProductSeries(parseInt($(this).attr('id')),-1,0,10);
        			 refreshList(orders);
        		 })
        	 }
        	 
        	 //a1.trigger('click');
        	 if(sid==null){
        		 a1.trigger('click');
        	 }else{
        	 $('a#'+sid).trigger('click');
        	 }
        	 
        	 
        	 window.parent.justify(document.body.scrollHeight);
        	 
        	 
        	 $('a.constructure').on('click', function(e){
          	   var info = $(this).parents('li').find('div.productinfo');
          	  	if(info.css('display')=='block'){
          	  		info.css('display', 'none');
          	  		var stat = $(this).parents('li').find('div.stat');
          	  		if(stat.text()=='投资中'){
          	  			stat.removeClass('stategrey').addClass('state');
          	  		}else if(stat.text()=='预发布'){
          	  			stat.removeClass('stategrey').addClass('stategreen');
          	  		}
          	  	}else{
          	  		//$('ul#productlist li').find('div.productinfo').css('display', 'none');
          	  		info.css('display', 'block');
          	  		var stat = $(this).parents('li').find('div.stat');
          	  		stat.removeClass('state').removeClass('stategreen').addClass('stategrey');
          	  	}
          	  	window.parent.justify(document.body.scrollHeight);
             });
        	 
        	 
         });
         </script>
    </body>
</html>

