<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>投资超市</title>
    <meta name="keywords" content="政采贷">
    <link rel="shortcut icon" href="index/images/favicon.ico">
 
    <link rel="stylesheet" type="text/css" href="css/lufax-main.css">
                <link rel="stylesheet" type="text/css" href="css/bigList.css">
</head>
 
<body>
 
    
<div class="main-wrap">
    <ul class="breadcrumb">
        <li><a href="index.html">政采贷首页</a> <span class="divider">&gt;</span></li>
        <li><a href="javascript:void(0);" onclick="window.location.reload(true)">投资频道</a> <span class="divider">&gt;</span></li>
        <li id="nav_name" class="active">稳健型</li>
    </ul>
    <ul class="list-nav-wrap clearfix">
    <li class="selected"><a href="#" data-sk="稳健型"><i class="product-icon fy-icon"></i><span class="min-price">稳健型</span><span class="counts" id="list-nav-fy"></span></a></li>
    <li class=""><a href="#" data-sk="平衡型"><i class="product-icon ayi-icon"></i><span class="min-price">均衡型</span><span class="counts" id="list-nav-ayi"></span></a></li>
    <li class=""><a href="#" data-sk="进取型"><i class="product-icon aye-icon"></i><span class="min-price">进取型</span><span class="counts" id="list-nav-aye"></span></a></li>
    <li class=""><a href="#" data-sk="债券基金"><i class="product-icon zx-icon"></i><span class="min-price">债券基金</span><span class="counts" id="list-nav-zx"></span></a></li>
    <li class=""><a href="#" data-sk="其他理财"><i class="product-icon zx-icon"></i><span class="min-price">其他理财</span><span class="counts" id="list-nav-zx"></span></a></li>
</ul>
<div class="service-intro clearfix">
    <p class="service-intro-title">
        服务介绍
        <b></b>
    </p>
    <div class="service-intro-con">
                    <p>
	预期年化利率 ：<span style="color:#ff0000;">6.0%~7.0% </span>&nbsp; &nbsp; &nbsp; &nbsp;投资金额： 1000 元起 &nbsp; &nbsp; &nbsp; &nbsp;投资期限： 3-12个月 &nbsp; &nbsp; &nbsp; &nbsp;收益方式：一次性还本付息 &nbsp; &nbsp; &nbsp;<a href="plIntroduction.html" target="_blank">了解详情</a></p>
                                            </div>
</div>
    <div class="list-wrap clearfix">
        <div class="list-content">
            <div class="table-title-wrap clearfix">
                <span class="table-title">项目列表</span>
                <div class="table-product-event">
                                    </div>
            </div>
            <div class="list-table-wrap list-table-fy" id="list-table-wrap">
                <ul class="list-table" id="FuYingProducts" data-sk="富盈人生列表-项目列表">
                
                   <li class="clearfix fy-list">
   						<dl class="financial_list_box">
   							<dt>
                				<a href="productDetail" target="_blank" class="detail" title="123123">融资产品一</a>
   								<i class="iconV2 cash-back-icon" title=ttt></i>
   
   							</dt>
            				<dd class="rate">预期年化收益率：<span class="warm">123</span></dd>
            				<dd class="deadline">投资期限：<span>234</span></dd>
            				<dd class="data">发布日期：<span>345</span></dd>
        				</dl>
   						<div class="product_status clearfix">
            				<div class="online_status">
            				<p class="sum_tit">投资金额</p>
            				<p class="checked"><span>2000</span> 元 起</p>
            				<a href="productdetail.html" target="_blank" class="btns invest-btn" data-request-code="ttt">投资</a>
            				</div>
        				</div>
    				</li>
    				
    				
    				<li class="clearfix">
        
    <div class="product-status">
        <p class="product-name">
            <a href="productdetail.html"  target="_blank">融资项目四</a>
                 <i class="iconV2 coin-back-icon" title=每人投资成功就送50陆金币，全场通用，30日内有效></i>
                                    </p>
 
        <div class="product-info-wrap clearfix">
            <p class="product-info-l">
                <span class="interest-rate">预期年化利率：8.61%</span>
                <span class="invest-period">投资期限：36个月</span>
            </p>
 
            <p class="product-info-r">
                  <span class="invest-price">项目本金：177,000.00元</span>
                  <span class="remain-price">剩余可投金额：177,000.00元</span>
            </p>
        </div>
    </div>
            <div class="operate-status online-status clearfix">
            <div class="current-amount">
                <strong>投资金额</strong>
                <span class="cur">50,000.00</span> 元起            </div>
                            <a href="productdetail.html" target="_blank" class="btns">投资</a>
                    </div>
    </li>
    				
    				
    				
    				
    				<li class="clearfix fy-list">
   		<dl class="financial_list_box">
   			<dt>
                <a href="productdetail.html" target="_blank" class="detail" title="123123">融资产品二</a>
   				<i class="iconV2 coin-back-icon" title=ttt></i>
   
   			</dt>
            <dd class="rate">预期年化收益率：<span class="warm">123</span></dd>
            <dd class="deadline">投资期限：<span>234</span></dd>
            <dd class="data">发布日期：<span>345</span></dd>
        </dl>
   		<div class="product_status clearfix">
            <div class="waiting_status">
            <a href="#" target="_blank" class="invested waiting-confirm" data-request-code="aaa">等待审核</a>
            </div>
        </div>
    </li>
    
    
    
        <li class="clearfix fy-list">
   		<dl class="financial_list_box">
   			<dt>
                <a href="productdetail.html" target="_blank" class="detail" title="123123">融资产品三</a>
   				<i class="iconV2 gift-icon" title=ttt></i>
   
   			</dt>
            <dd class="rate">预期年化收益率：<span class="warm">123</span></dd>
            <dd class="deadline">投资期限：<span>234</span></dd>
            <dd class="data">发布日期：<span>345</span></dd>
        </dl>
   		<div class="product_status clearfix">
            <div class="preview_status">
            <p class="sum_tit">投资金额</p>
            <p class="checked"><span>10000</span> 元 起</p>
            <a href="#" target="_blank" class="invest-btn" data-request-code="ccc">即将发布</a>
            </div>
            <div class="publish-time">2014-9-13发布</div>
        </div>
    </li>
    
    
    
    <li class="clearfix">
        
    <div class="product-status">
        <p class="product-name">
            <a href="productdetail.html"  target="_blank">融资项目五</a>
                                                                                    <i class="iconV2 coin-back-icon" title=每人投资成功就送50陆金币，全场通用，30日内有效></i>
                                    </p>
 
        <div class="product-info-wrap clearfix">
            <p class="product-info-l">
                <span class="interest-rate">预期年化利率：8.61%</span>
                <span class="invest-period">投资期限：36个月</span>
            </p>
 
            <p class="product-info-r">
                  <span class="invest-price">项目本金：177,000.00元</span>
                  <span class="remain-price">剩余可投金额：0.00元</span>
            </p>
        </div>
    </div>
        <div class="product_status clearfix">
            <div class="operate-status">
            <div class="done-status clearfix">
                <div class="current-amount">
                    <strong>投资金额</strong>
                    <span class="cur">17,7000.00</span> 元
                </div>
                <a href="#" class="done-success">交易成功</a>
            </div>
            <div class="publish-time">
                2014-9-15成交
            </div>
        </div>
        </div>
                   
    </li>
    
    
    <li class="clearfix">
        
    <div class="product-status">
        <p class="product-name">
            <a href="productdetail.html"  target="_blank">融资项目六</a>
                                                                                    <i class="iconV2 coin-back-icon" title=每人投资成功就送50陆金币，全场通用，30日内有效></i>
                                    </p>
 
        <div class="product-info-wrap clearfix">
            <p class="product-info-l">
                <span class="interest-rate">预期年化利率：8.61%</span>
                <span class="invest-period">投资期限：36个月</span>
            </p>
 
            <p class="product-info-r">
                  <span class="invest-price">项目本金：177,000.00元</span>
                  <span class="remain-price">剩余可投金额：0.00元</span>
            </p>
        </div>
    </div>
        <div class="product_status clearfix">
            <div class="operate-status">
            <div class="done-status clearfix">
                <div class="current-amount">
                    <strong>投资金额</strong>
                    <span class="cur">17,7000.00</span> 元
                </div>
                <a href="#" class="done-success">交易成功</a>
            </div>
            <div class="publish-time">
                2014-9-15成交
            </div>
        </div>
        </div>
                   
    </li>
    
                
                </ul>
 
                <div class="cpagination ui_complex_pagination">
 
                </div>
 
            </div>
            <div class="go-top hidden">
            </div>
 
        </div>
        <div class="list-sidebar">
 
            <div class="news-notice sidebar-panels">
                <a href="help.html" target="_blank"
                   class="news-notice-head clearfix">
                    <span class="info">常见问题</span>
                    <span class="more">&gt;</span>
                </a>
 
                <div class="news-notice-body">
                    <ul class="news-notice-list faq-list" data-sk="稳健型-FAQ">
                                     <li>
                <b></b><a href="#" title="平安养老险发行的“富盈人生养老保障管理产品”介绍" target="_blank">稳健型产品XXXXXXXXXX介绍</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目本金和预期收益率有保证吗？" target="_blank">“稳健型”项目本金和预期收益率有保证吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目投资本息如何返还？" target="_blank">“稳健型”项目投资本息如何返还？</a>
            </li>
                    <li>
                <b></b><a href="#" title="投资人可以提前收回投资或提前解约吗？" target="_blank">投资人可以提前收回投资或提前解约吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="如何计算我的预期收益？" target="_blank">如何计算我的预期收益？</a>
            </li>
            <li>
                <b></b><a href="#" title="平安养老险发行的“富盈人生养老保障管理产品”介绍" target="_blank">稳健型产品XXXXXXXXXX介绍</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目本金和预期收益率有保证吗？" target="_blank">“稳健型”项目本金和预期收益率有保证吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目投资本息如何返还？" target="_blank">“稳健型”项目投资本息如何返还？</a>
            </li>
                    <li>
                <b></b><a href="#" title="投资人可以提前收回投资或提前解约吗？" target="_blank">投资人可以提前收回投资或提前解约吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="如何计算我的预期收益？" target="_blank">如何计算我的预期收益？</a>
            </li>
                            </ul>
                </div>
            </div>
            
            
            
             <div class="news-notice sidebar-panels">
                <a href="help.html" target="_blank"
                   class="news-notice-head clearfix">
                    <span class="info">新手帮助</span>
                    <span class="more">&gt;</span>
                </a>
 
                <div class="news-notice-body">
                    <ul class="news-notice-list faq-list" data-sk="稳健型-FAQ">
                                     <li>
                <b></b><a href="#" title="平安养老险发行的“富盈人生养老保障管理产品”介绍" target="_blank">稳健型产品XXXXXXXXXX介绍</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目本金和预期收益率有保证吗？" target="_blank">“稳健型”项目本金和预期收益率有保证吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目投资本息如何返还？" target="_blank">“稳健型”项目投资本息如何返还？</a>
            </li>
                    <li>
                <b></b><a href="#" title="投资人可以提前收回投资或提前解约吗？" target="_blank">投资人可以提前收回投资或提前解约吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="如何计算我的预期收益？" target="_blank">如何计算我的预期收益？</a>
            </li>
            <li>
                <b></b><a href="#" title="平安养老险发行的“富盈人生养老保障管理产品”介绍" target="_blank">稳健型产品XXXXXXXXXX介绍</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目本金和预期收益率有保证吗？" target="_blank">“稳健型”项目本金和预期收益率有保证吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目投资本息如何返还？" target="_blank">“稳健型”项目投资本息如何返还？</a>
            </li>
                    <li>
                <b></b><a href="#" title="投资人可以提前收回投资或提前解约吗？" target="_blank">投资人可以提前收回投资或提前解约吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="如何计算我的预期收益？" target="_blank">如何计算我的预期收益？</a>
            </li>
                            </ul>
                </div>
            </div>
        </div>
    </div>
 
</div>
<script src="js/cdn/jquery.min.js"></script>
 	<script>
         $(document).ready(function () {
        	 $('ul.list-nav-wrap li a').click(function(e){
        		 $('ul.list-nav-wrap').find('li').removeClass('selected');
        		 $(this).parent().addClass('selected');
        		 $('#nav_name').html($(this).attr('data-sk'));
        	 })
        	 
         });
         </script>
    </body>
</html>

