<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>政采贷</title>
 
    <link rel="stylesheet" type="text/css" href="css/new-lufax-main.css">
    <link rel="stylesheet" type="text/css" href="css/new-lufax.css">
    <link rel="stylesheet" type="text/css" href="css/detail/productDetail.css">
    <script src="js/cdn/jquery.min.js"></script>
    </head>
 
<body>
 
 
    
 
 
 
<div class="main-wrap">
 
<div class="content-head clearfix">
    <ul class="breadcrumb">
        <li><a href="index.html">政采贷首页</a> <span class="divider">&gt;</span></li>
        <li><a href="productlist.html">稳健型</a> <span class="divider">&gt;</span></li>
        <li class="active">项目详情</li>
    </ul>
</div>
 
<div class="product-detail">
    <div class="product-detail-head">
        <div class="product-name-info">
            <span style="font-size:16px; font-weight:bold; color:orange;">XXXXXX项目</span>
            <span class="product-code">编号:  14082902819</span>
                                                <span class="detail-promotion"></span>
        </div>
        <p class="product-published-date">
            			发布时间：2014-09-01 14:17:00
        </p>
    </div>
 
    <div class="product-detail-body clearfix">
        <div class="product-detail-info">
            <ul class="clearfix detail-info-list">
                <li>
                    <p>项目本金</p>
 
                    <p><strong>177,000.00 元</strong></p>
                </li>
                <li>
                    <p>预期年化利率</p>
 
                    <p><strong class="tips-title" title="按照中国人民银行同期贷款基准利率上浮40%">12%</strong>
                    </p>
                </li>
                <li>
                    <p>最长期限</p>
 
                    <p>
                        <strong>36个月</strong>
                    </p>
                </li>
                <li class="last-col">
                    <p>风险模型</p>
                                                                        <td class="descriptData raise-data">
                                <a class="tips-title" href="plIntroduction.html" target="_blank" title="查看稳健型产品的详细说明">
                                    <strong>稳健型</strong></a>
                            </td>
                                            
                </li>
            </ul>
            <div class="income-count clearfix">
                <p>本产品由XXX担保公司进行本息担保，项目设置最迟还款期限，但是根据政府订单的回款情况可能提前还款。</p>
 
            </div>
            <div class="other-detail-info clearfix">
                                    <div class="progress-wrap clearfix">
                        <p class="progress-label">项目进度：</p>
 
                        <div class="progress">
                            <div class="bar" id="progressBar" style="width:22px;"></div>
                        </div>
                        <span class="progressTxt">15%</span>
                    </div>
                                            </div>
                        <div class="invest-reward-wrap clearfix">
                <p class="reward-label">还款模式：</p>
                  <div class="invest-reward-body">
                              <span class="reward-info clearfix">
        按月还息，到期一次性还本
     </span>
    
 
 
 
                  </div>
            </div>
            
        </div>
        <div class="product-detail-status">
            <div class="product-detail-status-inner">
                                <div id="userStatus"></div>
 
                                    <div class="raise-status-wrap">
            <div class="raise-status-online">
                <p class="remaining-amount">
                               单笔最高可投金额：<strong>177,000.00
                   元</strong>                </p>
                <label>请填写投资金额：</label>
                                    <div class="raise-operate operate clearfix">
                        <div class="inputs-gather clearfix">
                            <a class="reduce-btn disabled" disabled="disabled"></a>
                            <input type="text" class="raise-input" id="raiseAmount"
                                   value="10,000.00">
                            <a class="plus-btn"></a>
                        </div>
 
                        <a class="btns btn_xlarge investBtn" href="javascript:void(0);" id="invest">立即投资</a>
                    </div>
                    <div class="showStatus">




            <div class="balanceAmount">
            <p class="balanceAmountCon clearfix">
            <a href="recharge.html" style="margin-right:20px;">充值</a>
                		账户可用余额：<span class="amountFormat">19000</span> 元
            </p>
</div>    








                    </div>
 
                    <div class="markUpInfo">
                        <p class="mark-up-info">
                            <span>起投金额：1,000.00
                                元</span>
                            <span>递增金额：100.00
                                元</span>
                        </p>
                    </div>
                                
            </div>
    
</div>                            </div>
        </div>
    </div>
</div>
 
 
<div class="detail-content-wrap clearfix">
    <div class="detail-content">
        <div class="detail-content-head clearfix">
            
            
            
            <ul class="list-detail-wrap clearfix">
    			<li class="selected"><a href="javascript: void(0);" data-sk="项目详情"><span class="min-price">项目详情</span></a></li>
    			<li class=""><a href="javascript: void(0);" data-sk="还款计划"><span class="min-price">还款计划</span></a></li>
    			<li class=""><a href="javascript: void(0);" data-sk="相关资料"><span class="min-price">相关资料</span></a></li>
    			<li class=""><a href="javascript: void(0);" data-sk="项目进程"><span class="min-price">项目进程</span></a></li>
    			<li class=""><a href="javascript: void(0);" data-sk="签约视频"><span class="min-price">签约视频</span></a></li>
			</ul>
            
            
            
            
        </div>
        <div class="detail-content-body">
                                                <table class="product-description">
                        <tr>
                            <td>收益方式：</td>
                            <td><span class="tips-title"
                                      title="每月按年华利率计算还利息，到期一次性还本金，<br>其中回款期限为最迟期限，可能提前还款，以订单回款日期为准。">每月还息，到期还本</span>
                            </td>
                        </tr>
                        <tr>
                            <td>担 保：</td>
                            <td><span class="tips-title"
                                      title="担保公司：平安融资担保（天津）有限公司。若借款方未能履行还款责任，担保公司<br/>将对未被偿还的剩余本金和截止到代偿日的全部应还未还利息与罚息进行全额偿付。">X担保</span>
                            </td>
                        </tr>
                        <tr>
                            <td>收益起始日期：</td>
                            <td> 2014-9-13
                            </td>
                        </tr>
                        <tr>
                            <td>最晚还款日期：</td>
                            <td>2014-12-13
                            </td>
                        </tr>
                        <tr>
                            <td>项目简介：</td>
                            <td>本产品是XXXX公司中标了XXX政府的XX订单，需要融资XXXX钱，预计X个月回款，由XXX公司担保的稳健型P2P融资产品，项目采用按月还息，到期一次性还本的方式XXXXXXXXXXXXXX...
                            </td>
                        </tr>
                        <tr>
                            <td>融资方：</td>
                            <td>河北XXXX股份有限公司
                            </td>
                        </tr>
                    </table>
                            
            <div class="expect-income clearfix">
                <strong>预期收益*</strong>
                                    （以下数据根据“投资金额6.3
                    万元、期限36个月”计算，您的收益以实际到账为准）
                            </div>
            <div class="total-income" id="total-income">
 
            </div>
            <div class="collection-detail" id="collection-detail">
 
            </div>
            <div class="comments">
                <p class="asterisk">说明：</p>
 
                <p class="item">每期实际收款日期、金额以最终到账为准，本项目最终解释权归春蕾投资管理有限公司所有。</p>
            </div>
 
        </div>
    </div>
 
    <div class="detail-sidebar">
                    <div class="invest-record">
                                    <div class="invest-record-title">投资记录</div>
                    <table class="invest-record-list">
                        <tbody>
                        <tr>
                            <th>投资人</th>
                            <th>金额（元）</th>
                            <th>时间</th>
                            </tr>
                            <tr>
                            <td>wd******</td>
                            <td>5500</td>
                            <td>2014-8-12</td>
                        </tr>
                        <tr>
                            <td>wd******</td>
                            <td>5500</td>
                            <td>2014-8-12</td>
                        </tr>
                        <tr>
                            <td>wd******</td>
                            <td>5500</td>
                            <td>2014-8-12</td>
                        </tr>
                        <tr>
                            <td>wd******</td>
                            <td>5500</td>
                            <td>2014-8-12</td>
                        </tr>
                        <tr>
                            <td>wd******</td>
                            <td>5500</td>
                            <td>2014-8-12</td>
                        </tr>
                        </tbody>
                    </table>
                
                <div id="invest-record-history">
 
                </div>
            </div>
        
                    <div class="noticeQuestion">
    <div class="clearfix head">
        <h3 class="title">常见问题</h3>
        <span class="more">
            <a href="help.html" target="_blank">更多</a><span>&gt;</span>
        </span>
    </div>
    <ul class="contentList">
                    <li>
                <b></b><a href="#" title="投资人是否要支付费用？" target="_blank">投资人是否要支付费用？</a>
            </li>
                    <li>
                <b></b><a href="#" title="我通过稳盈-安e达成的交易有什么风险吗？" target="_blank">我通过稳盈-安e达成的交易有什么风险吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="我可以投资吗？ " target="_blank">我可以投资吗？ </a>
            </li>
                    <li>
                <b></b><a href="#" title="债权出让人向陆金所提交转让申请的规则是什么？" target="_blank">债权出让人向陆金所提交转让申请的规则是什么？</a>
            </li>
                    <li>
                <b></b><a href="#" title="转让需要支付什么费用吗？" target="_blank">转让需要支付什么费用吗？</a>
            </li>
            </ul>
</div>        
    </div>
</div>
 
 
</div>
 
 <script src="js/cdn/jquery.min.js"></script>
 <script>
  $(document).ready(function () {
	  window.parent.justify(document.body.scrollHeight);
	  
        	 $('ul.list-detail-wrap li a').click(function(e){
        		 $('ul.list-detail-wrap').find('li').removeClass('selected');
        		 $(this).parent().addClass('selected');
        		
        	 })
        	 
         });
 </script>
    </body>
</html>