<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政X融X网</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

    
<link href="css/mine.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/cdn/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="container-fluid">
<div class="row" style="padding-left:5px; padding-right:5px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="panel panel-default" style="padding-bottom:50px;">

<div class="row" style="margin-top:15px;">
<div class="hidden-xs col-sm-3 col-md-3"></div>
<div class="col-xs-4 col-sm-2 col-md-2"></div>
<div class="col-xs-4 col-sm-2 col-md-3" style="color:#f60;">第二步:填写详细信息</div>
<div class="col-xs-4 col-sm-2 col-md-1"><a href="#" id="skip">跳过</a></div>
<div class="hidden-xs col-sm-3 col-md-3"></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-3"></div>
<div class="hidden-xs col-sm-2 col-md-2">您的姓名*</div>
<div class="col-xs-12 col-sm-4 col-md-4"><input id="name" type="text" class="form-control" placeholder="请输入您的姓名"></input></div>
<div class="col-xs-12 col-sm-3 col-md-3"><span id="nameLabel" style="font-size:small"></span></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-3"></div>
<div class="hidden-xs col-sm-2 col-md-2">身份证号*</div>
<div class="col-xs-12 col-sm-4 col-md-4"><input id="identity" type="text" class="form-control" placeholder="请输入您的身份证号"></input></div>
<div class="col-xs-12 col-sm-3 col-md-3"><span id="identityLabel" style="font-size:small"></span></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-3"></div>
<div class="hidden-xs col-sm-2 col-md-2">性别</div>
<div class="col-xs-12 col-sm-4 col-md-4">
<input type="radio" name="sex" id="1" value=1 checked="checked"/>男
<input type="radio" name="sex" id="0" value=0 style="margin-left:20px;"/>女
</div>
<div class="col-xs-12 col-sm-3 col-md-3"></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-3"></div>
<div class="hidden-xs col-sm-2 col-md-2">通信地址</div>
<div class="col-xs-12 col-sm-4 col-md-4"><input id="addr" type="text" class="form-control" placeholder="请输入您的通信地址"></input></div>
<div class="col-xs-12 col-sm-3 col-md-3"></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-3"></div>
<div class="hidden-xs col-sm-2 col-md-2">年收入</div>
<input type="radio" name="salary" id="1" value="-50000" checked="checked"/>5万以内
<input type="radio" name="salary" id="2" value="50000-100000" style="margin-left:10px;"/>5万-10万
<input type="radio" name="salary" id="3" value="100000-300000" style="margin-left:10px;"/>10万-30万
<input type="radio" name="salary" id="4" value="300000-" style="margin-left:10px;"/>30万以上
</div>


<div class="row" style="margin-top:5px;">
<div class="col-xs-2 col-sm-4 col-md-6"></div>
<div class="col-xs-8 col-sm-4 col-md-4"><button id="confirm" type="button" class="btn btn-warning" style="width:150px;">确定</button></div>
<div class="col-xs-2 col-sm-4 col-md-2"></div>
</div>


</div>



</div>
</div>
</div>
<script src="js/cookies.js"></script>
<script type="text/javascript"
	src="/resources/EasyServiceClientFullZ.js"></script>
<script type="text/javascript"
	src="/easyservice/gpps.service.ILenderService?json"></script>
<script>
$(document).ready(function() {
	
	
	var service = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.ILenderService");
	var cuser = service.getCurrentUser();
	if(cuser==null){
		window.location.href="login.html"; 
		return;
	}
	
	var thirdPartyAccount = cuser.thirdPartyAccount;
	
	window.parent.justify(document.body.scrollHeight);
	
	$('#name').focus();
		$('#skip').click(function(e){
			window.parent.toward("myaccount");
		});
       $('#confirm').click(function(e){
    	   var name = $('input#name').val();
    	   var identity = $('input#identity').val();
    	   var addr = $('input#addr').val();
    	   var sex = $("input[name='sex']:checked").val();
    	   var salary = $("input[name='salary']:checked").val();
    	   
    	   if(name==null||name==''){
				$('#nameLabel').removeClass('glyphicon glyphicon-ok').css('color', 'red').html('*请输入姓名');
				return;
				}else{
				$('#nameLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
				}
    	   if(identity==null||identity==''){
				$('#identityLabel').removeClass('glyphicon glyphicon-ok').css('color', 'red').html('*请输入身份证号');
				return;
				}else{
				$('#identityLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
				}
    	   
    	   if(addr==null){
    		   addr = "";
    	   }
    	   
    	   var sexint = parseInt(sex);
    	   
    	   alert(name);
    	   try{
    	   service.registerSecondStep(name, identity, sexint, addr, salary);
    	   }catch(e){
    		   alert(e.message);
    		   return;
    	   }
    	   
    	   if(thirdPartyAccount==null || thirdPartyAccount=="")
    		   {
    	  		 window.open("/account/thirdPartyRegist/request"); 
    	  		if(confirm("第三方认证是否成功?")){
    	  			window.parent.toward("myaccount");
    	  		}else{
    	  			window.parent.toward("myaccount");
    	  		}
    		   }
    	   else
    		   window.parent.toward("myaccount");
       });

})
</script>
</body>
</html>