<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政X融X网</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

    
<link href="css/mine.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/cdn/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="container-fluid">
<div class="row" style="padding-left:5px; padding-right:5px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="panel panel-default" style="padding-bottom:50px;">

<div class="row" style="margin-top:15px;">
<div class="hidden-xs col-sm-3 col-md-4"></div>
<div class="col-xs-4 col-sm-2 col-md-1"></div>
<div class="col-xs-4 col-sm-2 col-md-3" style="color:#f60;">第二步:填写详细信息</div>
<div class="col-xs-4 col-sm-2 col-md-1"><a href="#" id="skip">跳过</a></div>
<div class="hidden-xs col-sm-3 col-md-3"></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-4"></div>
<div class="hidden-xs col-sm-2 col-md-1">您的姓名*</div>
<div class="col-xs-12 col-sm-4 col-md-4"><input id="username" type="text" class="form-control" placeholder="请输入您的姓名"></input></div>
<div class="col-xs-12 col-sm-3 col-md-3"><span id="usernameLabel" style="font-size:small"></span></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-4"></div>
<div class="hidden-xs col-sm-2 col-md-1">身份证号*</div>
<div class="col-xs-12 col-sm-4 col-md-4"><input id="identity" type="text" class="form-control" placeholder="请输入您的身份证号"></input></div>
<div class="col-xs-12 col-sm-3 col-md-3"><span id="identityLabel" style="font-size:small"></span></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-4"></div>
<div class="hidden-xs col-sm-2 col-md-1">性别</div>
<div class="col-xs-12 col-sm-4 col-md-4">
<input type="radio" name="sex" id="1" value="1" checked="checked"/>男
<input type="radio" name="sex" id="0" value="0" style="margin-left:20px;"/>女
</div>
<div class="col-xs-12 col-sm-3 col-md-3"></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-4"></div>
<div class="hidden-xs col-sm-2 col-md-1">通信地址</div>
<div class="col-xs-12 col-sm-4 col-md-4"><input id="validate" type="text" class="form-control" placeholder="请输入您的身份证号"></input></div>
<div class="col-xs-12 col-sm-3 col-md-3"><span id="validateLabel" style="font-size:small"></span></div>
</div>

<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-4"></div>
<div class="hidden-xs col-sm-2 col-md-1">年收入</div>
<div class="col-xs-12 col-sm-4 col-md-4"><input id="validate" type="text" class="form-control" placeholder="请输入您的身份证号"></input></div>
<div class="col-xs-12 col-sm-3 col-md-3"><span id="validateLabel" style="font-size:small"></span></div>
</div>


<div class="row" style="margin-top:5px;">
<div class="col-xs-2 col-sm-4 col-md-6"></div>
<div class="col-xs-8 col-sm-4 col-md-4"><button id="confirm" type="button" class="btn btn-warning" style="width:150px;">确定</button></div>
<div class="col-xs-2 col-sm-4 col-md-2"></div>
</div>


</div>



</div>
</div>
</div>
<script src="js/cookies.js"></script>
<script>
$(document).ready(function() {
	
	
	$('#username').focus();
		$('#skip').click(function(e){
			window.location.href="register3.html";
		});
       $('#confirm').click(function(e){
    	   var username = $('input#username').val();
    	   var identity = $('input#identity').val();
    	   
    	   if(username==null||username==''){
				$('#usernameLabel').removeClass('glyphicon glyphicon-ok').css('color', 'red').html('*请输入姓名');
				return;
				}else{
				$('#usernameLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
				}
    	   if(identity==null||identity==''){
				$('#identityLabel').removeClass('glyphicon glyphicon-ok').css('color', 'red').html('*请输入身份证号');
				return;
				}else{
				$('#identityLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
				}
    	   
    	   
    	   addCookie("identity","130435********005X",1);
    	   
    	   var spsw = getCookie('spsw');
    	   if(spsw==null || spsw=="")
    	   window.location.href="register3.html"; 
    	   else
    		   window.parent.toward("myaccount");
       });

})
</script>
</body>
</html>