<!DOCTYPE html>
<html><head>
<title>
  人人贷 - 定义你自己的金融，中国3A信用评级互联网理财借贷平台
</title>
<meta name="renderer" content="webkit">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" charset="utf-8">



<link rel="stylesheet" href="test/one.css">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/static/css/ie8-and-lower.css?rrdversion=20140414" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="/static/css/ie6-and-lower.css?rrdversion=20140414" />
<![endif]-->

</head>

<body>
<div class="loan mb fn-clear">
        <div class="grid_12">
          <div class="list-title loan">
            <span class="on">投资列表</span>
          </div>
          <ul class="ui-list ui-list-m ui-list-invest" id="loan-list">

<li class="ui-list-header fn-clear" id="loan-list-header">
  <span class="ui-list-title fn-left color-gray-text w260">借款标题</span>
  <span class="ui-list-title fn-left color-gray-text text-center w80" title="借款人在人人贷的个人信用评级">信用等级</span>
  <span class="ui-list-title fn-left color-gray-text text-center w120">年利率</span>
  <span class="ui-list-title fn-left color-gray-text text-center w160">金额</span>
  <span class="ui-list-title fn-left color-gray-text text-center w100">期限</span>
  <span class="ui-list-title fn-left color-gray-text text-center w110">进度</span>
  <span class="ui-list-title fn-left color-gray-text text-center w80"></span>
</li>


<li class="ui-list-item fn-clear ">
  <span class="ui-list-field fn-left text-big w260">
    <em class="ui-loantype SDRZ" title="实地认证标"></em><a class="fn-left w210 rrd-dimgray fn-text-overflow" href="http://www.renrendai.com/lend/detailPage.action?loanId=293913" target="_blank" title="资金周转">资金周转</a>
  </span>
  <span class="ui-list-field fn-left w80"><a class="ui-creditlevel A snow">A</a></span>
  <span class="ui-list-field fn-left num text-right w90 pr30"><em class="value">11.40</em>%</span>
  <span class="ui-list-field fn-left num text-right w130 pr30"><em class="value">107,200</em>元</span>
  <span class="ui-list-field fn-left num text-right w70 pr30"><em class="value">18</em>个月</span>
  <span class="ui-list-field fn-left w110">
    <strong class="ui-progressbar-mid ui-progressbar-mid-54"><em>54</em>%</strong>
  </span>
  <span class="ui-list-field fn-left w80">
    <a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-OPEN" href="http://www.renrendai.com/lend/detailPage.action?loanId=293913" target="_blank">
      <span class="OPEN">投标</span>
      <span class="READY FIRST_READY">已满标</span>
      <span class="IN_PROGRESS">还款中</span>
    </a>
  </span>
</li>

<li class="ui-list-item fn-clear ">
  <span class="ui-list-field fn-left text-big w260">
    <em class="ui-loantype XYRZ" title="信用认证标"></em><a class="fn-left w210 rrd-dimgray fn-text-overflow" href="http://www.renrendai.com/lend/detailPage.action?loanId=290137" target="_blank" title="店铺扩大经营需资金支持">店铺扩大经营需资金支持</a>
  </span>
  <span class="ui-list-field fn-left w80"><a class="ui-creditlevel HR snow">HR</a></span>
  <span class="ui-list-field fn-left num text-right w90 pr30"><em class="value">11.00</em>%</span>
  <span class="ui-list-field fn-left num text-right w130 pr30"><em class="value">60,000</em>元</span>
  <span class="ui-list-field fn-left num text-right w70 pr30"><em class="value">6</em>个月</span>
  <span class="ui-list-field fn-left w110">
    <strong class="ui-progressbar-mid ui-progressbar-mid-100"><em>100</em>%</strong>
  </span>
  <span class="ui-list-field fn-left w80">
    <a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-FIRST_READY">
      <span class="OPEN">投标</span>
      <span class="READY FIRST_READY">已满标</span>
      <span class="IN_PROGRESS">还款中</span>
    </a>
  </span>
  <!-- <div class="ui-poptip ui-poptip-white" style="display: none;" data-ui-name="ui-poptip">
    <div class="ui-poptip-container">
      <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
      <div class="ui-poptip-content">信用认证标</div>
    </div>
  </div> -->
</li>

<li class="ui-list-item fn-clear ">
  <span class="ui-list-field fn-left text-big w260">
    <em class="ui-loantype JGDB" title="机构担保标"></em><a class="fn-left w210 rrd-dimgray fn-text-overflow" href="http://www.renrendai.com/lend/detailPage.action?loanId=293403" target="_blank" title="借款进货">借款进货</a>
  </span>
  <span class="ui-list-field fn-left w80"><a class="ui-creditlevel A snow">A</a></span>
  <span class="ui-list-field fn-left num text-right w90 pr30"><em class="value">10.00</em>%</span>
  <span class="ui-list-field fn-left num text-right w130 pr30"><em class="value">100,000</em>元</span>
  <span class="ui-list-field fn-left num text-right w70 pr30"><em class="value">12</em>个月</span>
  <span class="ui-list-field fn-left w110">
    <strong class="ui-progressbar-mid ui-progressbar-mid-100"><em>100</em>%</strong>
  </span>
  <span class="ui-list-field fn-left w80">
    <a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-FIRST_READY">
      <span class="OPEN">投标</span>
      <span class="READY FIRST_READY">已满标</span>
      <span class="IN_PROGRESS">还款中</span>
    </a>
  </span>
  <!-- <div class="ui-poptip ui-poptip-white" style="display: none;" data-ui-name="ui-poptip">
    <div class="ui-poptip-container">
      <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
      <div class="ui-poptip-content">机构担保标</div>
    </div>
  </div> -->
</li>

<li class="ui-list-item fn-clear">
  <span class="ui-list-field fn-left text-big w260">
    <em class="ui-loantype SDRZ" title="实地认证标"></em><a class="fn-left w210 rrd-dimgray fn-text-overflow" href="http://www.renrendai.com/lend/detailPage.action?loanId=293902" target="_blank" title="装修">装修</a>
  </span>
  <span class="ui-list-field fn-left w80"><a class="ui-creditlevel A snow">A</a></span>
  <span class="ui-list-field fn-left num text-right w90 pr30"><em class="value">12.60</em>%</span>
  <span class="ui-list-field fn-left num text-right w130 pr30"><em class="value">78,500</em>元</span>
  <span class="ui-list-field fn-left num text-right w70 pr30"><em class="value">36</em>个月</span>
  <span class="ui-list-field fn-left w110">
    <strong class="ui-progressbar-mid ui-progressbar-mid-100"><em>100</em>%</strong>
  </span>
  <span class="ui-list-field fn-left w80">
    <a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-FIRST_READY">
      <span class="OPEN">投标</span>
      <span class="READY FIRST_READY">已满标</span>
      <span class="IN_PROGRESS">还款中</span>
    </a>
  </span>
  <!-- <div class="ui-poptip ui-poptip-white" style="display: none;" data-ui-name="ui-poptip">
    <div class="ui-poptip-container">
      <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
      <div class="ui-poptip-content">实地认证标</div>
    </div>
  </div> -->
</li>



<li class="ui-list-more">
  <a class="darkgray" href="http://www.renrendai.com/lend/loanList.action" target="_blank">查看更多投资理财项目</a>
</li>


</ul>
        </div>
      </div>
      </body>
      </html>