body{font:14px/1.5 'Î¢ÈíÑÅºÚ',YaHei,tahoma,arial,"Hiragino Sans GB",\5b8b\4f53}
.ui-list-title{height:36px;line-height:36px;text-align:center}
fn-left,.fn-right{display:inline}
.fn-left{float:left}
.fn-right{float:right}
.color-gray-text{color:gray}
.text-big{font-size:16px}
.ui-list-field{height:35px;line-height:35px;}
.ui-list-item{border-bottom:1px solid #e5e4e2;cursor:default}
.ui-list-item:hover{background-color:#f9f9f9}
.ui-list-item.last{border-bottom:0}
a.rrd-dimgray,a.rrd-dimgray:link{color:#555}
a:hover,a.gray:hover,a.darkgray:hover,a.rrd-dimgray:hover,a.black:hover{color:#0697da;text-decoration:none}

fn-text-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
