<!DOCTYPE html>
<html><head>
<title>
  人人贷 - 定义你自己的金融，中国3A信用评级互联网理财借贷平台
</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" charset="utf-8">


<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="bst.css">
<link rel="stylesheet" href="progressbar.css">
</head>

<body>

<div class="container">
		
	<div class="row" id="header" style="padding-left:0px; padding-right:0px;">
      <div class="col-md-3 ui-list-title fn-left color-gray-text">借款标题</div>
      <div class="col-md-2 ui-list-title fn-left color-gray-text text-center">信用等级</div>
      <div class="col-md-2 ui-list-title fn-left color-gray-text text-center">年利率</div>
      <div class="col-md-2 ui-list-title fn-left color-gray-text text-center">金额</div>
      <div class="col-md-1 ui-list-title fn-left color-gray-text text-center">期限</div>
      <div class="col-md-1 ui-list-title fn-left color-gray-text text-center">进度</div>
      <div class="col-md-1 ui-list-title fn-left color-gray-text text-center"></div>
    </div>
    
    
    <div class="row" id="header" style="padding-left:0px; padding-right:0px;">
      <div class="col-md-3 ui-list-field fn-left text-big">
		<a class="fn-left w210 rrd-dimgray fn-text-overflow" href="http://www.renrendai.com/lend/detailPage.action?loanId=293913" target="_blank" title="资金周转">资金周转</a>
		</div>
      <div class="col-md-2 ui-list-title fn-left color-gray-text text-center">信用等级</div>
      <div class="col-md-2 ui-list-title fn-left color-gray-text text-center">年利率</div>
      <div class="col-md-2 ui-list-title fn-left color-gray-text text-center">金额</div>
      <div class="col-md-1 ui-list-title fn-left color-gray-text text-center">期限</div>
      <div class="col-md-1 ui-list-title fn-left color-gray-text text-center">进度</div>
      <div class="col-md-1 ui-list-title fn-left color-gray-text text-center"></div>
    </div>

</div>







</body>
</html>