<!DOCTYPE html>
<html><head>
<title>
  人人贷 - 定义你自己的金融，中国3A信用评级互联网理财借贷平台
</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" charset="utf-8">


<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="a.css">
<link rel="stylesheet" href="progressbar.css">
<link rel="stylesheet" href="creditlevel.css">
</head>

<body>

<div class="container ui-list-invest">
		
	<div class="row" id="header" style="padding-left:0px; padding-right:0px;">
      <div class="col-md-2 color-gray-text text-center">借款标题</div>
      <div class="col-md-1 color-gray-text text-center">信用等级</div>
      <div class="col-md-2 color-gray-text text-center">年利率</div>
      <div class="col-md-2 color-gray-text text-center">金额</div>
      <div class="col-md-2 color-gray-text text-center">期限</div>
      <div class="col-md-1 color-gray-text text-center">进度</div>
      <div class="col-md-2 color-gray-text text-center"></div>
    </div>
    
    
    <div class="row ui-list-item" id="header" style="padding-left:0px; padding-right:0px;">
      <span class="col-md-2 text-big">
		<a href="http://www.renrendai.com/lend/detailPage.action?loanId=293913" target="_blank" title="资金周转">资金周转</a>
		</span>
		<span class="col-md-1 ui-list-field text-center"><a class="ui-creditlevel A snow">A</a></span>
      <span class="col-md-2 ui-list-field num text-right pr30"><em class="value">11.40</em>%</span>
      <span class="col-md-2 ui-list-field num text-right pr30"><em class="value">107,200</em>元</span>
      <span class="col-md-2 ui-list-field num text-right pr30"><em class="value">18</em>个月</span>
      <span class="col-md-1 ui-list-field">
    	<strong class="ui-progressbar-mid ui-progressbar-mid-54"><em>54</em>%</strong>
  		</span>
      <span class="col-md-2 ui-list-field">
    		<a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-OPEN" href="http://www.renrendai.com/lend/detailPage.action?loanId=293913" target="_blank">
      			<span class="OPEN">投标</span>
      			<span class="READY FIRST_READY">已满标</span>
      			<span class="IN_PROGRESS">还款中</span>
    		</a>
  		</span>
    </div>
    
    
    <div class="row ui-list-item" id="header" style="padding-left:0px; padding-right:0px;">
      <span class="col-md-2 text-big">
		<a href="http://www.renrendai.com/lend/detailPage.action?loanId=293913" target="_blank" title="资金周转">资金周转</a>
		</span>
		<span class="col-md-1 ui-list-field text-center"><a class="ui-creditlevel A snow">A</a></span>
      <span class="col-md-2 ui-list-field num text-right pr30"><em class="value">11.40</em>%</span>
      <span class="col-md-2 ui-list-field num text-right pr30"><em class="value">107,200</em>元</span>
      <span class="col-md-2 ui-list-field num text-right pr30"><em class="value">18</em>个月</span>
      <span class="col-md-1 ui-list-field">
    	<strong class="ui-progressbar-mid ui-progressbar-mid-98"><em>98</em>%</strong>
  		</span>
      <span class="col-md-2 ui-list-field">
    		<a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-OPEN" href="http://www.renrendai.com/lend/detailPage.action?loanId=293913" target="_blank">
      			<span class="OPEN">投标</span>
      			<span class="READY FIRST_READY">已满标</span>
      			<span class="IN_PROGRESS">还款中</span>
    		</a>
  		</span>
    </div>

</div>







</body>
</html>