@charset "utf-8"; 
*{box-sizing : content-box;} 
body,div,ul,ol,li{margin:0;padding:0}
body{font:14px/1.5 '微软雅黑',YaHei,tahoma,arial,"Hiragino Sans GB",\5b8b\4f53}
em{font-style:normal;font-weight:500}
ol,ul{list-style:none}
a:hover{color:#08c;text-decoration:underline}
a{outline:0;text-decoration:none;blr:expression(this.onFocus=this.blur())}




.mb{margin-bottom:30px}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.fn-clear{zoom:1}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;margin-left:10px;margin-right:10px}
.container_12 .grid_12{width:940px}
.ui-list{position:relative}
.ui-list-m{min-height:240px}
.ui-list-m .ui-list-field{height:56px;line-height:56px}
.ui-list-invest .ui-list-item .ui-loantype{float:left;margin:13px 3px 13px 8px}
.ui-list-title{height:36px;line-height:36px;text-align:center}
.ui-list-title.two-line{line-height:18px}
.ui-table td .ui-list-title{*margin-top:-12px;height:auto;line-height:56px}
.ui-table td .ui-list-title a{width:140px;text-align:left}
fn-left,.fn-right{display:inline}
.fn-left{float:left}
.fn-right{float:right}
.color-gray-text{color:gray}
.w140{width:140px}.w150{width:150px}.wi150{width:150px!important}.w160{width:160px}.w170{width:170px}.w180{width:180px}.w186{width:186px}.w190{width:190px}.w195{width:195px}.w200{width:200px}.w210{width:210px}.w220{width:220px}.w230{width:230px}.w240{width:240px}.w250{width:250px}.w260{width:260px}.w270{width:270px}.w280{width:280px}.w300{width:300px}.w570{width:570px}
.text-center{text-align:center}
.ui-list-item{border-bottom:1px solid #e5e4e2;cursor:default}
.ui-list-item:hover{background-color:#f9f9f9}
.ui-list-item.last{border-bottom:0}
.ui-list-s .ui-list-item{border-bottom:1px solid #efefef}
.ui-list-s .ui-list-item.last{border-bottom:0}
.ui-list-s .ui-list-item,.ui-list-s .ui-list-item:hover{background:#fff}
.ui-list-s .ui-list-item.dark,.ui-list-s .ui-list-item.dark:hover,.table-tr-color,table tr.odd{background:#f6fbfd}
.ui-list-s .ui-list-item.clickable{cursor:pointer}
.ui-list-s .ui-list-item.clickable:hover,.ui-list-s .ui-list-item.clickable.dark:hover{background:#fffbe2}
.ui-list-invest .ui-list-item .ui-loantype{float:left;margin:13px 3px 13px 8px}
.ui-list-invest .ui-list-item .ui-creditlevel{margin:10px auto}
.ui-list-invest .ui-list-item .ui-progressbar-mid{margin:6px auto}
.ui-list-invest .ui-list-item{position:relative}
.ui-list-invest .ui-list-item .ui-poptip{position:absolute;top:13px;left:44px}
.ui-list-news .ui-list-item{height:40px;line-height:40px;overflow:hidden}
.ui-list-comments .ui-list-item{padding:10px;border-bottom:1px solid #e5e5e5}
.ui-list-comments .ui-list-item:hover{background:0 0}
.ui-list-comments .ui-list-item.last{border-bottom:0}

.ui-list-field{height:35px;line-height:35px;}
.ui-list-m .ui-list-field{height:56px;line-height:56px}
.ui-list-s .ui-list-field{height:35px;line-height:35px}
.ui-list-news .ui-list-field.text .title{margin-right:10px}
.ui-list-news .ui-list-field.date{text-align:right;width:90px}

.text-big{font-size:16px}
a.rrd-dimgray,a.rrd-dimgray:link{color:#555}
a:hover,a.gray:hover,a.darkgray:hover,a.rrd-dimgray:hover,a.black:hover{color:#0697da;text-decoration:none}

fn-text-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

.num,.num-m{font-size:10px}.num em,.num-m em{font-size:18px}
.text-right{text-align:right}
.pr30{padding-right:30px}

.field-number em.value,.field-number-small em.value{font-size:22px}
.narrow .field-number em.value,.narrow .field-number-small em.value{font-size:16px}

.ui-creditlevel{display:block;border-radius:18px;width:36px;height:36px;line-height:36px;font-size:16px;font-style:normal;text-align:center;text-decoration:none;color:#fff}
.ui-creditlevel.AA{background:#1bb8e2}.ui-creditlevel.A{background:#bfdb39}.ui-creditlevel.B{background:#ede71f}.ui-creditlevel.C{background:#ffc400}.ui-creditlevel.D{background:#fb5a00}.ui-creditlevel.E{background:#e52012}.ui-creditlevel.HR{background:#f01f5a}
a.snow,a.snow:link{color:#fff}a.snow:hover{color:snow}


.ui-button *{margin:0;padding:0}.ui-button{display:inline-block;*display:inline;border-radius:2px;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;padding:0 15px;*zoom:1;*overflow:visible}.ui-button .ui-button-text{background:0 0;padding:0;height:auto;line-height:auto}.ui-button:hover{text-decoration:none}
.ui-button-mid{font-size:16px;line-height:30px;height:30px;min-width:50px;border-radius:15px;text-align:center}
.ui-button-blue{border:0;color:#fff;background-color:#0697da}.ui-button-blue:hover{background-color:#0697da}a.ui-button-blue,a.ui-button-blue:active,a.ui-button-blue:hover{color:#fff}
.ui-list-invest .ui-list-invest-button span{display:none}
.ui-list-invest .ui-list-invest-button-READY,.ui-list-invest .ui-list-invest-button-FIRST_READY,.ui-list-invest .ui-list-invest-button-IN_PROGRESS{cursor:default}.ui-list-invest .ui-list-invest-button-READY,.ui-list-invest .ui-list-invest-button-FIRST_READY{background-color:#c7d78c}.ui-list-invest .ui-list-invest-button-IN_PROGRESS,.ui-list-invest .ui-list-invest-button-CLOSED,.ui-list-invest .ui-list-invest-button-FIRST_APPLY,.ui-list-invest .ui-list-invest-button-DRAFT,.ui-list-invest .ui-list-invest-button-BAD_DEBT,.ui-list-invest .ui-list-invest-button-OVER_DUE{background-color:#e5e4e2}.ui-list-invest .ui-list-invest-button-READY span.READY,.ui-list-invest .ui-list-invest-button-FIRST_READY span.FIRST_READY,.ui-list-invest .ui-list-invest-button-OPEN span.OPEN,.ui-list-invest .ui-list-invest-button-IN_PROGRESS span.IN_PROGRESS,.ui-list-invest .ui-list-invest-button-CLOSED span.CLOSED,.ui-list-invest .ui-list-invest-button-OVER_DUE span.OVER_DUE,.ui-list-invest .ui-list-invest-button-BAD_DEBT span.BAD_DEBT,.ui-list-invest .ui-list-invest-button-FIRST_APPLY span.FIRST_APPLY,.ui-list-invest .ui-list-invest-button-DRAFT span.FIRST_APPLY{display:inline}

.w20{width:20px}.w30{width:30px}.w40{width:40px}.w45{width:45px}.w50{width:50px}.w55{width:55px}.w60{width:60px}.w65{width:65px}.w70{width:70px}.w75{width:75px}.w80{width:80px}.w85{width:85px}.w90{width:90px}.w95{width:95px}.w100{width:100px}.w105{width:105px}.w110{width:110px}.w115{width:115px}.w120{width:120px}.w125{width:125px}.w130{width:130px}.w140{width:140px}.w150{width:150px}.wi150{width:150px!important}.w160{width:160px}.w170{width:170px}.w180{width:180px}.w186{width:186px}.w190{width:190px}.w195{width:195px}.w200{width:200px}.w210{width:210px}.w220{width:220px}.w230{width:230px}.w240{width:240px}.w250{width:250px}.w260{width:260px}.w270{width:270px}.w280{width:280px}.w300{width:300px}.w570{width:570px}.w590{width:590px}.w600{width:600px}.w700{width:700px}.w850{width:850px}.w920{width:920px}
.ui-list-more{border-bottom:1px solid #e5e4e2;box-shadow:0 3px 2px -2px #e5e4e2;font-size:16px;padding:10px;text-align:center}
a.darkgray,a.darkgray:link{color:#a9a9a9}a:hover,a.gray:hover,a.darkgray:hover,a.rrd-dimgray:hover,a.black:hover{color:#0697da;text-decoration:none}