<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="gpps/dao/LenderDao.xml" />
		<mapper resource="gpps/dao/LenderAccountDao.xml" />
		<mapper resource="gpps/dao/BorrowerDao.xml" />
		<mapper resource="gpps/dao/BorrowerAccountDao.xml" />
		<mapper resource="gpps/dao/CashStreamDao.xml" />
		<mapper resource="gpps/dao/SubmitDao.xml" />
		<mapper resource="gpps/dao/GovermentOrderDao.xml" />
		<mapper resource="gpps/dao/ProductDao.xml" />
		<mapper resource="gpps/dao/ProductSeriesDao.xml" />
		<mapper resource="gpps/dao/PayBackDao.xml" />
		<mapper resource="gpps/dao/ProductActionDao.xml" />
		<mapper resource="gpps/dao/TaskDao.xml" />
		<mapper resource="gpps/dao/StateLogDao.xml" />
		<mapper resource="gpps/dao/FinancingRequestDao.xml" />
		<mapper resource="gpps/dao/CardBindingDao.xml" />
<!-- 		<mapper resource="gpps/dao/AdminDao.xml" /> -->
		<mapper resource="gpps/dao/HandleLogDao.xml" />
<!-- 		<mapper resource="gpps/dao/HelpDao.xml" /> -->
	</mappers>
</configuration>