<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
        http://www.springframework.org/schema/context    
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 配置数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:MyBatis-Configuration.xml"></property>
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean>

	<bean id="lenderDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.ILenderDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="borrowerDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IBorrowerDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="lenderAccountDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.ILenderAccountDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="borrowerAccountDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IBorrowerAccountDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="cashStreamDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.ICashStreamDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="submitDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.ISubmitDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="govermentOrderDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IGovermentOrderDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="productDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IProductDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="productSeriesDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IProductSeriesDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="payBackDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IPayBackDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="productActionDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IProductActionDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="cardBindingDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.ICardBindingDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="taskDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.ITaskDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="stateLogDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IStateLogDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="financingRequestDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IFinancingRequestDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="adminDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="gpps.dao.IAdminDao"></property>
	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="handleLogDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IHandleLogDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="helpDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IHelpDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="activityDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IActivityDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="activityRefDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.IActivityRefDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="letterDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="gpps.dao.ILetterDao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
</beans>