
body{
	font: 14px/1.5 "微软雅黑",YaHei,tahoma,arial,"Hiragino Sans GB",宋体; color: #555;
}
.fn-left {
    float: left;
}
.text-big{
	font-size: 14px;
	font-weight : 400;
}
.ui-list-invest a {
    outline: 0 none;
    text-decoration: none;
    color: #555;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 56px;
}
.ui-list-invest a:hover{
	color : #0697da;
	text-decoration: none;
}
.color-gray-text{color:gray}
.text-center{text-align:center}
.num{font-size:8px}.num em{font-size:16px}
.text-right{text-align:right}
.pr30{padding-right:30px}.pr10{padding-right:10px}
em.value{font-size:20px; font-style:normal;}
.ui-list-field{height:56px;line-height:56px}
.ui-progressbar-mid {
    display: block;
    font-size: 7px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 44px;
}


.ui-list-item{border-bottom:1px solid #e5e4e2;cursor:default}
.ui-list-item:hover{background-color:#f9f9f9}
.ui-list-item.last{border-bottom:0}

.ui-list-invest .ui-list-item .ui-loantype{float:left;margin:13px 3px 13px 8px}
.ui-list-invest .ui-list-item .ui-creditlevel{margin:10px auto}
.ui-list-invest .ui-list-item .ui-progressbar-mid{margin:6px auto}
.ui-list-invest .ui-list-item{position:relative}
.ui-list-invest .ui-list-item .ui-poptip{position:absolute;top:13px;left:44px}



a.ui-button *{margin:0;padding:0}
a.ui-button{display:inline-block;*display:inline;border-radius:2px;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;padding:0 15px;*zoom:1;*overflow:visible}
a.ui-button .ui-button-text{background:0 0;padding:0;height:auto;line-height:auto}
a.ui-button:hover{text-decoration:none}
a.ui-button-mid{font-size:14px;line-height:30px;height:30px;min-width:50px;border-radius:15px;text-align:center}
a.ui-button-blue{border:0;color:#fff;background-color:#0697da}
a.ui-button-blue:hover{background-color:#0697da}
a.ui-button-blue,a.ui-button-blue:active,a.ui-button-blue:hover{color:#fff}
.ui-list-invest .ui-list-invest-button-READY,.ui-list-invest .ui-list-invest-button-FIRST_READY,.ui-list-invest .ui-list-invest-button-IN_PROGRESS{cursor:default}
.ui-list-invest .ui-list-invest-button-READY,.ui-list-invest .ui-list-invest-button-FIRST_READY{background-color:#c7d78c}
.ui-list-invest .ui-list-invest-button-IN_PROGRESS,.ui-list-invest .ui-list-invest-button-CLOSED,.ui-list-invest .ui-list-invest-button-FIRST_APPLY,.ui-list-invest .ui-list-invest-button-DRAFT,.ui-list-invest .ui-list-invest-button-BAD_DEBT,.ui-list-invest .ui-list-invest-button-OVER_DUE{background-color:#e5e4e2}


.ui-list-more{box-shadow:0 3px 2px -2px #e5e4e2;font-size:16px;padding:10px;text-align:center}
a.darkgray,a.darkgray:link{color:#a9a9a9}
a.darkgray:hover{color:#0697da;text-decoration:none}

a.producttitle{
	line-height: 30px;
}

.hidden{
	display:hidden;
}
