?.list-product-title {
	MARGIN-BOTTOM: 10px
}
.list-product-title .icon-anyidai {
	TEXT-INDENT: -999em; WIDTH: 92px; DISPLAY: block; BACKGROUND: url(img/listing-gathers.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 20px; MARGIN-RIGHT: 20px
}
.list-product-title A {
	COLOR: #333; FONT-SIZE: 14px
}
.list-product-title A SPAN {
	COLOR: #e6551d
}
.list-content {
	WIDTH: 680px; FLOAT: left
}
.list-sidebar {
	WIDTH: 260px; FLOAT: right
}
.list-property {
	MARGIN-BOTTOM: 20px
}
.list-property-head {
	BORDER-BOTTOM: #ed4b0b 1px solid; POSITION: relative; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.list-property-head .title {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.list-property-head B {
	BORDER-BOTTOM: #fff 4px solid; POSITION: absolute; BORDER-LEFT: #fff 4px solid; LINE-HEIGHT: 0; WIDTH: 0px; BOTTOM: -9px; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-TOP: #df4407 4px solid; BORDER-RIGHT: #fff 4px solid; LEFT: 42px
}
.list-property-body {
	POSITION: relative; MARGIN: 0px 0px 10px
}
.list-property-body DL {
	BORDER-BOTTOM: #e5eaee 1px solid; LINE-HEIGHT: 40px; HEIGHT: 40px
}
.list-property-body DL DT {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 75px; PADDING-RIGHT: 15px; FLOAT: left; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.list-property-body DD SPAN.all {
	FLOAT: left
}
.list-property-body DD SPAN.all A {
	COLOR: #333
}
.list-property-body DD UL LI A.cur {
	COLOR: #e6551d; TEXT-DECORATION: none
}
.list-property-body DD SPAN.all A.cur {
	COLOR: #e6551d; TEXT-DECORATION: none
}
.list-property-body DL DD {
	FLOAT: left
}
.list-property-body DD UL LI {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 33px
}
.list-property-body DD UL LI .count-num EM {
	FONT-STYLE: normal; COLOR: #2438cd
}
.list-property-body DD UL LI A {
	FLOAT: left; COLOR: #333
}
.list-property-body DD UL LI A.cur .count-num {
	COLOR: #333
}
.list-property-body DD UL.selection {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 30px
}
.invest-range {
	BORDER-BOTTOM: transparent 1px solid; POSITION: absolute; BORDER-LEFT: transparent 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 183px; PADDING-RIGHT: 0px; HEIGHT: 81px; BORDER-TOP: transparent 1px solid; TOP: -8px; RIGHT: 10px; BORDER-RIGHT: transparent 1px solid; PADDING-TOP: 10px
}
.invest-range:hover {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; BACKGROUND-COLOR: #fef9f1; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid
}
.invest-range UL {
	MARGIN-BOTTOM: 7px
}
.invest-range UL LI {
	FLOAT: left; MARGIN-RIGHT: 7px
}
.invest-range UL LI.unit {
	MARGIN-TOP: 10px
}
.invest-range UL LI.dash {
	MARGIN-TOP: 10px
}
.invest-range .input {
	WIDTH: 25px
}
.invest-range A.btns {
	DISPLAY: none
}
.invest-range:hover A.btns {
	DISPLAY: inline-block
}
.table-title-wrap {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #e9e9e9 1px solid; LINE-HEIGHT: 50px; HEIGHT: 50px; BORDER-TOP: #e9e9e9 1px solid; BORDER-RIGHT: #e9e9e9 1px solid
}
.table-title-wrap .table-title {
	MARGIN: 0px 20px 0px 10px; FLOAT: left; COLOR: #999; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.table-title-wrap .sort-group {
	FLOAT: right
}
.table-title-wrap .sort-txt {
	FLOAT: right
}
.table-title-wrap .sort-group {
	MARGIN: 10px 7px 0px 0px
}
.table-title-wrap .table-product-event {
	FLOAT: left
}
.table-title-wrap .table-product-event P {
	WIDTH: 310px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.table-title-wrap .sort-txt {
	MARGIN-RIGHT: 10px
}
.table-title-wrap .sort-group LI {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #f5f5f5; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FLOAT: left; HEIGHT: 25px; MARGIN-LEFT: -1px; BORDER-TOP: #ccc 1px solid; CURSOR: pointer; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.table-title-wrap .sort-group LI.selected {
	BACKGROUND-COLOR: #e8e8e8; box-shadow: 1px 1px 2px #dfdfdf inset
}
.table-title-wrap .sort-group LI.first-col {
	border-top-left-radius: 7px; border-bottom-left-radius: 7px
}
.table-title-wrap .sort-group LI.last-col {
	border-top-right-radius: 7px; border-bottom-right-radius: 7px
}
.list-table-wrap {
	
}
.list-table LI {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; PADDING-BOTTOM: 5px; MARGIN-TOP: -1px; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid
}
.list-table LI:first-child {
	
}
.list-table-extra {
	BORDER-BOTTOM: #afa8e6 1px solid; BORDER-LEFT: #afa8e6 1px solid; MARGIN-BOTTOM: 5px; BORDER-TOP: #afa8e6 1px solid; BORDER-RIGHT: #afa8e6 1px solid
}
.list-table-extra .for-transfer-info {
	BORDER-TOP: #d9d9d9 1px solid
}
.list-table-extra LI:first-child .for-new-info {
	BORDER-TOP: medium none
}
.list-table-extra LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN-TOP: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.list-table .product-status {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 15px
}
.list-table .product-status .product-name {
	MARGIN-BOTTOM: 11px
}
.list-table .product-status .interest-rate {
	MARGIN-RIGHT: 24px
}
.list-table .product-status .invest-price {
	DISPLAY: block; MARGIN-BOTTOM: 8px
}
.list-table .product-status .product-info-wrap P {
	FLOAT: left
}
.list-table .product-status .product-info-wrap .product-info-l {
	MARGIN-RIGHT: 20px
}
.list-table .product-status .product-name A {
	COLOR: #333; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.list-table .operate-status {
	BORDER-BOTTOM: #eeece9 1px dashed; BORDER-LEFT: #eeece9 1px dashed; BACKGROUND-COLOR: #fef9f1; MARGIN: 5px 5px 0px 0px; WIDTH: 214px; FLOAT: right; BORDER-TOP: #eeece9 1px dashed; BORDER-RIGHT: #eeece9 1px dashed
}
.list-table .online-status {
	HEIGHT: 88px
}
.list-table .done-status {
	WIDTH: 214px; HEIGHT: 64px
}
.list-table .preview-status {
	WIDTH: 214px; HEIGHT: 64px
}
.list-table .publish-time {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; BACKGROUND-COLOR: #faebda; WIDTH: 214px; HEIGHT: 24px; COLOR: #666; CLEAR: both
}
.list-table .operate-status STRONG {
	DISPLAY: block; MARGIN-BOTTOM: 12px
}
.list-table .operate-status .current-amount {
	MARGIN: 20px 0px 0px 10px; FLOAT: left
}
.list-table .operate-status .done-status .current-amount {
	MARGIN-TOP: 10px
}
.list-table .operate-status .preview-status .current-amount {
	MARGIN-TOP: 10px
}
.list-table .operate-status .current-amount .cur {
	COLOR: #ea5404; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.list-table .operate-status .btns {
	MARGIN: 30px 10px 0px 0px; FLOAT: right
}
.list-table-wrap .ui_complex_pagination {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; LINE-HEIGHT: 49px; HEIGHT: 49px; BORDER-TOP: medium none; BORDER-RIGHT: #d9d9d9 1px solid
}
.weekly-data {
	BACKGROUND-COLOR: #f5f5f5; WIDTH: 258px; HEIGHT: 148px
}
.weekly-data .weekly-data-head {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 31px; PADDING-LEFT: 13px; PADDING-RIGHT: 0px; HEIGHT: 31px; FONT-SIZE: 15px; PADDING-TOP: 0px
}
.weekly-data-head A {
	WIDTH: 100%; DISPLAY: block; COLOR: #333; TEXT-DECORATION: none
}
.weekly-data .weekly-data-head .more {
	COLOR: #ea5404; MARGIN-LEFT: 70px; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.echarts-side {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid; PADDING-TOP: 8px
}
.echarts-side-header A {
	TEXT-DECORATION: none
}
.echarts-side-title {
	COLOR: #333; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.echarts-side-time {
	MARGIN-LEFT: 70px
}
.echarts-side-icon {
	MARGIN-TOP: 5px
}
.weekly-data .weekly-data-body {
	BACKGROUND-COLOR: #fff; WIDTH: 240px; HEIGHT: 108px; MARGIN-LEFT: 9px
}
.weekly-data .weekly-data-body LI {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(img/icon-trade.png) no-repeat 10px -69px; PADDING-TOP: 6px
}
.weekly-data .weekly-data-body LI:first-child {
	BACKGROUND-POSITION: 100px 100px
}
.weekly-data .weekly-data-body LI .icon {
	MARGIN: -6px 10px 0px; WIDTH: 9px; BACKGROUND: url(img/icon-trade.png) no-repeat -223px 0px; HEIGHT: 9px
}
.weekly-data .weekly-data-body LI .record-great {
	COLOR: #e6551d; FONT-SIZE: 18px
}
.weekly-data .weekly-data-body LI .record-success {
	COLOR: #106f00; FONT-SIZE: 18px
}
.sidebar-img {
	MARGIN-BOTTOM: 10px
}
.sidebar-img IMG {
	VERTICAL-ALIGN: middle
}
.table-title-wrap .sort-group LI SPAN {
	PADDING-RIGHT: 14px; BACKGROUND: url(img/icon-sort.png) no-repeat 0px 0px
}
.table-title-wrap .sort-group LI SPAN.asc {
	BACKGROUND-POSITION: right 2px
}
.table-title-wrap .sort-group LI SPAN.def {
	BACKGROUND-POSITION: right -20px
}
.table-title-wrap .sort-group LI SPAN.desc {
	BACKGROUND-POSITION: right -43px
}
.list-table .done-status .current-amount {
	COLOR: #999
}
.list-table .done-status .current-amount .cur {
	COLOR: #999
}
.list-table .done-status .current-amount STRONG {
	COLOR: #333
}
.list-table .preview-status .preview-time {
	MARGIN: 25px 20px 0px 0px; FLOAT: right; COLOR: #333
}
.list-table .done-status .done-success {
	MARGIN: 25px 20px 0px 0px; FLOAT: right; COLOR: #333
}
.list-table .done-status .mobile-done {
	TEXT-ALIGN: center; MARGIN-TOP: 27px
}
.list-table .preview-status .preview-time {
	COLOR: #2438cd
}
.transfer-adjust {
	BORDER-BOTTOM: #699dd7 1px dashed; COLOR: #699dd7; CURSOR: pointer
}
.list-nav-wrap {
	
}
.list-nav-wrap LI {
	BORDER-BOTTOM: #fb7d04 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #eaeaea 1px solid; BACKGROUND-COLOR: #fafafa; WIDTH: 190px; FLOAT: left; HEIGHT: 45px; MARGIN-LEFT: -1px; BORDER-TOP: #eaeaea 1px solid; BORDER-RIGHT: #eaeaea 1px solid
}
.list-nav-wrap LI.last-col {
	WIDTH: 194px; MARGIN-RIGHT: 0px
}
.list-nav-wrap LI A {
	LINE-HEIGHT: 38px; DISPLAY: block; HEIGHT: 38px
}
.list-nav-wrap LI A .product-icon {
	DISPLAY: inline-block; BACKGROUND: url(img/list-nav.png) no-repeat; VERTICAL-ALIGN: middle
}
.list-nav-wrap LI A .fy-icon {
	WIDTH: 63px; BACKGROUND-POSITION: 0px -50px; HEIGHT: 15px
}
.list-nav-wrap LI A .ayi-icon {
	WIDTH: 73px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 16px
}
.list-nav-wrap LI A .aye-icon {
	WIDTH: 73px; BACKGROUND-POSITION: 0px -16px; HEIGHT: 18px
}
.list-nav-wrap LI A .zx-icon {
	WIDTH: 61px; BACKGROUND-POSITION: 0px -65px; HEIGHT: 15px
}
.list-nav-wrap LI A .v8-icon {
	WIDTH: 57px; BACKGROUND-POSITION: 0px -34px; HEIGHT: 16px
}
.list-nav-wrap LI A .counts {
	COLOR: #333; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.list-nav-wrap LI A .min-price {
	MARGIN: 0px 5px; COLOR: #666; VERTICAL-ALIGN: middle
}
.list-nav-wrap LI:hover {
	BACKGROUND-COLOR: #fff
}
.list-nav-wrap LI.selected {
	Z-INDEX: 10; BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fb7d04 1px solid; BACKGROUND: url(img/selected-mark.png) no-repeat right top; HEIGHT: 43px; BORDER-TOP: #fb7d04 3px solid; BORDER-RIGHT: #fb7d04 1px solid
}
.list-nav-wrap LI A:hover {
	TEXT-DECORATION: none
}
.list-nav-wrap LI A EM {
	FONT-STYLE: normal; COLOR: #154dcc
}
.service-intro {
	
}
.service-intro .service-intro-title {
	TEXT-ALIGN: left; LINE-HEIGHT: 50px; PADDING-LEFT: 23px; WIDTH: 65px; FLOAT: left; HEIGHT: 50px; COLOR: #666
}
.service-intro .service-intro-title B {
	BORDER-BOTTOM: transparent 4px solid; BORDER-LEFT: #8d909a 4px solid; LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: inline-block; HEIGHT: 0px; MARGIN-LEFT: 5px; FONT-SIZE: 0px; VERTICAL-ALIGN: middle; BORDER-TOP: transparent 4px solid; BORDER-RIGHT: transparent 4px solid
}
.service-intro .service-intro-con {
	LINE-HEIGHT: 50px; PADDING-LEFT: 10px; WIDTH: 850px; FLOAT: left; HEIGHT: 50px
}
.for-new-info A.more {
	MARGIN: 7px 15px 0px 0px; FLOAT: right
}
.for-new-info .title {
	FLOAT: left; MARGIN-LEFT: 10px; CURSOR: pointer
}
.for-new-info .title:hover {
	TEXT-DECORATION: none
}
.for-transfer-info .title .pj-name {
	MARGIN: 4px 0px 0px 2px; DISPLAY: block; FLOAT: left; COLOR: #67a0df; FONT-SIZE: 14px
}
.for-new-info .title .pj-name {
	MARGIN: 4px 0px 0px 2px; DISPLAY: block; FLOAT: left; COLOR: #67a0df; FONT-SIZE: 14px
}
.for-transfer-info .title .pj-name {
	MARGIN-TOP: 6px; COLOR: #709a1a
}
.for-new-info .title .pj-counts {
	MARGIN: 6px 0px 0px 5px; FLOAT: left
}
.for-transfer-info .title .pj-counts {
	MARGIN-TOP: 8px
}
.for-new-info .title .pj-counts EM {
	FONT-STYLE: normal
}
.for-new-info .icon-transfer-product {
	MARGIN-TOP: 7px; WIDTH: 32px; DISPLAY: inline-block; BACKGROUND: url(img/list-nav.png) no-repeat 0px -98px; FLOAT: left; HEIGHT: 14px; VERTICAL-ALIGN: middle
}
.for-new-info .icon-new-user {
	MARGIN-TOP: 7px; WIDTH: 32px; DISPLAY: inline-block; BACKGROUND: url(img/list-nav.png) no-repeat 0px -98px; FLOAT: left; HEIGHT: 14px; VERTICAL-ALIGN: middle
}
.for-new-info .icon-transfer-product {
	WIDTH: 43px; BACKGROUND-POSITION: 0px -81px; HEIGHT: 16px
}
.financial_list LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; HEIGHT: 70px; BORDER-TOP: #f9d682 1px solid; PADDING-TOP: 10px
}
.financial_list LI.pre_sale {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 70px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 70px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.financial_list_box {
	MARGIN-TOP: 10px; FLOAT: left
}
.financial_list_box DT {
	MARGIN-BOTTOM: 10px
}
.financial_list_box DT A {
	COLOR: #333; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.financial_list_box DD {
	DISPLAY: inline-block
}
.financial_list_box DD SPAN {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.financial_list_box DD .warm {
	COLOR: #ea5404
}
.financial_list_box DD.rate {
	WIDTH: 170px
}
.financial_list_box DD.deadline {
	WIDTH: 120px
}
.financial_list_box DD.type {
	WIDTH: 200px
}
.financial_list_box DD.data {
	
}
.product_status {
	POSITION: relative; FLOAT: right
}
.product_status .online_status {
	BORDER-BOTTOM: #eeece9 1px dashed; BORDER-LEFT: #eeece9 1px dashed; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #fef9f1; PADDING-LEFT: 10px; WIDTH: 204px; PADDING-RIGHT: 0px; HEIGHT: 48px; BORDER-TOP: #eeece9 1px dashed; BORDER-RIGHT: #eeece9 1px dashed; PADDING-TOP: 20px
}
.product_status .waiting_status {
	BORDER-BOTTOM: #eeece9 1px dashed; BORDER-LEFT: #eeece9 1px dashed; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #fef9f1; PADDING-LEFT: 10px; WIDTH: 204px; PADDING-RIGHT: 0px; HEIGHT: 48px; BORDER-TOP: #eeece9 1px dashed; BORDER-RIGHT: #eeece9 1px dashed; PADDING-TOP: 20px
}
.product_status .waiting_status {
	TEXT-ALIGN: center; LINE-HEIGHT: 48px
}
.product_status .preview_status {
	BORDER-BOTTOM: #eeece9 1px dashed; BORDER-LEFT: #eeece9 1px dashed; PADDING-BOTTOM: 15px; BACKGROUND-COLOR: #fef9f1; PADDING-LEFT: 15px; WIDTH: 184px; PADDING-RIGHT: 15px; HEIGHT: 34px; BORDER-TOP: #eeece9 1px dashed; BORDER-RIGHT: #eeece9 1px dashed; PADDING-TOP: 15px
}
.product_status P.sum_tit {
	PADDING-BOTTOM: 5px; FONT-WEIGHT: bold
}
.product_status P SPAN {
	COLOR: #ea5404; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.product_status P.check {
	COLOR: #999
}
.product_status P.check SPAN {
	COLOR: #999
}
.product_status .invest-btn {
	POSITION: absolute; MARGIN: 25px 20px 0px 0px; TOP: 0px; RIGHT: 0px
}
.product_status .btns {
	POSITION: absolute; MARGIN: 30px 10px 0px 0px; TOP: 0px; RIGHT: 0px
}
.product_status .invested {
	MARGIN: 25px 15px 0px 0px; FONT-SIZE: 14px
}
.aye-list-wrap .ui_complex_pagination {
	DISPLAY: none
}
.v8-list-wrap .ui_complex_pagination {
	DISPLAY: none
}
.list-table-fy .ui_complex_pagination {
	DISPLAY: none
}
.fy-list {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.product_status .waiting-confirm {
	COLOR: #666
}
.licai-no-login {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid
}
.licai-intro-part {
	WIDTH: 637px; FLOAT: left; OVERFLOW: hidden
}
.go-login-part {
	PADDING-BOTTOM: 35px; PADDING-LEFT: 50px; WIDTH: 240px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 35px
}
.go-login-part P {
	MARGIN: 30px 0px 20px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.go-login-part H1 {
	COLOR: #4d4398; FONT-SIZE: 17px
}
.go-login-part H1 SPAN {
	COLOR: #ea5404; FONT-SIZE: 26px
}
.licai-list-body {
	MIN-HEIGHT: 90px
}
.licai-list-body LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.licai-list-body LI .product-info {
	MARGIN-TOP: 10px; FLOAT: left
}
.licai-list-body LI .product-status {
	BACKGROUND-COLOR: #fef9f1; WIDTH: 215px; FLOAT: right; HEIGHT: 70px
}
.licai-list-body LI .product-name {
	MARGIN-BOTTOM: 10px
}
.licai-list-body LI .product-name A {
	COLOR: #333; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.licai-list-body LI .product-details P {
	FLOAT: left
}
.licai-list-body LI .product-details P.remain-price {
	WIDTH: 190px
}
.licai-list-body LI .product-details P.interest-rate {
	WIDTH: 150px
}
.licai-list-body LI .product-details P.invest-period {
	WIDTH: 105px
}
.licai-list-body LI .product-details P.interest-rate SPAN {
	COLOR: #ea5404; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.licai-list-body LI .product-details P.invest-period SPAN {
	COLOR: #ea5404; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.licai-list-body LI .product-details P.invest-period SPAN {
	COLOR: #333
}
.licai-list-body LI .product-details .progress-wrap {
	FLOAT: left
}
.licai-list-body LI .product-details .progress-wrap .progress-label {
	FLOAT: left; MARGIN-RIGHT: 0px
}
.licai-list-body LI .product-details .progress-wrap .progress {
	MARGIN: 3px 5px 0px 0px; WIDTH: 80px; BACKGROUND: #e4e4e4; FLOAT: left; HEIGHT: 10px
}
.licai-list-body LI .product-details .progress-wrap .progress .bar {
	BACKGROUND-COLOR: #f3be6e; HEIGHT: 100%
}
.licai-list-body LI .product-details .progress-wrap .progressTxt {
	FLOAT: left
}
.licai-list-body LI .product-status {
	BORDER-BOTTOM: #eeece9 1px dashed; BORDER-LEFT: #eeece9 1px dashed; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 214px; PADDING-RIGHT: 0px; HEIGHT: 88px; BORDER-TOP: #eeece9 1px dashed; BORDER-RIGHT: #eeece9 1px dashed; PADDING-TOP: 0px
}
.licai-list-body LI .product-status .current-amount {
	MARGIN: 20px 0px 0px 10px; FLOAT: left
}
.licai-list-body LI .product-status STRONG {
	DISPLAY: block; MARGIN-BOTTOM: 12px
}
.licai-list-body LI .product-status .current-amount .cur {
	COLOR: #ea5404; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.licai-list-body LI .product-status .btns {
	MARGIN: 30px 10px 0px 0px; FLOAT: right
}
.v8-questionnaires {
	BORDER-BOTTOM: #d9e5ee 1px dashed; POSITION: relative; BORDER-LEFT: #d9e5ee 1px dashed; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f0f6fb; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 20px; BORDER-TOP: #d9e5ee 1px dashed; BORDER-RIGHT: #d9e5ee 1px dashed; PADDING-TOP: 10px
}
.v8-questionnaires .not-reach {
	COLOR: #ea5404
}
.v8-questionnaires .test-for-ready-btn {
	POSITION: absolute; MARGIN-TOP: -14px; TOP: 50%; RIGHT: 90px
}
.v8-ready-test H2 {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px
}
.v8-ready-test .v8-ready-qs-info {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; BACKGROUND-COLOR: #fdf8ee; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; HEIGHT: 40px; PADDING-TOP: 10px
}
.v8-ready-test .content {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.v8-ready-test .radio-list {
	PADDING-LEFT: 15px
}
.v8-ready-test .v8-ready-qs2 {
	MARGIN-TOP: 10px
}
.v8-ready-test .form_radio {
	WIDTH: 215px; MARGIN-BOTTOM: 5px
}
.v8-ready-test .modal-content {
	WIDTH: 616px
}
.v8-ready-test .v8-test-rules {
	BORDER-BOTTOM: #eee 1px dashed; PADDING-BOTTOM: 5px; MARGIN-BOTTOM: 5px
}
.v8-ready-test .v8-test-rules H2 {
	MARGIN-BOTTOM: 5px; FONT-SIZE: 14px
}
.v8-ready-test .v8-test-rules P {
	LINE-HEIGHT: 22px
}
.licai-v8-no-login {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid
}
.v8-no-login-banner {
	FLOAT: left
}
.v8-ready-test .errorPanel {
	Z-INDEX: 1; BORDER-BOTTOM: #fab418 1px solid; POSITION: relative; BORDER-LEFT: #fab418 1px solid; PADDING-BOTTOM: 7px; LINE-HEIGHT: normal; BACKGROUND-COLOR: #fef3cd; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: none; MAX-WIDTH: 240px; COLOR: #f00; MARGIN-LEFT: 10px; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-TOP: #fab418 1px solid; BORDER-RIGHT: #fab418 1px solid; PADDING-TOP: 7px; border-radius: 5px; box-shadow: 1px 1px 2px #ccc
}
.v8-ready-test .errorPanel .arrow {
	POSITION: absolute; DISPLAY: block; BACKGROUND: url(img/form_icon_ullh.png) no-repeat 100px 100px
}
.v8-ready-test .errorPanel .left.arrow {
	Z-INDEX: 2; WIDTH: 7px; BACKGROUND-POSITION: -72px -133px; HEIGHT: 12px; TOP: 8px; LEFT: -6px
}
.not-reach-wrap {
	MARGIN: 0px 45px; WIDTH: 425px; FLOAT: left; VERTICAL-ALIGN: middle
}
.go-authenticate {
	BORDER-BOTTOM: #d9d9d9 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d9d9d9 1px solid; LINE-HEIGHT: 240px; HEIGHT: 240px; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid
}
.aye-intro-wrap {
	MARGIN-BOTTOM: 20px
}
.intro-body {
	BORDER-BOTTOM: #f9e2bb 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #f9e2bb 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; BACKGROUND-COLOR: #fbf9f1; MARGIN: 0px 0px 20px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; HEIGHT: 35px; BORDER-TOP: #f9e2bb 1px solid; BORDER-RIGHT: #f9e2bb 1px solid; PADDING-TOP: 0px
}
.table-yield-detail {
	MARGIN: 0px 0px 20px; WIDTH: 100%
}
.table-yield-detail TH {
	BORDER-BOTTOM: #dedede 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-RIGHT: #dedede 1px solid; PADDING-TOP: 10px
}
.table-yield-detail TD {
	BORDER-BOTTOM: #dedede 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-RIGHT: #dedede 1px solid; PADDING-TOP: 10px
}
.table-yield-detail TH {
	BACKGROUND: #f5f5f5; BORDER-TOP: #dedede 1px solid
}
.table-yield-detail TH:first-child {
	BORDER-LEFT: #dedede 1px solid
}
.table-yield-detail TD:first-child {
	BORDER-LEFT: #dedede 1px solid
}
.guide-title {
	MARGIN: 0px 0px 15px
}
.guide-intro {
	PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #f5f5f5; COLOR: #666; PADDING-TOP: 5px
}
.guide-steps {
	MARGIN: 0px 0px 20px
}
.guide-steps LI {
	WIDTH: 152px; PADDING-RIGHT: 13px; BACKGROUND: url(img/ayd-guide-steps.png) no-repeat right -23px; FLOAT: left; MARGIN-RIGHT: 3px
}
.guide-steps LI.last {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-RIGHT: 0px
}
.guide-steps-header {
	BORDER-BOTTOM: medium none; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #d4e5b2 1px solid; LINE-HEIGHT: 33px; BACKGROUND: #f7fbf1; HEIGHT: 33px; BORDER-TOP: #d4e5b2 1px solid; BORDER-RIGHT: #d4e5b2 1px solid
}
.guide-steps-header EM {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 28px; FONT-STYLE: normal; WIDTH: 28px; DISPLAY: block; BACKGROUND: url(img/ayd-guide-steps.png) no-repeat 0px 0px; HEIGHT: 28px; COLOR: #6f9b19; FONT-SIZE: 14px; TOP: 2px; FONT-WEIGHT: bold; LEFT: 5px
}
.guide-steps-header SPAN {
	COLOR: #6f9b19; FONT-SIZE: 14px
}
.guide-steps-body {
	BORDER-BOTTOM: #d4e5b2 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d4e5b2 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; DISPLAY: table-cell; HEIGHT: 50px; VERTICAL-ALIGN: middle; BORDER-TOP: medium none; BORDER-RIGHT: #d4e5b2 1px solid; PADDING-TOP: 8px
}
.data-title {
	BORDER-BOTTOM: #333333 1px dashed; CURSOR: pointer
}
.aye-intro-header {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; BACKGROUND-COLOR: #f7fbf1; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 38px; BORDER-TOP: #d9d9d9 1px solid; CURSOR: pointer; BORDER-RIGHT: #d9d9d9 1px solid; PADDING-TOP: 0px
}
.aye-intro-header .more {
	FLOAT: right
}
.aye-intro-header .more B {
	BORDER-BOTTOM: transparent 4px solid; BORDER-LEFT: transparent 4px solid; LINE-HEIGHT: 0; MARGIN: 0px 5px 0px 0px; WIDTH: 0px; DISPLAY: inline-block; HEIGHT: 0px; FONT-SIZE: 0px; VERTICAL-ALIGN: middle; BORDER-TOP: #e6551d 4px solid; BORDER-RIGHT: transparent 4px solid
}
.aye-intro-header H1 {
	FLOAT: left; COLOR: #778f11; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.aye-intro-body {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; PADDING-BOTTOM: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: medium none; BORDER-RIGHT: #d9d9d9 1px solid; PADDING-TOP: 15px
}
.apply-link {
	TEXT-ALIGN: center
}
.aye-intro-body H2 {
	MARGIN-BOTTOM: 5px; COLOR: #778f11; FONT-SIZE: 12px
}
.aye-list-wrap .warn-info {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: #d9d9d9 1px solid; LINE-HEIGHT: 58px; BACKGROUND-COLOR: #f7fbf1; HEIGHT: 58px; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid
}
.product-name .min-holding-days {
	DISPLAY: inline-block; COLOR: #666; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; MARGIN-RIGHT: 5px
}
.licai-list-body LI .wait-confirm-container {
	TEXT-ALIGN: center; LINE-HEIGHT: 88px
}
.licai-list-body LI .wait-confirm-container .wait-confirm {
	COLOR: #666; FONT-SIZE: 14px
}
