.bg {
	background-size: cover
}
#J-slide123 {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201206/2qz2UvlUVF.gif)
}
#J-slide {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/i/ecmng/jpg/201407/31kKIcRiQ3.jpg)
}
.topbar-wrap .mobile .icon-mobile {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.topmenu-item-dropdown .icon-dropdown {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.topmenu-item-dropdown A:hover .icon-dropdown {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.topmenu-item-dropdown-hover .icon-dropdown {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#logo-noflash {
	BACKGROUND-IMAGE: url(img/logo.jpg)
}
.ui-logo-alipay {
	BACKGROUND-IMAGE: url(img/logo.jpg)
}
.nav-item .angle {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#home .nav-item-link {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#personal .nav-item-link {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#personal .nav-item-link:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#personal .nav-item-link-active {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#payment .nav-item-link {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#payment .nav-item-link:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#payment .nav-item-link-active {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#security .nav-item-link {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#security .nav-item-link:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#security .nav-item-link-active {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#business .icon-nav-split {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#business .nav-item-link {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#business .nav-item-link:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#business .nav-item-link-active {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.slide-number A {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.slide-number .slide-number-active {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#pay-quickly .title-link {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#pay-life .title-link {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
#pay-anywhere .title-link {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.product-item .link .icon-youhui {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.about-item .icon-title-safety {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.about-item .icon-title-vip {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.about-item .icon-title-abc {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.about-item .icon-about-safety {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.about-item .icon-about-vip {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.about-item .icon-about-abc {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .more .icon-more {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .ui-list-item .icon-list {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.icon-partner-bank {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.icon-partner-security {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-zfywxk {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-zfywxk:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-pcirk {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-pcirk:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-visayz {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-visayz:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-vsjmfw {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-vsjmfw:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-zjwm {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-zjwm:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-wlgs {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-wlgs:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-ppaa {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-ppaa:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-hzdt {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-hzdt:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-aqff {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-aqff:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-rzcx {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.auth .icon-rzcx:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.follow_btn {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.follow_btn:hover {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last I {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .a {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .b {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .c {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .d {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .e {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .f {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .g {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .h {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .i {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.partner-item .cnt .business-pic-last .j {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201307/jebhAW6Vx.png)
}
.footer-line {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201303/2NwD1Q6ihZ.png)
}
.footer-line .cnt {
	BACKGROUND-IMAGE: url(https://i.alipayobjects.com/e/201303/2NwD1Q6ihZ.png)
}
HTML {
	BACKGROUND-COLOR: #fff; COLOR: #000; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px/1.5 tahoma, arial, Hiragino Sans GB, 宋体; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 100%; FONT-WEIGHT: 500; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 100%; FONT-WEIGHT: 500; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 100%; FONT-WEIGHT: 500; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 100%; FONT-WEIGHT: 500; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 100%; FONT-WEIGHT: 500; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 100%; FONT-WEIGHT: 500; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: 500; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 100%/1.5 tahoma, arial, Hiragino Sans GB, 宋体; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 100%/1.5 tahoma, arial, Hiragino Sans GB, 宋体; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: 500; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px/1.5 tahoma, arial, Hiragino Sans GB, 宋体; PADDING-TOP: 0px
}
article {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
aside {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
details {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
figcaption {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
figure {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
footer {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
header {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
hgroup {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
MENU {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
nav {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
section {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
audio {
	DISPLAY: inline-block
}
canvas {
	DISPLAY: inline-block
}
video {
	DISPLAY: inline-block
}
SELECT {
	FONT: 100%/1.5 tahoma, arial, Hiragino Sans GB, 宋体
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IFRAME {
	DISPLAY: block
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; FONT-VARIANT: normal; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; FONT-VARIANT: normal; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
DEL {
	TEXT-DECORATION: line-through
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
CAPTION {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-WEIGHT: 500
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
SUB {
	POSITION: relative; LINE-HEIGHT: 0; BOTTOM: -0.25em; FONT-SIZE: 75%; VERTICAL-ALIGN: baseline
}
SUP {
	POSITION: relative; LINE-HEIGHT: 0; FONT-SIZE: 75%; VERTICAL-ALIGN: baseline; TOP: -0.5em
}
A:hover {
	TEXT-DECORATION: underline
}
INS {
	TEXT-DECORATION: none
}
A {
	COLOR: #666666; TEXT-DECORATION: none
}
.fn-clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: " "
}
.fn-clear {
	ZOOM: 1
}
BODY .fn-hide {
	DISPLAY: none
}
.fn-left {
	DISPLAY: inline; FLOAT: left
}
.fn-right {
	DISPLAY: inline; FLOAT: right
}
.footer-line {
	WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px
}
.footer-line .cnt {
	BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px
}
.sl-shadow {
	FILTER: progid:DXImageTransform.Microsoft.Glow(color=#a0a0a0,strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=0,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=90,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=180,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=270,strength=2); -moz-box-shadow: 0 0 4px #999999; -o-box-shadow: 0 0 4px #999999; -webkit-box-shadow: 0px 0px 4px #999999; box-shadow: 0px 0px 4px #999999
}
.ui-link-item {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FLOAT: left; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}
.ui-link-item A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.ui-link-item-first {
	PADDING-LEFT: 0px
}
.ui-link-item-noborder {
	BORDER-RIGHT: 0px
}
.ui-link-item-last {
	BORDER-RIGHT: 0px
}
#alipay-img-logo {
	MARGIN-RIGHT: 5px
}
.icon-36 {
	WIDTH: 36px; ZOOM: 1; DISPLAY: block; HEIGHT: 36px
}
.icon-36 IMG {
	WIDTH: 36px; ZOOM: 1; DISPLAY: block; HEIGHT: 36px
}
.icon-apple {
	ZOOM: 1; DISPLAY: block
}
.icon-android {
	ZOOM: 1; DISPLAY: block
}
.icon-windowsphone {
	ZOOM: 1; DISPLAY: block
}
.icon-java {
	ZOOM: 1; DISPLAY: block
}
.grid-990 {
	MARGIN: 0px auto; WIDTH: 990px
}
.topbar {
	BORDER-BOTTOM: #dcdcdc 1px solid; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5'); WIDTH: 100%; BACKGROUND: #f5f5f5; HEIGHT: 26px; _overflow: hidden
}
.topbar-wrap {
	BORDER-BOTTOM: #dcdcdc 1px solid; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5'); BACKGROUND: #f5f5f5; HEIGHT: 26px
}
.topbar-wrap .toplink {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; WIDTH: 300px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 14px; PADDING-TOP: 6px
}
.topbar-wrap .toplink A {
	LINE-HEIGHT: 14px; DISPLAY: block; HEIGHT: 14px; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
.topbar-wrap .mobile {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; FLOAT: left; PADDING-TOP: 0px
}
.topbar-wrap .mobile .icon-mobile {
	WIDTH: 14px; DISPLAY: block; BACKGROUND-POSITION: -426px -117px; FLOAT: left; HEIGHT: 14px; MARGIN-RIGHT: 4px
}
.topmenu {
	Z-INDEX: 1000; POSITION: relative; PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; COLOR: #666666; PADDING-TOP: 6px
}
.topmenu-item {
	BORDER-LEFT: #fefefe 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 12px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FLOAT: left; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 1px; _line-height: 14px
}
.topmenu-item-first {
	BORDER-LEFT: medium none; BORDER-RIGHT: medium none
}
.topmenu-item-first .split {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #666; PADDING-TOP: 0px
}
.topmenu-item-last {
	PADDING-RIGHT: 0px; BORDER-RIGHT: medium none
}
.topmenu-item-dropdown {
	POSITION: relative; BORDER-LEFT: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid
}
.topmenu-item-dropdown:hover {
	BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #ccc 1px solid; TOP: -3px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
.topmenu-item-dropdown-hover {
	BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #ccc 1px solid; TOP: -3px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
.topmenu-item-dropdown A {
	ZOOM: 1; FLOAT: left
}
.topmenu-item-dropdown .icon-dropdown {
	LINE-HEIGHT: 10px; WIDTH: 12px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND-POSITION: -452px -117px; HEIGHT: 12px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.topmenu-item-dropdown A:hover {
	TEXT-DECORATION: none
}
.topmenu-item-dropdown A:hover .icon-dropdown {
	BACKGROUND-POSITION: -445px -60px
}
.topmenu-item-dropdown-hover .icon-dropdown {
	BACKGROUND-POSITION: -445px -60px
}
.topmenu-item-dropdown UL {
	POSITION: absolute; BACKGROUND-COLOR: #fff; DISPLAY: none
}
.topmenu-item-dropdown:hover UL {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 15px; PADDING-RIGHT: 27px; DISPLAY: block; TOP: 16px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 8px; LEFT: -1px
}
.topmenu-item-dropdown-hover UL {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 15px; PADDING-RIGHT: 27px; DISPLAY: block; TOP: 16px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 8px; LEFT: -1px
}
.topmenu-item-dropdown UL LI {
	LINE-HEIGHT: 21px; WIDTH: 60px
}
.topmenu-item-dropdown UL LI A {
	DISPLAY: block
}
.topmenu-item-dropdown UL LI A:hover {
	BACKGROUND-COLOR: #ffffff; COLOR: #ff6600
}
.header {
	BACKGROUND-COLOR: #ffffff; WIDTH: 100%; HEIGHT: 78px
}
.header-wrap {
	HEIGHT: 60px; PADDING-TOP: 18px
}
#logo-noflash {
	WIDTH: 260px; BACKGROUND-POSITION: -206px 0px; HEIGHT: 45px
}
.ui-logo-alipay {
	TEXT-INDENT: -9999px; WIDTH: 260px; DISPLAY: block; BACKGROUND-POSITION: -206px 0px; HEIGHT: 45px
}
.nav {
	Z-INDEX: 999; POSITION: relative; WIDTH: 610px; FLOAT: right; HEIGHT: 45px
}
.nav-item {
	POSITION: relative; FLOAT: left; HEIGHT: 45px
}
.nav-item .nav-item-link {
	TEXT-INDENT: -9999em; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 45px; OVERFLOW: hidden
}
.nav-item .nav-item-link:hover {
	BACKGROUND-REPEAT: no-repeat
}
.nav-item .nav-item-link-active {
	BACKGROUND-REPEAT: no-repeat
}
.nav-item-sub {
	POSITION: absolute; PADDING-BOTTOM: 9px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; TOP: 45px; PADDING-TOP: 9px
}
.nav-item-table {
	BACKGROUND-ATTACHMENT: scroll; BACKGROUND-REPEAT: repeat; WHITE-SPACE: nowrap; BACKGROUND-POSITION: 0px 0px
}
.nav-item-table TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; WHITE-SPACE: nowrap; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 2px
}
.nav-item-table TH {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 15px; PADDING-RIGHT: 12px; BORDER-COLLAPSE: separate; WHITE-SPACE: nowrap; FONT-WEIGHT: 700; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 0px
}
.nav-item-table TH.last {
	BORDER-RIGHT: medium none
}
.nav-item-table TD.last {
	BORDER-RIGHT: medium none
}
.nav-item-table A {
	POSITION: relative; PADDING-LEFT: 3px; DISPLAY: block; COLOR: #898989; VERTICAL-ALIGN: middle
}
.nav-item-table A:hover {
	BACKGROUND-COLOR: #aaaaaa; COLOR: #ffffff; VERTICAL-ALIGN: middle; TEXT-DECORATION: none; border-radius: 2px 2px 2px 2px
}
.nav-item .nav-item-sub {
	DISPLAY: none
}
.nav-item .angle {
	POSITION: absolute; WIDTH: 15px; DISPLAY: none; BACKGROUND-POSITION: -418px -72px; HEIGHT: 15px; FONT-SIZE: 0px; OVERFLOW: hidden; TOP: 38px; RIGHT: 65px; _top: 38px
}
.nav-item:hover .nav-item-sub {
	DISPLAY: block
}
.nav-item-hover .nav-item-sub {
	DISPLAY: block
}
.nav-item:hover .angle {
	DISPLAY: block
}
.nav-item-hover .angle {
	DISPLAY: block
}
#home .nav-item-link {
	WIDTH: 90px; BACKGROUND-POSITION: -316px -90px; MARGIN-RIGHT: 20px
}
#personal .nav-item-link {
	WIDTH: 110px; BACKGROUND-POSITION: -206px -90px; MARGIN-RIGHT: 20px
}
#personal .nav-item-link:hover {
	BACKGROUND-POSITION: -96px 0px
}
#personal .nav-item-link-active {
	BACKGROUND-POSITION: -96px 0px
}
#personal .nav-item-sub {
	RIGHT: 20px
}
#payment .nav-item-link {
	WIDTH: 110px; BACKGROUND-POSITION: -206px -135px; MARGIN-RIGHT: 20px
}
#payment .nav-item-link:hover {
	BACKGROUND-POSITION: -96px -45px
}
#payment .nav-item-link-active {
	BACKGROUND-POSITION: -96px -45px
}
#payment .nav-item-sub {
	RIGHT: 20px
}
#security .nav-item-link {
	WIDTH: 110px; BACKGROUND-POSITION: 0px -96px; MARGIN-RIGHT: 20px
}
#security .nav-item-link:hover {
	BACKGROUND-POSITION: 0px -141px
}
#security .nav-item-link-active {
	BACKGROUND-POSITION: 0px -141px
}
#security .nav-item-sub {
	RIGHT: 20px
}
#business .icon-nav-split {
	WIDTH: 3px; DISPLAY: inline-block; BACKGROUND-POSITION: -366px -45px; FLOAT: left; HEIGHT: 45px; MARGIN-RIGHT: 25px
}
#business .nav-item-link {
	WIDTH: 80px; BACKGROUND-POSITION: -206px -45px; FLOAT: left
}
#business .nav-item-link:hover {
	BACKGROUND-POSITION: -286px -45px
}
#business .nav-item-link-active {
	BACKGROUND-POSITION: -286px -45px
}
#business .angle {
	RIGHT: 28px
}
#business .nav-item-sub {
	RIGHT: 0px
}
.login-box {
	Z-INDEX: 120; POSITION: relative; MARGIN: 0px auto; WIDTH: 990px; ZOOM: 1; HEIGHT: 0px
}
#loginIframe {
	POSITION: absolute; TOP: 12px; RIGHT: 0px
}
#loginLoading {
	POSITION: absolute; TEXT-ALIGN: center; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#33000000', EndColorStr='#33000000'); WIDTH: 286px; HEIGHT: 311px; TOP: 12px; RIGHT: 0px
}
#loginLoading IMG {
	MARGIN-TOP: 120px; WIDTH: 50px; HEIGHT: 50px
}
.head-notice {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 6px; LINE-HEIGHT: 18px; MARGIN: 5px auto 3px; PADDING-LEFT: 8px; WIDTH: 972px; PADDING-RIGHT: 8px; COLOR: red; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 6px
}
.pa-head-notice {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 6px; LINE-HEIGHT: 18px; MARGIN: 5px auto 3px; PADDING-LEFT: 8px; WIDTH: 972px; PADDING-RIGHT: 8px; COLOR: red; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 6px
}
#indexBanner {
	MARGIN: 5px auto 0px; WIDTH: 990px
}
#indexBanner A {
	DISPLAY: inline-block; OVERFLOW: hidden
}
#indexBanner IMG {
	DISPLAY: block
}
#indexBanner A.fn-hide {
	DISPLAY: none
}
#banner {
	Z-INDEX: 100; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; MIN-WIDTH: 990px; BACKGROUND-COLOR: #f9f9f9; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 400px; OVERFLOW: hidden
}
#J-slide {
	POSITION: relative; BACKGROUND-COLOR: #f9f4ed; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; HEIGHT: 400px
}
#J-slide .slide {
	POSITION: absolute; WIDTH: 100%; FLOAT: left; HEIGHT: 400px; TOP: 0px; LEFT: 0px
}
.bg {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 50%; HEIGHT: 100%; VERTICAL-ALIGN: middle; OVERFLOW: hidden; TOP: 0px; LEFT: 0px; opacity: 0; -webkit-transition: opacity 800ms ease-in-out; -moz-transition: opacity 800ms ease-in-out; -ms-transition: opacity 800ms ease-in-out; -o-transition: opacity 800ms ease-in-out; transition: opacity 800ms ease-in-out
}
.pic {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100%; BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 50%; LEFT: 0px; opacity: 0; -webkit-transition: all 800ms cubic-bezier(.62, .25, .65, .83); -moz-transition: all 800ms cubic-bezier(.62, .25, .65, .83); -ms-transition: all 800ms cubic-bezier(.62, .25, .65, .83); -o-transition: all 800ms cubic-bezier(.62, .25, .65, .83); transition: all 800ms cubic-bezier(.62, .25, .65, .83)
}
.txt {
	POSITION: absolute; TEXT-INDENT: -9999em; WIDTH: 410px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 130px; OVERFLOW: hidden; TOP: 50px; LEFT: 0px; opacity: 0; -webkit-transition: all 800ms ease-in-out; -moz-transition: all 800ms ease-in-out; -ms-transition: all 800ms ease-in-out; -o-transition: all 800ms ease-in-out; transition: all 800ms ease-in-out
}
.txt-wrap {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 990px; ZOOM: 1; HEIGHT: 100%
}
.txt H3 {
	DISPLAY: none
}
.txt P {
	DISPLAY: none
}
.txt A {
	Z-INDEX: 9; POSITION: absolute; TEXT-INDENT: -9999em; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 105px; BOTTOM: 8px; DISPLAY: block; HEIGHT: 26px; OVERFLOW: hidden; CURSOR: pointer; LEFT: 0px
}
.txt .txt-download {
	POSITION: relative; WIDTH: 250px; HEIGHT: 110px; TOP: 170px; LEFT: 0px
}
.txt .txt-download P {
	TEXT-INDENT: 0px; DISPLAY: block; COLOR: #fefefe; FONT-SIZE: 14px
}
.txt .txt-download .link {
	MARGIN-TOP: 10px
}
.txt .txt-download .link A {
	POSITION: static; WIDTH: 111px; FLOAT: left; HEIGHT: 32px; CURSOR: pointer; MARGIN-RIGHT: 12px
}
.txt .txt-download .link A:hover {
	POSITION: static; WIDTH: 111px; FLOAT: left; HEIGHT: 32px; CURSOR: pointer; MARGIN-RIGHT: 12px
}
.slide-1 .bg-1 {
	DISPLAY: block; opacity: 1
}
.slide-1 .pic-1 {
	DISPLAY: block; opacity: 1
}
.slide-1 .txt-1 {
	DISPLAY: block; opacity: 1
}
.slide-2 .bg-2 {
	DISPLAY: block; opacity: 1
}
.slide-2 .pic-2 {
	DISPLAY: block; opacity: 1
}
.slide-2 .txt-2 {
	DISPLAY: block; opacity: 1
}
.slide-3 .bg-3 {
	DISPLAY: block; opacity: 1
}
.slide-3 .pic-3 {
	DISPLAY: block; opacity: 1
}
.slide-3 .txt-3 {
	DISPLAY: block; opacity: 1
}
.slide-4 .bg-4 {
	DISPLAY: block; opacity: 1
}
.slide-4 .pic-4 {
	DISPLAY: block; opacity: 1
}
.slide-4 .txt-4 {
	DISPLAY: block; opacity: 1
}
.slide-5 .bg-5 {
	DISPLAY: block; opacity: 1
}
.slide-5 .pic-5 {
	DISPLAY: block; opacity: 1
}
.slide-5 .txt-5 {
	DISPLAY: block; opacity: 1
}
.slide-number-box {
	Z-INDEX: 999; POSITION: relative; MARGIN: 0px auto; WIDTH: 990px; HEIGHT: 0px
}
.slide-number {
	POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 9px; PADDING-LEFT: 0px; WIDTH: 120px; BOTTOM: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: -60px; PADDING-TOP: 8px; LEFT: 50%
}
.slide-number A {
	TEXT-INDENT: -9999em; MARGIN: 0px 10px 0px 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 14px; DISPLAY: block; BACKGROUND-POSITION: -447px -72px; FLOAT: left; HEIGHT: 14px; OVERFLOW: hidden
}
.slide-number .slide-number-active {
	BACKGROUND-POSITION: -433px -72px
}
.anim-left {
	LEFT: 30px
}
.anim-right {
	LEFT: -30px
}
.anim-up {
	TOP: 0px
}
.anim-down {
	TOP: 100px
}
.anim-left-over {
	LEFT: 0px
}
.anim-right-over {
	LEFT: 0px
}
.anim-up-over {
	TOP: 50px
}
.anim-down-over {
	TOP: 50px
}
#server-link {
	Z-INDEX: 999; POSITION: relative; MARGIN: 0px auto; WIDTH: 990px; HEIGHT: 0px
}
#server-link .ui-link {
	POSITION: absolute; PADDING-BOTTOM: 10px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; BOTTOM: 17px; PADDING-RIGHT: 0px; HEIGHT: 14px; PADDING-TOP: 10px; LEFT: 0px
}
#server-link .ui-link-item {
	FLOAT: left; BORDER-RIGHT: #fff 1px solid
}
#server-link .ui-link-item A {
	COLOR: #ffffff
}
#server-link .ui-link-item A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#server-link .ui-link-item-last {
	BORDER-RIGHT: medium none
}
.main {
	BACKGROUND-COLOR: #f9f9f9; WIDTH: 100%; HEIGHT: 260px
}
.product {
	BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-COLOR: #f9f9f9; HEIGHT: 160px
}
.product-item {
	MARGIN: 25px 20px 0px 0px; WIDTH: 340px; FLOAT: left; HEIGHT: auto
}
.product-item .title {
	MARGIN-TOP: 10px; TEXT-INDENT: -9999em; WIDTH: 270px; HEIGHT: 30px; OVERFLOW: hidden
}
.product-item .title-link {
	DISPLAY: block; HEIGHT: 30px
}
#pay-quickly .title-link {
	WIDTH: 200px; BACKGROUND-POSITION: -246px -260px
}
#pay-life .title-link {
	WIDTH: 199px; BACKGROUND-POSITION: 0px -290px
}
#pay-anywhere .title-link {
	WIDTH: 246px; BACKGROUND-POSITION: 0px -260px
}
.product-item .ui-link {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 6px
}
.product-item .ui-link-item {
	LINE-HEIGHT: 16px
}
.product-item A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.product-item .link {
	PADDING-BOTTOM: 4px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; PADDING-TOP: 4px
}
.product-item .link .icon-youhui {
	MARGIN: -4px 5px 0px 0px; WIDTH: 49px; DISPLAY: inline-block; BACKGROUND-POSITION: -369px -72px; HEIGHT: 17px; VERTICAL-ALIGN: middle
}
.product-item .picture {
	WIDTH: 270px; HEIGHT: 45px
}
.product-item .picture IMG {
	VERTICAL-ALIGN: middle
}
.product-item .picture .kuaijie {
	DISPLAY: inline-block; HEIGHT: 45px
}
.product-item .picture .icon {
	MARGIN: 3px 11px 3px 0px; DISPLAY: inline-block
}
.product-item .picture .client {
	DISPLAY: inline-block; HEIGHT: 36px
}
.product-item-last {
	WIDTH: 270px; MARGIN-RIGHT: 0px
}
.about {
	PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #f9f9f9; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 58px; BORDER-TOP: #ffffff 1px solid; PADDING-TOP: 20px
}
.about-item {
	POSITION: relative; WIDTH: 270px; FLOAT: left; HEIGHT: 55px; MARGIN-RIGHT: 90px
}
.about-item-last {
	MARGIN-RIGHT: 0px
}
.about-item .title {
	TEXT-INDENT: -9999em; WIDTH: 220px; MARGIN-BOTTOM: 2px; HEIGHT: 30px; MARGIN-LEFT: 60px
}
.about-item .icon-title-safety {
	WIDTH: 155px; BACKGROUND-POSITION: -155px -230px
}
.about-item .icon-title-vip {
	WIDTH: 155px; BACKGROUND-POSITION: 0px -230px
}
.about-item .icon-title-abc {
	WIDTH: 155px; BACKGROUND-POSITION: -310px -230px
}
.about-item .ui-link {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 16px; PADDING-TOP: 0px; LEFT: 60px
}
.about-item .ui-link-item {
	LINE-HEIGHT: 16px; FONT-SIZE: 14px
}
.about-item .ui-link-item A {
	COLOR: #999
}
.about-item .ui-link-item A:hover {
	COLOR: #ff6600
}
.about-item .ui-link-item-last {
	PADDING-RIGHT: 6px
}
.about-item .icon-about {
	POSITION: absolute; WIDTH: 46px; DISPLAY: block; HEIGHT: 46px; TOP: 3px; LEFT: 0px
}
.about-item .icon-about-safety {
	BACKGROUND-POSITION: 0px 0px
}
.about-item .icon-about-vip {
	BACKGROUND-POSITION: -48px 0px
}
.about-item .icon-about-abc {
	BACKGROUND-POSITION: 0px -48px
}
#safety {
	_margin-right: 43px
}
#safety .follow_wrapper {
	MARGIN-TOP: -3px; FLOAT: left; HEIGHT: 22px
}
.footer {
	BACKGROUND-COLOR: #ededed; WIDTH: 100%
}
.partner {
	BORDER-BOTTOM: #d9d9d9 1px solid; PADDING-BOTTOM: 25px; BACKGROUND-COLOR: #ededed; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; HEIGHT: 70px; OVERFLOW: hidden; PADDING-TOP: 25px
}
.partner-item {
	WIDTH: 240px; ZOOM: 1; FLOAT: left; HEIGHT: 70px
}
.partner-item-last {
	WIDTH: 270px
}
.partner-item .title {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 18px
}
.partner-item .title SPAN {
	COLOR: #808080; FONT-WEIGHT: 700
}
.partner-item .more {
	COLOR: #b3b3b3; MARGIN-LEFT: 10px
}
.partner-item .more .icon-more {
	LINE-HEIGHT: 15px; WIDTH: 15px; DISPLAY: inline-block; BACKGROUND-POSITION: -445px -45px; HEIGHT: 15px; VERTICAL-ALIGN: text-bottom
}
.partner-item .cnt {
	WIDTH: 240px; ZOOM: 1; HEIGHT: 50px; OVERFLOW: hidden
}
.partner-item .cnt .business-pic {
	WIDTH: 210px; DISPLAY: block; BACKGROUND-POSITION: -115px -320px; HEIGHT: 21px
}
.partner-item .ui-list-item {
	LINE-HEIGHT: 20px; HEIGHT: 24px
}
.partner-item .ui-list-item .icon-list {
	WIDTH: 12px; DISPLAY: inline-block; BACKGROUND-POSITION: -440px -117px; HEIGHT: 12px
}
.icon-partner-bank {
	WIDTH: 208px; DISPLAY: block; BACKGROUND-POSITION: -193px -186px; HEIGHT: 37px
}
.icon-partner-security {
	WIDTH: 193px; DISPLAY: block; BACKGROUND-POSITION: 0px -186px; HEIGHT: 44px
}
.J-RotateList {
	POSITION: relative; WIDTH: 270px; HEIGHT: 48px; OVERFLOW: hidden
}
.sitelink {
	TEXT-ALIGN: center; PADDING-BOTTOM: 25px; BACKGROUND-COLOR: #ededed; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #f6f6f6 1px solid; PADDING-TOP: 25px
}
.sitelink .ui-link {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-TOP: 4px; _display: inline
}
.sitelink .ui-link-bottom {
	PADDING-TOP: 8px; _padding-top: 15px
}
.sitelink .ui-link-item {
	COLOR: #a0a0a0
}
.sitelink .ui-link-item A {
	COLOR: #a0a0a0
}
.sitelink .ui-link-item A:hover {
	COLOR: #a0a0a0; TEXT-DECORATION: underline
}
.auth {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #ededed; HEIGHT: 50px
}
.auth-link {
	DISPLAY: inline-block; _display: inline
}
.auth-link-item {
	FLOAT: left; HEIGHT: 40px
}
.auth-link-item A {
	TEXT-INDENT: -9999em; DISPLAY: block; OVERFLOW: hidden
}
.auth-link-item SPAN {
	TEXT-INDENT: -9999em; DISPLAY: block; OVERFLOW: hidden
}
.auth .icon {
	DISPLAY: block
}
.auth .icon:hover {
	DISPLAY: block
}
.auth .icon-zfywxk {
	WIDTH: 38px; BACKGROUND-POSITION: -369px -45px; HEIGHT: 27px; MARGIN-RIGHT: 15px
}
.auth .icon-zfywxk:hover {
	BACKGROUND-POSITION: -407px -45px
}
.auth .icon-pcirk {
	WIDTH: 78px; BACKGROUND-POSITION: -110px -96px; HEIGHT: 27px; MARGIN-RIGHT: 16px
}
.auth .icon-pcirk:hover {
	BACKGROUND-POSITION: -110px -141px
}
.auth .icon-visayz {
	WIDTH: 36px; BACKGROUND-POSITION: -426px -90px; HEIGHT: 27px; MARGIN-RIGHT: 14px
}
.auth .icon-visayz:hover {
	BACKGROUND-POSITION: -391px -135px
}
.auth .icon-vsjmfw {
	WIDTH: 63px; BACKGROUND-POSITION: -401px -186px; HEIGHT: 27px; MARGIN-RIGHT: 13px
}
.auth .icon-vsjmfw:hover {
	BACKGROUND-POSITION: -199px -290px
}
.auth .icon-zjwm {
	WIDTH: 34px; BACKGROUND-POSITION: -427px -135px; HEIGHT: 27px; MARGIN-RIGHT: 14px
}
.auth .icon-zjwm:hover {
	BACKGROUND-POSITION: -262px -290px
}
.auth .icon-wlgs {
	WIDTH: 22px; BACKGROUND-POSITION: -48px -48px; HEIGHT: 27px; MARGIN-RIGHT: 17px
}
.auth .icon-wlgs:hover {
	BACKGROUND-POSITION: -70px -48px
}
.auth .icon-ppaa {
	WIDTH: 27px; BACKGROUND-POSITION: -296px -290px; HEIGHT: 27px; MARGIN-RIGHT: 12px
}
.auth .icon-ppaa:hover {
	BACKGROUND-POSITION: -323px -290px
}
.auth .icon-hzdt {
	WIDTH: 25px; BACKGROUND-POSITION: -350px -290px; HEIGHT: 27px; MARGIN-RIGHT: 10px
}
.auth .icon-hzdt:hover {
	BACKGROUND-POSITION: -375px -290px
}
.auth .icon-aqff {
	WIDTH: 40px; BACKGROUND-POSITION: -400px -290px; HEIGHT: 27px; MARGIN-RIGHT: 12px
}
.auth .icon-aqff:hover {
	BACKGROUND-POSITION: -75px -320px
}
.auth .icon-rzcx {
	WIDTH: 75px; BACKGROUND-POSITION: 0px -320px; HEIGHT: 27px
}
.auth .icon-rzcx:hover {
	BACKGROUND-POSITION: -316px -135px
}
#ServerNum {
	BACKGROUND-COLOR: #ededed; WIDTH: 100%; COLOR: #ededed
}
#ServerNum P {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #ededed
}
.follow_btn {
	TEXT-INDENT: -99999px; WIDTH: 46px; DISPLAY: inline-block; BACKGROUND-POSITION: -48px -75px; HEIGHT: 21px
}
.follow_btn:hover {
	TEXT-INDENT: -99999px; WIDTH: 46px; DISPLAY: inline-block; BACKGROUND-POSITION: -325px -320px; HEIGHT: 21px
}
.partner-item .cnt .business-pic-last I {
	WIDTH: 205px; DISPLAY: block; BACKGROUND-POSITION: -205px -427px; HEIGHT: 20px
}
.partner-item .cnt .business-pic-last .a {
	BACKGROUND-POSITION: -205px -347px
}
.partner-item .cnt .business-pic-last .b {
	BACKGROUND-POSITION: 0px -427px
}
.partner-item .cnt .business-pic-last .c {
	BACKGROUND-POSITION: -205px -387px
}
.partner-item .cnt .business-pic-last .d {
	BACKGROUND-POSITION: -205px -407px
}
.partner-item .cnt .business-pic-last .e {
	BACKGROUND-POSITION: -205px -387px
}
.partner-item .cnt .business-pic-last .f {
	BACKGROUND-POSITION: 0px -367px
}
.partner-item .cnt .business-pic-last .g {
	BACKGROUND-POSITION: -205px -367px
}
.partner-item .cnt .business-pic-last .h {
	BACKGROUND-POSITION: 0px -387px
}
.partner-item .cnt .business-pic-last .i {
	BACKGROUND-POSITION: 0px -347px
}
.partner-item .cnt .business-pic-last .j {
	BACKGROUND-POSITION: 0px -407px
}
