<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政X融X网</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="css/plugins/timeline/timeline.css" rel="stylesheet">
    
<link href="css/mine.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/cdn/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="container-fluid">
<div class="row" style="padding-left:5px; padding-right:5px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


<div class="row">



<div class="col-xs-12 col-sm-2 col-md-2">
<img src="img/logo.jpg"></img>
</div>




<div class="hidden-xs col-sm-10 col-md-10">
<div class="btn-group btn-group-lg  btn-group-justified" style="background-color:#f0ad4e; width:100%;">

<div class="btn-group">
<a href="index.html" class="btn btn-warning btn-lg">首&nbsp;&nbsp;&nbsp;&nbsp;页&nbsp;&nbsp;&nbsp;</a>
</div>
<div class="btn-group">
<a href="projectlist.html" class="btn btn-warning btn-lg">我要理财</a>
</div>
<div class="btn-group">
<a href="temp.html" class="btn btn-warning btn-lg">我的账户</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg">我要融资</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg">设&nbsp;&nbsp;&nbsp;&nbsp;置&nbsp;&nbsp;&nbsp;</a>
</div>
<div class="btn-group">
<a id="lg_login_text" class="btn btn-warning btn-lg login_text active"><SPAN style="cursor:pointer;">登陆</span></a>
</div>

</div>
</div>








</div>

<div class="row" style="margin-top: 10px;">
<div class="col-xs-12 col-sm-12 col-md-12">

<div class="panel panel-default" style="padding-bottom:50px;">
<div class="panel-heading"><a href="index.html"><span class="glyphicon glyphicon-arrow-left"></span>取消</a></div>

<div class="row" style="margin-top:10px;">
<div class="hidden-xs col-md-3"></div>
<div class="hidden-xs col-md-2"></div>
<div class="col-xs-12 col-md-7">没有密码？<a href="register.html">免费注册</a></div>
</div>
<div class="row" style="margin-top:15px;">
<div class="hidden-xs col-sm-3 col-md-4"></div>
<div class="hidden-xs col-sm-2 col-md-1">用户名</div>
<div class="col-xs-12 col-sm-4 col-md-4"><input id="username" type="text" class="form-control" placeholder="请输入您的用户名"></input></div>
<div class="col-xs-12 col-sm-3 col-md-3"><span id="usernameLabel" style="font-size:small"></span></div>
</div>
<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-4"></div>
<div class="hidden-xs col-sm-2 col-md-1">密码</div>
<div class="col-xs-12 col-sm-4 col-md-4"><input id="password" type="password" class="form-control" placeholder="请输入您的密码"></input></div>
<div class="col-xs-12 col-sm-3 col-md-3"><span id="passwordLabel" style="font-size:small"></span></div>
</div>
<div class="row" style="margin-top:5px;">
<div class="hidden-xs col-sm-3 col-md-4"></div>
<div class="hidden-xs col-sm-2 col-md-1">验证码</div>
<div class="col-xs-7 col-sm-3 col-md-2"><input id="validate" type="text" class="form-control" placeholder="请输入验证码"></input></div>
<div class="col-xs-5 col-sm-2 col-md-2"><img src="img/yanzhengma.jpg"></img></div>
<div class="col-xs-12 col-sm-2 col-md-3"><span id="validateLabel" style="font-size:small"></span></div>
</div>
<div class="row" style="margin-top:5px;">
<div class="col-xs-2 col-sm-4 col-md-4"></div>
<div class="col-xs-8 col-sm-4 col-md-4"><button id="login" type="button" class="btn btn-success" style="width:150px;">登陆</button></div>
<div class="col-xs-2 col-sm-4 col-md-4"></div>
</div>

</div>


</div>

</div>

</div>
</div>
</div>
<script src="js/cookies.js"></script>
<script>
$(document).ready(function() {
	
	
	$('.login_text').click(function(e){
		
			return;
		});
	
	
	
	
	$('#username').focus();
       $('#login').click(function(e){
			var username = $('input#username').val();
			var password = $('input#password').val();
			var validate = $('input#validate').val();

			if(username==null||username==''){
					$('#usernameLabel').css('color', 'red').html('*请输入用户名');
					return;
				}else{
					$('#usernameLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
					}

			if(password==null||password==''){
				$('#passwordLabel').css('color', 'red').html('*请输入密码');
				return;
			}else{
				$('#passwordLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
				}


			if(validate==null||validate==''||validate!='8668'){
				$('#validateLabel').css('color', 'red').html('*验证码错误');
				return; 
			}else{
				$('#validateLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
				}


			
			if(username=='wd' && password=='111111'){
				addCookie("username","wd",1);
				window.location.href="temp.html"; 
				}else{
				alert('用户名密码错误，请重新输入！');
				$('input#password').val('');
				$('input#validate').val('');
				$('#usernameLabel').html('').removeClass('glyphicon glyphicon-ok');
				$('#passwordLabel').html('').removeClass('glyphicon glyphicon-ok');
				$('#validateLabel').html('').removeClass('glyphicon glyphicon-ok');
					}
			
           });

       $('input#username').blur(function(e){
           var username = $(this).val();
           if(username==null||username==''){
				$('#usernameLabel').css('color', 'red').html('*请输入用户名');
			}else{
				$('#usernameLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
				}
           });
       $('input#password').blur(function(e){
    	   var password = $(this).val();
    	   if(password==null||password==''){
				$('#passwordLabel').css('color', 'red').html('*请输入密码');
			}else{
				$('#passwordLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
				}
           });

       $('input#validate').blur(function(e){
    	   var validate = $(this).val();
    	   if(validate==null||validate==''||validate!='8668'){
				$('#validateLabel').css('color', 'red').html('*验证码错误');
			}else{
				$('#validateLabel').html('').addClass('glyphicon glyphicon-ok').css('color', 'green');
				}
           });

       $('input#validate').on('keyup', function(e) {

			var key = e.keyCode;
			if (key === 13) { // 表示按的是enter键
				$('#login').click();
			}
       });
})
</script>
</body>
</html>