<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政X融X网</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="css/plugins/timeline/timeline.css" rel="stylesheet">
    
<link href="css/mine.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="container-fluid">
<div class="row" style="padding-left:5px; padding-right:5px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


<div class="row">





<div class="col-xs-12 col-sm-2 col-md-2">
<img src="img/logo.jpg"></img>
</div>




<div class="hidden-xs col-sm-10 col-md-10">
<div class="btn-group btn-group-lg  btn-group-justified" style="background-color:#f0ad4e; width:100%;">

<div class="btn-group">
<a href="index.html" class="btn btn-warning btn-lg">首&nbsp;&nbsp;&nbsp;&nbsp;页&nbsp;&nbsp;&nbsp;</a>
</div>
<div class="btn-group">
<a href="projectlist.html" class="btn btn-warning btn-lg active">我要理财</a>
</div>
<div class="btn-group">
<a href="temp.html" class="btn btn-warning btn-lg">我的账户</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg">我要融资</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg">设&nbsp;&nbsp;&nbsp;&nbsp;置&nbsp;&nbsp;&nbsp;</a>
</div>
<div class="btn-group">
<a id="lg_login_text" class="btn btn-warning btn-lg login_text"></a>
</div>

</div>
</div>





</div>

<div class="row" style="margin-top: 10px;">
<div class="col-xs-12 col-md-9">

<div class="panel panel-default">
<div class="panel-heading"><a href="projectlist.html"><span class="glyphicon glyphicon-arrow-left"></span>返回产品列表</a></div>




<div class="newProjectItem">
  <div class="newProjectInfoBox">
  
  
  <div class="row" style="padding-bottom:20px;">
  <div class="col-xs-12 col-md-8">

  <a href="projectdetail.html">
                                        灯饰公司企业经营借款</a>
  </div>
  <div class="col-xs-12 col-md-4">
   <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            定时标</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “定时标”是一种限定最大融资额度和截止时间的项目类型。在截至时间内，投资方可以自由投标；到达截至时间后，不论项目实际融资金额是否达到最大融资额度，项目都按时成交。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            企业经营贷</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “企业经营贷” 是以企业为服务对象的融资产品，主要用于企业正常生产经营周转的资金需求。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnHover">
                                            融资中</p>
                                    </div>
                                    <div class="clear">
                                    </div>
  
  </div>
  </div>
  
  <div class="row">
  <div class="col-xs-3 col-md-1">
  								<div class="seeMore">
                                    <a href="projectdetail2.html"></a>
                                </div>
  </div>
  <div class="col-xs-9 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  								<div class="percent">
                                            <div class="percentIn" style='width: 100%'>
                                            </div>
                                        </div>
                                        <p class="percentNO">
                                            100%</p>
  </div>
  <div class="col-xs-12 col-md-12">
  已融资1000000.00元
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <p class="itemTextStyle">
                                            融资金额：<span class="orangeStyle">100.00</span>万元</p>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="itemTextStyle">
                                            融资期限：<span class="spanPro">3个月</span>
                                            <div class="promptQX">
                                                <div class="promptQXBox">
                                                    该项目还款日期为：<div>
                                                        2014-10-30</div>
                                                </div>
                                            </div>
                                        </div>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  
  <div class="itemTextStyle">
                                            年化收益：<span class="orangeStyle">16％+2％</span>
                                          
                                        </div>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-2">
  <div class="stateBtn">
                                    <p class=stateBtnProcess>
                                        <span class="stateText">
                                           正在 融资</span></p>
                                </div>
                                </div>
  
  </div>
  
  
  <div class="row">
  <div class="col-xs-2 col-sm-6 col-md-6"></div>
  <div class="col-xs-8 col-sm-3 col-md-3 lendDiv">
  <a id="project1" class="lend btn btn-danger">投标</a>
  </div>
  <div class="col-xs-2 col-sm-1 col-md-1 confirm"></div>
  <div class="col-xs-2 col-sm-2 col-md-2 message"></div>
  </div>
  
                        </div>
                        </div>     





</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#basic" role="tab" data-toggle="tab">基本信息</a></li>
  <li><a href="#model" id="returnmodal" role="tab" data-toggle="tab">还款模型</a></li>
  <li><a href="#introduction" role="tab" data-toggle="tab">项目简介</a></li>
  <li><a href="#video" role="tab" data-toggle="tab">签约过程</a></li>
  <li><a href="#material" role="tab" data-toggle="tab">相关资料</a></li>
  <li><a href="#timeline" role="tab" data-toggle="tab">执行时间轴</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="basic">
  <div class="panel-body">
    
  </div>
  
	<table class="table">
	<tr><td>项目名称</td><td>电脑工程企业经营借款</td></tr>
	<tr><td>融资金额</td><td>500,000</td></tr>
	<tr><td>融资期限</td><td>3个月</td></tr>
	<tr><td>年华收益</td><td>16%</td></tr>
	<tr><td>收益起始日期</td><td>2014-7-1</td></tr>
	<tr><td>正常结束日期</td><td>2014-10-1</td></tr>
	<tr><td>项目评估</td><td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td></tr>
	<tr><td colspan=2></td></tr>
	<tr><td>项目融资方</td><td>中国XXX公司</td></tr>
	<tr><td>融资方信用值</td><td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td></tr>
	</table>
	</div>
  <div class="tab-pane" id="model">
  
  <table class="table">
  <tr><th>预计还款时间</th><th>还款类型</th><th>金额</th></tr>
	<tr><td>2014-9-5</td><td>本利</td><td>20000</td></tr>
	<tr><td>2014-10-5</td><td>本利</td><td>20000</td></tr>
	<tr><td>2014-11-5</td><td>本利</td><td>20000</td></tr>
	<tr><td>2014-12-5</td><td>本利</td><td>20000</td></tr>
	<tr><td>2014-1-5</td><td>本利</td><td>20000</td></tr>
	<tr><td>2014-2-5</td><td>本利</td><td>20000</td></tr>
	</table>
  
  </div>
  <div class="tab-pane" id="introduction">
  <div class="panel panel-default" style="padding-left:10px;padding-right:10px;">
  <p></p>
  <p>本笔借款为政府订单经营贷款，借款金额50万，期限3个月。</p>
       <p>借款人为石家庄某幼儿园教师，名下有商品房一套，面积98.28平米，估价85万，为人诚实守信，有良好的信用记录。其父母均为国企员工，经平台和担保公司考察人员实地调查，借款人家庭与周围邻居关系融洽，在其居住地有较好的口碑。本次借款主要用于装修新房，以及偿还购房时的部分借款。还款来源为其父母名下2个月内到期的私募股权产品。平台及担保公司同意为借款人授信25万元，本笔业务由河北鼎诚担保有限公司提供担保，担保公司已出具担保函，反担保措施为实力担保人保证担保，并追加借款人父母无限连带责任担保。</p>
  </div>
  </div>
  <div class="tab-pane" id="video">
  	请耐心等待投标完成正式签订合同.......
  </div>
  <div class="tab-pane" id="material">
		
		<div class="panel panel-default" style="padding-left:10px;padding-top:10px;">
		
	<DIV class=projectDetailSubTitle>担保函</DIV>
<UL class=projectDetailPic>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/2014728174638297.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/2014728174638297.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>担保函第一页</P></A></LI>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/2014728174650375.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/2014728174650375.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>担保函第二页</P></A></LI>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/201472817472563.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/201472817472563.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>担保函第三页</P></A></LI></UL>
<DIV class=projectDetailSubTitle>身份证信息</DIV>
<UL class=projectDetailPic>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/2014728174725235.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/2014728174725235.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>身份证正面</P></A></LI>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/2014728174737516.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/2014728174737516.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>身份证背面</P></A></LI></UL>
<DIV class=projectDetailSubTitle>业务资料</DIV>
<UL class=projectDetailPic>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/2014729986684.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/2014729986684.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>业务资料1</P></A></LI>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/20147299818591.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/20147299818591.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>业务资料2</P></A></LI></UL>
<DIV class=projectDetailSubTitle>家庭住址</DIV>
<UL class=projectDetailPic>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/2014728174758360.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/2014728174758360.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>环境1</P></A></LI>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/201472817488797.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/201472817488797.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>环境2</P></A></LI>
  <LI><A 
  href="http://www.rongtoudai.cn/UploadFloder/100000/2014728174817844.jpg" target="_blank"><IMG 
  src="http://www.rongtoudai.cn/UploadFloder/100000/2014728174817844.jpg" 
  width=110 height=75 rel="lightbox-myGroup111"> 
  <P>环境3</P></A></LI></UL>
	</div>
	</div>
  <div class="tab-pane" id="timeline">
		<div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge success"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">执行第一次还款</h4>
                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i> 2014-7-29</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>及时执行第二次还款</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">项目运行考察</h4>
                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i> 2014-7-16</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>经本平台管理人员实地考察账目，该项目一切运行良好</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge danger"><i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">部分应收款延期</h4>
                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i> 2014-7-15</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>部分应收款延期，资金出现紧张</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">融资完成</h4>
                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i> 2014-7-1</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>项目融资完成，开始正式启动！</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                <div class="timeline-badge info"><i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">开始融资</h4>
                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i> 2014-6-27</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>项目开始融资，融资金额为50万</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
  </div>
</div>

</div>

<div class="hidden-xs hidden-sm col-md-3">





<DIV style="DISPLAY: none; padding: 10px 0 10px 5px; margin-bottom:5px;" id=login_pop>

  <DIV style="LINE-HEIGHT: 180%; padding-left:5px; HEIGHT:45px; FONT-SIZE:13px;">
  <DIV style="width:90%; MARGIN-LEFT: 10px"><SPAN style="MARGIN-RIGHT: 10px" 
  id=login_name>您好：wd</SPAN><span style="float:right;"><A href="quit.html">退出登录</A></span> </DIV>
  <div style="clear:both;"></div>
  </div>
  <div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
  <DIV style="LINE-HEIGHT: 180%; padding-left:5px; FONT-SIZE:13px;">
  <SPAN><IMG 
  style="VERTICAL-ALIGN: text-bottom" 
  src="img/m_tel_icon.png"> <A 
  id=login_tel_status 
  href="http://www.btc38.com/trade/binding_tel.html">手机已绑定</A><IMG 
  style="MARGIN-LEFT: 10px; VERTICAL-ALIGN: text-bottom" 
  src="img/m_card_icon.png"> 
  <A id=login_cred_status href="http://www.btc38.com/trade/rnsys.html">实名已认证</A><IMG 
  style="MARGIN-LEFT: 10px; VERTICAL-ALIGN: text-bottom" 
  src="img/m_lock_icon.png"> 
  <A href="http://www.btc38.com/trade/trade_pwd.html">交易密码</A></SPAN>
  </div>
  <div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
  
  <DIV style="LINE-HEIGHT: 180%; padding-left:5px; FONT-SIZE:13px;">
  <A 
  href="http://www.btc38.com/trade/trade_balance.html">资金管理/充值/提款</A> | <A 
  href="http://www.btc38.com/trade/accrual.html">利息</A> | <A 
  href="http://www.btc38.com/trade/tmc_bonus.html">时代币和分红</A><BR><A 
  href="http://www.btc38.com/trade/trade_order.html">我的委单</A> | <A 
  href="http://www.btc38.com/trade/trade_clinch.html">成交记录</A> | <A 
  href="http://www.btc38.com/trade/cs_qaa.html">客服有问必答</A> | <A 
  href="http://www.btc38.com/trade/reserves.html">准备金</A>
  </div>
  
  <div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
<DIV style="LINE-HEIGHT: 180%; padding-left:5px; FONT-SIZE:13px;">
<A 
  href="http://en.btc38.com/" target=_blank>English Version</A> | <A 
  href="http://www.btc38.com/general/1694.html" target=_blank>手机交易WAP</A> | <A 
  href="http://www.btc38.com/general/2227.html" target=_blank>手机行情APP</A>
</DIV>
<div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
<DIV style="LINE-HEIGHT: 180%; MARGIN: 0px 10px 10px; FONT-SIZE: 12px" 
id=gonggao>[公告]2014-9-2政府办公采购结构化产品正式投标</DIV></DIV>











<div class="panel panel-default">
<div class="panel-heading">系统公告</div>
<div class="panel-body">

<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">关于本系统升级的公告<span class="badge">168</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">系统二期即将上线运行通知<span class="badge">24</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购<span class="badge">16</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购<span class="badge">16</span></a></p>

</div>


 <div class="panel-footer">
	<a style="float:right;" href="#">更多....</a>
	<div style="clear:both;"></div>
</div>
</div>

<div class="panel panel-default" style="margin-top:35px;">
<div class="panel-heading">
<h3 class="panel-title">企业资讯</h3>
</div>
<div class="panel-body">


<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">关于本系统升级的公告<span class="badge">168</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">系统二期即将上线运行通知<span class="badge">24</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购<span class="badge">16</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">声明: 马航失事与本平台无关<span class="badge">70</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购<span class="badge">16</span></a></p>

</div>
 <div class="panel-footer">
<a style="float:right;" href="#">更多....</a>
	<div style="clear:both;"></div>
</div>
</div>






</div>
</div>

</div>
</div>
</div>


<script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>
    <script src="js/mine.js"></script>
    <script src="js/cookies.js"></script>
<script>
$(document).ready(function() {

	var username = getCookie("username");
	if(username==null || username==""){
		$('.login_text').html('<SPAN style="cursor:pointer;">登陆</span>');
		}else{
			$('.login_text').html('<SPAN style="cursor:pointer;">个人中心▼</span>');
			}
	
    $(".newProjectTitleRightBtnList p.BtnNormal").hover(function () {
        $(this).next(".promptQX").css("display", "block");
  }, function () {
          $(this).next(".promptQX").css("display", "none");
     });
$('.spanPro').hover(function () {
  $(this).next(".promptQX").css("display", "block");
}, function () {
      $(this).next(".promptQX").css("display", "none");
 });

$('#viewMore').click(function(e){
  window.location.href="projectlist.html";
  });

$('a.lend').click(function(e){

	var username = getCookie("username");
	if(username==null || username==""){
		 if(confirm("您需要先登录才能投标，现在登录?"))
		{
			 window.location.href="login.html"; 
				}
		 else
			 return;
		}

	

	var lend = $(this);
    
    var input = $('<input id="t2" width="100%" class="form-control amount" type="email" placeholder="请输入投标金额"/>');
    
    $('div.lendDiv').html('');
    $('div.lendDiv').append(input);
    
	$('div.confirm').html('');
	var confirma = $('<a class="confirma btn btn-danger">确定</a>');
	$('div.confirm').append(confirma);
	confirma.bind('click', function(){
		var value = input.val();
		var reg = /^\d+$/;
		if(value==null || value==""){
			alert('请输入金额');
			}else if(value.match(reg)){
				alert('投标成功，金额为'+value+'元');
				window.location.href = "myaccount.html";
			}
		else{
				alert('必须输入数字');
				return;
			}
		});
	$('input.amount').focus();
    });
    
    
$('.login_text').click(function(e){
	
	
	
	if($(this).text()=="登陆"){
		window.location.href="login.html";
		return;
	}
	
	
	
	
	if($('#login_pop').css('display')=='block')
	{
		$(this).removeClass('active');
		$('#login_pop').css('display', 'none');
	}else{
		$('#login_pop').css('display', 'block');
		$(this).addClass('active');
	}
});



});

</script>
</body>
</html>