<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政X融X网</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="css/mine.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="container-fluid">
<div class="row" style="padding-left:5px; padding-right:5px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">




<div class="row" style="margin-top:5px;">
<div class="col-xs-12 col-sm-2 col-md-2">
<img src="img/logo.jpg"></img>
</div>




<div class="hidden-xs col-sm-10 col-md-10">
<div class="btn-group btn-group-lg  btn-group-justified" style="background-color:#f0ad4e; width:100%;">

<div class="btn-group">
<a href="index.html" class="btn btn-warning btn-lg">首&nbsp;&nbsp;&nbsp;&nbsp;页&nbsp;&nbsp;&nbsp;</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg active">我要理财</a>
</div>
<div class="btn-group">
<a href="temp.html" class="btn btn-warning btn-lg">我的账户</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg">我要融资</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg">设&nbsp;&nbsp;&nbsp;&nbsp;置&nbsp;&nbsp;&nbsp;</a>
</div>
<div class="btn-group">
<a id="lg_login_text" class="btn btn-warning btn-lg login_text"></a>
</div>

</div>
</div>






<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
<div class="btn-group btn-group-lg  btn-group-justified" style="background-color:#f0ad4e; width:100%;">

<div class="btn-group">
<a href="index.html" class="btn btn-warning btn-lg">首&nbsp;&nbsp;&nbsp;&nbsp;页&nbsp;&nbsp;&nbsp;</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg active">我要理财</a>
</div>
</div>
</div>


<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
<div class="btn-group btn-group-lg  btn-group-justified" style="background-color:#f0ad4e; width:100%;">
<div class="btn-group">
<a href="temp.html" class="btn btn-warning btn-lg">我的账户</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg">我要融资</a>
</div>
</div>
</div>


<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
<div class="btn-group btn-group-lg  btn-group-justified" style="background-color:#f0ad4e; width:100%;">
<div class="btn-group">
<a href="#" class="btn btn-warning btn-lg">设&nbsp;&nbsp;&nbsp;&nbsp;置&nbsp;&nbsp;&nbsp;</a>
</div>
<div class="btn-group">
<a id="sm_login_text" class="btn btn-warning btn-lg login_text"></a>
</div>

</div>
</div>









</div>




<div class="row" style="margin-top: 10px;">
<div class="col-xs-12 col-md-9">


<DIV class=newProjectBox>

<div class="newProjectItem">
  <div class="newProjectInfoBox">
  
  
  <div class="row" style="padding-bottom:20px;">
  <div class="col-xs-12 col-md-8">

  <a href="projectdetail.html">
                                      <font color="red"><span class="glyphicon glyphicon-align-center" style="margin-right:3px;"></span></font>灯饰公司企业经营借款</a>
  </div>
  <div class="col-xs-12 col-md-4">
   <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            定时标</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “定时标”是一种限定最大融资额度和截止时间的项目类型。在截至时间内，投资方可以自由投标；到达截至时间后，不论项目实际融资金额是否达到最大融资额度，项目都按时成交。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            政府订单贷款</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “企业经营贷” 是以企业为服务对象的融资产品，主要用于企业正常生产经营周转的资金需求。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnHover">
                                           结构化产品</p>
                                    </div>
                                    <div class="clear">
                                    </div>
  
  </div>
  </div>
  
  <div class="row">
  <div class="col-xs-3 col-md-1">
  								<div class="constructure">
                                    
                                </div>
  </div>
  <div class="col-xs-9 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  								<div class="percent">
                                            <div class="percentIn" style='width: 88%'>
                                            </div>
                                        </div>
                                        <p class="percentNO">
                                            88%</p>
  </div>
  <div class="col-xs-12 col-md-12">
  已融资880000.00元
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <p class="itemTextStyle">
                                            融资总额：<span class="orangeStyle">100.00</span>万元</p>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="itemTextStyle">
                                            融资期限：<span class="spanPro">3个月</span>
                                            <div class="promptQX">
                                                <div class="promptQXBox">
                                                    该项目还款日期为：<div>
                                                        2014-10-30</div>
                                                </div>
                                            </div>
                                        </div>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  
  <div class="itemTextStyle">
                                            年化收益：<span class="orangeStyle">8%, 12%, 16％</span>
                                          
                                        </div>
  </div>
  <div class="col-xs-12 col-md-12">
   <p class="itemTextStyle">
                                            剩余时间：0天9小时34分</p>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-2">
  <div class="stateBtn">
                                    <p class='stateBtnProcess'>
                                        <span class="stateText">
                                            正在融资</span></p>
                                </div>
                                </div>
  
  </div>
  <div class="row">
  <div class="col-xs-2 col-sm-6 col-md-6"></div>
  <div class="col-xs-8 col-sm-3 col-md-3 lendDiv">
  <a id="project1" class="cons btn btn-danger">查看结构化产品列表</a>
  </div>
  <div class="col-xs-2 col-sm-1 col-md-1"></div>
  <div class="col-xs-2 col-sm-2 col-md-2"></div>
  </div>
  <div class="row constructDiv" style="display:none;">
  
  
  
  
  <div class="col-xs-12 col-sm-12 col-md-4">
  
		<div class="newProjectItem">
  <div class="newProjectInfoBox">
  
  
  <div class="row" style="padding-bottom:20px;">
  
  <div class="col-xs-12 col-md-12">
  
                                    
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                           稳健型</p>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                          有担保</p>
                                    </div>
                                    <div class="clear">
                                    </div>
  
  </div>
  
  <div class="col-xs-12 col-md-12">
  		<div class="seeMore">
                    <a href="projectdetail2.html"></a>
         </div>
  </div>
  </div>
  
  <div class="row">
  
  <div class="col-xs-12 col-md-12">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  								<div class="percent">
                                            <div class="percentIn" style='width: 90%'>
                                            </div>
                                        </div>
                                        <p class="percentNO">
                                            90%</p>
  </div>
  <div class="col-xs-12 col-md-12">
  				已融资540000.00元
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <p class="itemTextStyle">
                                            融资金额：<span class="orangeStyle">60.00</span>万元</p>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="itemTextStyle">
                                            融资期限：<span class="spanPro">3个月</span>
                                            <div class="promptQX">
                                                <div class="promptQXBox">
                                                    还款方式为：<div>
                                                        按天还本付息</div>
                                                </div>
                                            </div>
                                        </div>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  
  <div class="itemTextStyle">
                                            年化收益：<span class="orangeStyle">8％</span>
                                          
                                        </div>
  </div>
  <div class="col-xs-12 col-md-12">
   <p class="itemTextStyle">
                                           投标中</p>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-12">
  <div class="stateBtn">
                                    <p class='stateBtnProcess'>
                                        <span class="stateText">
                                            正在融资</span></p>
                                </div>
                                </div>
  
  </div>
  
                        </div>
                        </div>
	</div>
	
	
	
	
  <div class="col-xs-12 col-sm-12 col-md-4">


	<div class="newProjectItem">
  <div class="newProjectInfoBox">
  
  
  <div class="row" style="padding-bottom:20px;">
  <div class="col-xs-12 col-md-12">
  
                                    
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                           平衡型</p>
                                    </div>
                                    
                                    <div class="clear">
                                    </div>
  
  </div>
  <div class="col-xs-12 col-md-12">
  		<div class="seeMore">
                    <a href="projectdetail2.html"></a>
         </div>
  </div>
  </div>
  
  <div class="row">
  
  <div class="col-xs-12 col-md-12">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  								<div class="percent">
                                            <div class="percentIn" style='width: 75%'>
                                            </div>
                                        </div>
                                        <p class="percentNO">
                                            80%</p>
  </div>
  <div class="col-xs-12 col-md-12">
  				已融资240000.00元
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <p class="itemTextStyle">
                                            融资金额：<span class="orangeStyle">30.00</span>万元</p>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="itemTextStyle">
                                            融资期限：<span class="spanPro">3个月</span>
                                            <div class="promptQX">
                                                <div class="promptQXBox">
                                                    还款方式为：<div>
                                                        按月还本付息</div>
                                                </div>
                                            </div>
                                        </div>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  
  <div class="itemTextStyle">
                                            年化收益：<span class="orangeStyle">12％</span>
                                          
                                        </div>
  </div>
  <div class="col-xs-12 col-md-12">
   <p class="itemTextStyle">
                                           投标中</p>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-12">
  <div class="stateBtn">
                                    <p class='stateBtnProcess'>
                                        <span class="stateText">
                                            正在融资</span></p>
                                </div>
                                </div>
  
  </div>
  
                        </div>
                        </div>


</div>
  <div class="col-xs-12 col-sm-12 col-md-4">


<div class="newProjectItem">
  <div class="newProjectInfoBox">
  
  
  <div class="row" style="padding-bottom:20px;">
  <div class="col-xs-12 col-md-12">
  
                                    
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                           进取型</p>
                                    </div>
                                    
                                    <div class="clear">
                                    </div>
  
  </div>
  <div class="col-xs-4 col-md-4">
  		<div class="seeMore">
                    <a href="projectdetail.html"></a>
         </div>
  </div>
  </div>
  
  <div class="row">
  
  <div class="col-xs-12 col-md-12">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  								<div class="percent">
                                            <div class="percentIn" style='width: 100%'>
                                            </div>
                                        </div>
                                        <p class="percentNO">
                                            100%</p>
  </div>
  <div class="col-xs-12 col-md-12">
  				已融资100000.00元
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <p class="itemTextStyle">
                                            融资金额：<span class="orangeStyle">10.00</span>万元</p>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="itemTextStyle">
                                            融资期限：<span class="spanPro">3个月</span>
                                            <div class="promptQX">
                                                <div class="promptQXBox">
                                                    还款方式为：<div>
                                                        到期还本付息</div>
                                                </div>
                                            </div>
                                        </div>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  
  <div class="itemTextStyle">
                                            年化收益：<span class="orangeStyle">16％</span>
                                          
                                        </div>
  </div>
  <div class="col-xs-12 col-md-12">
   <p class="itemTextStyle">
                                           投标结束</p>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-12">
  <div class="stateBtn">
                                    <p class='stateBtnComplete'>
                                        <span class="stateText">
                                           融资完成</span></p>
                                </div>
                                </div>
  
  </div>
  
                        </div>
                        </div>



</div>
  </div>
  
                        </div>
                        </div>











<div class="newProjectItem">
  <div class="newProjectInfoBox">
  
  
  <div class="row" style="padding-bottom:20px;">
  <div class="col-xs-12 col-md-8">

  <a href="projectdetail.html">
                                        灯饰公司企业经营借款</a>
  </div>
  <div class="col-xs-12 col-md-4">
   <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            定时标</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “定时标”是一种限定最大融资额度和截止时间的项目类型。在截至时间内，投资方可以自由投标；到达截至时间后，不论项目实际融资金额是否达到最大融资额度，项目都按时成交。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            企业经营贷</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “企业经营贷” 是以企业为服务对象的融资产品，主要用于企业正常生产经营周转的资金需求。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            回款中</p>
                                    </div>
                                    <div class="clear">
                                    </div>
  
  </div>
  </div>
  
  <div class="row">
  <div class="col-xs-3 col-md-1">
  								<div class="seeMore">
                                    <a href="projectdetail.html"></a>
                                </div>
  </div>
  <div class="col-xs-9 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  								<div class="percent">
                                            <div class="percentIn" style='width: 100%'>
                                            </div>
                                        </div>
                                        <p class="percentNO">
                                            100%</p>
  </div>
  <div class="col-xs-12 col-md-12">
  已融资800000.00元
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <p class="itemTextStyle">
                                            融资金额：<span class="orangeStyle">100.00</span>万元</p>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="itemTextStyle">
                                            融资期限：<span class="spanPro">3个月</span>
                                            <div class="promptQX">
                                                <div class="promptQXBox">
                                                    该项目还款日期为：<div>
                                                        2014-10-30</div>
                                                </div>
                                            </div>
                                        </div>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  
  <div class="itemTextStyle">
                                            年化收益：<span class="orangeStyle">16％+2％</span>
                                          
                                        </div>
  </div>
  <div class="col-xs-12 col-md-12">
   <p class="itemTextStyle">
                                           投标已结束</p>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-2">
  <div class="stateBtn">
                                    <p class='stateBtnComplete'>
                                        <span class="stateText">
                                            融资完成</span></p>
                                </div>
                                </div>
  
  </div>
  
                        </div>
                        </div>
                        
                        <div class="newProjectItem">
  <div class="newProjectInfoBox">
  
  
  <div class="row" style="padding-bottom:20px;">
  <div class="col-xs-12 col-md-8">

  <a href="projectdetail.html">
                                        灯饰公司企业经营借款</a>
  </div>
  <div class="col-xs-12 col-md-4">
   <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            定时标</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “定时标”是一种限定最大融资额度和截止时间的项目类型。在截至时间内，投资方可以自由投标；到达截至时间后，不论项目实际融资金额是否达到最大融资额度，项目都按时成交。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            企业经营贷</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “企业经营贷” 是以企业为服务对象的融资产品，主要用于企业正常生产经营周转的资金需求。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            回款中</p>
                                    </div>
                                    <div class="clear">
                                    </div>
  
  </div>
  </div>
  
  <div class="row">
  <div class="col-xs-3 col-md-1">
  								<div class="seeMore">
                                    <a href="projectdetail.html"></a>
                                </div>
  </div>
  <div class="col-xs-9 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  								<div class="percent">
                                            <div class="percentIn" style='width: 100%'>
                                            </div>
                                        </div>
                                        <p class="percentNO">
                                            100%</p>
  </div>
  <div class="col-xs-12 col-md-12">
  已融资800000.00元
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <p class="itemTextStyle">
                                            融资金额：<span class="orangeStyle">100.00</span>万元</p>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="itemTextStyle">
                                            融资期限：<span class="spanPro">3个月</span>
                                            <div class="promptQX">
                                                <div class="promptQXBox">
                                                    该项目还款日期为：<div>
                                                        2014-10-30</div>
                                                </div>
                                            </div>
                                        </div>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  
  <div class="itemTextStyle">
                                            年化收益：<span class="orangeStyle">16％+2％</span>
                                          
                                        </div>
  </div>
  <div class="col-xs-12 col-md-12">
   <p class="itemTextStyle">
                                           投标已结束</p>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-2">
  <div class="stateBtn">
                                    <p class='stateBtnComplete'>
                                        <span class="stateText">
                                            融资完成</span></p>
                                </div>
                                </div>
  
  </div>
  
                        </div>
                        </div>
                        
                        <div class="newProjectItem">
  <div class="newProjectInfoBox">
  
  
  <div class="row" style="padding-bottom:20px;">
  <div class="col-xs-12 col-md-8">

  <a href="projectdetail.html">
                                        灯饰公司企业经营借款</a>
  </div>
  <div class="col-xs-12 col-md-4">
   <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            定时标</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “定时标”是一种限定最大融资额度和截止时间的项目类型。在截至时间内，投资方可以自由投标；到达截至时间后，不论项目实际融资金额是否达到最大融资额度，项目都按时成交。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            企业经营贷</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “企业经营贷” 是以企业为服务对象的融资产品，主要用于企业正常生产经营周转的资金需求。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            回款中</p>
                                    </div>
                                    <div class="clear">
                                    </div>
  
  </div>
  </div>
  
  <div class="row">
  <div class="col-xs-3 col-md-1">
  								<div class="seeMore">
                                    <a href="projectdetail.html"></a>
                                </div>
  </div>
  <div class="col-xs-9 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  								<div class="percent">
                                            <div class="percentIn" style='width: 100%'>
                                            </div>
                                        </div>
                                        <p class="percentNO">
                                            100%</p>
  </div>
  <div class="col-xs-12 col-md-12">
  已融资800000.00元
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <p class="itemTextStyle">
                                            融资金额：<span class="orangeStyle">100.00</span>万元</p>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="itemTextStyle">
                                            融资期限：<span class="spanPro">3个月</span>
                                            <div class="promptQX">
                                                <div class="promptQXBox">
                                                    该项目还款日期为：<div>
                                                        2014-10-30</div>
                                                </div>
                                            </div>
                                        </div>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  
  <div class="itemTextStyle">
                                            年化收益：<span class="orangeStyle">16％+2％</span>
                                          
                                        </div>
  </div>
  <div class="col-xs-12 col-md-12">
   <p class="itemTextStyle">
                                           投标已结束</p>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-2">
  <div class="stateBtn">
                                    <p class='stateBtnComplete'>
                                        <span class="stateText">
                                            融资完成</span></p>
                                </div>
                                </div>
  
  </div>
  
                        </div>
                        </div>
                        
                        <div class="newProjectItem">
  <div class="newProjectInfoBox">
  
  
  <div class="row" style="padding-bottom:20px;">
  <div class="col-xs-12 col-md-8">

  <a href="projectdetail.html">
                                        灯饰公司企业经营借款</a>
  </div>
  <div class="col-xs-12 col-md-4">
   <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            定时标</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “定时标”是一种限定最大融资额度和截止时间的项目类型。在截至时间内，投资方可以自由投标；到达截至时间后，不论项目实际融资金额是否达到最大融资额度，项目都按时成交。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            企业经营贷</p>
                                        <div class="promptQX">
                                            <div class="promptQXBox">
                                                “企业经营贷” 是以企业为服务对象的融资产品，主要用于企业正常生产经营周转的资金需求。</div>
                                        </div>
                                    </div>
                                    <div class="newProjectTitleRightBtnList">
                                        <p class="BtnNormal">
                                            回款中</p>
                                    </div>
                                    <div class="clear">
                                    </div>
  
  </div>
  </div>
  
  <div class="row">
  <div class="col-xs-3 col-md-1">
  								<div class="seeMore">
                                    <a href="projectdetail.html"></a>
                                </div>
  </div>
  <div class="col-xs-9 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  								<div class="percent">
                                            <div class="percentIn" style='width: 100%'>
                                            </div>
                                        </div>
                                        <p class="percentNO">
                                            100%</p>
  </div>
  <div class="col-xs-12 col-md-12">
  已融资800000.00元
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <p class="itemTextStyle">
                                            融资金额：<span class="orangeStyle">100.00</span>万元</p>
  </div>
  <div class="col-xs-12 col-md-12">
  <div class="itemTextStyle">
                                            融资期限：<span class="spanPro">3个月</span>
                                            <div class="promptQX">
                                                <div class="promptQXBox">
                                                    该项目还款日期为：<div>
                                                        2014-10-30</div>
                                                </div>
                                            </div>
                                        </div>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  
  <div class="itemTextStyle">
                                            年化收益：<span class="orangeStyle">16％+2％</span>
                                          
                                        </div>
  </div>
  <div class="col-xs-12 col-md-12">
   <p class="itemTextStyle">
                                           投标已结束</p>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-2">
  <div class="stateBtn">
                                    <p class='stateBtnComplete'>
                                        <span class="stateText">
                                            融资完成</span></p>
                                </div>
                                </div>
  
  </div>
  
                        </div>
                        </div>
                        
                        
                        
                        
  </div>
  
  <center>
<ul class="pagination pagination-lg">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</center>

</div>

<div class="hidden-xs col-sm-12 col-md-3">


<DIV style="DISPLAY: none; padding: 10px 0 10px 5px; margin-bottom:5px;" id=login_pop>

  <DIV style="LINE-HEIGHT: 180%; padding-left:5px; HEIGHT:45px; FONT-SIZE:13px;">
  <DIV style="width:90%; MARGIN-LEFT: 10px"><SPAN style="MARGIN-RIGHT: 10px" 
  id=login_name>您好：wd</SPAN><span style="float:right;"><A href="quit.html">退出登录</A></span> </DIV>
  <div style="clear:both;"></div>
  </div>
  <div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
  <DIV style="LINE-HEIGHT: 180%; padding-left:5px; FONT-SIZE:13px;">
  <SPAN><IMG 
  style="VERTICAL-ALIGN: text-bottom" 
  src="img/m_tel_icon.png"> <A 
  id=login_tel_status 
  href="http://www.btc38.com/trade/binding_tel.html">手机已绑定</A><IMG 
  style="MARGIN-LEFT: 10px; VERTICAL-ALIGN: text-bottom" 
  src="img/m_card_icon.png"> 
  <A id=login_cred_status href="http://www.btc38.com/trade/rnsys.html">实名已认证</A><IMG 
  style="MARGIN-LEFT: 10px; VERTICAL-ALIGN: text-bottom" 
  src="img/m_lock_icon.png"> 
  <A href="http://www.btc38.com/trade/trade_pwd.html">交易密码</A></SPAN>
  </div>
  <div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
  
  <DIV style="LINE-HEIGHT: 180%; padding-left:5px; FONT-SIZE:13px;">
  <A 
  href="http://www.btc38.com/trade/trade_balance.html">资金管理/充值/提款</A> | <A 
  href="http://www.btc38.com/trade/accrual.html">利息</A> | <A 
  href="http://www.btc38.com/trade/tmc_bonus.html">时代币和分红</A><BR><A 
  href="http://www.btc38.com/trade/trade_order.html">我的委单</A> | <A 
  href="http://www.btc38.com/trade/trade_clinch.html">成交记录</A> | <A 
  href="http://www.btc38.com/trade/cs_qaa.html">客服有问必答</A> | <A 
  href="http://www.btc38.com/trade/reserves.html">准备金</A>
  </div>
  
  <div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
<DIV style="LINE-HEIGHT: 180%; padding-left:5px; FONT-SIZE:13px;">
<A 
  href="http://en.btc38.com/" target=_blank>English Version</A> | <A 
  href="http://www.btc38.com/general/1694.html" target=_blank>手机交易WAP</A> | <A 
  href="http://www.btc38.com/general/2227.html" target=_blank>手机行情APP</A>
</DIV>
<div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
<DIV style="LINE-HEIGHT: 180%; MARGIN: 0px 10px 10px; FONT-SIZE: 12px" 
id=gonggao>[公告]2014-9-2政府办公采购结构化产品正式投标</DIV></DIV>




<div class="panel panel-default">
<div class="panel-heading">系统公告</div>
<div class="panel-body">

<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">关于本系统升级的公告<span class="badge">168</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">系统二期即将上线运行通知<span class="badge">24</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购<span class="badge">16</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">声明: 马航失事与本平台无关<span class="badge">70</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购<span class="badge">16</span></a></p>

</div>


 <div class="panel-footer">
	<a style="float:right;" href="#">更多....</a>
	<div style="clear:both;"></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">企业资讯</h3>
</div>
<div class="panel-body">


<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">关于本系统升级的公告<span class="badge">168</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">系统二期即将上线运行通知<span class="badge">24</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购<span class="badge">16</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">声明: 马航失事与本平台无关<span class="badge">70</span></a></p>
<p style="border-bottom: dotted 1px; font-size:12px; padding-bottom:5px;"><a href="#">关于本系统升级的公告<span class="badge">168</span></a></p>

</div>
 <div class="panel-footer">
<a style="float:right;" href="#">更多....</a>
	<div style="clear:both;"></div>
</div>
</div>




</div>
</div>

</div>
</div>
</div>



<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="js/cookies.js"></script>
<script>

$(document).ready(function () {

	var username = getCookie("username");
	if(username==null || username==""){
		$('.login_text').html('<SPAN style="cursor:pointer;">登陆</span>');
		}else{
			$('.login_text').html('<SPAN style="cursor:pointer;">个人中心▼</span>');
			}

	
    $(".newProjectTitleRightBtnList p.BtnNormal").hover(function () {
              $(this).next(".promptQX").css("display", "block");
        }, function () {
                $(this).next(".promptQX").css("display", "none");
           });
    $('.spanPro').hover(function () {
        $(this).next(".promptQX").css("display", "block");
    }, function () {
            $(this).next(".promptQX").css("display", "none");
       });

    $('#viewMore').click(function(e){
 	   window.location.href="projectlist.html";
        });

    $('a.cons').click(function(e){
    		if($('.constructDiv').css('display')=='none')
    			{
    		$('.constructDiv').css('display', 'block');
    			}else{
    				$('.constructDiv').css('display', 'none');
    			}
        });
    
    $('.login_text').click(function(e){
		
		
		
		if($(this).text()=="登陆"){
			window.location.href="login.html";
			return;
		}
		
		
		
		
		if($('#login_pop').css('display')=='block')
		{
			$(this).removeClass('active');
			$('#login_pop').css('display', 'none');
		}else{
			$('#login_pop').css('display', 'block');
			$(this).addClass('active');
		}
	});
    
      })
    </script>

</body>
</html>