.clear {
	CLEAR: both
}
.projectDetailPic {
	PADDING-BOTTOM: 25px; MARGIN: 0px auto; PADDING-LEFT: 7px; PADDING-RIGHT: 8px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 0px
}
.projectDetailPic LI {
	WIDTH: 125px; FLOAT: left; HEIGHT: 130px; OVERFLOW: hidden
}
.projectDetailPic LI IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px auto 7px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: block; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 4px
}
.projectDetailPic LI P {
	TEXT-ALIGN: center
}

.newProjectBox {
	
}

.newProject0Item {
	POSITION: relative; PADDING-BOTTOM: 20px; MARGIN-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px;  PADDING-TOP: 20px
}
.newProject0Item:hover {
	BORDER-BOTTOM: #eee 1px solid; POSITION: relative; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 20px; MARGIN-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px;  BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 20px
}

.newProjectItem {
	BORDER-BOTTOM: #eee 1px solid; POSITION: relative; BORDER-LEFT: #eee 1px solid; BORDER-TOP: #eee 1px solid; PADDING-BOTTOM: 20px; MARGIN-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px;  BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 20px
}
.newProjectItem:hover {
	BORDER-BOTTOM: red 1px solid; POSITION: relative; BORDER-LEFT: red 1px solid; BORDER-TOP: red 1px solid; PADDING-BOTTOM: 20px; MARGIN-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px;  BORDER-RIGHT: red 1px solid; PADDING-TOP: 20px
}
.newProjectItemThr {
	POSITION: relative; PADDING-BOTTOM: 20px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 20px
}
.newProjectItemTitleBox {
	MARGIN-BOTTOM: 20px; HEIGHT: 25px
}
.newProjectItemTitle {
	WIDTH: 610px; FLOAT: left
}
.newProjectItemTitle A {
	LINE-HEIGHT: 25px; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.newProjectItemTitle .TitleNO {
	COLOR: #666; MARGIN-LEFT: 10px; FONT-SIZE: 12px
}
.newProjectTitleRightBtnBox {
	Z-INDEX: 20; POSITION: relative; WIDTH: 260px; FLOAT: right
}
.newProjectTitleRightBtnList {
	Z-INDEX: 21; POSITION: relative; FLOAT: right; MARGIN-LEFT: 10px; FONT-SIZE: 12px
}
.newProjectTitleRightBtnList .promptQX {
	Z-INDEX: 50; POSITION: absolute; PADDING-BOTTOM: 9px; BOTTOM: 25px; DISPLAY: none; BACKGROUND: url(../mall/downArr.jpg) #fff no-repeat center bottom; LEFT: -70px
}
.newProjectTitleRightBtnList .promptQXBox {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 200px; PADDING-RIGHT: 10px; FONT-SIZE: 12px; BORDER-TOP: #ddd 5px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 10px
}
.newProjectTitleRightBtnList .BtnNormal {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; COLOR: #666; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 1px
}
.newProjectTitleRightBtnList .BtnHover {
	BORDER-BOTTOM: #f60 1px solid; BORDER-LEFT: #f60 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f60; COLOR: #fff; BORDER-TOP: #f60 1px solid; BORDER-RIGHT: #f60 1px solid; PADDING-TOP: 1px
}
.newProjectInfoBox {
	
}
.newProjectInfoBox .constructure {
	WIDTH: 59px; FLOAT: left; HEIGHT: 47px; MARGIN-RIGHT: 15px; BACKGROUND: url(../img/constructure.png) no-repeat 0px -47px;
}
.newProjectInfoBox .seeMore {
	WIDTH: 59px; FLOAT: left; HEIGHT: 47px; MARGIN-RIGHT: 15px
}
.newProjectInfoBox .seeMore A {
	WIDTH: 59px; DISPLAY: block; BACKGROUND: url(../img/see.gif) no-repeat; HEIGHT: 47px
}
.newProjectInfoBox .seemall {
	WIDTH: 59px; FLOAT: left; HEIGHT: 47px; MARGIN-RIGHT: 15px
}
.newProjectInfoBox .seemall A {
	WIDTH: 59px; DISPLAY: block; BACKGROUND: url(../img/see.png) no-repeat; HEIGHT: 47px
}
.newProjectInfoBox .seeMore A:hover {
	BACKGROUND: url(../img/see.gif) no-repeat 0px -47px
}
.newProjectInfoBox .topBox {
	MARGIN-BOTTOM: 2px; HEIGHT: 25px
}
.newProjectInfoBox .btmBox {
	HEIGHT: 25px
}
.newProjectInfoBox .percentBox {
	WIDTH: 300px; FLOAT: left; MARGIN-RIGHT: 5px
}
.newProjectInfoBox .percent {
	BORDER-BOTTOM: #f60 1px solid; BORDER-LEFT: #f60 1px solid; WIDTH: 70%; FLOAT: left; HEIGHT: 15px; OVERFLOW: hidden; BORDER-TOP: #f60 1px solid; BORDER-RIGHT: #f60 1px solid
}
.newProjectInfoBox .percentIn {
	BACKGROUND: #f60; HEIGHT: 15px
}
.newProjectInfoBox .percentNO {
	PADDING-LEFT: 10px; FLOAT: left; COLOR: #666; FONT-SIZE: 12px
}
.newProjectInfoBox .itemTextStyle {
	Z-INDEX: 20; POSITION: relative
}
.newProjectInfoBox .itemTextStyle .spanPro {
	PADDING-RIGHT: 15px; BACKGROUND: url(../img/i.gif) no-repeat right center
}
.newProjectInfoBox .itemTextStyle .promptQX {
	Z-INDEX: 10000; POSITION: absolute; PADDING-BOTTOM: 9px; BOTTOM: 20px; DISPLAY: none; BACKGROUND: url(../mall/downArr.jpg) #fff no-repeat center bottom; LEFT: 10px
}
.newProjectInfoBox .itemTextStyle .promptQXBox {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 12px; BORDER-TOP: #ddd 5px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 10px
}
.newProjectInfoBox .itemTextStyle .orangeStyle {
	COLOR: #f60
}
.newProjectInfoBox .itemBox {
	WIDTH: 180px; FLOAT: left; MARGIN-RIGHT: 10px
}
.newProjectInfoBox .stateBtn {
	WIDTH: 118px; HEIGHT: 54px; OVERFLOW: hidden
}
.newProjectInfoBox .stateText {
	TEXT-ALIGN: center; LINE-HEIGHT: 35px; WIDTH: 118px; DISPLAY: block; HEIGHT: 54px; COLOR: #fff; FONT-WEIGHT: bold;
}
.newProjectInfoBox .stateBtnProcess {
	BACKGROUND: url(../img/rzOrange.jpg) no-repeat
}
.newProjectInfoBox .stateBtnComplete {
	BACKGROUND: url(../img/rzBlue.jpg) no-repeat
}
.newProjectItem .completeImg {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 120px; BACKGROUND: url(../img/com.gif) no-repeat 0px 0px; HEIGHT: 69px; TOP: 0px; LEFT: 520px
}

#header_login {
	BACKGROUND-COLOR: #f0ad4e;COLOR: white; FONT-SIZE: 14px; height:40px; PADDING-TOP: 10px; text-align:center;
}
#login_poptt {
	POSITION: absolute; TEXT-ALIGN: left; BACKGROUND-COLOR: #ed9c28; WIDTH: 310px; COLOR: white; FONT-SIZE: 14px; TOP: 85px; RIGHT: 20px
}
#login_pop {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #00ff00; COLOR: white; FONT-SIZE: 14px;
}
#login_pop A {
	COLOR: white
}

a.productline {
	cursor : pointer;
	text-decoration:none;
}
a.productline:hover{
	text-decoration:none;
}

.btn-center {
  font-size : 18px;
  font-weight : bold;
  color: #fff;
  background-color: #33cc00;
  border-color: #4cae4c;
}

.btn-center:hover,
.btn-center:focus,
.btn-center:active,
.btn-center.active,
.open .dropdown-toggle.btn-center {
	font-size : 18px;
  color: #fff;
  background-color: #33cc00;
  border-color: #398439;
}

.btn-nav {
  font-size : 18px;
  font-weight : bold;
  color: #fff;
  background-color: #33cc00;
  border-color: #4cae4c;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-nav:active,
.btn-nav.active,
.open .dropdown-toggle.btn-nav {
	font-size : 19px;
  color: #fff;
  background-color: #00ff00;
  border-color: #398439;
}


.panel-cl {
  border-color: #d6e9c6;
}
.panel-cl > .panel-heading {
	font-size : 14px;
	font-weight : bold;
  color: #fff;
  background-color: #33cc00;
  border-color: #d6e9c6;
}
.panel-cl > .panel-heading a{
	font-size : 13px;
	font-weight : normal;
	color : #fff;
}
.panel-cl > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}
.panel-cl > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}


.rechargeList {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 15px
}
.rechargeList LI {
	WIDTH: 220px; ZOOM: 1; FLOAT: left; HEIGHT: 50px; OVERFLOW: hidden
}
.rechargeList LI .radioStyle {
	MARGIN-TOP: 9px; DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 15px
}
.rechargeList LI IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; DISPLAY: block; FLOAT: left; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}

.rechargeBoxTitle {
	FONT-SIZE: 16px; FONT-WEIGHT: bold
}

.rechargeNO {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.rechargeNO INPUT {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 24px; FONT-FAMILY: "΢���ź�", "����"; HEIGHT: 24px; FONT-SIZE: 20px; BORDER-TOP: #ddd 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ddd 1px solid
}

.confirmAndCancel {
	ZOOM: 1; OVERFLOW: hidden
}
.confirmAndCancelBtn {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: inline; BACKGROUND: #eee; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #ddd 1px solid; FONT-WEIGHT: bold; MARGIN-RIGHT: 20px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 5px
}

ul.news li{
	inline-height:20px; height:20px; width:100%; overflow:hidden;
}

.foot a{
	color : #999;
	margin-left: 10px;
}
.foot img{
	width:120px;
	height:50px;
	margin-left:5px;
}
.orange{
	COLOR: #f0ad4e;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
}
.freeze{
	COLOR: #0000ff;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
}
.coffee{
	COLOR: #996666;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
}
.green{
	COLOR: #00ff66;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
}
.grey{
	COLOR: #999;
	FONT-SIZE: 13px;
}

.firstnav {
		cursor: pointer;
		text-decoration:none;
	}
.secondnav {
		cursor: pointer;
		text-decoration:none;
	}
