<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Insert title here</title>
<script type="text/javascript"
	src="/resources/EasyServiceClientFullZ.js"></script>
<script type="text/javascript" src="/resources/jquery-1.11.1.js"></script>
<script type="text/javascript"
	src="/easyservice/com.easyservice.test.IUserService?json"></script>
<script type="text/javascript">
	$(document).ready(function(){
				$("#btn").click(function() {
			alert("click");
			var service = EasyServiceClient
					.getRemoteProxy("/easyservice/com.easyservice.test.IUserService");
			var user = service.find("test");
			var users = service.findAll();
			var ctx = new EasyServiceClient.newContext();
			ctx.user=user;
			ejs.renderComplexNode("#tmpl", "#wrapper", ctx);
		});
	});
</script>
<style type="text/css">
.hide {
	display: none;
}
</style>
</head>
<body>
	<button id="btn">调取服务</button>
	<div id="wrapper"></div>
	<textarea class="hide" id="tmpl">
		<div>
			<p>+-user.name-+</p>
			<p>+-user.privilege-+</p>
		</div>	
	</textarea>
</body>
</html>