 <!DOCTYPE html>
<html lang="zh-cn">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政采贷</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/mine.css" rel="stylesheet">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/cdn/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="container-fluid">
<div class="row" style="padding-left:5px; padding-right:5px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="row" style="margin-top:5px;">
<div class="col-xs-12 col-sm-2 col-md-2">
<img src="img/logo.jpg" style="width:100%;height:auto;"></img>
</div>




<div class="hidden-xs col-sm-10 col-md-10">
<div class="btn-group btn-group-lg  btn-group-justified" style="background-color:#33cc00; width:100%;">

<div class="btn-group">
<a href="#" class="btn btn-nav btn-lg active">首页</a>
</div>
<div class="btn-group">
<a href="productlist.html" class="btn btn-nav btn-lg">我要理财</a>
</div>
<div class="btn-group">
<a href="loan.html" class="btn btn-nav btn-lg">我要融资</a>
</div>
<div class="btn-group">
<a href="temp.html" class="btn btn-nav btn-lg">我的账户</a>
</div>
<div class="btn-group">
<a href="#" class="btn btn-nav btn-lg">活动中心</a>
</div>
<div class="btn-group">
<a id="lg_login_text" class="btn btn-nav btn-lg login_text"></a>
</div>

</div>
</div>




</div>

<div class="row" style="margin-top: 10px;">
<div class="hidden-xs col-sm-12 col-md-9">

<div class="row">
<a href="#"><img src="img/move.jpg" style="width:100%; height:200px;"></img></a>
</div>

<div class="row">

<div class="panel panel-success">

  <div class="col-sm-4 col-md-4" id="projectList1">
  </div>
  <div class="col-sm-4 col-md-4" id="projectList2">
  </div>
  <div class="col-sm-4 col-md-4" id="projectList3">
  </div>
  
  </div>




</div>



<div class="row" style="margin-top:10px;">


<div class="panel panel-cl">
<div class="panel-heading"><span class="glyphicon glyphicon-usd"></span>投资频道<a style="float:right;" href="productlist.html" target="_blank">更多....</a></div>
<div class="panel-body">

<table class="table table-striped table-hover" style="font-size:12px;">
	<tr><td>产品1</td><td>3个月</td><td>16%</td><td>有担保</td><td>到期还本付息</td><td>融资中</td><td><a href="productdetail.html" target="_blank"> 查看详情</a></td></tr>
	<tr><td>产品2</td><td>2个月</td><td>12%</td><td>有担保</td><td>到期还本付息</td><td>融资中</td><td><a href="productdetail.html" target="_blank">查看详情</a></td></tr>
	<tr><td>产品3</td><td>6个月</td><td>18%</td><td>有担保</td><td>到期还本付息</td><td>融资中</td><td><a href="productdetail.html" target="_blank">查看详情</a></td></tr>
	<tr><td>产品4</td><td>12个月</td><td>20%</td><td>有担保</td><td>到期还本付息</td><td>融资中</td><td><a href="productdetail.html" target="_blank">查看详情</a></td></tr>
	<tr><td>产品4</td><td>12个月</td><td>20%</td><td>有担保</td><td>到期还本付息</td><td>融资中</td><td><a href="productdetail.html" target="_blank">查看详情</a></td></tr>
	<tr><td>产品4</td><td>12个月</td><td>20%</td><td>有担保</td><td>到期还本付息</td><td>融资中</td><td><a href="productdetail.html" target="_blank">查看详情</a></td></tr>
	</table>
</div>
</div>


</div>




</div>



<div class="col-xs-12 col-md-3">





<DIV style="DISPLAY: none; padding: 10px 0 10px 5px; margin-bottom:5px;" id=login_pop>

  <DIV style="LINE-HEIGHT: 180%; padding-left:5px; HEIGHT:45px; FONT-SIZE:13px;">
  <DIV style="width:90%; MARGIN-LEFT: 10px"><SPAN style="MARGIN-RIGHT: 10px" 
  id=login_name>您好：wd</SPAN><span style="float:right;"><A href="temp.html">我的账户</A> | <A href="quit.html">退出登录</A></span> </DIV>
  <div style="clear:both;"></div>
  </div>
  <div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
  <DIV style="LINE-HEIGHT: 180%; padding-left:5px; FONT-SIZE:13px;">
  <SPAN><IMG 
  style="VERTICAL-ALIGN: text-bottom" 
  src="img/m_tel_icon.png"> <A 
  id=login_tel_status 
  href="#">手机已绑定</A><IMG 
  style="MARGIN-LEFT: 10px; VERTICAL-ALIGN: text-bottom" 
  src="img/m_card_icon.png"> 
  <A id=login_cred_status href="#">实名未认证</A><IMG 
  style="MARGIN-LEFT: 10px; VERTICAL-ALIGN: text-bottom" 
  src="img/m_lock_icon.png"> 
  <A href="#">交易密码</A></SPAN>
  </div>
  <div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
  
  <DIV style="LINE-HEIGHT: 180%; padding-left:5px; FONT-SIZE:13px;">
  <A 
  href="#">资金管理/充值/提款</A> | <A 
  href="#">回款</A> | <A 
  href="#">已投标的</A><BR><A 
  href="#">资金流向</A> | <A 
  href="#">安全保障</A> | <A 
  href="#">帮助</A>
  </div>
  
  <div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
<DIV style="LINE-HEIGHT: 180%; padding-left:5px; FONT-SIZE:13px;">
<A 
  href="#">资金流动性分析</A> | <A 
  href="#">未来回款分析</A> | <A 
  href="#">投资组合风险分析</A>
</DIV>
<div style="BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 0; MARGIN: 5px 0px; FONT-SIZE: 0px"></div>
<DIV style="LINE-HEIGHT: 180%; MARGIN: 0px 10px 10px; FONT-SIZE: 12px" id=gonggao>
<a href="#">[公告]2014-9-2政府采购结构化产品正式投标</a><br>
<a href="#">[公告]2014-9-13绿化工程融资产品正式投标</a>
</DIV></DIV>






<div class="panel panel-success" style="height:200px;">
<div class="panel-body">
<span class="glyphicon glyphicon-pencil"></span>总募集资金50,000,000元<br>
<span class="glyphicon glyphicon-pencil" style="margin-top:10px;"></span>投资人次25,471次<br>
<span class="glyphicon glyphicon-pencil" style="margin-top:10px;"></span>获得收益6,000,000元<br>
<span class="glyphicon glyphicon-pencil" style="margin-top:10px;"></span>已注册人数10548人<br>
<button type="button" class="btn btn-warning" style="width:100%; margin-top:20px;">立即注册</button>
</div>

</div>




<div class="panel panel-cl">
<div class="panel-heading">系统公告<a style="float:right;" href="announce.html" target="_blank">更多....</a>
	<div style="clear:both;"></div></div>
<div class="panel-body">

<p style="font-size:12px; padding-bottom:5px;"><a href="#">关于本系统升级的公告</a></p>
<p style="font-size:12px; padding-bottom:5px;"><a href="#">系统二期即将上线运行通知</a></p>
<p style="font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购</a></p>
<p style="font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购</a></p>

</div>

</div>



<div class="panel panel-cl" style="margin-top:5px;">
<div class="panel-heading">
企业资讯<a style="float:right;" href="announce.html" target="_blank">更多....</a>
	<div style="clear:both;"></div>
</div>
<div class="panel-body">
<p style="font-size:12px; padding-bottom:5px;"><a href="#">关于本系统升级的公告</a></p>
<p style="font-size:12px; padding-bottom:5px;"><a href="#">系统二期即将上线运行通知</a></p>
<p style="font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购</a></p>
<p style="font-size:12px; padding-bottom:5px;"><a href="#">声明: 马航失事与本平台无关</a></p>
<p style="font-size:12px; padding-bottom:5px;"><a href="#">新一期产品即将火爆抢购</a></p>


</div>
</div>


</div>
</div>












<div class="row" style="margin-top:10px;">
<div class="col-xs-12 col-md-7">

<div class="row">

<div class="panel panel-cl">
<div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span>新闻中心<a style="float:right;" href="financialInfo.html" target="_blank">更多....</a></div>
<div class="panel-body">


<div style="padding:5px 0 5px 0; border-bottom: dotted 1px;">
    <div style="font-size:14px;margin:0 0 5px 0; font-weight:600;">
	<a href="http://finance.qq.com/a/20140731/015113.htm" target="_blank">P2P监管方向初定：不设牌照限制　注册门槛1000万	</a>
    </div>
    <div style="color:#777777; font-size:12px;">
	<img src="http://img1.gtimg.com/finance/pics/hv1/51/107/1667/108424011.jpg" width="75" height="50" style="float:left;margin-right:8px;"/>
	昨日，南都从2014“新经济新金融”高峰论坛广州站现场获悉，除了近日引发市场关注的央行《关于促进互联网金融健康发展的指导意见》外，针对P2P行业 ..
<div class="clear"></div>
    </div>
</div>



<div style="padding:5px 0 5px 0; border-bottom: dotted 1px;">
    <div style="font-size:14px;margin:0 0 5px 0;font-weight:600">
	<a href="http://stock.sohu.com/20140802/n403036791.shtml" target="_blank">央行提出定向降准不宜长期实施
	</a>
    </div>
    <div style="color:#777777; font-size:12px;">
	本报北京8月1日电（记者田俊荣）中国人民银行1日发布的二季度《中国货币政策执行报告》提出，定向降准主要发挥信号...
	<div class="clear"></div>
    </div>
</div>



<div style="padding:5px 0 5px 0; border-bottom: dotted 1px;">
    <div style="font-size:14px;margin:0 0 5px 0;font-weight:600">
	<a href="http://money.163.com/14/0812/13/A3EUS3G400253B0H.html" target="_blank">信托业增速放缓 寻找新利润增长点迫在眉睫	</a>
    </div>
    <div style="color:#777777; font-size:12px;">
	在整个行业转型阵痛之中，近日，50家信托公司交出了各自的年中业绩快报。数据显示，今年上半年50家信托公司共实现净利润188.4亿..
<div class="clear"></div>
    </div>
</div>



<div style="padding:5px 0 5px 0;  border-bottom: dotted 1px;">
    <div style="font-size:14px;margin:0 0 5px 0;font-weight:600">
	<a href="http://vnetcj.jrj.com.cn/2014/08/01152517729929.shtml" target="_blank">“宝宝类”产品遭遇成长烦恼：收益下降风险增加	</a>
    </div>
    <div style="color:#777777; font-size:12px;">
<img src="http://photocdn.sohu.com/20140801/Img402986504.jpg" width="75" height="50" style="float:left;margin-right:8px;"/>
	近期英国杂志《经济学人》一篇《余额宝“危险了”》将余额宝再度成为市场关注的焦点。

　　余额宝收益率下降已经是不争事实..
<div class="clear"></div>
    </div>
</div>

<div style="padding:5px 0 5px 0;  border-bottom: dotted 1px;">
    <div style="font-size:14px;margin:0 0 5px 0;font-weight:600">
	<a href="http://vnetcj.jrj.com.cn/2014/08/01152517729929.shtml" target="_blank">“宝宝类”产品遭遇成长烦恼：收益下降风险增加	</a>
    </div>
    <div style="color:#777777; font-size:12px;">
<img src="http://photocdn.sohu.com/20140801/Img402986504.jpg" width="75" height="50" style="float:left;margin-right:8px;"/>
	近期英国杂志《经济学人》一篇《余额宝“危险了”》将余额宝再度成为市场关注的焦点。

　　余额宝收益率下降已经是不争事实..
<div class="clear"></div>
    </div>
</div>

<div style="padding:5px 0 5px 0;">
    <div style="font-size:14px;margin:0 0 5px 0;font-weight:600">
	<a href="http://vnetcj.jrj.com.cn/2014/08/01152517729929.shtml" target="_blank">“宝宝类”产品遭遇成长烦恼：收益下降风险增加	</a>
    </div>
    <div style="color:#777777; font-size:12px;">
<img src="http://photocdn.sohu.com/20140801/Img402986504.jpg" width="75" height="50" style="float:left;margin-right:8px;"/>
	近期英国杂志《经济学人》一篇《余额宝“危险了”》将余额宝再度成为市场关注的焦点。

　　余额宝收益率下降已经是不争事实..
<div class="clear"></div>
    </div>
</div>


</div>

</div>
</div>

</div>

<div class="col-xs-12 col-md-5">

<div class="row">
<div class="col-xs-12 col-md-12">


<div class="panel panel-cl" style="height:230px;">
<div class="panel-heading">
<span class="glyphicon glyphicon-pencil"></span>银行理财产品收益率<a style="float:right;" target="_blank" href="financialInfo.html">更多....</a>
	<div style="clear:both;"></div>
</div>
<div class="panel-body" style="width:100%; height:80%;">

<iframe style="width:100%; height:100%" class="financial-graphic" frameborder="0" scrolling="no"
 src="chart.html"></iframe>
 
 </div>
 
 
</div>
</div>

<div class="col-xs-12 col-md-12">
<div class="panel panel-cl" style="height:285px;">
<div class="panel-heading">
<span class="glyphicon glyphicon-pencil"></span>理财资讯<a style="float:right;" target="_blank" href="financialInfo.html">更多....</a>
	<div style="clear:both;"></div>
</div>
<div class="panel-body">

<div style="padding:5px 0 5px 0; border-bottom: dotted 1px;">
    <div style="font-size:14px;margin:0 0 5px 0; font-weight:600;">
	<a href="http://finance.qq.com/a/20140731/015113.htm" target="_blank">银行理财收益降温“6时代”渐行渐远</a>
    </div>
    <div style="color:#777777; font-size:12px;">
	<img src="http://img1.gtimg.com/finance/pics/hv1/51/107/1667/108424011.jpg" width="75" height="50" style="float:left;margin-right:8px;"/>
	随着8月下旬的到来，银行理财产品的“月末效应”依旧难觅影踪。银行理财产品、债基、货币基金的...
<div class="clear"></div>
    </div>
    
</div>

	<ul style="margin-left:-25px; margin-top:20px;">
    <li style="margin-top:3px;"><a href="#">投资连结保险收益普遍赶不上“宝宝”</a></li>
    <li style="margin-top:3px;"><a href="#">理财产品超8%收益AB面 或拼不过活期</a></li>
    <li style="margin-top:3px;"><a href="#">投资连结保险收益普遍赶不上“宝宝”</a></li>
    <li style="margin-top:3px;"><a href="#">理财产品超8%收益AB面 或拼不过活期</a></li>
    </ul>




</div>
</div>
</div>

</div>

</div>

</div>


<div class="row" style="margin-top:10px; border: #eee solid 1px;">
<p class="bg-success" style="margin-left:-15px; padding-left:15px; padding-top:5px; margin-right:-15px; font-size:13px; font-weight:normal;">
<span style="margin-left:450px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备案信息</span><br>
<span style="margin-left:450px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;友情链接</span><br>
<span style="margin-left:450px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加入的认证或联盟
</span>
</p>
</div>


</div>
</div>
</div>





<script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>
    <script src="js/mine.js"></script>
<script src="js/cookies.js"></script>
<script src="js/gpps/data.js"></script>
<script>
         $(document).ready(function () {
					var username = getCookie("username");
					if(username==null || username==""){
						$('.login_text').html('<SPAN style="cursor:pointer;">登陆</span>');
						}else{
							$('.login_text').html('<SPAN style="cursor:pointer;">个人中心▼</span>');
							}
					
					
					
					
					
					
					
					
					var title1 = '稳健型';
					var label11 = '机构担保';
					var des11 = '本产品引入专业担保公司进行本金担保，客户无需承担任何风险。';
					var label12 = '按日还款';
					var des12 = '对于本产品，平台要求融资方按日还本付息，增强用户的流动性。';
					var description1 = '本类型产品具有低风险，高回款流动性的特点，并由专业担保机构进行本金担保，适合稳健型用户的参与。';
					var menkan1 = '5.00-10.00';
					var qixian1 = '3-6个月';
					var rate1 = '6％-10%';
					var style1 = '每日还本息';
					var pl = createProductLine('#projectList1', title1, label11, des11, label12, des12, description1, menkan1, qixian1, rate1, style1);
					
					
					
					
					
					var title2 = '平衡型';
					var label21 = '按月回款';
					var des21 = '平台要求融资方按月还本付息，减少客户承担的风险';
					var label22 = '高收益';
					var des22 = '本平台产品远高于同类型还本付息融资产品的平均收益率，在严格控制风险的情况下实现客户收益最大化';
					var description2 = '本类型产品具有中等偏上的收益，按月回款的特点，收益流动性和风险都适中，适合平衡型的的客户参与。';
					var menkan2 = '1.00-5.00';
					var qixian2 = '3-9个月';
					var rate2 = '8％-12%';
					var style2 = '每月还本息';
					var p2 = createProductLine('#projectList2',title2, label21, des21, label22, des22, description2, menkan2, qixian2, rate2, style2);
					
					
					
					
					var title3 = '进取型';
					var label31 = '超高收益';
					var des31 = '针对订单的专款专用类型，远超同期信托的收益，并且门槛大大降低';
					var label32 = '到期还本付息';
					var des32 = '以企业为服务对象的融资产品，主要用于企业正常生产经营周转的资金需求';
					var description3 = '本类型产品具有高收益低流动性，到期还本付息的特点，适合追求高收益并能承担一定风险的客户参与。';
					var menkan3 = '1.00-5.00';
					var qixian3 = '6-12个月';
					var rate3 = '12％-18%';
					var style3 = '到期还本付息';
					var p3 = createProductLine('#projectList3', title3, label31, des31, label32, des32, description3, menkan3, qixian3, rate3, style3);
					
					
					
					
					
					
					
					
					

             
                   $(".newProjectTitleRightBtnList p.BtnNormal").hover(function () {
                             $(this).next(".promptQX").css("display", "block");
                       }, function () {
                               $(this).next(".promptQX").css("display", "none");
                          });
                   $('.spanPro').hover(function () {
                       $(this).next(".promptQX").css("display", "block");
                   }, function () {
                           $(this).next(".promptQX").css("display", "none");
                      });

                   $('#viewMore').click(function(e){
                	   window.location.href="projectlist.html";
                       });




			$('.login_text').click(function(e){
				
				
				
				if($(this).text()=="登陆"){
					window.location.href="login.html";
					return;
				}
				
				
				
				
				if($('#login_pop').css('display')=='block')
				{
					$(this).removeClass('active');
					$('#login_pop').css('display', 'none');
				}else{
					$('#login_pop').css('display', 'block');
					$(this).addClass('active');
				}
			});




                     })
 </script>


</body>
</html>
