<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<title>政采贷</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="js/cdn/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/cdn/html5shiv.min.js"></script>
      <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
    
<style type="text/css">
a.accordion-toggle{
	text-decoration : none;
	cursor : pointer;
}
.panel-heading a{
	font-size : 18px;
	font-weight : bold;
	color: black;
}
</style>
</head>
<body>

<div class="container-fluid">
<div class="row"><h1>产品介绍</h1></div>
<div class="row">
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">


<div class="panel-group" id="accordion2">
  <div class="panel panel-warning">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> <a class="accordion-toggle" >稳健型</a> </div>
    <div id="collapseOne" class="panel-collapse in" style="height: auto;">
    <ul class="list-group" style="margin-bottom: 0px;">
    	<a class="help list-group-item active" href="#">1111111111111111111</a>
    	<a class="help list-group-item" href="#">2222222222222222222</a>
    	<a class="help list-group-item" href="#">3333333333333333333</a>
    	<a class="help list-group-item" href="#">4444444444444444444</a>
    	<a class="help list-group-item" href="#">5555555555555555555</a>
    </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> <a class="accordion-toggle">均衡型</a> </div>
    <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
      <ul class="list-group" style="margin-bottom: 0px;">
    	<a class="help list-group-item" href="#">1111111111111111111</a>
    	<a class="help list-group-item" href="#">2222222222222222222</a>
    	<a class="help list-group-item" href="#">3333333333333333333</a>
    	<a class="help list-group-item" href="#">4444444444444444444</a>
    	<a class="help list-group-item" href="#">5555555555555555555</a>
    </ul>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> <a class="accordion-toggle">进取型</a> </div>
    <div id="collapseThree" class="panel-collapse collapse" style="height: 0;">
      <ul class="list-group" style="margin-bottom: 0px;">
    	<a class="help list-group-item" href="#">1111111111111111111</a>
    	<a class="help list-group-item" href="#">2222222222222222222</a>
    	<a class="help list-group-item" href="#">3333333333333333333</a>
    	<a class="help list-group-item" href="#">4444444444444444444</a>
    	<a class="help list-group-item" href="#">5555555555555555555</a>
    </ul>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"> <a class="accordion-toggle">债券基金</a> </div>
    <div id="collapseFour" class="panel-collapse collapse" style="height: 0;">
      <ul class="list-group" style="margin-bottom: 0px;">
    	<a class="help list-group-item" href="#">1111111111111111111</a>
    	<a class="help list-group-item" href="#">2222222222222222222</a>
    	<a class="help list-group-item" href="#">3333333333333333333</a>
    	<a class="help list-group-item" href="#">4444444444444444444</a>
    	<a class="help list-group-item" href="#">5555555555555555555</a>
    </ul>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"> <a class="accordion-toggle">其他理财</a> </div>
    <div id="collapseFive" class="panel-collapse collapse" style="height: 0;">
      <ul class="list-group" style="margin-bottom: 0px;">
    	<a class="help list-group-item" href="#">1111111111111111111</a>
    	<a class="help list-group-item" href="#">2222222222222222222</a>
    	<a class="help list-group-item" href="#">3333333333333333333</a>
    	<a class="help list-group-item" href="#">4444444444444444444</a>
    	<a class="help list-group-item" href="#">5555555555555555555</a>
    </ul>
    </div>
  </div>
</div>

</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<div class="panel panel-default" style = "border: #eee solid 1px; height: 800px;">
	<div class="panel-heading">展示内容</div>
	<div id="content"></div>
</div>

</div>

</div>
</div>
<script>
         $(document).ready(function () {
        	
        	 $('a.help').click(function(e){
        		 $('a.help').removeClass('active');
        		 $(this).addClass('active');
        		 $('div#content').html('<h1>'+$(this).text()+'</h1>');
        	 });
        	 
        	 $('a.active').trigger('click');
         });
</script>
</body>
</html>
