<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>融资产品一</title>
    <link rel="shortcut icon" href="https://static.lufaxcdn.com/config/images/favicon.ico">
 
    <link rel="stylesheet" type="text/css" href="https://static.lufaxcdn.com/config/css/lufax-main.css?_v=201407311030">
    <link rel="stylesheet" type="text/css" href="https://static.lufaxcdn.com/list/resource/productDetail/main/productFa.css?_v=201407311030">
    <link rel="stylesheet" type="text/css" href="https://static.lufaxcdn.com/lufax-public/ui/20140812.ui.min.css">
    </head>
 
<body>
 
<div class="main-wrap fu-ying">
<div class="contentHead clearfix">
    <ul class="breadcrumb" id="breadcrumb">
        <li><a href="index.html">政采贷首页</a> <span class="divider">&gt;</span></li>
        <li><a href="productlist.html">投资频道</a> <span class="divider">&gt;</span></li>
        <li><a href="productlist.html">稳健型</a> <span class="divider">&gt;</span></li>
        <li class="active">产品一</li>
    </ul>
</div>
<div id="productInfoTitle" class="productInfoTitle clearfix">
    <div class="logo"><img src="https://static.lufaxcdn.com/list/resource/productDetail/main/images/logo_jyt_fyrs.png" alt="稳健型"></div>
    <div class="code">项目编号:14081800248</div>
            <div class="leftTime">
            剩余时间：
                            <span id="countDownDay">3</span>天
                        <span id="hour">2</span>小时
            <span id="min">13</span>分钟
        </div>
    </div>
<div id="productInfoWrap" class="productInfoWrap clearfix">
    <div id="productInfo" class="productInfo">
        <table class="detail">
            <tr>
                <td colspan="2" class="productName">融资产品一</td>
            </tr>
            <tr>
                <td class="first-col">预期年化收益率：</td>
                                    <td class="yieldRate">6.10%</td>
                            </tr>
                        <tr>
                <td class="first-col">期限：</td>
                <td class="investSum">90天</td>
            </tr>
            <tr>
                <td class="first-col">获取收益方式：</td>
                <td class="investSum">一次性还本付息</td>
            </tr>
 
            <tr>
                <td class="first-col">最低投资额：</td>
                <td class="investSum">5,000.00元</td>
            </tr>
                            <!-- <tr>
                    <td>项目进度：</td>
                    <td>
                        <div class="progress">
                            <div class="bar" id="progressBar"></div>
                        </div>
                        <span class="progressTxt">已完成 39%</span>
                    </td>
                </tr> -->
                    </table>
        
    </div>
 
    <div class="product-status-wrap">
        <div id="productStatus" class="productStatus">
            <div id="userStatus"></div>
                            <div class="innerStatus onlineStatus">
                    <form id="investForm" action="#" method="get">
                        <input name="productId" value="186181" type="hidden"/>
                        <input id="sid" name="sid" value="" type="hidden"/>
                        <input id="amount" name="amount" value="" type="hidden"/>
                        <label for="investAmount"><strong>请输入投资金额：</strong></label>
                                                    <div class="operate">
                                <div class="inputBox">
                                    <span class="input-wrap"><input type="text" id="investAmount"
                                                                    class="input input-jyt" maxlength="14"></span> 元
                                </div>
                                <a id="invest" href="javascript:void(0);"
                                   class="btns btn_xlarge btn-action"><span>立即投资</span></a>
                            </div>
                            <div class="showStatus">
                            </div>
                            <div class="status">
                                <span class="additional dashed" title="投资金额超出最低投资金额部分应为递增金额整数倍。">递增金额</span>：
                                <span class="increase">1,000.00
                                    元</span>
                                                            </div>
                                            </form>
                </div>
                    </div>
        <div id="requirementCheck" class="requirement-check">
            <p class="requirement-check-title">您需要满足以下条件才能投资此项目：</p>
            <ul class="clearfix requirement-check-list">
                            <li class="requirement-check-item">1. 年龄: <span class="dashed"
                                                                title="年龄在18~65岁之间（以身份证日期为准）">18~65岁；</span>
                </li>
                <li class="requirement-check-item">2. 风险承受能力: <span class="dashed"
                                                                    title="风险承受能力评估等级为稳健型及以上">稳健型</span>
                </li>
                        </ul>
        </div>
    </div>
 
</div>
 
<div class="productContent">
    <div class="clearfix tabHead">
        <ul class="tabSelect">
            <li class="selected"><a href="javascript:void(0);">项目介绍</a></li>
        </ul>
    </div>
    <div class="tabContent">
        ﻿<p><strong>富盈人生</strong></p>
<p>富盈人生是平安养老保险股份有限公司依据保监会要求所设计面向团体和个人发行的养老保障委托管理产品。</p>
<p>&nbsp;</p>
<p><strong>产品要素</strong></p>
<table class="fu-ying-table">
	<tbody>
		<tr>
			<td>产品名称</td>
			<td>平安养老富盈人生养老保障委托管理产品（富盈人生第23期，以下简称“本期产品”）</td>
		</tr>
		<tr>
			<td>产品风险评级</td>
			<td >稳定收益型，中低风险</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">适合客户</td>
			<td>						本产品向有投资经验及无投资经验客户均可销售。平安养老保险股份有限公司建议：经对客户进行风险承受度评估，评定结果为&ldquo;稳健型&rdquo;、&ldquo;平衡型&rdquo;、&ldquo;成长型&rdquo;、&ldquo;进取型&rdquo;的客户适合购买本期产品。
			</td>
		</tr>
		<tr>
			<td>预期收益率</td>
			<td>预期年化收益率6.10%（此处收益率为扣除相关资费后委托人最高预期净收益率）</td>
		</tr>
		<tr>
			<td>收益分配方式</td>
			<td>到期一次性分配收益</td>
		</tr>
		<tr>
			<td>产品管理人</td>
			<td>平安养老保险股份有限公司</td>
		</tr>
		<tr>
			<td>产品托管人</td>
			<td>民生银行股份有限公司</td>
		</tr>
		<tr>
			<td>认购起点金额</td>
			<td>认购起点份额为5000元，超出部分以1000元的整数倍递增。</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">本期产品认购期</td>
			<td>2014年8月18日16：00~2014年8月26日16：00
				<br>
				产品管理人保留延长或提前终止本期产品认购期的权利。如有变动，本期产品实际认购期以产品管理人的公告为准。
			</td>
		</tr>
		<tr>
			<td>
				本期产品成立日
				<br>
				（起息日）
			</td>
			<td>2014年8月29日，如本期产品认购期调整的，则本期产品成立日相应进行调整，产品管理人另行公告。</td>
		</tr>
		<tr>
			<td>本期产品到期日</td>
			<td>2014年11月27日，如本期产品成立日调整的，则本期产品到期日相应进行调整，产品管理人另行公告。</td>
		</tr>
		<tr>
			<td>本期产品利益分配日</td>
			<td>委托人在本期产品存续期限内不得赎回，本期产品到期后，相关款项将在本期产品到期日后的5个工作日内支付至委托人本人的陆金所账户。</td>
		</tr>
		<tr>
			<td>产品存续期限</td>
			<td>90天</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">投资方向</td>
			<td>						主要投资于货币基金等货币类资产、央行票据、银行定期存款、国债、协议存款、债券、债券回购、债券基金及债券型保险产品、商业银行理财产品、信贷资产支持证券、信托公司集合资金信托计划、证券公司专项资产管理计划、保险资产管理公司基础设施投资计划、不动产投资计划和项目资产支持计划及国家政策规定保险资金可投资的其他资产。投资方向须符合产品发行方监管主体的相关规定。
			</td>
		</tr>
	</tbody>
</table>
<p><strong>关于平安养老险</strong></p>
<p>平安养老险注册资本金33.6亿，拥有近20年的养老资金管理经验，追求资产安全、稳健增值。目前管理年金和养老保险资产1600亿，市场领先。平安养老险连续荣获第四届、第五届中国保险创新大奖最具创新力保险产品”、“年度服务创新奖”、“最佳养老保险产品”等奖项。</p>
<p>&nbsp;</p>
<p>
<a href="http://www.lufax.com/docs/fuying/14081800248_announcement.pdf" target="_blank">查看募集公告</a>
&emsp;&emsp;&emsp;&emsp;
<a href="http://www.lufax.com/docs/fuying/14081800248_risk.pdf" target="_blank">查看风险揭示书</a>
&emsp;&emsp;&emsp;&emsp;
<a href="http://www.lufax.com/docs/fuying/14081800248_faq.pdf" target="_blank">查看常见问题</a>
&emsp;&emsp;&emsp;&emsp;
<a href="http://www.lufax.com/docs/fuying/14081800248_confirm.pdf" target="_blank">查看第三方产品线上服务协议</a>
</p>    </div>
</div>
</div>
 
<textarea id="oldUserBuyProductForNewUserTemplate" class="hidden">
    <div class="innerStatus">
        <label for="investAmount"><strong>等待审核</strong></label>
 
        <div class="operate">
            <div class="inputBox statusInfo">
                您已成功申请该项目，请等待项目结束后，确认最终投资结果。
            </div>
        </div>
    </div>
</textarea>
<textarea id="requirementCheckTemplate" class="hidden">
    <p class="requirement-check-title">您需要满足以下条件才能投资此项目：</p>
    <ul class="clearfix requirement-check-list">
        <li class="requirement-check-item">1. <span class="dashed" title="完成实名认证（仅限大陆身份证）">大陆身份证；</span></li>
        <li class="requirement-check-item">2. <span class="dashed" title="年龄在18~65岁之间（以身份证日期为准）">18~65岁；</span></li>
        <li class="requirement-check-item">3. <span class="dashed"
                                                    title="风险承受能力评估等级为${model.riskLevelDisplay}及以上">${model.riskLevelDisplay}</span>
        </li>
        <li><a href="javascript:void(0);" id="check-action">检测我是否满足条件</a></li>
    </ul>
</textarea>
            <div class="foot-wrap clearfix">
 
</div>    
 
    </body>
</html>

