BODY {
	MIN-WIDTH: 1200px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT-FAMILY: "??????", Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #333; FONT-SIZE: 14px; PADDING-TOP: 10px
}
A {
	COLOR: #333; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
.regFrame {
	
}
.regBoxFrame {
	MARGIN: 0px auto; WIDTH: 1200px; BACKGROUND: #fff
}
.regBoxTop {
	MARGIN: 0px auto; WIDTH: 1160px; HEIGHT: 100px
}
.regBoxLogo {
	MARGIN-TOP: 7px; WIDTH: 246px; FLOAT: left; HEIGHT: 90px
}
.regStep {
	WIDTH: 600px; FLOAT: right; HEIGHT: 90px; MARGIN-RIGHT: 20px
}
.regStep1 {
	BACKGROUND: url(../mall/bz.jpg) no-repeat 0px 0px
}
.regStep2 {
	BACKGROUND: url(../mall/bz.jpg) no-repeat 0px -100px
}
.regStep3 {
	BACKGROUND: url(../mall/bz.jpg) no-repeat 0px -175px
}
.regStep4 {
	BACKGROUND: url(../mall/bz.jpg) no-repeat 0px -330px
}
.regMid {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 1160px; BACKGROUND: url(../mall/reg.jpg) no-repeat; HEIGHT: 450px
}
.regMid2 {
	BACKGROUND: url(../mall/reg1.jpg) no-repeat
}
.regBtm {
	TEXT-ALIGN: right; LINE-HEIGHT: 30px; MARGIN-TOP: 10px; PADDING-RIGHT: 25px
}
.regItemBox {
	BORDER-BOTTOM: #ddd 1px solid; POSITION: absolute; BORDER-LEFT: #ddd 1px solid; WIDTH: 370px; BACKGROUND: #f7f7f7; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; TOP: 40px; LEFT: 30px
}
.regItemBoxInner {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.regTitle {
	BORDER-BOTTOM: #ddd 1px solid; LINE-HEIGHT: 30px; MARGIN-BOTTOM: 25px; FONT-SIZE: 16px
}
.regTitle SPAN {
	LINE-HEIGHT: 30px; FLOAT: right; COLOR: #666; FONT-SIZE: 12px
}
.regTitle SPAN A {
	FONT-SIZE: 12px
}
.regItem {
	ZOOM: 1; MARGIN-BOTTOM: 20px; HEIGHT: 23px; OVERFLOW: hidden
}
.regItem .spanTitle {
	TEXT-ALIGN: right; LINE-HEIGHT: 23px; WIDTH: 70px; DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 8px
}
.regItem .inputStyle {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 18px; WIDTH: 255px; FLOAT: left; HEIGHT: 18px; FONT-SIZE: 16px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.regItem .inputStyleSmall {
	WIDTH: 80px
}
.regItem .yzmStyle {
	PADDING-LEFT: 10px; FLOAT: left
}
.regItemBtn {
	MARGIN: 0px auto 20px; WIDTH: 340px
}
.regItemBtn .btnStyle {
	BORDER-BOTTOM: #f60 1px solid; BORDER-LEFT: #f60 1px solid; LINE-HEIGHT: 30px; WIDTH: 340px; BACKGROUND: #f60; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 16px; OVERFLOW: hidden; BORDER-TOP: #f60 1px solid; BORDER-RIGHT: #f60 1px solid
}
.regHFTX {
	MARGIN-BOTTOM: 30px
}
.regItemBox .promptMobile {
	BORDER-BOTTOM: #f8ead5 1px solid; BORDER-LEFT: #f8ead5 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; MARGIN-BOTTOM: 20px; BACKGROUND: #fffcf7; COLOR: #f60; FONT-SIZE: 12px; BORDER-TOP: #f8ead5 1px solid; BORDER-RIGHT: #f8ead5 1px solid; PADDING-TOP: 15px
}
.regItem .inputBtn {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 23px; BACKGROUND: #f0f0f0; HEIGHT: 23px; MARGIN-LEFT: 15px; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.regItemAgree {
	PADDING-LEFT: 75px; MARGIN-BOTTOM: 0px
}
.regItemAgree .checkStyle {
	FLOAT: left; PADDING-TOP: 5px
}
.regItemAgree .checkText {
	LINE-HEIGHT: 25px; PADDING-LEFT: 7px; FLOAT: left; FONT-SIZE: 12px
}
.regItemAgree .agreeInfo {
	PADDING-LEFT: 8px; FLOAT: left
}
.regItemAgree .agreeInfo A {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 60px; BACKGROUND: #f60; FLOAT: left; HEIGHT: 20px; COLOR: #fff; FONT-SIZE: 12px
}
.rechargeOKBox {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 800px
}
.rechargeOKBox .imgStyle {
	MARGIN: 30px auto; DISPLAY: block
}
.rechargeOKText {
	LINE-HEIGHT: 80px; FONT-SIZE: 24px
}
.rechargeOKText SPAN {
	LINE-HEIGHT: 80px; MARGIN: 0px 8px; COLOR: #f60; FONT-WEIGHT: bold
}
.regHFTX {
	MARGIN-BOTTOM: 30px
}
.rechargeOKPrompt {
	PADDING-BOTTOM: 30px; LINE-HEIGHT: 20px; FONT-SIZE: 14px
}
.rechargeOKPrompt A {
	MARGIN: 0px 5px; COLOR: #f60
}
.rechargeOKPrompt A:hover {
	COLOR: #a00
}