<!DOCTYPE html>
<html>
<head>
    <title>政采贷官网是投资理财、信贷等服务的首家网络投融资平台</title>
    <meta name="description"
          content="政采贷，在健全的风险管控体系基础上,为中小企业及个人客户提供专业,可信赖的投融资，理财，贷款，信贷服务,助您财富实现增值！">
    <meta name="keywords" content="个人理财，个人贷款，投融资，信贷">
    <meta content=”telephone=no” name=”format-detection” />
    <link rel="shortcut icon" href="index/images/favicon.ico">
    <meta charset="utf-8"/>
    
    
    <link rel="stylesheet" href="css/lufax/20140724.index.min.css">
    <link rel="stylesheet" href="css/lufax/20140814.com.min.css">
 
    <link rel="stylesheet" href="css/lufax/20140812.ui.min.css">
    
</head>
<body>

<!--header start-->
<div class="head-wrap">
    <div class="top-wrap">
        <div class="top-body clearfix">
            <ul class="login-status clearfix" id="login-status">
 <li class="home-icon"><a href="#"></a></li>
    <li>您好，欢迎来到政采贷！ <a href="login.html"  data-sk="头部-登录">登录</a></li>
    <li><a href="#"  data-sk="头部-免费注册">免费注册</a></li>
            </ul>
            
            <div class="sub-nav-wrap clearfix">
                <p class="sub-nav-left"></p>
                <ul class="sub-nav-list clearfix">
                    <li class="my-account">
                        <span class="my-account-title">
                            <a href="https://my.lufax.com/my/account" target="_blank" >我的账户</a>
                            <b></b>
                        </span>
                        <div class="cover"></div>
                        <ul class="my-account-list clearfix " data-sk="头部-我的账户区域">
                            <li><a href="https://my.lufax.com/my/investment-overview" target="_blank">我的投资</a></li>
                            <li><a href="https://my.lufax.com/my/loans" target="_blank">我的回款</a></li>
                            <li><a href="https://my.lufax.com/my/transaction-history" target="_blank">资金记录</a></li>
                            <li><a href="https://my.lufax.com/my/user-info" target="_blank">账户安全</a></li>
                            <li><a href="https://my.lufax.com/my/user-msg" target="_blank">我的消息</a></li>
                            <li><a href="http://affiliate.lufax.com/recommend" target="_blank">推荐好友</a></li>
                        </ul>
                    </li>
                    <li><a href="https://list.lufax.com/list/vip" target="_blank"  data-sk="头部-会员俱乐部">VIP俱乐部</a> <!--<span class="new-tips">new</span> --></li>
                    <li><a href="http://www.lufax.com/help/" target="_blank"  data-sk="头部-帮助中心">帮助中心</a></li>
                </ul>
                <p class="sub-nav-right"></p>
            </div>
 
        </div>
    </div>
    <div class="head-body-wrap">
        <div class="head-body clearfix">
            <div class="logo"><a href="#"><img
                    src="img/logo.jpg" alt="政采贷"></a></div>
            <div class="slogan"><img src="https://static.lufax.com/config/images/p2p_index/slogan.png" alt=""/></div>
            <div class="link-logo">
                <a href="#" target="_blank" class="logo_ani">
                    <span class="t1"></span>
                    <span class="t2"></span>
                    <span class="t_pingan"></span>
                    <span class="t_tit">关于政采贷<i></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="nav-wrap">
        <ul class="main-nav clearfix">
            <li class="selected"><a href="#"  data-sk="一级导航-首页">首页</a></li>
            <li class="invest has-sub-nav">
                <a href="javascript:void(0);"  data-sk="一级导航-投资频道" id="allP2pCounts">投资频道 <span></span> <i class="nav-arrow transition"></i></a>
                <ul class="sub-nav-list">
                    <li id="fyCounts"><a href="#" data-sk="二级导航-稳健型"><b></b>稳健型<strong>1000元起</strong><span></span></a></li>
                    <li id="ayiCounts"><a href="#" data-sk="二级导航-平衡型"><b></b>平衡型<strong>1万元起</strong><span></span></a></li>
                    <li id="ayeCounts"><a href="#" data-sk="二级导航-进取型"><b></b>进取型<strong>25万元起</strong><span></span></a></li>
                </ul>
            </li>
            <li class="licai has-sub-nav">
                <a href="javascript:void(0);"  data-sk="一级导航-企业展示 " id="allLicai">企业展示 <span></span> <i class="nav-arrow transition"></i></a>
                <ul class="sub-nav-list">
                    <li id="spLiCai"><a href="#" data-sk="二级导航-专享理财"><b></b>工程型企业<span></span></a></li>
                    <li id="v8LiCai"><a href="#" data-sk="二级导航-V8理财"><b></b>服务型企业<span></span></a> </li>
                    <li id="v8LiCai"><a href="#" data-sk="二级导航-V8理财"><b></b>采购型企业<span></span></a> </li>
                </ul>
            </li>
            <li class="new-user"><a href="https://list.lufax.com/list/listing/xinke"  data-sk="一级导航-新客专区">新客专区 <span></span></a></li>
            <li class="transfer"><a href="https://list.lufax.com/list/transfer"  data-sk="一级导航-转让专区">转让专区 <span></span></a></li>
            <li class="loan-channel has-sub-nav">
                <a href="https://loan.lufax.com" data-sk="一级导航-借款频道">借款频道</a>
            </li>
        </ul>
    </div>
</div>
<!--header end-->
<div class="index-wrap">
<div class="index-head clearfix">
    <div class="index-banner carousel-fade">
        <ul>
            <li style="width:100%">
            <a href="https://list.lufax.com/list/financialChannel?dbWTS=banner "  onclick="" target="_blank" style="background:url(http://www.lufax.com/index/app_images/anyidai/index_ad_img/lufax_ad_680280_c.jpg) no-repeat 0 0;">
            </a>
        </li>
            <li style="width:100%">
            <a href="https://user.lufax.com/user/register?dbWTS=banner "  onclick="" target="_blank" style="background:url(http://www.lufax.com/index/app_images/anyidai/index_ad_img/lufax_ad_680280_b.jpg) no-repeat 0 0;">
            </a>
        </li>
            <li style="width:100%">
            <a href="https://list.lufax.com/list/listing/fuying?dbWTS=banner"  onclick="" target="_blank" style="background:url(http://www.lufax.com/index/app_images/anyidai/index_ad_img/lufax_ad_680280_a.jpg) no-repeat 0 0;">
            </a>
        </li>
            <li style="width:100%">
            <a href="http://www.lufax.com/about/201408191115.html?dbWTS=banner"  onclick="" target="_blank" style="background:url(http://www.lufax.com/index/app_images/anyidai/index_ad_img/lufax_ad_680280_d.jpg) no-repeat 0 0;">
            </a>
        </li>
            <li style="width:100%">
            <a href="http://www.lufax.com/activity/vip_activity/index.html?dbWTS=banner"  onclick="" target="_blank" style="background:url(http://www.lufax.com/index/app_images/anyidai/index_ad_img/lufax_ad_680280_e.jpg) no-repeat 0 0;">
            </a>
        </li>
            <li style="width:100%">
            <a href="https://loan.lufax.com/zt/loan/appointment?dbWTS=banner"  onclick="" target="_blank" style="background:url(http://www.lufax.com/index/app_images/anyidai/index_ad_img/lufax_ad_680280_0610.jpg) no-repeat 0 0;">
            </a>
        </li>
    </ul>
<div class="focus_ctrl">
            <a class="" href="javascript:;">•</a>
            <a class="" href="javascript:;">•</a>
            <a class="" href="javascript:;">•</a>
            <a class="" href="javascript:;">•</a>
            <a class="" href="javascript:;">•</a>
            <a class="" href="javascript:;">•</a>
    </div>
 
    </div>
    <div class="index-status">
        <div class="login-status" id="index-login-status">
 			<div class="no-logged">
        <p class="clearfix index-status-logo-wrap">
            
            <img src="img/logo.jpg"></img>
        </p>
 
        <p class="reg-user"><span>123123</span>人 已完成注册 </p>
 
        <div class="btn-wrap clearfix">
            <a href="login.html" class="btns" data-sk="登录区-登录">登录</a>
            <a href="../demo/register.html" class="btns btn-info" data-sk="登录区-免费注册">免费注册</a>
        </div>
    </div>
        </div>
        <div class="trade-data" id="trade-data">
            <p>
            <a href="https://list.lufax.com/list/charts-gather" target="_blank" data-sk="首页-数据页入口">
                <span>一周交易数据 </span>
                <span class="more">&gt;</span>
            </a>
            </p>
            <ul class="trade-data-list">
            	<li><i class="icon-data-arrow"></i><span><strong>123</strong>人 成功投资</span></li>
    			<li><i class="icon-data-arrow"></i><span><strong>234</strong>人 收到本金和利息</span></li>
    			<li><i class="icon-data-arrow"></i><span><strong>345</strong>人 成功转让</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="index-body clearfix">
<div class="content-wrap">
   
    <div class="item-title products-introduce-title clearfix">
        <h2>投资频道</h2>
        <div class="anyidai-event">
            
        </div>
 
        <a href="https://list.lufax.com/list/listing">更多 <span>&gt;</span></a>
    </div>
    <div class="products-introduce clearfix">
        <div class="products-introduce-inner">
            <div class="products-introduce-item fuying-introduce" data-sk="投资频道-了解详情-富盈人生">
                <a class="products-item-header" href="https://list.lufax.com/list/listing/fuying">
                    <i class="icon-product"></i>
                    <span class="original-name">稳健型</span>
                </a>
                <div class="products-item-body lazyload-part"><img lz_src="http://static.lufax.com/config/images/p2p_index/fuying-img-small.jpg" src="http://static.lufax.com/config/images/p2p_index/fuying-img-small.jpg" alt=""/></div>
                <div class="products-item-footer">
                    <a href="https://list.lufax.com/list/listing/fuying">了解详情</a>
                </div>
            </div>
            <div class="products-introduce-item anyidai-introduce" data-sk="投资频道-了解详情-安e">
                <a class="products-item-header" href="http://www.lufax.com/about/introduction.html">
                    <i class="icon-product"></i>
                    <span class="original-name">平衡型</span>
                </a>
                <div class="products-item-body lazyload-part"><img lz_src="http://static.lufax.com/config/images/p2p_index/anyidai-img-small.jpg" src="http://static.lufax.com/config/images/p2p_index/anyidai-img-small.jpg" alt=""/></div>
                <div class="products-item-footer">
                    <a href="http://www.lufax.com/about/introduction.html">了解详情</a>
                </div>
            </div>
            <div class="products-introduce-item anyedai-introduce" data-sk="投资频道-了解详情-安业">
                <a class="products-item-header" href="http://list.lufax.com/list/anyedai">
                    <i class="icon-product"></i>
                    <span class="original-name">进取型</span>
                </a>
                <div class="products-item-body lazyload-part"><img lz_src="http://static.lufax.com/config/images/p2p_index/anyedai-img-small.jpg" src="http://static.lufax.com/config/images/p2p_index/anyedai-img-small.jpg" alt=""/></div>
                <div class="products-item-footer">
                    <a href="http://list.lufax.com/list/anyedai">了解详情</a>
                </div>
            </div>
 
        </div>
    </div>
    <div class="table-index-wrap" id="table-index-wrap">
        <table class="table-index">
            <thead>
            <tr>
                <th>项目名称</th>
                <th class="term-th">投资期限</th>
                <th class="rate-th">预期年化利率/收益率</th>
                <th class="amount-th">投资金额</th>
                <th class="status-th">状态/操作</th>
            </tr>
            </thead>
 
            <tbody>
 	<tr>
	<td class="product-name">
		<a href="#" target="_blank" class="fyItem" data-sk="投资频道-投资列表区-项目名称">政府采购订单融资一</a></td>
    <td>3个月</td>
    <td>12%</td>
	<td class="invest-amount">￥30000起</td>
    <td class="invest-status">
        <a href="#" target="_blank" class="btns " data-sk="投资频道-投资列表区-投资button">投资</a>
    </td>
	</tr>
	
	
	<tr>
	<td class="product-name">
		<a href="#" target="_blank" class="fyItem" data-sk="投资频道-投资列表区-项目名称">政府采购订单融资二</a></td>
    <td>3个月</td>
    <td>12%</td>
	<td class="invest-amount">￥30000起</td>
    <td class="invest-status">
        <a href="#" target="_blank" class="btns " data-sk="投资频道-投资列表区-投资button">投资</a>
    </td>
	</tr>
	
	
	<tr>
	<td class="product-name">
		<a href="#" target="_blank" class="fyItem" data-sk="投资频道-投资列表区-项目名称">政府采购订单融资三</a></td>
    <td>3个月</td>
    <td>12%</td>
	<td class="invest-amount">￥30000起</td>
    <td class="invest-status">
        <a href="#" target="_blank" class="btns " data-sk="投资频道-投资列表区-投资button">投资</a>
    </td>
	</tr>
	
	
	<tr>
	<td class="product-name">
		<a href="#" target="_blank" class="fyItem" data-sk="投资频道-投资列表区-项目名称">政府采购订单融资四</a></td>
    <td>3个月</td>
    <td>12%</td>
	<td class="invest-amount">￥30000起</td>
    <td class="invest-status">
        <a href="#" target="_blank" class="btns " data-sk="投资频道-投资列表区-投资button">投资</a>
    </td>
	</tr>
	
	<tr>
	<td class="product-name">
		<a href="#" target="_blank" class="fyItem" data-sk="投资频道-投资列表区-项目名称">政府采购订单融资五</a></td>
    <td>3个月</td>
    <td>12%</td>
	<td class="invest-amount">￥30000起</td>
    <td class="invest-status">
        <a href="#" target="_blank" class="btns " data-sk="投资频道-投资列表区-投资button">投资</a>
    </td>
	</tr>
	
	<tr>
	<td class="product-name">
		<a href="#" target="_blank" class="fyItem" data-sk="投资频道-投资列表区-项目名称">政府采购订单融资六</a></td>
    <td>3个月</td>
    <td>12%</td>
	<td class="invest-amount">￥30000起</td>
    <td class="invest-status">
        <a href="#" target="_blank" class="btns " data-sk="投资频道-投资列表区-投资button">投资</a>
    </td>
	</tr>
	
	<tr>
	<td class="product-name">
		<a href="#" target="_blank" class="fyItem" data-sk="投资频道-投资列表区-项目名称">政府采购订单融资七</a></td>
    <td>3个月</td>
    <td>12%</td>
	<td class="invest-amount">￥30000起</td>
    <td class="invest-status">
        <a href="#" target="_blank" class="btns " data-sk="投资频道-投资列表区-投资button">投资</a>
    </td>
	</tr>
	
	<tr>
	<td class="product-name">
		<a href="#" target="_blank" class="fyItem" data-sk="投资频道-投资列表区-项目名称">政府采购订单融资八</a></td>
    <td>3个月</td>
    <td>12%</td>
	<td class="invest-amount">￥30000起</td>
    <td class="invest-status">
        <a href="#" target="_blank" class="btns " data-sk="投资频道-投资列表区-投资button">投资</a>
    </td>
	</tr>
            </tbody>
        </table>
    </div>
 
    <div class="shadow-show">
        <div class="get-more-items clearfix">
            <p>更多项目：</p>
            <ul class="clearfix more-items-list " data-sk="投资频道-金额筛选">
                <li><a href="https://list.lufax.com/list/listing" data-sk="首页项目列表-安e入口">稳健型 <span></span></a></li>
                <li><a href="https://list.lufax.com/list/listing/fuying" data-sk="首页项目列表-富盈人生入口">平衡型 <span></span></a></li>
                <li><a href="https://list.lufax.com/list/listing/xinke" data-sk="首页项目列表-新客专区入口">进取型 <span></span></a></li>
            </ul>
        </div>
    </div>
    <div class="item-title clearfix">
        <h2>企业展示 </h2>
        <a href="http://pl.lufax.com/pl/loan-channel" target="_blank">更多 <span>&gt;</span></a>
    </div>
    <div class="shadow-show">
        <div class="new-user-guide lazyload-part">
            <a href="http://pl.lufax.com/pl/loan-channel" target="_blank" data-sk="首页-借款频道-banner"><img lz_src="http://static.lufax.com/config/images/p2p_index/loan-channel.jpg" src="http://static.lufax.com/config/images/p2p_index/loan-channel.jpg" alt="" style="height: 168px"></a>
    </div>
    </div>
    <div class="item-title clearfix">
        <h2>投资新手指引 <span></span></h2>
        <a href="http://www.lufax.com/help/guide_new.html" target="_blank">更多 <span>&gt;</span></a>
    </div>
    <div class=" shadow-show">
        <div class="new-user-guide lazyload-part">
            <img lz_src="http://static.lufax.com/config/images/p2p_index/new_user_guide.jpg" src="http://static.lufax.com/config/images/p2p_index/new_user_guide.jpg" alt=""/>
        </div>
    </div>
    <div class="item-title clearfix">
        <h2>关于春蕾</h2>
        <a href="http://www.lufax.com/about/" target="_blank">更多 <span>&gt;</span></a>
    </div>
    <div class="shadow-show last-col">
        <div class="about-lufax-intro">
            <p class="info">
	春蕾信用有限公司，在北京市政府的支持下，于2014年9月在北京注册成立，注册资金1000万元人民币，是XXXXX股份有限公司旗下成员之一，总部位于西钓鱼台一号院。</p>
<ul>
	<li>
		<strong>所获荣誉</strong><span>2013.12</span>稳盈-安e荣获2013腾讯互联网金融评选&ldquo;2013互联网金融年度产品大奖&rdquo;；</li>
</ul>
 
        </div>
    </div>
</div>
<div class="sidebar">
    
 
    <div class="notice-function sidebar-panels">
        <div class="notice-function-head clearfix">
            <a href="#" target="_blank" class="selected">
                <span class="info">平台公告</span>
                <span class="more">&gt;</span>
            </a>
            <a href="javascript:void(0);" class="mouse-enter">
                <span class="info">企业公告</span>
                <span class="more">&gt;</span>
            </a>
        </div>
        <div class="notice-function-body">
            <ul class="notice-function-list " data-sk="首页-公告区">
                    
                <li class="clearfix">
                <b></b><a class="list" href="#" title="公告" target="_blank">【2014-8-13】平台发售XXXX企业融资产品，收益率12%</a>
    </li>
    
                <li class="clearfix">
                <b></b><a class="list" href="#" title="公告" target="_blank">【2014-8-7】平台发售XXXX企业融资产品，收益率16%</a>
    </li>
    
                <li class="clearfix">
                <b></b><a class="list" href="#" title="公告" target="_blank">【2014-8-1】平台一期XX功能正式上线运行</a>
    </li>
     <li class="clearfix">
                <b></b><a class="list" href="#" title="公告" target="_blank">【2014-7-11】XXXX企业融资产品融资成功，正式计息</a>
    </li>
     <li class="clearfix">
                <b></b><a class="list" href="#" title="公告" target="_blank">【2014-7-6】XXXX融资产品回款完毕，执行还本付息</a>
    </li>
    
            </ul>
            <ul class="notice-function-list hidden " data-sk="首页-新功能区">
                             <li>
                <b></b><a href="#" title="体验更好——“我的账户”首页改版公告" target="_blank">体验更好——“我的账户”首页改版公告</a>
            </li>
                    <li>
                <b></b><a href="#" title="选择更多——稳盈-安e “一口价”及“竞拍”转让功能" target="_blank">选择更多——稳盈-安e “一口价”及“竞拍”转让功能</a>
            </li>
                    <li>
                <b></b><a href="#" title="融资很简单——借款频道" target="_blank">融资很简单——借款频道</a>
            </li>
        
            </ul>
        </div>
    </div>
    <div class="news-notice sidebar-panels">
        <a href="http://www.lufax.com/about/announcement.html" target="_blank" class="news-notice-head clearfix">
            <span class="info">新闻</span>
            <span class="more">&gt;</span>
        </a>
 
        <div class="news-notice-body" style="height: 74px">
            <ul class="news-notice-list " data-sk="首页-新闻">
                    
                <li class="top clearfix">
                <b></b><a class="list" href="http://www.lufax.com/about/201405261356.html" title="陆金所董事长计葵生获国家主席习近平接见 并作专题演讲" target="_blank">政采贷董事长计葵生获国家主席习近平接见 并作专题演讲</a>
    </li>
    
                <li class="clearfix">
                <b></b><a class="list" href="http://www.lufax.com/about/201408061358.html" title="陆金所荣获上海市创新型新兴服务业示范企业“提名企业”" target="_blank">政采贷荣获北京市创新型新兴服务业示范企业“提名企业”</a>
    </li>
    
                <li class="clearfix">
                <b></b><a class="list" href="http://www.lufax.com/about/201406301314.html" title="计葵生领军陆金所：荣获”P2P行业年度大奖评选”三项大奖" target="_blank">计葵生领军政采贷：荣获”P2P行业年度大奖评选”三项大奖</a>
    </li>
    
            </ul>
        </div>
    </div>
    
    <div class="sidebar-img">
        <a href="http://www.lufax.com/help/faq.html" target="_blank">
    <img src="http://www.lufax.com/index/app_images/newuser_index.jpg" alt="">
</a>
 
    </div>
    <div class="news-notice sidebar-panels">
        <a href="http://www.lufax.com/help/" target="_blank" class="news-notice-head clearfix">
            <span class="info">常见问题</span>
            <span class="more">&gt;</span>
        </a>
 
        <div class="news-notice-body">
            <ul class="news-notice-list faq-list">
                             <li>
                <b></b><a href="http://www.lufax.com/help/help_operate_register.html" title="如何注册和身份认证？" target="_blank">如何注册和身份认证？</a>
            </li>
                    <li>
                <b></b><a href="http://www.lufax.com/help/help_issue_invester_answer_08.html" title="我投资的收益是否可以得到保障？" target="_blank">我投资的收益是否可以得到保障？</a>
            </li>
                    <li>
                <b></b><a href="http://www.lufax.com/help/help_issue_invester_answer_03.html" title="怎么进行投资？" target="_blank">怎么进行投资？</a>
            </li>
                    <li>
                <b></b><a href="http://www.lufax.com/help/help_operate_loaner_application.html" title="怎样申请借款？" target="_blank">怎样申请借款？</a>
            </li>
                    <li>
                <b></b><a href="http://www.lufax.com/help/help_operate_mobile.html" title="手机客户端如何操作？" target="_blank">手机客户端如何操作？</a>
            </li>
        
            </ul>
        </div>
    </div>
    <div class="financing-info sidebar-panels">
        <a href="http://list.lufax.com/list/news" target="_blank" class="financing-info-head clearfix">
            <span class="info">理财资讯</span>
            <span class="more">&gt;</span>
        </a>
 
        <div class="financing-info-body">
            <div class="financing-chart lazyload-part">
                <p class="chart-title">银行理财产品收益率 </p>
 
                <p class="chart-subtitle">按周统计，数据来源：金牛理财网</p>
                <!--理财图表start-->
                <iframe class="financial-graphic" frameborder="0" scrolling="no"
                        src="https://list.lufax.com/list/chartForIndex"></iframe>
                <!--理财图表end-->
            </div>
            <div class="financing-news">
 				<p class="news-title"><a href="#" target="_blank">理财产品人气爆表</a></p>
					<div class="financing-news-top clearfix">
        			<a href="#" target="_blank" class="financing-news-pic lazyload-part"><img src="img/news.png" lz_src="ttt"  alt=""/></a>
 
        			<p class="financing-news-dec"><a href="#" target="_blank">除了存款，理财产品或许是银行最具“群众基础”的一项业务，因此其“半年累计募集近50万亿元”...</a></p>
    				</div>
		<ul class="financing-news-list">
        <li><span>•</span> <a href="#" target="_blank">新闻一</a></li>
        <li><span>•</span> <a href="#" target="_blank">新闻二</a></li>
    </ul>
            </div>
        </div>
    </div>
 
    <div class="sidebar-img">
        <a href="#" target="_blank">
    <img src="https://static.lufax.com/config/images/p2p_index/qylm0304.jpg" alt="">
</a>
 
 
    </div>
</div>
</div>
</div>
<!--foot start-->
<div class="foot-wrap">
    <div class="foot-body clearfix">
        <div class="foot-info">
            <i class="icon-about-lufax"></i>
            <dl class="about-lufax-list">
                <dt><a href="http://www.lufax.com/about/" target="_blank">关于政采贷</a></dt>
                <dd><a href="http://www.lufax.com/about/aboutus.html" target="_blank">政采贷介绍</a></dd>
                <dd><a href="http://www.lufax.com/about/managementTeam.html" target="_blank">管理层团队</a></dd>
                <dd><a href="http://www.lufax.com/about/announcement.html" target="_blank">公告和新闻</a></dd>
                <dd><a href="http://www.lufax.com/about/aboutgroup.html" target="_blank">集团介绍</a></dd>
            </dl>
        </div>
        <div class="foot-info">
            <i class="icon-help-center"></i>
            <dl class="help-center-list">
                <dt><a href="http://www.lufax.com/help/" target="_blank">帮助中心</a></dt>
                <dd><a href="http://www.lufax.com/help/help_operate_register.html" target="_blank">注册及认证</a></dd>
                <dd><a href="http://www.lufax.com/help/help_operate_invest.html" target="_blank">投资操作</a></dd>
                <dd><a href="http://www.lufax.com/help/help_operate_application.html" target="_blank">转让操作</a></dd>
                <dd><a href="http://www.lufax.com/faq/FAQ.html" target="_blank">新手必读</a></dd>
            </dl>
        </div>
        <div class="foot-info">
            <i class="icon-safe-lufax"></i>
            <dl class="safe-lufax-list">
                <dt><a href="http://www.lufax.com/safe/" target="_blank">安全保障</a></dt>
                <dd><a href="http://www.lufax.com/safe/invest.html" target="_blank">投资安全</a></dd>
                <dd><a href="http://www.lufax.com/safe/fund.html" target="_blank">资金安全</a></dd>
                <dd><a href="http://www.lufax.com/safe/data.html" target="_blank">数据及信息</a></dd>
                <dd><a href="http://www.lufax.com/safe/privacy.html" target="_blank">隐私保密</a></dd>
            </dl>
        </div>
        <div class="hot-line">
            <p class="hot-line-title">全国服务热线</p>
 
            <p class="hot-line-num">4001 6666 18</p>
 
            <p class="hot-line-service-time">人工服务时间 8:00 - 22:00</p>
            <!--可信网站-->
            <a class="trust-site" href="https://ss.knet.cn/verifyseal.dll?sn=e14021031011546046fdpn000000&amp;ct=df&amp;a=1&amp;pa=0.309682316146791" target="_blank">&nbsp;</a><a class="IC-network-supervisor" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20140714170434967" target="_blank">&nbsp;</a>
        </div>
        <div class="copyright-info">
            <i class="icon-pingan-logo"></i>
 
            <div class="select-box">
                春蕾集团旗下网站
                <ul class="select-box-list">
                    <li><a href="http://www.pingan.com" target="_blank">春蕾投资集团官网</a></li>
                    <li><a href="http://one.pingan.com" target="_blank">平安一账通</a></li>
                    <li><a href="http://www.lfex.com" target="_blank">陆金所Lfex</a></li>
                    <li><a href="http://www.xsme.cn" target="_blank">平安交易所</a></li>
                </ul>
            </div>
            <p class="copyright">
                版权所有 © 春蕾信用股份有限公司 <br/>
                Copyright Shanghai Lujiazui International Financial<br/>
                Asset Exchange Co.,Ltd. ALL Rights Reserved<br/>
                京 ICP 证 B2-20120023号 &nbsp;&nbsp;京 ICP 备 12032241 号-2
 
            </p>
        </div>
    </div>
</div>

<textarea id="topUserStatusTemplate" class="hidden">
    {if model.userName}
    <li class="home-icon"><a href="http://www.lufax.com/"></a></li>
    <li>您好，<a href="https://my.lufax.com/my/account" class="user-name">${model.userName}</a>
        <span class="safe-logout-wrap">[ <a href="https://user.lufax.com/user/logout" class="safe-logout" id="safe-logout">安全退出</a> ]</span>
    </li>
    {else}
    {if model.cookieName}
    <li class="home-icon"><a href="http://www.lufax.com/"></a></li>
    <li>您好，<a href="https://user.lufax.com/user/login" class="cookie-name" data-sk="头部-用户名">${model.cookieName}</a> <a href="https://user.lufax.com/user/login?returnPostURL=http%3A%2F%2Fwww.lufax.com%2F" class=" cookie-login" data-sk="头部-登录">登录</a></li>
    <li><a href="https://user.lufax.com/user/register" class="cookie-register" data-sk="头部-免费注册">免费注册</a></li>
    {else}
    <li class="home-icon"><a href="http://www.lufax.com/"></a></li>
    <li>您好，欢迎来到陆金所！ <a href="https://user.lufax.com/user/login?returnPostURL=http%3A%2F%2Fwww.lufax.com%2F"  data-sk="头部-登录">登录</a></li>
    <li><a href="https://user.lufax.com/user/register"  data-sk="头部-免费注册">免费注册</a></li>
    {/if}
    {/if}
</textarea>
<textarea id="indexUserStatusTemplate" class="hidden">
    {if !model.userName}
    <div class="no-logged">
        <p class="clearfix index-status-logo-wrap">
            <i class="icon-index-status-logo"></i>
            <span>中国平安倾力打造的<br/>网络投融资平台</span>
        </p>
 
        <p class="reg-user"><span></span>人 已完成注册 </p>
 
        <div class="btn-wrap clearfix">
            <a href="https://user.lufax.com/user/login?returnPostURL=http%3A%2F%2Fwww.lufax.com%2F" class="btns" data-sk="登录区-登录">登录</a>
            <a href="https://user.lufax.com/user/register" class="btns btn-info" data-sk="登录区-免费注册">免费注册</a>
        </div>
    </div>
    {else}
    <div class="has-logged">
        <div class="user-name clearfix">
            <div class="checkin-iframe"></div>
            <p>您好，<span id="userName">${model.userName}</span></p>
        </div>
        {if model.isNewUser==true}
            {if model.isInvestPrepared==false}
                <p class="no-invest-prepared">
                    陆金所为您提供了 <a href="https://list.lufax.com/list/listing/xinke">新手专享项目</a> <br/>
                    <span>您还需在投资前完成认证</span>
                </p>
            {else}
                <p class="welcome-text">
                    <span class="welcome-for-new-user">陆金所为您提供了 <a href="https://list.lufax.com/list/listing/xinke">新手专享项目</a></span>
                </p>
            {/if}
        {else}
            <p class="welcome-text">
                <span class="welcome-for-invested">欢迎登录陆金所投融资平台</span>
            </p>
        {/if}
        <div class="btn-wrap clearfix">
            {if model.isInvestPrepared==false}
            <a href="https://user.lufax.com/user/invest-prepare" target="_blank" class="btns btn-info">投资前准备</a>
            {else}
            <a href="https://list.lufax.com/list/listing" class="btns btn-info">我要投资</a>
            {/if}
            <a href="https://my.lufax.com/my/account" target="_blank" class="btns btn-cancel">我的账户</a>
        </div>
    </div>
    {/if}
</textarea>
<textarea id="pointsTemplate" class="hidden">
 
    <a href="https://points.lufax.com/points/index" target="_blank" class="pic lazyload-part"><img lz_src="https://static.lufax.com${model.productSmallImage}"
                                 alt="${model.productName}" src="https://static.lufaxcdn.com/site/index/images/a29afc8f.data.gif"/></a>
 
    <div class="point-detail">
        <a href="https://points.lufax.com/points/index" target="_blank" class="title">${model.productName}</a>
 
        <p class="sub-title">${model.subtitle}</p>
 
        <p>当前价：</p>
 
        <p class="current-price">${model.currentPrice} <i class="icon-point-small"></i></p>
    </div>
</textarea>
<textarea id="HotNewsTemplate" class="hidden">
    <p class="news-title"><a href="https://list.lufax.com/list/news-detail?contentId=${model.topContentId}" target="_blank">${model.topTitle}</a></p>
 
    <div class="financing-news-top clearfix">
        <a href="https://list.lufax.com/list/news-detail?contentId=${model.topContentId}" target="_blank" class="financing-news-pic lazyload-part"><img src="https://static.lufaxcdn.com/site/index/images/a29afc8f.data.gif" lz_src="${model.topThumb}"  alt=""/></a>
 
        <p class="financing-news-dec"><a href="https://list.lufax.com/list/news-detail?contentId=${model.topContentId}" target="_blank">${model.topDescription}</a></p>
    </div>
    <ul class="financing-news-list">
        {if model.products.length > 0}
        {for product in model.products}
        <li><span>•</span> <a href="https://list.lufax.com/list/news-detail?contentId=${product.contentId}" target="_blank">${product.title}</a>
        </li>
        {/for}
        {/if}
    </ul>
</textarea>
<!--foot end-->
</body>
</html>
