<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="GBK" />
        <title>登录中心 － 政采贷</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        
 
<link rel="icon" href="https://i.alipayobjects.com/common/favicon/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="https://i.alipayobjects.com/common/favicon/favicon.ico" type="image/x-icon" />
                    <link charset="utf-8" rel="stylesheet" href="https://a.alipayobjects.com:443/authcenter/login/1.1.2/css/homeB.css" media="all" />
        
                    <style type="text/css"> 
.sl-delect {
    zoom: 1;
}
</style>
                        <link href="https://a.alipayobjects.com" rel="dns-prefetch" />
<link href="https://app.alipay.com" rel="dns-prefetch" />
<link href="https://my.alipay.com" rel="dns-prefetch" />
<link href="https://lab.alipay.com" rel="dns-prefetch" />
<link href="https://cashier.alipay.com" rel="dns-prefetch" />
<link href="https://financeprod.alipay.com" rel="dns-prefetch" />
<link href="https://shenghuo.alipay.com" rel="dns-prefetch" />
 
 
<!-- uitpl:/component/trackerTime.vm -->
    <!-- CMS:全站公共 cms/监控埋点/iconfont开始:tracker/iconfont.vm --><style> 
@font-face {
    font-family: "rei";
    src: url("https://i.alipayobjects.com/common/fonts/rei.eot?20140606"); /* IE9 */
    src: url("https://i.alipayobjects.com/common/fonts/rei.eot?20140606#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://i.alipayobjects.com/common/fonts/rei.woff?20140606") format("woff"), /* chrome 6+、firefox 3.6+、Safari5.1+、Opera 11+ */
    url("https://i.alipayobjects.com/common/fonts/rei.ttf?20140606")  format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("https://i.alipayobjects.com/common/fonts/rei.svg?20140606#rei") format("svg"); /* iOS 4.1- */
}
.iconfont {
    font-family:"rei";
    font-style: normal;
    font-weight: normal;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}
</style>
 

 

  
 
  <script charset="utf-8" src="https://a.alipayobjects.com/??static/ar/alipay.light.base-1.8.js,arale/name-storage/1.0.0/name-storage.js,alipay/tracker/1.12.1/tracker.js,alipay/smartracker/2.0.0/smartracker.js"></script>
 
 
 </head>
    <!--[if lt IE 7]>
    <body class="ie6"><![endif]--><!--[if IE 7]>
    <body class="ie7"><![endif]--><!--[if IE 8]>
    <body class="ie8"><![endif]--><!--[if IE 9]>
    <body class="ie9"><![endif]--><!--[if !IE]><!-->
    <body><!--<![endif]--><!-- CMS:登录中心/登录/homeB语音校验码开关开始:authcenter/login/audioCheckSwitch.vm -->
<!-- CMS:cms/监控埋点/um开始:tracker/um.vm -->
 
 
 
<style type="text/css"> 
.umidWrapper{display:block; height:1px;}
</style>
<span style="display:inline;width:1px;height:1px;overflow:hidden">
 

</span>
<!-- CMS:cms/监控埋点/um结束:tracker/um.vm --><div class="login login-modern" id="J-login">
        <form name="loginForm" id="login" action="https://auth.alipay.com:443/login/homeB.htm" method="post" class="ui-form">
        <fieldset>
           <h2 class='ui-form-title ' id="J-login-title">登录政采贷</h2>
 
                        
 
<div class="sl-error" id="J-errorBox" errorType="">
    <i class="iconfont" title="出错">&#xF045;</i>
    <span class="sl-error-text"></span>
</div>
    
        <div class="ui-form-item" id="J-username">
    <label id="J-label-user" class="ui-label" seed="authcenter-switch-account">
        <span class="ui-icon ui-icon-userDEF">账户名：</span>
            </label>
                            <input type="text" id="J-input-user" class="ui-input ui-input-normal" name="logonId" autocomplete="off" tabindex="1" value="" autocomplete="off" maxlength="100" placeholder="邮箱地址/手机号码" seed="authcenter-input-account">
        </div>
                        
 
		<div class="ui-form-item ui-form-item-20pd" id="J-password">
    <label id="J-label-editer" class="ui-label" data-desc="登录密码" seed="authcenter-switch-aliedit">
        <span class="ui-icon ui-icon-securityON" id="safeSignCheck">登录密码</span>
                        <div id="J-label-editer-pop" class="ui-poptip fn-hide">
            <div class="ui-poptip-container">
                <div class="ui-poptip-arrow ui-poptip-arrow-7">
                    <em></em>
                    <span></span>
                </div>
            </div>
        </div>
            </label>
 
				
 
 
 
    
   
 
<!-- CMS:cms/公共模块/edit_object结束:common/edit_object.vm -->    <!-- CMS:cms/公共模块/edit_input开始:common/edit_input.vm -->
<span class="standardPwdContainer" style="display:block">
  <input type="password" tabindex="2" id="password_input" name="password_input" class="ui-input" oncontextmenu="return false" onpaste="return false" oncopy="return false" oncut="return false" autocomplete="off" />
</span>
    <p style="float:right;">
                <a class="textlink forgot" href="https://lab.alipay.com:443/user/passwordfind/index.htm?type=Q&amp;src=ui_help_password_m_03" tabindex='5' seed="authcenter-pwd-forget" target="_blank" seed="authcenter-pwd-forget">忘记登录密码？</a>
    </p>
</div>
 
      
    <div id="J-checkcode" class='ui-form-item'>
        <label id="J-label-checkcode" class="ui-label" seed="authcenter-switch-checkcode">
            <span class="ui-icon ui-icon-checkcodeT" id="J-switchCheckcode">校验码</span>
                        <div id="J-label-checkcode-pop" class="ui-poptip fn-hide">
                <div class="ui-poptip-container">
                    <div class="ui-poptip-arrow ui-poptip-arrow-7">
                        <em></em>
                        <span></span>
                    </div>
                </div>
            </div>
                    </label>
        <input type="text" placeholder="验证码" value="" class="ui-input ui-input-checkcode" id="J-input-checkcode" data-type="IMAGE" maxlength="4" name="checkCode" autocomplete="off" tabindex="3" data="" seed="authcenter-input-checkcode">
        <input type="hidden" name="idPrefix" value=""/>
        <span class="sl-checkcode" id="J-checkcodeIcon"></span>
        <div class="ui-checkcode">
                        <img class="ui-checkcode-img" id="J-checkcode-img" src="https://omeo.alipay.com/service/checkcode?sessionID=9932cb127a44cac042b217c602ab09a1&amp;t=0.3556774904206308" title="点击图片刷新验证码" alt="点击图片刷新验证码" seed="authcenter-img-checkcode">
                        
                    </div>
                    </div>
 
                        <div class="ui-form-item ui-form-item-30pd" id="J-submit">
                <input type="submit" value="登 录" class="ui-button" id="J-login-btn" tabindex="4" seed='authcenter-submit-homeB'>
                <p class="ui-form-other">
                    <a href="https://login.taobao.com:443/member/login.jhtml?style=alipay&amp;goto=https%3A%2F%2Flab.alipay.com%3A443%2Fuser%2Fnavigate.htm%3Fsign_from%3D3000" seed="authcenter-taobaoMember" class="textlink" title="淘宝会员登录" tabindex="6" target="_blank">企业用户登录</a>
                                        <a href="https://lab.alipay.com:443/user/reg/index.htm" seed="authcenter-active" class="textlink textlink-ml20" title="账户激活" tabindex="7" target="_blank">账户激活</a>
                                        <a class="register" href="https://lab.alipay.com:443/user/reg/index.htm" target="_blank" seed="authcenter-register" title="免费注册" tabindex="8">免费注册</a>
                </p>
            </div><!-- //submit -->
        </fieldset>
    </form>
</div><!-- //login -->
    <div class="login login-sso login-modern fn-hide" id="J-ssoLogin" data-hide="true" data-state="start">
    <div class="ui-form">
        <h3 class="ui-form-title">欢迎回来</h3>
        <div class="ui-form-item">
            <p class="ui-form-text">检测到您已经登录的账户：</p>
            <p class="ui-form-text">
                <span class="icon-sso" id="J-ssoLogin-icon"></span>
                <span class="login-sso-username" id="J-ssoLogin-name"></span>
            </p>
        </div>
 
        <div class="ui-form-item ui-form-item-30pd">
            <a href="#" class="ui-button"  id="J-ssoLogin-btn">进入支付宝</a>
            <p class="ui-form-other">
                <a class="textlink" href="#" tabindex="2" id="J-ssoLogin-change">使用其他账号登录</a>
            </p>
        </div>
    </div>
</div>   
    </body>
</html>
