<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>投资超市</title>
    <meta name="keywords" content="政采贷">
    <link rel="shortcut icon" href="index/images/favicon.ico">
 
    <link rel="stylesheet" type="text/css" href="https://static.lufaxcdn.com/config/css/lufax-main.css">
                <link rel="stylesheet" type="text/css" href="https://static.lufaxcdn.com/list/resource/listing/main/bigList/bigList.css">
<link rel="stylesheet" href="css/lufax/20140812.ui.min.css">    </head>
 
<body>
 
    <div class="head-wrap head-wrap-velocity">
<!--header start-->
<div class="top-wrap">
    <div class="top-body clearfix">
        <div class="login-status" id="login-status">
            <ul class="top-login clearfix hidden">
                <li class="home-icon"><a href="#"></a></li>
                <li>您好，<a href="https://my.lufax.com/my/account" class="user-name"></a>
                    <span class="safe-logout-wrap">[ <a href="https://user.lufax.com/user/logout" class="safe-logout"
                                                        id="safe-logout">安全退出</a> ]</span>
                </li>
            </ul>
            <ul class="clearfix top-cookie hidden">
                <li class="home-icon"><a href="#"></a></li>
                <li>您好，<a href="javascript:void(0);" class="cookie-name top-nav-login" data-sk="头部-用户名"></a> <a
                        href="javascript:void(0);" class="cookie-login top-nav-login">登录</a></li>
                <li><a href="https://user.lufax.com/user/register" class="cookie-register">免费注册</a></li>
            </ul>
            <ul class="clearfix top-noLog">
                <li class="home-icon"><a href="#"></a></li>
                <li>您好，欢迎来到政采贷！ <a href="login.html" class="top-nav-login">登录</a></li>
                <li><a href="../register.html">免费注册</a></li>
            </ul>
        </div>
        <div class="sub-nav-wrap clearfix">
            <p class="sub-nav-left"></p>
            <ul class="sub-nav-list clearfix">
                <li class="my-account">
                    <span class="my-account-title">
                        <a href="https://my.lufax.com/my/account" target="_blank">我的账户</a>
                        <b></b>
                    </span>
 
                    <div class="cover"></div>
                    <ul class="my-account-list clearfix " data-sk="头部-我的账户区域">
                            <li><a href="https://my.lufax.com/my/investment-overview" target="_blank">我的投资</a></li>
                            <li><a href="https://my.lufax.com/my/loans" target="_blank">我的回款</a></li>
                            <li><a href="https://my.lufax.com/my/transaction-history" target="_blank">资金记录</a></li>
                            <li><a href="https://my.lufax.com/my/user-info" target="_blank">账户安全</a></li>
                            <li><a href="https://my.lufax.com/my/user-msg" target="_blank">我的消息</a></li>
                            <li><a href="http://affiliate.lufax.com/recommend" target="_blank">推荐好友</a></li>
                        </ul>
                </li>
                <li><a href="https://list.lufax.com/list/vip" target="_blank">VIP俱乐部</a> <!-- <span class="new-tips">new</span> --></li>
                <li><a href="http://www.lufax.com/help/" target="_blank">帮助中心</a></li>
            </ul>
            <p class="sub-nav-right"></p>
        </div>
 
    </div>
</div>
 <div class="head-body-wrap">
        <div class="head-body clearfix">
            <div class="logo"><a href="#"><img
                    src="img/logo.jpg" alt="政采贷"></a></div>
            <div class="slogan"><img src="https://static.lufax.com/config/images/p2p_index/slogan.png" alt=""/></div>
            <div class="link-logo">
                <a href="#" target="_blank" class="logo_ani">
                    <span class="t1"></span>
                    <span class="t2"></span>
                    <span class="t_pingan"></span>
                    <span class="t_tit">关于政采贷<i></i></span>
                </a>
            </div>
        </div>
    </div>
<div class="nav-wrap">
        <ul class="main-nav clearfix">
            <li class="selected"><a href="#"  data-sk="一级导航-首页">首页</a></li>
            <li class="invest has-sub-nav">
                <a href="javascript:void(0);"  data-sk="一级导航-投资频道" id="allP2pCounts">投资频道 <span></span> <i class="nav-arrow transition"></i></a>
                <ul class="sub-nav-list">
                    <li id="fyCounts"><a href="#" data-sk="二级导航-稳健型"><b></b>稳健型<strong>1000元起</strong><span></span></a></li>
                    <li id="ayiCounts"><a href="#" data-sk="二级导航-平衡型"><b></b>平衡型<strong>1万元起</strong><span></span></a></li>
                    <li id="ayeCounts"><a href="#" data-sk="二级导航-进取型"><b></b>进取型<strong>25万元起</strong><span></span></a></li>
                </ul>
            </li>
            <li class="licai has-sub-nav">
                <a href="javascript:void(0);"  data-sk="一级导航-企业展示 " id="allLicai">企业展示 <span></span></a>
          
            </li>
            <li class="new-user"><a href="https://list.lufax.com/list/listing/xinke"  data-sk="一级导航-新客专区">新客专区 <span></span></a></li>
            <li class="transfer"><a href="https://list.lufax.com/list/transfer"  data-sk="一级导航-转让专区">转让专区 <span></span></a></li>
            <li class="loan-channel has-sub-nav">
                <a href="https://loan.lufax.com" data-sk="一级导航-借款频道">借款频道</a>
            </li>
        </ul>
</div>
<!--header end--></div>
    
<div class="main-wrap">
    <ul class="breadcrumb">
        <li><a href="index.html">政采贷首页</a> <span class="divider">&gt;</span></li>
        <li><a href="javascript:void(0);" onclick="window.location.reload(true)">投资频道</a> <span class="divider">&gt;</span></li>
        <li class="active">稳健型</li>
    </ul>
    <ul class="list-nav-wrap clearfix">
    <li class="selected"><a href="#" data-sk="稳健型"><i class="product-icon fy-icon"></i><span class="min-price">1000元起</span><span class="counts" id="list-nav-fy"></span></a></li>
    <li class=""><a href="#" data-sk="平衡型"><i class="product-icon ayi-icon"></i><span class="min-price">1万元起</span><span class="counts" id="list-nav-ayi"></span></a></li>
    <li class=""><a href="#" data-sk="进取型"><i class="product-icon aye-icon"></i><span class="min-price">25万元起</span><span class="counts" id="list-nav-aye"></span></a></li>
    <li class=""><a href="#" data-sk="企业列表"><i class="product-icon zx-icon"></i><span class="min-price">10万元起</span><span class="counts" id="list-nav-zx"></span></a></li>
</ul>
<div class="service-intro clearfix">
    <p class="service-intro-title">
        服务介绍
        <b></b>
    </p>
    <div class="service-intro-con">
                    <p>
	预期年化利率 ：<span style="color:#ff0000;">6.0%~7.0% </span>&nbsp; &nbsp; &nbsp; &nbsp;投资金额： 1000 元起 &nbsp; &nbsp; &nbsp; &nbsp;投资期限： 3-12个月 &nbsp; &nbsp; &nbsp; &nbsp;收益方式：一次性还本付息 &nbsp; &nbsp; &nbsp;<a href="http://www.lufax.com/about/fuying.html" target="_blank">了解详情</a></p>
                                            </div>
</div>
    <div class="list-wrap clearfix">
        <div class="list-content">
            <div class="table-title-wrap clearfix">
                <span class="table-title">项目列表</span>
                <div class="table-product-event">
                                    </div>
                <ul class="sort-group clearfix">
                    <li class="first-col selected" data-sk="富盈人生列表-按投资金额排序"><span class="asc" column="currentPrice">投资金额</span></li>
                    <li class="last-col" data-sk="富盈人生列表-按投资期限排序"><span class="def" column="investPeriod">投资期限</span></li>
                </ul>
                <span class="sort-txt">排序</span>
            </div>
            <div class="list-table-wrap list-table-fy" id="list-table-wrap">
                <ul class="list-table" id="FuYingProducts" data-sk="富盈人生列表-项目列表">
                
                   <li class="clearfix fy-list">
   						<dl class="financial_list_box">
   							<dt>
                				<a href=/list/productDetail?productId=${product.productId} target="_blank" class="detail" title="123123">融资产品一</a>
   								<i class="iconV2 cash-back-icon" title=ttt></i>
   
   							</dt>
            				<dd class="rate">预期年化收益率：<span class="warm">123</span></dd>
            				<dd class="deadline">投资期限：<span>234</span></dd>
            				<dd class="data">发布日期：<span>345</span></dd>
        				</dl>
   						<div class="product_status clearfix">
            				<div class="online_status">
            				<p class="sum_tit">投资金额</p>
            				<p class="checked"><span>2000</span> 元 起</p>
            				<a href="#" target="_blank" class="btns invest-btn" data-request-code="ttt">投资</a>
            				</div>
        				</div>
    				</li>
    				
    				
    				<li class="clearfix fy-list">
   		<dl class="financial_list_box">
   			<dt>
                <a href=/list/productDetail?productId=${product.productId} target="_blank" class="detail" title="123123">融资产品二</a>
   				<i class="iconV2 coin-back-icon" title=ttt></i>
   
   			</dt>
            <dd class="rate">预期年化收益率：<span class="warm">123</span></dd>
            <dd class="deadline">投资期限：<span>234</span></dd>
            <dd class="data">发布日期：<span>345</span></dd>
        </dl>
   		<div class="product_status clearfix">
            <div class="waiting_status">
            <a href="#" target="_blank" class="invested waiting-confirm" data-request-code="aaa">等待审核</a>
            </div>
        </div>
    </li>
    
    
    
        <li class="clearfix fy-list">
   		<dl class="financial_list_box">
   			<dt>
                <a href=/list/productDetail?productId=${product.productId} target="_blank" class="detail" title="123123">融资产品二</a>
   				<i class="iconV2 gift-icon" title=ttt></i>
   
   			</dt>
            <dd class="rate">预期年化收益率：<span class="warm">123</span></dd>
            <dd class="deadline">投资期限：<span>234</span></dd>
            <dd class="data">发布日期：<span>345</span></dd>
        </dl>
   		<div class="product_status clearfix">
            <div class="preview_status">
            <p class="sum_tit">投资金额</p>
            <p class="checked"><span>10000</span> 元 起</p>
            <a href="#" target="_blank" class="invest-btn" data-request-code="ccc">即将发布</a>
            </div>
            <div class="publish-time">2014-9-13发布</div>
        </div>
    </li>
    
    
    
    <li class="clearfix">
        
    <div class="product-status">
        <p class="product-name">
            <a href="#"  target="_blank">融资项目一</a>
                                                                                    <i class="iconV2 coin-back-icon" title=每人投资成功就送50陆金币，全场通用，30日内有效></i>
                                    </p>
 
        <div class="product-info-wrap clearfix">
            <p class="product-info-l">
                <span class="interest-rate">预期年化利率：8.61%</span>
                <span class="invest-period">投资期限：36个月</span>
            </p>
 
            <p class="product-info-r">
                  <span class="invest-price">项目本金：177,000.00元</span>
                  <span class="remain-price">剩余可投金额：177,000.00元</span>
            </p>
        </div>
    </div>
            <div class="operate-status online-status clearfix">
            <div class="current-amount">
                <strong>投资金额</strong>
                <span class="cur">50,000.00</span> 元起            </div>
                            <a href="#" target="_blank" class="btns">投资</a>
                    </div>
    </li>
    
    
    
    <li class="clearfix">
        
    <div class="product-status">
        <p class="product-name">
            <a href="#"  target="_blank">融资项目一</a>
                                                                                    <i class="iconV2 coin-back-icon" title=每人投资成功就送50陆金币，全场通用，30日内有效></i>
                                    </p>
 
        <div class="product-info-wrap clearfix">
            <p class="product-info-l">
                <span class="interest-rate">预期年化利率：8.61%</span>
                <span class="invest-period">投资期限：36个月</span>
            </p>
 
            <p class="product-info-r">
                  <span class="invest-price">项目本金：177,000.00元</span>
                  <span class="remain-price">剩余可投金额：0.00元</span>
            </p>
        </div>
    </div>
        <div class="product_status clearfix">
            <div class="operate-status">
            <div class="done-status clearfix">
                <div class="current-amount">
                    <strong>投资金额</strong>
                    <span class="cur">17,7000.00</span> 元
                </div>
                <a href="#" target="_blank"
                                                                                    class="done-success">交易成功</a>
            </div>
            <div class="publish-time">
                2014-9-15成交
            </div>
        </div>
        </div>
                   
    </li>
    
                
                </ul>
 
                <div class="cpagination ui_complex_pagination">
 
                </div>
 
            </div>
            <div class="go-top hidden">
            </div>
 
        </div>
        <div class="list-sidebar">
 
                    <div class="ad-img">
            <a href="#" target="_blank">
            <img src="https://static.lufax.com/config/images/market/licai_list_sidebar_26080.jpg" alt="" style="width: 100%;">
        </a>
    </div>
            <div class="news-notice sidebar-panels">
                <a href="#" target="_blank"
                   class="news-notice-head clearfix">
                    <span class="info">常见问题</span>
                    <span class="more">&gt;</span>
                </a>
 
                <div class="news-notice-body">
                    <ul class="news-notice-list faq-list" data-sk="稳健型-FAQ">
                                     <li>
                <b></b><a href="#" title="平安养老险发行的“富盈人生养老保障管理产品”介绍" target="_blank">稳健型产品XXXXXXXXXX介绍</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目本金和预期收益率有保证吗？" target="_blank">“稳健型”项目本金和预期收益率有保证吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="“稳健型”项目投资本息如何返还？" target="_blank">“稳健型”项目投资本息如何返还？</a>
            </li>
                    <li>
                <b></b><a href="#" title="投资人可以提前收回投资或提前解约吗？" target="_blank">投资人可以提前收回投资或提前解约吗？</a>
            </li>
                    <li>
                <b></b><a href="#" title="如何计算我的预期收益？" target="_blank">如何计算我的预期收益？</a>
            </li>
                            </ul>
                </div>
            </div>
                    <div class="ad-img">
            <a href="=#" target="_blank">
            <img src="https://static.lufax.com/config/images/market/ane_list_sidebar_26080.jpg" alt="" style="width: 100%;">
        </a>
    </div>
        </div>
    </div>
 
</div>
 
<textarea id="financialChanelProductsForFuYingTemplate" class="hidden">
    {if model.products.length > 0}
    {for product in model.products}
    <li class="clearfix fy-list">
        <dl class="financial_list_box">
            <dt>
                <a href=/list/productDetail?productId=${product.productId} target="_blank" class="detail" title="${product.productNameDisplay}${product.code}">${product.productNameDisplay}</a>
                {if product.isForNewUser}
                <i class="iconV2 new-user-icon" title="本项目为新客专享项目"></i>
                {/if}
 
                {if product.investRewardInfo.length >0}
                {for reward in product.investRewardInfo}
                {if reward.ruleType=="1"}
                <i class="iconV2 cash-back-icon" title=${reward.description}></i>
                {elseif reward.ruleType=="2"}
                <i class="iconV2 coin-back-icon" title=${reward.description}></i>
                {elseif reward.ruleType=="3"}
                <i class="iconV2 gift-icon" title=${reward.description}></i>
                {/if}
                {/for}
                {/if}
            </dt>
            <dd class="rate">预期年化收益率：<span class="warm">${product.interestRateDisplay}</span></dd>
            <dd class="deadline">投资期限：<span>${product.investPeriodDisplay}</span></dd>
            <dd class="data">发布日期：<span>${product.publishedAt}</span></dd>
        </dl>
        <div class="product_status clearfix">
            {if product.productStatus == "ONLINE"}
            <div class="online_status">
            <p class="sum_tit">投资金额</p>
            <p class="checked"><span>${product.minInvestAmount}</span> 元 起</p>
            <a href=/list/productDetail?productId=${product.productId} target="_blank" class="btns invest-btn" data-request-code="${product.code}">投资</a>
            </div>
            {elseif product.productStatus == "WAITING_CONFIRM"}
            <div class="waiting_status">
            <a href=/list/productDetail?productId=${product.productId} target="_blank" class="invested waiting-confirm" data-request-code="${product.code}">等待审核</a>
            </div>
            {elseif product.productStatus == "PREVIEW"}
            <div class="preview_status">
            <p class="sum_tit">投资金额</p>
            <p class="checked"><span>${product.minInvestAmount}</span> 元 起</p>
            <a href=/list/productDetail?productId=${product.productId} target="_blank" class="invest-btn" data-request-code="${product.code}">即将发布</a>
            </div>
            <div class="publish-time">${product.publishAtCompleteTime}发布</div>
            {/if}
        </div>
    </li>
    {/for}
    {else}
    <li class="pre_sale">
        <p>
	本期产品已售完，下期产品敬请期待。</p>
    </li>
    {/if}
 
</textarea>
 
 
 
 
 
           <div class="foot-wrap">
    <div class="foot-body clearfix">
        <div class="foot-info">
            <i class="icon-about-lufax"></i>
            <dl class="about-lufax-list">
                <dt><a href="http://www.lufax.com/about/" target="_blank">关于政采贷</a></dt>
                <dd><a href="http://www.lufax.com/about/aboutus.html" target="_blank">政采贷介绍</a></dd>
                <dd><a href="http://www.lufax.com/about/managementTeam.html" target="_blank">管理层团队</a></dd>
                <dd><a href="http://www.lufax.com/about/announcement.html" target="_blank">公告和新闻</a></dd>
                <dd><a href="http://www.lufax.com/about/aboutgroup.html" target="_blank">集团介绍</a></dd>
            </dl>
        </div>
        <div class="foot-info">
            <i class="icon-help-center"></i>
            <dl class="help-center-list">
                <dt><a href="http://www.lufax.com/help/" target="_blank">帮助中心</a></dt>
                <dd><a href="http://www.lufax.com/help/help_operate_register.html" target="_blank">注册及认证</a></dd>
                <dd><a href="http://www.lufax.com/help/help_operate_invest.html" target="_blank">投资操作</a></dd>
                <dd><a href="http://www.lufax.com/help/help_operate_application.html" target="_blank">转让操作</a></dd>
                <dd><a href="http://www.lufax.com/faq/FAQ.html" target="_blank">新手必读</a></dd>
            </dl>
        </div>
        <div class="foot-info">
            <i class="icon-safe-lufax"></i>
            <dl class="safe-lufax-list">
                <dt><a href="http://www.lufax.com/safe/" target="_blank">安全保障</a></dt>
                <dd><a href="http://www.lufax.com/safe/invest.html" target="_blank">投资安全</a></dd>
                <dd><a href="http://www.lufax.com/safe/fund.html" target="_blank">资金安全</a></dd>
                <dd><a href="http://www.lufax.com/safe/data.html" target="_blank">数据及信息</a></dd>
                <dd><a href="http://www.lufax.com/safe/privacy.html" target="_blank">隐私保密</a></dd>
            </dl>
        </div>
        <div class="hot-line">
            <p class="hot-line-title">全国服务热线</p>
 
            <p class="hot-line-num">4001 6666 18</p>
 
            <p class="hot-line-service-time">人工服务时间 8:00 - 22:00</p>
            <!--可信网站-->
            <a class="trust-site" href="https://ss.knet.cn/verifyseal.dll?sn=e14021031011546046fdpn000000&amp;ct=df&amp;a=1&amp;pa=0.309682316146791" target="_blank">&nbsp;</a><a class="IC-network-supervisor" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20140714170434967" target="_blank">&nbsp;</a>
        </div>
        <div class="copyright-info">
            <i class="icon-pingan-logo"></i>
 
            <div class="select-box">
                春蕾集团旗下网站
                <ul class="select-box-list">
                    <li><a href="http://www.pingan.com" target="_blank">春蕾投资集团官网</a></li>
                    <li><a href="http://one.pingan.com" target="_blank">平安一账通</a></li>
                    <li><a href="http://www.lfex.com" target="_blank">陆金所Lfex</a></li>
                    <li><a href="http://www.xsme.cn" target="_blank">平安交易所</a></li>
                </ul>
            </div>
            <p class="copyright">
                版权所有 © 春蕾信用股份有限公司 <br/>
                Copyright Shanghai Lujiazui International Financial<br/>
                Asset Exchange Co.,Ltd. ALL Rights Reserved<br/>
                京 ICP 证 B2-20120023号 &nbsp;&nbsp;京 ICP 备 12032241 号-2
 
            </p>
        </div>
    </div>
</div>

    </body>
</html>

