   <li class="clearfix fy-list">
   		<dl class="financial_list_box">
   			<dt>
                <a href=/list/productDetail?productId=${product.productId} target="_blank" class="detail" title="123123">融资产品一</a>
   				<i class="iconV2 cash-back-icon" title=ttt></i>
   
   			</dt>
            <dd class="rate">预期年化收益率：<span class="warm">123</span></dd>
            <dd class="deadline">投资期限：<span>234</span></dd>
            <dd class="data">发布日期：<span>345</span></dd>
        </dl>
   		<div class="product_status clearfix">
            <div class="online_status">
            <p class="sum_tit">投资金额</p>
            <p class="checked"><span>2000</span> 元 起</p>
            <a href="#" target="_blank" class="btns invest-btn" data-request-code="ttt">投资</a>
            </div>
        </div>
    </li>
    
    
    
    
    
    
    
    <li class="clearfix fy-list">
   		<dl class="financial_list_box">
   			<dt>
                <a href=/list/productDetail?productId=${product.productId} target="_blank" class="detail" title="123123">融资产品二</a>
   				<i class="iconV2 coin-back-icon" title=ttt></i>
   
   			</dt>
            <dd class="rate">预期年化收益率：<span class="warm">123</span></dd>
            <dd class="deadline">投资期限：<span>234</span></dd>
            <dd class="data">发布日期：<span>345</span></dd>
        </dl>
   		<div class="product_status clearfix">
            <div class="waiting_status">
            <a href="#" target="_blank" class="invested waiting-confirm" data-request-code="aaa">等待审核</a>
            </div>
        </div>
    </li>
    
    
    
    <li class="clearfix fy-list">
   		<dl class="financial_list_box">
   			<dt>
                <a href=/list/productDetail?productId=${product.productId} target="_blank" class="detail" title="123123">融资产品二</a>
   				<i class="iconV2 gift-icon" title=ttt></i>
   
   			</dt>
            <dd class="rate">预期年化收益率：<span class="warm">123</span></dd>
            <dd class="deadline">投资期限：<span>234</span></dd>
            <dd class="data">发布日期：<span>345</span></dd>
        </dl>
   		<div class="product_status clearfix">
            <div class="preview_status">
            <p class="sum_tit">投资金额</p>
            <p class="checked"><span>10000</span> 元 起</p>
            <a href="#" target="_blank" class="invest-btn" data-request-code="ccc">即将发布</a>
            </div>
            <div class="publish-time">2014-9-13发布</div>
        </div>
    </li>
    
    
    
    
    
    
    
    
    <li class="clearfix">
        
    <div class="product-status">
        <p class="product-name">
            <a href="#"  target="_blank">融资项目一</a>
                                                                                    <i class="iconV2 coin-back-icon" title=每人投资成功就送50陆金币，全场通用，30日内有效></i>
                                    </p>
 
        <div class="product-info-wrap clearfix">
            <p class="product-info-l">
                <span class="interest-rate">预期年化利率：8.61%</span>
                <span class="invest-period">投资期限：36个月</span>
            </p>
 
            <p class="product-info-r">
                  <span class="invest-price">项目本金：177,000.00元</span>
                  <span class="remain-price">剩余可投金额：177,000.00元</span>
            </p>
        </div>
    </div>
            <div class="operate-status online-status clearfix">
            <div class="current-amount">
                <strong>投资金额</strong>
                <span class="cur">50,000.00</span> 元起            </div>
                            <a href="#" target="_blank" class="btns">投资</a>
                    </div>
    </li>
    
    
    
    
    
    
    
  <div class="operate-status">
            <div class="done-status clearfix">
                <div class="current-amount">
                    <strong>投资金额</strong>
                    <span class="cur">17,7000.00</span> 元
                </div>
                <a href="#" target="_blank"
                                                                                    class="done-success">交易成功</a>
            </div>
            <div class="publish-time">
                2014-9-15成交
            </div>
        </div>

    
    
   
   
   
   https://static.lufaxcdn.com/config/images/huixin_4320.gif