<p class="news-title"><a href="#" target="_blank">理财产品人气爆表</a></p>
<div class="financing-news-top clearfix">
        <a href="#" target="_blank" class="financing-news-pic lazyload-part"><img src="https://static.lufaxcdn.com/site/index/images/a29afc8f.data.gif" lz_src="ttt"  alt=""/></a>
 
        <p class="financing-news-dec"><a href="#" target="_blank">除了存款，理财产品或许是银行最具“群众基础”的一项业务，因此其“半年累计募集近50万亿元”...</a></p>
    </div>
<ul class="financing-news-list">
        <li><span>•</span> <a href="#" target="_blank">新闻一</a></li>
        <li><span>•</span> <a href="#" target="_blank">新闻二</a></li>
    </ul>









<p class="news-title"><a href="https://list.lufax.com/list/news-detail?contentId=${model.topContentId}" target="_blank">${model.topTitle}</a></p>
 
    <div class="financing-news-top clearfix">
        <a href="https://list.lufax.com/list/news-detail?contentId=${model.topContentId}" target="_blank" class="financing-news-pic lazyload-part"><img src="https://static.lufaxcdn.com/site/index/images/a29afc8f.data.gif" lz_src="${model.topThumb}"  alt=""/></a>
 
        <p class="financing-news-dec"><a href="https://list.lufax.com/list/news-detail?contentId=${model.topContentId}" target="_blank">${model.topDescription}</a></p>
    </div>
    <ul class="financing-news-list">
        {if model.products.length > 0}
        {for product in model.products}
        <li><span>•</span> <a href="https://list.lufax.com/list/news-detail?contentId=${product.contentId}" target="_blank">${product.title}</a>
        </li>
        {/for}
        {/if}
    </ul>